<input type="hidden" name="ParaListaPDF" id="Personas.EducacionAlfabetizacion" title="Educación" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Educación...</div>
        </div>
        <!--<div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist" id="myTab{{ prefijo }}">
                <li class="nav-item" *ngFor="let d of educacion; let i=index">
                    <a id="{{ prefijo }}{{ i }}-tab" class="nav-link {{ i == 0 ? 'active' : '' }}" href="#{{ prefijo }}{{ i }}" data-toggle="tab" role="tab">{{ d.Fecha }}</a>
                </li>
            </ul>
        </div>

        <div class="tab-content card-block G_TabContent" id="myTab{{ prefijo }}Content">
            <div *ngFor="let d of educacion; let i=index" role="tabpanel" class="tab-pane fade {{ i == 0 ? 'active show' : '' }}" id="{{ prefijo }}{{ i }}">-->
        <md2-tabs class="tab" *ngIf="educacion && educacion.length > 0">
            <md2-tab *ngFor="let d of educacion; let i=index"
                    [label]="d.Fecha"
                    [MostrarOrigen]="i == 0 ? true : false"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />
            <div>
                <div class="row origen">
                    <div class="col-xs-6 T_Titulo"><span *ngIf="d.NroRelevamiento">Nro. Encuesta:</span> {{ d.NroRelevamiento || ''}}</div>
                    <div class="col-xs-6 T_Titulo">Origen: {{ d.Origen || '-'}}</div>
                </div>

                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="row">
                    <div class="col col-12">
                        <div class="T_Tarjeta">Educación</div>
                        <!--<input type="hidden" name="Origen" value='{{ d.Origen }}' />
                        <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>
                        <input type="hidden" name="EdadRelevamiento" value='{{ d.EdadRelevamiento }}' />-->
                        <!--<a class="G_BotonTarjeta" type="EdadRelevamiento" data-toggle="tooltip" data-placement="left" title="" data-original-title="" data-title-template="Edad en el Relevamiento: ">&nbsp;<span class="zmdi zmdi-info" title="Edad en el Relevamiento"></span></a>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col col-6">
                        <div class="T_Titulo">¿Analfabetismo?</div>
                        <div class="T_Descripcion {{ d.Analfabeto != 'NO' ? 'T_Negativo' : ''}}">{{ d.Analfabeto_txt }}</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo">Nivel Educativo Alcanzado</div>
                        <div class="T_Descripcion">{{ d.MNE || '-' }}</div>
                    </div>
                </div>
                <div *ngIf= "apiBackEndService.enviroment === 'colombia'" class="row">
                    <div class="col col-6">
                        <div class="T_Titulo">Sabe leer y escribir en español</div>
                        <div class="T_Descripcion">{{ d.SabeLeerEscribirEspanol || '-' }}</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo">Sabe leer y escribir en lengua de su comunidad</div>
                        <div class="T_Descripcion">{{ d.SabeLeerEscribirComunidad || '-' }}</div>
                    </div>
                </div>
                <div class="row">                    
                    <div class="col col-6">
                        <div class="T_Titulo">Año de estudio alcanzado</div>
                        <div class="T_Descripcion">{{ d.AnioAlcanzado || '-' }}</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo">¿Concurre a un establecimiento educativo?</div>
                            <div class="T_Descripcion {{ (d.Concurre | uppercase) != 'SÍ' ? 'T_Negativo' : '' }}">{{ d.Concurre_txt || '-' }}</div>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col col-12">
                        <div class="T_Descripcion" style="float:left;">
                            <img src="./Content/Images/icon-establecimiento-negro.svg" style="height: 36px;">
                        </div>

                        <div style="float:left; margin-left: 8px;">
                            <div class="T_Titulo">¿Concurre a un establecimiento educativo?</div>
                            <div class="T_Descripcion {{ (d.Concurre | uppercase) != 'SÍ' ? 'T_Negativo' : '' }}">{{ d.Concurre_txt || '-' }}</div>
                        </div>
                    </div>
                </div>-->
                <div *ngIf= "apiBackEndService.enviroment !== 'colombia'" class="row">
                    <div class="col col-6" [ngStyle]="{'display': d.Concurre == 'NO' ? 'unset' : 'none'}">
                        <div class="T_Titulo">Motivo por el que no concurre</div>
                        <div class="T_Descripcion">{{ d.MotivoNoConcurre || '-' }}</div>
                    </div>
                    <div class="col col-6" [ngStyle]="{'display': d.Concurre == 'NO' ? 'unset' : 'none'}">
                        <div class="T_Titulo">Hace cuanto no concurre</div>
                        <div class="T_Descripcion">{{ d.HaceCuantoNoConcurre || '-' }}</div>
                    </div>
                </div>
                <div class="row" *ngIf= "apiBackEndService.enviroment === 'colombia' && d.Concurre === 'SÍ'">
                    <div class="col col-6">
                        <div class="T_Titulo">Institución Educativa oficial</div>
                        <div class="T_Descripcion">{{ d.EsInstitucionOficial || '-' }}</div>
                    </div>
                </div>
            </div>
            </md2-tab>
                <md2-tab 
                    [label]="'Línea de Tiempo'"
                    [NroRelevamiento]="''"
                    [MostrarOrigen]="false"
                    [active]="false">
            <div class="timeline">
                <div *ngFor="let e of educacionLineTime; let ix=index" class="entry">
                    <div class="title">
                    <div class="T_Tarjeta">{{ e.Fecha }}</div>
                    <div class="T_Descripcion">{{ e.edadText }}</div>
                    </div>
                    <div class="body">
                    <p>{{ e.MNE || '-'}}</p>
                    <ul>
                        <li *ngIf="e.AnioAlcanzado">Año de estudio alcanzado: {{ e.AnioAlcanzado || '-' }}</li>
                        <li *ngIf="e.Concurre_txt && e.Concurre_txt !== 'NS/NC'">{{ e.Concurre_txt }}</li>
                        <li *ngIf="e.Concurre == 'NO'">Motivo por el que no concurre: {{ e.MotivoNoConcurre || '-' }}</li>
                    </ul>
                    </div>
                </div>

                </div>
                </md2-tab>
        </md2-tabs>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            <!--</div>
        </div>-->
    </div>
</div>