<div class="Tarjeta" role="tabpanel">
    <div class="card TarjetaVideo F_Fondo_OscuroVideo">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Galería de Videos...</div>
        </div>
        <div *ngIf="videos2D && videos2D.length > 0 || videos360 && videos360.length > 0" class="card-block G_SinPadding" id="{{ prefijo }}Content" style="overflow-x: hidden; overflow-y: auto;">
            <div role="tabpanel" class="tab-pane fade active show" id="{{ prefijo }}">
                
                <input *ngIf="TieneVideos" type="hidden" name="TarjetaConDatos" value="true" />
                
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="col col-12 row">
                    <ul class="nav nav-tabs">
                        <li *ngIf="TieneVideos" class="nav-item"><a class="nav-link active TabVideo" data-toggle="tab" role="tab" href="#TarjetaTodos">Todos</a></li>
                        <li><a class="nav-link TabVideo">&nbsp;</a></li>
                        <li *ngIf="videos2D.length > 0" class="nav-item"><a class="nav-link TabVideo" data-toggle="tab" role="tab" href="#Tarjeta2D">2D</a></li>
                        <li *ngIf="videos360.length > 0" class="nav-item"><a class="nav-link TabVideo" data-toggle="tab" role="tab" href="#Tarjeta360">360</a></li>
                    </ul>
                </div>
                <div class="tab-content" id="myTab2{{ prefijo }}Content">
                    <div id="TarjetaTodos" class="col col-12 tab-pane fade active show row G_SinPadding" role="tabpanel">
                        <button *ngFor="let video of videos2D; let i=index" class="col col-12 row G_SinPadding LinkVideo" onclick="AbrirVideo($(this).find('input').val())">
                            <input type="hidden" value="{{ video.dirArchivo }}" />
                            <div class="col col-3 Thumbnail_VideoContainer">
                                <div class="Thumbnail_Video Thumbnail_Video_Image">&nbsp;</div>
                            </div>

                            <div class="col col-9" style="padding: 2px;">
                                <div class="col col-12 G_SinPadding">
                                    <div class="T_Titulo G_SinPadding">{{ video.Titulo }}</div>
                                    <div class="T_Descripcion G_SinPadding">{{ video.Descripcion }} <br /> {{ video.Duracion }}</div>
                                </div>
                            </div>
                        </button>
                        <button *ngFor="let video of videos360; let i=index" class="col col-12 row G_SinPadding LinkVideo" onclick="AbrirVideo360($(this).find('input[name=url]').val(), $(this).find('input[name=titulo]').val())">
                            <input type="hidden" value="{{ video.url }}" name="url" />
                            <input type="hidden" value="{{ video.titulo }}" name="titulo" />
                            <div class="col col-3 Thumbnail_VideoContainer">
                                <div class="Thumbnail_Video Thumbnail_Video360_Image">&nbsp;</div>
                            </div>

                            <div class="col col-9" style="padding: 2px;">
                                <div class="col col-12 G_SinPadding">
                                    <div class="T_Titulo G_SinPadding">{{ video.titulo }}</div>
                                    <!-- <div class="T_Descripcion G_SinPadding">{{ video.Descripcion }} <br /> {{ video.Duracion }}</div> -->
                                </div>
                            </div>
                        </button>
                    </div>

                    <div id="Tarjeta2D" class="col col-12 tab-pane fade row G_SinPadding" role="tabpanel">
                        <button *ngFor="let video of videos2D; let i=index" class="col col-12 row G_SinPadding LinkVideo" onclick="AbrirVideo($(this).find('input').val())">
                            <input type="hidden" value="{{ video.dirArchivo }}" />
                            <div class="col col-3 Thumbnail_VideoContainer">
                                <div class="Thumbnail_Video Thumbnail_Video_Image">&nbsp;</div>
                            </div>

                            <div class="col col-9" style="padding: 2px;">
                                <div class="col col-12 G_SinPadding">
                                    <div class="T_Titulo G_SinPadding">{{ video.Titulo }}</div>
                                    <div class="T_Descripcion G_SinPadding">{{ video.Descripcion }} <br /> {{ video.Duracion }}</div>
                                </div>
                            </div>
                        </button>
                    </div>

                    <div id="Tarjeta360" class="col col-12 tab-pane fade row G_SinPadding" role="tabpanel">
                        <button *ngFor="let video of videos360; let i=index" class="col col-12 row G_SinPadding LinkVideo" onclick="AbrirVideo360($(this).find('input[name=url]').val(), $(this).find('input[name=titulo]').val())">
                            <input type="hidden" value="{{ video.url }}" name="url" />
                            <input type="hidden" value="{{ video.titulo }}" name="titulo" />
                            <div class="col col-3 Thumbnail_VideoContainer">
                                <div class="Thumbnail_Video Thumbnail_Video360_Image">&nbsp;</div>
                            </div>

                            <div class="col col-9" style="padding: 2px;">
                                <div class="col col-12 G_SinPadding">
                                    <div class="T_Titulo G_SinPadding">{{ video.titulo }}</div>
                                    <!-- <div class="T_Descripcion G_SinPadding">{{ video.Descripcion }} <br /> {{ video.Duracion }}</div> -->
                                </div>
                            </div>
                        </button>
                    </div>
                    <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Video-->
<!--<div class="modal fade" id="videomodal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl ModalLinea">
        <div class="col col-12 modal-content">
            <div class="modal-header" style="padding-right: 0px;">
                <button type="button" class="close" data-dismiss="modal"><i class="zmdi zmdi-close"></i></button>
                <h4 class="modal-title"><span class="info-title-cards">&nbsp;</span></h4>
            </div>
            <div class="modal-body SolucionGris" style="padding-right: 0px;">
                <video id="VideoPlayerNew2D" class="NewGaleryVideo VideoPlayerHtml5" TypeVideo="2D" preload="metadata" controls controlsList="nodownload" style="width:100%;"> </video>
            </div>
        </div>
    </div>
</div>
-->

<div class="modal fade" id="videomodal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ModalVideo2D">
        <div class="col col-12 modal-content" style="height: auto;">
            <div class="modal-header" style="">
                <h4 class="modal-title"><span class="info-title-cards">&nbsp;</span></h4>
                <button type="button" class="close" data-dismiss="modal"><i class="zmdi zmdi-close"></i></button>
            </div>
            <div class="modal-body SolucionGris" style="">
                <video id="VideoPlayerNew2D" class="NewGaleryVideo VideoPlayerHtml5" TypeVideo="2D" preload="metadata" controls controlsList="nodownload" style="width:100%;"> </video>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="video360modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="col col-12 modal-content">
            <div class="modal-header" style="padding-right: 0px;">
                <h4 class="modal-title"><span class="info-title-cards">&nbsp;</span></h4>
                <button type="button" class="close" data-dismiss="modal"><i class="zmdi zmdi-close"></i></button>                
            </div>
            <div class="modal-body SolucionGris" style="padding-right: 0px; padding-left: 0px;" id="contenedor360">
                <video id="video-container360" class="video-js vjs-default-skin" preload="false" autoplay="false" crossOrigin="anonymous" width="100%" height="100%" data-setup="{}" controls playsinline webkit-playsinline>
                    <source src="" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>
</div>