/*Galeria video*/
.Thumbnail_Video{
    height:56px;
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 4px;
    background-color: #000;
}

.Thumbnail_Video_Image{
    background-image: url('./../../../../Content/Images/video-thum.png');
}

.Thumbnail_Video360_Image{
    background-image: url('./../../../../Content/Images/video360-thum.png');
}

.Thumbnail_VideoContainer{
    background-position: center center;
    background-repeat: no-repeat;
    padding: 2px;
    background-image: url('./../../../../Content/Images/loading.gif');
}

.TarjetaVideo{
    background-color: #2f3a46;
    overflow-y: auto;
    overflow-x: hidden;
}

.TabVideo{
    height: 20px !important;
    line-height: 20px !important;
    padding: 0px 8px 0px 8px !important;
}

.LinkVideo{
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-align: left;
}

#TarjetaTodos, #Tarjeta2D, #Tarjeta360{
    margin-left: 20px;
}

/*Tabs video*/
.F_Fondo_OscuroVideo .nav-tabs{
    border: none;
    margin: 5px;
}
.F_Fondo_OscuroVideo .nav-tabs li > a{
    color: #FFFFFF;
    font-size: 14px !important;
}
.F_Fondo_OscuroVideo .nav-tabs li.active > a{
    color: #d94040 !important;
    font-size: 14px !important;
}
.F_Fondo_OscuroVideo .nav-item a.active{
    color: #d94040 !important;
}
.F_Fondo_OscuroVideo .nav-tabs li:hover > a{
    color: #d94040 !important;
}

.F_Fondo_OscuroVideo .T_Titulo{
    color: #FFFFFF !important;
    font-weight: 400;
}
.F_Fondo_OscuroVideo .T_Descripcion{
    color: #868686 !important;
    font-weight: 400;
}
.SolucionGris{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'brightness\'><feColorMatrix type=\'matrix\' values=\'1.2 0 0 0 0 0 1.2 0 0 0 0 0 1.2 0 0 0 0 0 1.2 0\'/></filter></svg>#brightness"); /* Firefox 3.5+ */
    -webkit-filter:brightness(108.5%); /* Chrome 19+ & Safari 6+ */
}

.nav-item, .nav-link{
    border: none !important;
    background-color: transparent !important;
}

#videomodal .modal-content{
    /*height: -webkit-fill-available;*/
    height: stretch;
}

.VideoPlayerHtml5{
    width: 100%;
    /*height: -webkit-fill-available;*/
    height: auto;
    background-color: #000;
    background-image: url('./../../../../Content/Images/Loading-loop_black.gif');
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 8px;
}

.ModalVideo2D {
    margin-top: 60px;
    margin-bottom: 0px;
    height: calc(100% - 120px);
}

/*Modal*/
.modal-header{
    justify-content: normal;
    padding-right: inherit;
}

.modal-body{
    padding-right: inherit;
}

button.close{
    margin-left:auto;
    margin-right:0;
}

.modal-header .close{
    right: 10px;
}


@media (max-width: 862px) {
    .VideoPlayerHtml5{
        background-size: 50%;
    }
}
