<!--loader-->
<!--<div class="PL_LoadingBox" id="LoadingFicha" style="max-height: 100%; height: 100%;">
	<div class="PL_Text">Cargando la Ficha Universal...</div>
</div>-->

<!--header-->


<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">



<nav class="navbar fixed-top navbar-light bg-faded justify-content-center G_Header G_SinPadding navBarTop" [ngStyle]="{'display': !fichaPService.openModalFotPersona ? 'unset' : 'none' }">
	<div class="navbar-header" style="width: 100%;">
		<div [ngStyle]="{'display': divFicha ? 'unset' : 'none' }">
			<img class="G_LogoLila" src="../../Content/Images/LOGO_LILA.png">
			<a class="navbar-brand hidden-md-down hidden-lg-down hidden-xl-down" style="color: #000; display: none;" href="#"
			onclick="$('#wrapper').toggleClass('toggled');return false;">
				&nbsp;&nbsp; <i class="zmdi zmdi-menu"></i>
			</a>
			<span class="hidden-md-down hidden-lg-down hidden-xl-down" style="width: 30px;float: left;">
				<div style="width: 30px;">&nbsp;</div>
			</span>
			<span class="hidden-sm-down" style="width: 15px;float: left;">
				<div style="width: 15px;">&nbsp;</div>
			</span>
		</div>
		<div [ngStyle]="{'display': divFicha ? 'none' : 'unset' }" class="T_Descripcion">
			<button class="fa fa-arrow-left T_Descripcion" style="padding-right: 15px;
							    padding: 15px;
								background: transparent;
								border: none;"
				(click)="showDivFicha()"></button>
			{{ divCpi ? 'Ficha CPI' : 'Ficha Fusión'}}
		</div>
	
		<span id="NombrePersonaTop" class="T_Descripcion TopName">{{fichaPService.nombreCompleto || 'Cargando ...'}}</span>
	</div>
</nav>

<!-- Tarjetas Personas -->

<!-- Pantalla Ficha -->
<div [ngStyle]="{'display': divFicha ? 'unset' : 'none' }">
	<div *ngIf="apiBackEndService.enviroment !== 'colombia'" class="row col-xs-12 G_SinPadding ContenedorTarjetas" style="margin: 50px 0px 50px 0px; height: calc(100% - 100px); overflow-y: auto; align-content: baseline;">
		<tarjetaDatosPersonales *ngIf="fichaPService.tieneDatosP" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaDatosPersonales>
		<tarjetaVivienda *ngIf="fichaPService.tieneViviendaP" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaVivienda>
		<tarjetaMapa *ngIf="fichaPService.vivienda && fichaPService.vivienda.length > 0" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaMapa>
		<tarjetaFotos *ngIf="fichaPService.tieneFotosP" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaFotos>
		<tarjetaVideos *ngIf="fichaPService.tieneVideosP" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaVideos>
		<tarjetaSalud *ngIf="fichaPService.tieneSaludP" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaSalud>
		<tarjetaVacunas *ngIf="fichaPService.tieneVacunasP" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaVacunas>
		<tarjetaEmbarazo *ngIf="fichaPService.estaEmbarazada" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaEmbarazo>
		<tarjetaRiesgosNinio *ngIf="fichaPService.tieneRiesgoNinio" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaRiesgosNinio>
		<tarjetaRiesgosEscolarAdolescente *ngIf="fichaPService.tieneRiesgoAdolescente" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaRiesgosEscolarAdolescente>
		<tarjetaRiesgosEmbarazo *ngIf="fichaPService.tieneRiesgoEmbarazo" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaRiesgosEmbarazo>
		<tarjetaEducacion *ngIf="fichaPService.tieneEducacionP" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaEducacion>
		<tarjetaTrabajo *ngIf="fichaPService.tieneTrabajoP" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaTrabajo>
		<tarjetaSanitariosServicios *ngIf="fichaPService.tieneServiciosP" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaSanitariosServicios>
		<tarjetaInfraestructura *ngIf="fichaPService.tieneInfraestructuraP" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaInfraestructura>
		<tarjetaObservacionesUrgencias *ngIf="fichaPService.tieneObsUrgP" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaObservacionesUrgencias>
		<tarjetaFamilia *ngIf="fichaPService.tieneFamiliaP" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaFamilia>
		<tarjetaInteligenciaArtificial *ngIf="fichaPService.tieneInteligenciaFam" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaInteligenciaArtificial>
		<tarjetaConin *ngIf="fichaPService.tieneDatosConin" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaConin>
		<tarjetaTestPersona *ngIf="fichaPService.tieneDatosTest" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaTestPersona>
		<tarjetaHistoriaCli *ngIf="fichaPService.tieneHistCli" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaHistoriaCli>
		<tarjetaAntecedentesAntropometricos *ngIf="fichaPService.tieneAntAntroP" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaAntecedentesAntropometricos>
		<tarjetaAntropometria *ngIf="fichaPService.tieneAntroP" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaAntropometria>
		<tarjetaAntecedentesNutricionalesPatologicos *ngIf="fichaPService.tieneAntNutPat" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaAntecedentesNutricionalesPatologicos>
		<tarjetaGraficoPE *ngIf="fichaPService._AntroOrigenes.length > 0 && fichaPService._AntroColorOrigen.length > 0 && fichaPService.TieneGraficoPE"
		 class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaGraficoPE>
		<tarjetaGraficoTE *ngIf="fichaPService._AntroOrigenes.length > 0 && fichaPService._AntroColorOrigen.length > 0 && fichaPService.TieneGraficoTE"
		 class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaGraficoTE>
		<tarjetaGraficoIMC *ngIf="fichaPService._AntroOrigenes.length > 0 && fichaPService._AntroColorOrigen.length > 0 && fichaPService.TieneGraficoIMC"
		 class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaGraficoIMC>
		<tarjetaMasInformacion></tarjetaMasInformacion>
	</div>
</div>
<!-- Fin Pantalla Ficha -->

<!-- Pantalla CPI -->
<div [ngStyle]="{'display': divCpi ? 'unset' : 'none' }">
	<tarjetaCPI *ngIf="fichaPService.datosPersonales && fichaPService.admisionesCPI.length > 0"></tarjetaCPI>
</div>
<!-- Fin Pantalla CPI -->


<!-- Pantalla Fusión -->

<div [ngStyle]="{'display': divFusion ? 'unset' : 'none' }">
		<tarjetaFusion *ngIf="fichaPService.tieneDatosFusion" #modalFUSION></tarjetaFusion>
</div>

<!-- FinPantalla Fusión -->

<!-- Fin Tarjetas Personas -->

<!-- Tarjetas Vivienda -->

<div *ngIf="apiBackEndService.enviroment === 'colombia'" class="row col-xs-12 G_SinPadding ContenedorTarjetas" style="margin: 50px 0px 50px 0px; height: calc(100% - 100px); overflow-y: auto; align-content: baseline;">
	<tarjetaDatosPersonalesColombia *ngIf="fichaPService.datosPersonales" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaDatosPersonalesColombia>
	<tarjetaViviendaColombia *ngIf="fichaPService.vivienda" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaViviendaColombia>
	<tarjetaMapa *ngIf="fichaPService.vivienda" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaMapa>
	<tarjetaFotos *ngIf="fichaPService.fotos && fichaPService.fotos.length > 0" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaFotos>
	<tarjetaSaludColombia *ngIf="fichaPService.discapacidades.length > 0 && fichaPService.riesgosSalud.length > 0" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaSaludColombia>
	<tarjetaEmbarazoColombia *ngIf="fichaPService.embarazo && fichaPService.estaEmbarazada" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaEmbarazoColombia>
	<tarjetaLactantesColombia *ngIf="fichaPService.lactantes.length > 0" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaLactantesColombia>
	<tarjetaAntropometriaColombia *ngIf="fichaPService.antropometria && fichaPService.antropometria.length > 0 && fichaPService.anio < 6"
	 class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaAntropometriaColombia>
	<tarjetaEducacionColombia *ngIf="fichaPService.anio && fichaPService.educacion && fichaPService.educacion.length > 0"
	 class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaEducacionColombia>
	<tarjetaTrabajoColombia *ngIf="fichaPService.fechasTrabajo && fichaPService.fechasTrabajo.length > 0" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaTrabajoColombia>
	<tarjetaFamiliaColombia *ngIf="fichaPService.fechasFamilia && fichaPService.fechasFamilia.length > 0" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaFamiliaColombia>
	<tarjetaInteligenciaArtificial *ngIf="fichaPService.inteligenciaFamilia && fichaPService.inteligenciaFamilia.length > 0"
	 class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaInteligenciaArtificial>
	<tarjetaMasInformacion></tarjetaMasInformacion>
	<app-timeline [items]="timeLineItems"></app-timeline>
</div>

<!-- Fin Tarjetas Vivienda -->

<!--Modal x-->
<div class="modal fade" role="dialog" id="ModalPDF">
	<div class="modal-dialog modal-lg row" style="max-width: 90%;">
		<div class="hidden-sm-down hidden-md-down col-lg-2"></div>
		<div class="col col-sm-12 col-md-12 col-lg-8 modal-content">
			<div class="modal-header">
				<div class="col col-12 row">
					<div class="col col-10">
						<h4 class="modal-title"><span class="info-title-cards">Tarjetas a Imprimir</span></h4>
					</div>
					<div class="col col-2"><button type="button" class="close" data-dismiss="modal"><i class="zmdi zmdi-close"></i></button></div>
				</div>
			</div>
			<div class="modal-body">
				<!--CUERPO DE VISITAS-->
				<div class="col col-12 tab-content G_SinPadding">
					<div id="" class="col col-12 tab-pane fade active show G_SinPadding">
						<!--INICIO-->
						<div class="row col col-12 tab-content G_SinPadding" id="DivTarjetasImprimir"></div>
						<div class="row col col-12 tab-content G_SinPadding">
							<a class="btn btn-primary" href="" role="button" id="BotonDescargaPDF" target="_blank">Generar PDF</a>
						</div>
					</div>
					<!--FIN-->
				</div>
				<div class="col col-sm-12">&nbsp;</div>
			</div>
		</div>
		<div class="hidden-sm-down hidden-md-down col-lg-2"></div>
	</div>
</div>
<block-ui></block-ui>


<!--footer-->
<nav class="navbar fixed-bottom navbar-light bg-faded justify-content-center G_Footer" [ngStyle]="{'display': !fichaPService.openModalFotPersona ? 'unset' : 'none' }">
	<div style="display: table; margin: 0 auto;">
		<div class="G_BotonInferior" [ngClass]="{'G_BorderActivo': divFicha}" (click)="showDivFicha()">Ficha</div>
		<div class="G_BotonInferior" [ngClass]="{'G_BorderActivo': divCpi}" [ngStyle]="{'display': fichaPService.tieneDatosCPI ? 'unset' : 'none' }" (click)="showDivCpi()">CPI</div>
		<div class="G_BotonInferior" [ngClass]="{'G_BorderActivo': divFusion}" [ngStyle]="{'display': fichaPService.tieneDatosFusion ? 'unset' : 'none' }"(click)="showDivFusion()">Fusión</div>
		<div class="G_BotonInferior" *ngIf="fichaPService.datosPersonales && fichaPService.datosPersonales.length > 0"(click)="abrirModal()">Impresión</div>
		<div class="G_BotonInferior" (click)="openModal('0', 'ModalMasInformacion')">Más Información</div>
		<a class="G_BotonInferior" (click)="logout()">Salir</a>
	</div>
</nav>

<descargar-ficha-p *ngIf="apiBackEndService.enviroment !== 'colombia'" #modalImprimir></descargar-ficha-p>

<descargar-ficha-pColombia *ngIf="apiBackEndService.enviroment === 'colombia'" #modalImprimirColombia></descargar-ficha-pColombia>