<input type="hidden" name="ParaListaPDF" id="Personas.Vacunas" title="Vacunas" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Vacunas...</div>
        </div>
        <!--<div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist" id="myTab{{ prefijo }}">
                <li class="nav-item" *ngFor="let d of fechasAgrupadas; let i=index">
                    <a id="{{ prefijo }}{{ i }}-tab" class="nav-link {{ i == 0 ? 'active' : '' }}" href="#{{ prefijo }}{{ i }}" data-toggle="tab" role="tab">{{ d.Fecha }}</a>
                </li>
            </ul>
        </div>-->

        <!--<div class="tab-content card-block G_TabContent" id="myTab{{ prefijo }}Content">
            <div *ngFor="let d of fechasAgrupadas; let i=index" role="tabpanel" class="tab-pane fade {{ i == 0 ? 'active show' : '' }}" id="{{ prefijo }}{{ i }}">-->
                <!--Determinamos si la tarjeta se muestra-->
            <md2-tabs class="tab" *ngIf="fechasAgrupadas && fechasAgrupadas.length > 0" (change)="onChangeTab($event)" >
            <md2-tab *ngFor="let d of fechasAgrupadas; let i=index"
                    [label]="d.Fecha"
                    [MostrarOrigen]="i == 0 ? true : false"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->

                <!--<div class="tab-content card-block G_TabContent" id="myTab{{ prefijo }}Content">-->
            <div class="head">
                <div class="row origen">
                    <div class="col-xs-6 T_Titulo"><span *ngIf="d.NroRelevamiento">Nro. Encuesta:</span> {{ d.NroRelevamiento || ''}}</div>
                    <div class="col-xs-6 T_Titulo">Origen: {{ d.Origen || '-'}}</div>
                </div>
                <div class="row white">
                    <div class="col col-12">
                        <div class="T_Tarjeta">Vacunas Administradas</div>
                        <button class="btn btn-primary" (click)="openModal('', 'ModalCalendarioVacuna')" style="float: right;">Ver Calendario</button>
                        <!--<a class="G_BotonTarjeta" (click)= "openModal('', 'ModalCalendarioVacuna')" codvisita="">
                            <img class="G_BotonNivel2" src="../../../Content/Images/icon-arrows-gray.svg" style="height: 14px; margin-top: 15px;" title="Más Información">
                        </a>-->
                    </div>
                </div>
                <div class="col col-12 row white" style="margin-left: 0; padding-right: 0; padding-left: 0;">
                    <div class="col col-5">
                        <div class="T_Titulo">Vacuna</div>
                    </div>
                    <div class="col col-4 text-right">
                        <div class="T_Titulo">Vacunatorio</div>
                    </div>
                    <div class="col col-3 text-right">
                        <div class="T_Titulo">Administrada el</div>
                    </div>
                </div>
            </div>

            <input type="hidden" id="OrigenesAntropometriaParaSplit" value="{{origenes | json}}" />
            <div>
                <ng-container *ngFor="let item of vacunasFilter; let i=index">
                <div [ngStyle]="{'border-top': i == 0 ? '1px solid #dfe2e7' :  'none'}" [ngClass]="{ 'backgroundAlter': i%2 == false }" class="col col-12 row G_SinPadding G_SinMargin item">
                    <div class="col col-5">
                            <div class="T_Descripcion">{{ item.Vacuna || '-'}}</div>
                        </div>
                        <div class="col col-4 text-right">
                            <div class="T_Descripcion">{{ item.Vacunatorio || '-' }}</div>
                        </div>
                        <div class="col col-3 text-right">
                            <div class="T_Descripcion">{{ item.FechaAdministracion || '-' }}</div>
                        </div>
                </div>
                </ng-container>
            </div>

        <!--</div>-->
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            <!--</div>
        </div>-->
        </md2-tab>
        </md2-tabs>
    </div>
</div>

<div class="modal fade" role="dialog" id="ModalCalendarioVacuna">
    <div class="modal-dialog modal-lg row" style="max-width: 100%;">
        <div class="hidden-sm-down hidden-md-down col-lg-2"></div>
        <div class="col col-sm-12 col-md-12 col-lg-8 modal-content">
            <div class="modal-header">
                <div class="col col-12 row" style="padding-right: 0px;">
                    <div class="col col-10">
                        <h4 class="modal-title">
                            <span class="info-title-cards">Calendario de Vacunas</span>
                        </h4>
                    </div>
                    <div class="col col-2"><a class="button3" data-dismiss="modal">Cerrar</a></div>
                </div>
            </div>
            <div class="modal-body">
                <!--CUERPO DE VISITAS-->
                <div class="col col-12 tab-content G_SinPadding" style="overflow: auto; max-height: calc(100vh - 40vh);">
                    <div id="ModalCalendarioVacuna" class="col col-12 tab-pane fade active show G_SinPadding">
                        <table class="table table-striped" id="TablaCalendarioVacuna">
                            <thead>
                                <tr>
                                    <th class="T_Titulo">
                                       <div class="divTitulos">
                                           <span class="spanVacunas">Vacunas</span>
                                           <span class="spanEdades">Edad</span>
                                       </div>
                                    </th>
                                    <!--<th class="T_Titulo"></th>-->
                                    <!--columna vacia para fixed fecha-->
                                    <th *ngFor="let d of this.fichaPService.calendarioVacunas; let i=index" class="T_Titulo">{{ d.Vacuna }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let ec of calendarioVacunas; let i=index">
                                    <tr *ngIf="i > 0">
                                        <th class="T_Descripcion T_Descripcion12">
                                            <!--<div class="divEdades">-->
                                                {{ calendarioVacunas[i]['column0']}}
                                            <!--</div>-->
                                        </th>
                                        <ng-container *ngFor="let d of fichaPService.calendarioVacunas; let ix=index">
                                        <th *ngIf="ix > 0 && calendarioVacunas[i]['column' + ix] !== null" class="T_Descripcion T_Descripcion12" 
                                            [attr.rowspan]="fichaPService.vacunasDosis[calendarioVacunas[i]['column' + ix]] ? fichaPService.vacunasDosis[calendarioVacunas[i]['column' + ix]].rowSpan : 1"  
                                            [ngClass]="{ 'tieneVacuna': fichaPService.vacunasDosis[calendarioVacunas[i]['column' + ix]] ? fichaPService.vacunasDosis[calendarioVacunas[i]['column' + ix]].tieneVacuna : false }">
                                            {{ calendarioVacunas[i]['column' + ix] >= 0 ? fichaPService.vacunasDosis[calendarioVacunas[i]['column' + ix]].Dosis : '' }}
                                        </th>
                                        </ng-container>
                                        <th class="T_Descripcion T_Descripcion12"
                                            [attr.rowspan]="fichaPService.vacunasDosis[calendarioVacunas[i]['column' + fichaPService.calendarioVacunas.length]] ? fichaPService.vacunasDosis[calendarioVacunas[i]['column' + fichaPService.calendarioVacunas.length]].rowSpan : 1"
                                            [ngClass]="{ 'tieneVacuna': fichaPService.vacunasDosis[calendarioVacunas[i]['column' + fichaPService.calendarioVacunas.length]] ? fichaPService.vacunasDosis[calendarioVacunas[i]['column' + fichaPService.calendarioVacunas.length]].tieneVacuna : false }">
                                            {{ calendarioVacunas[i]['column' + fichaPService.calendarioVacunas.length] >= 0 ? fichaPService.vacunasDosis[calendarioVacunas[i]['column' + fichaPService.calendarioVacunas.length]].Dosis : '' }}
                                        </th>
                                        <!--<th *ngFor="let c of this.fichaPService.calendarioVacunas; let i=index" class="T_Titulo">{{ c.Vacuna }}</th>-->
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col col-sm-12">&nbsp;</div>
            </div>
        </div>
        <div class="hidden-sm-down hidden-md-down col-lg-2"></div>
    </div>
</div>