@font-face {
  font-family: 'Gotham';
  src: url('/assets/media/fonts/Gotham-Bold.otf'); /* IE9 Compat Modes */
  src: url('/assets/media/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('/assets/media/fonts/Gotham-Bold.otf') format("opentype"),
     url('/assets/media/fonts/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
     url('/assets/media/fonts/Gotham-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('/assets/media/fonts/Gotham-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight: 700;
   font-style: normal;
 }

@font-face {
  font-family: 'Gotham';
  src: url('/assets/media/fonts/Gotham-Medium.otf'); /* IE9 Compat Modes */
  src: url('/assets/media/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('/assets/media/fonts/Gotham-Medium.otf') format("opentype"),
     url('/assets/media/fonts/Gotham-Medium.woff') format('woff'), /* Modern Browsers */
     url('/assets/media/fonts/Gotham-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('/assets/media/fonts/Gotham-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight: 400;
   font-style: normal;
 }


 @font-face {
  font-family: 'Gotham';
  src: url('/assets/media/fonts/Gotham-Book.otf'); /* IE9 Compat Modes */
  src: url('/assets/media/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('/assets/media/fonts/Gotham-Book.otf') format("opentype"),
     url('/assets/media/fonts/Gotham-Book.woff') format('woff'), /* Modern Browsers */
     url('/assets/media/fonts/Gotham-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('/assets/media/fonts/Gotham-Book.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight: 300;
   font-style: normal;
 }

@font-face {
  font-family: 'Gotham';
  src: url('/assets/media/fonts/Gotham-Thin.otf'); /* IE9 Compat Modes */
  src: url('/assets/media/fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('/assets/media/fonts/Gotham-Thin.otf') format("opentype"),
     url('/assets/media/fonts/Gotham-Thin.woff') format('woff'), /* Modern Browsers */
     url('/assets/media/fonts/Gotham-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('/assets/media/fonts/Gotham-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight: 200;
   font-style: normal;
 }



@font-face {
  font-family: 'Gotham';
  src: url('/assets/media/fonts/Gotham-XLight.otf'); /* IE9 Compat Modes */
  src: url('/assets/media/fonts/Gotham-XLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('/assets/media/fonts/Gotham-XLight.otf') format("opentype"),
     url('/assets/media/fonts/Gotham-XLight.woff') format('woff'), /* Modern Browsers */
     url('/assets/media/fonts/Gotham-XLight.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('/assets/media/fonts/Gotham-XLight.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight: 100;
   font-style: normal;
 }

@font-face {
  font-family: 'GothamMedium';
  src: url('/assets/media/fonts/Gotham-Medium.otf'); /* IE9 Compat Modes */
  src: url('/assets/media/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/media/fonts/Gotham-Medium.otf') format("opentype"),
  url('/assets/media/fonts/Gotham-Medium.woff') format('woff'), /* Modern Browsers */
  url('/assets/media/fonts/Gotham-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('/assets/media/fonts/Gotham-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GothamLight';
  src: url('/assets/media/fonts/Gotham-XLight.otf'); /* IE9 Compat Modes */
  src: url('/assets/media/fonts/Gotham-XLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/media/fonts/Gotham-XLight.otf') format("opentype"),
  url('/assets/media/fonts/Gotham-XLight.woff') format('woff'), /* Modern Browsers */
  url('/assets/media/fonts/Gotham-XLight.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('/assets/media/fonts/Gotham-XLight.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBook';
  src: url('/assets/media/fonts/Gotham-Book.otf'); /* IE9 Compat Modes */
  src: url('/assets/media/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/media/fonts/Gotham-Book.otf') format("opentype"),
  url('/assets/media/fonts/Gotham-Book.woff') format('woff'), /* Modern Browsers */
  url('/assets/media/fonts/Gotham-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('/assets/media/fonts/Gotham-Book.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 300;
  font-style: normal;
}
