.cursor_pointer {
    cursor: pointer;
}

.tl-media-content-style {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center
}

.tl-media-content-style-disabled {
    border: solid !important;
    border-width: 2px;
    background: #777777;
}


.left_right_style{
    width: 98% !important;
    margin-left: 2% !important;
}
