<!-- Galeria de Imagenes -->
<div class="Tarjeta" role="tabpanel" id="tarjetaFotos">
        <div class="card">
            <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
                <div class="PL_Text">Buscando Datos de Galería de Fotos...</div>
            </div>
            <div>
                <div>
                    <div class="row">
                        <div class="col-xs-12" style="    padding-top: 20px;
                            padding-right: 0px;
                            padding-left: 25px;">
                            <div class="T_Tarjeta">Galería</div>
                            <div style="text-align: right; padding-right: 30px;" class="G_BotonTarjeta">
                                <button class="btn2" (click)="AbreModal();" type="button">Línea de tiempo</button>
                            </div>
                        </div>
                    </div>
                    <div style="overflow: auto; height: 290px; width: auto; margin: 10px;" class="style-scroll">
                        <div class="image_gallery">
                            <div class="image_gallery_div" *ngFor="let item of fichaPService.fotos; let i = index; let last=last">
                                <img onclick="AbreViewer2(this.id)" class="image_gallery_img border_gallery" id="FotoIndex{{ i }}" (load)="activarGaleria(i)" [src]="item.url"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
  <!-- viewer fotos oculto-->
<div style="height: 0px; overflow: hidden;" id="ViewerGrid">
    <input type="hidden" id="TotalViewerFotos" value="{{ CantidadFotos }}" />
    <ul class="imagesViewer">
        <li *ngFor="let d of fichaPService.fotos; let i=index;let last=last">
                <img class="{{ d.url }}" [src]="urlSafe(d.url)" alt="<h2>{{ d.FotoTitulo }}</h2><h4>{{ d.FotoDescrip }}</h4><h4>{{ d.FechaRegistro | date:'dd-MM-yyyy' }}</h4>" id="ViewerFotoIndex{{ i }}">
            <!-- <img class="{{ d.FotoLarge }}" [src]="urlSafe(d.FotoSmall)" alt="<h2>{{ d.FotoTitulo }}</h2><h4>{{ d.FotoDescrip }}</h4><h4>{{ d.Fecha }}</h4>" id="ViewerFotoIndex{{ i }}"> -->
             {{last ? activarViewer(i) : ''}}
        </li>
    </ul>
</div>          
            <!--Modal Linea Tiempo-->
    <div class="modal fade" id="lineamodal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modaldialog">
        <div class="modal-content fotocontent">

            <!-- Modal Header -->
            <div class="modal-header" style="justify-content: initial;">
                <h4 class="modal-title" name="ModalTitle">Línea de Tiempo</h4>
                <a class="button3" style="right: 10px;" data-dismiss="modal">Cerrar</a>
            </div>

            <!-- Modal body -->
            <div class="modal-body fotobody">
                <timelineNew *ngIf="fotos && fotos.length > 0" [tarjeta]="'timelineFotos'" [fotos]="fotos"></timelineNew>

            </div>

            <!-- Modal footer -->


        </div>
    </div>
    </div>
        </div>
    </div>