<input type="hidden" name="ParaListaPDF" id="Ubicación.Mapa" title="Mapa" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Mapa...</div>
        </div>
        <md2-tabs class="tab" *ngIf="mapa && mapa.length > 0">
            <md2-tab *ngFor="let d of mapa; let i=index" class="G_SinPadding"
                    [label]="d.Fecha"
                    [MostrarOrigen]="i == 0 ? true : false"
                    [active]="d.active">
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />
                
                <div class="row origenMapa">
                    <div class="col-xs-6 T_Titulo"><span *ngIf="d.NroRelevamiento">Nro. Encuesta:</span> {{ d.NroRelevamiento || ''}}</div>
                    <div class="col-xs-6 T_Titulo">Origen: {{ d.Origen || '-'}}</div>
                </div>
                    <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <agm-map #map class="Mapa"
                            [mapTypeId]="'hybrid'"
                            [latitude]="d.Latitud"
                            [longitude]="d.Longitud"
                            [disableDoubleClickZoom]="true"
                            [disableDefaultUI]="false"
                            [zoomControl]="true"
                            [mapTypeControl]="true"
                            [streetViewControl]="true"
                            [fullscreenControl]="true"
                            [styles]="d.styles"
                            [zoom]="15">

                            <agm-marker
                                    [latitude]="d.Latitud"
                                    [longitude]="d.Longitud">
                            </agm-marker>
                    </agm-map>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </md2-tab>
        </md2-tabs>
    </div>
</div>