.FilaIA{
    border-bottom: 1px solid #888;
    margin-left: 0px;
    margin-top: 5px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.FilaIATitulo{
    margin-left: 0px;
    margin-top: 5px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.logo {
    width: 20px;
    height: 20px;
    margin: 0px 7px;
}