<input type="hidden" name="ParaListaPDF" id="Personas.InteligenciaArtificial" title="Inteligencia Artificial" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Inteligencia Artificial...</div>
        </div>

        <div class="tab-content card-block G_TabContent" id="myTab{{ prefijo }}Content">
            <div class="row" style="margin-top: 10px;">
                
                <div class="col-12" style="display: flex;">
                    <img class="logo" src="assets/icons/ia_logo.png" alt="">
                    <div class="T_Tarjeta">Inteligencia Artificial (Grupo Familiar)</div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade show active">
                <div class="col col-12 row FilaIATitulo">
                    <div class="col col-4"><div class="T_Titulo">Nombre</div></div>
                    <div class="col col-4"><div class="T_Titulo">Modelo</div></div>
                    <div class="col col-1"><div class="T_Titulo">Rdo</div></div>
                    <div class="col col-2"><div class="T_Titulo">Probabilidad</div></div>
                </div>
                <div *ngFor="let inte of inteligenciaFamilia; let i=index" class="col col-12 row FilaIA">
                    <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />
                    <div class="col col-4"><div class="T_Descripcion">{{inte.NombreCompleto}}</div></div>
                    <div class="col col-4"><div class="T_Descripcion">{{inte.Modelo}}</div></div>
                    <div class="col col-1"><div class="T_Descripcion">{{inte.Resultado}}</div></div>
                    <div class="col col-2"><div class="T_Descripcion">{{inte.Porcentaje}}%</div></div>
                </div>
            </div>
        </div>
    </div>
</div>