<input type="hidden" name="ParaListaPDF" id="Personas.Embarazadas" title="Embarazo" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Embarazo...</div>
        </div>
        <!--<div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist" id="myTab{{ prefijo }}">
                <li class="nav-item" *ngFor="let d of embarazo; let i=index">
                    <a id="{{ prefijo }}{{ i }}-tab" class="nav-link {{ i == 0 ? 'active' : '' }}" href="#{{ prefijo }}{{ i }}" data-toggle="tab" role="tab">{{ d.Fecha }}</a>
                </li>
            </ul>
        </div>

        <div class="tab-content card-block G_TabContent" id="myTab{{ prefijo }}Content">
            <div *ngFor="let d of embarazo; let i=index" role="tabpanel" class="tab-pane fade {{ i == 0 ? 'active show' : '' }}" id="{{ prefijo }}{{ i }}">-->
        <md2-tabs class="tab" *ngIf="embarazo && embarazo.length > 0">
            <md2-tab *ngFor="let d of embarazo; let i=index"
                    [label]="d.Fecha"
                    [MostrarOrigen]="i == 0 ? true : false"
                    [active]="i == 0 ? true : false">
                    <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />

                <div class="row origen">
                    <div class="col-xs-6 T_Titulo"><span *ngIf="d.NroRelevamiento">Nro. Encuesta:</span> {{ d.NroRelevamiento || ''}}</div>
                    <div class="col-xs-6 T_Titulo">Origen: {{ d.Origen || '-'}}</div>
                </div>
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="row">
                    <div class="col-12">
                        <div class="T_Tarjeta">Embarazo</div>
                        <!--<input type="hidden" name="Origen" value='{{ d.Origen }}' />
                        <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>
                        <input type="hidden" name="EdadRelevamiento" value='{{ d.EdadRelevamiento }}' />-->
                        <!--<a class="G_BotonTarjeta" type="EdadRelevamiento" data-toggle="tooltip" data-placement="left" title="" data-original-title="" data-title-template="Edad en el Relevamiento: ">&nbsp;<span class="zmdi zmdi-info" title="Edad en el Relevamiento"></span></a>-->
                        <input type="hidden" name="CodVisita" value='{{ d.CodVisita }}' />
                        <a class="G_BotonTarjeta" (click)= "openModal(d.CodVisita, 'ModalEmbarazo')" codvisita=""><img class="G_BotonNivel2" src="../../../Content/Images/icon-arrows-gray.svg" style="height: 14px;" title="Más Información"></a>
                    </div>
                </div>
                <div *ngIf="d.EmbarazoActual === 'NO'" class="col col-12 row G_SinMargin G_SinPadding">
                    <div class="col col-12" style="display: flex;">
                       <img src="../../../Content/Images/warning.png" style="width: 25px; height: 25px; margin-top: -2px;">
                       <div class="T_Tarjeta" style="margin-left: 10px;">{{ d.EmbarazoEnMesActual }}</div>
                    </div>
                    <!--<div class="col col-10">
                        <div class="T_Tarjeta">{{ d.EmbarazoEnMesActual }}</div>
                    </div>-->
                </div>
                <div class="col col-12 row G_SinMargin G_SinPadding">
                    <div class="col col-4">
                        <div class="T_Titulo">Edad Gestacional</div>
                        <div class="T_Descripcion">{{ d.EG }}</div>
                    </div>
                    <div class="col col-4">
                        <div class="T_Titulo">Embarazo Actual</div>
                        <div class="T_Descripcion">{{ d.EmbarazoActual === 'NO' ? '-' : d.EmbarazoEnMesActual }}</div>
                    </div>
                    <div class="col col-4">
                        <div class="T_Titulo">Fecha de Medición</div>
                        <div class="T_Descripcion">{{ d.FechaMedicion }}</div>
                    </div>
                </div>
                <div class="col col-12 row G_SinMargin G_SinPadding">
                    <div class="col col-4">
                        <div class="T_Titulo">Peso</div>
                        <div class="T_Descripcion">{{ d.Peso }}kg</div>
                    </div>
                    <div class="col col-4">
                        <div class="T_Titulo">Talla</div>
                        <div class="T_Descripcion">{{ d.Talla }}cm</div>
                    </div>
                    <div class="col col-4">
                        <div class="T_Titulo">Estado Medición</div>
                        <div class="T_Descripcion">{{ d.EstadoMedicion }}</div>
                    </div>
                </div>
                <div class="col col-12 row G_SinMargin G_SinPadding">
                    <div class="col col-4">
                        <div class="T_Titulo">IMC</div>
                        <div class="T_Descripcion">{{ d.IMC }}</div>
                    </div>
                    <div class="col col-4">
                        <div class="T_Titulo">IMC para la Edad Gestacional</div>
                        <div class="T_Descripcion">{{ d.R_IMC }}</div>
                    </div>
                    <div class="col col-4">
                        <div class="T_Titulo">Controles</div>
                        <div class="T_Descripcion">{{ d.CantControles_txt }}</div>
                    </div>
                </div>
                <div class="col col-12 row G_SinMargin G_SinPadding">
                    <div class="col col-4">
                        <div class="T_Titulo">Ácido Fólico</div>
                        <div class="T_Descripcion {{ (d.TomaAcidoFolico | uppercase) != 'SI' ? 'T_Negativo' : '' }}">{{ d.TomaAcidoFolico_txt }}</div>
                    </div>
                    <div class="col col-4">
                        <div class="T_Titulo">Hierro</div>
                        <div class="T_Descripcion {{ (d.TomaHierro | uppercase) != 'SI' ? 'T_Negativo' : '' }}">{{ d.TomaHierro_txt }}</div>
                    </div>
                    <div class="col col-4">
                        <div class="T_Titulo">Factores Riesgo</div>
                        <div class="T_Descripcion {{ (d.TieneFactoresRiesgos | uppercase) != 'NO' ? 'T_Negativo' : '' }}">{{ d.TieneFactoresRiesgos_txt }}</div>
                    </div>
                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
                </md2-tab>
        </md2-tabs>
            <!--</div>
        </div>-->
    </div>
</div>

<div class="modal fade" role="dialog" id="ModalEmbarazo">
    <div class="modal-dialog modal-lg">
        <div class="col col-12 modal-content">
            <div class="modal-header">
                <div class="col col-12 row" style="padding-right: 0;">
                    <div class="col col-10"><h4 class="modal-title"><span class="info-title-cards">Embarazo</span></h4></div>
                    <div class="col col-2"><a class="button3" data-dismiss="modal">Cerrar</a></div>
                </div>
            </div>
            <div class="modal-body">
                <!--TAB DE VISITAS XS SM-->
                <div class="col col-sm-12 hidden-md-down hidden-lg-down hidden-xl-down row G_BordeInferior G_SinPadding">
                    <div class="col col-12" style="margin-top: 8px;" data-toggle="collapse" data-target="#VistaCollapseEmbarazo">
                        <div class="col col-8 F_TituloFormulario_14">Fecha de Visitas</div>
                        <div class="col col-4"><span class="caret text-right" style="margin-top: 6px;"></span></div>
                    </div>
                    <div class="col col-12 collapse" id="VistaCollapseEmbarazo">
                        <div *ngFor="let d of embarazo; let i=index" class="col col-12"><a class="T_Visita col col-12 nav-link" style="text-align: center;" data-toggle="tab" role="tab" href="#ModalEmbarazo{{ d.CodVisita }}" title="{{ d.CodVisita }}">{{ d.Fecha }}</a></div>
                    </div>
                </div>
                <!--TAB DE VISITAS MD LG-->
                <div class="hidden-sm-down col col-12 row G_SinPadding">
                    <ul class="nav nav-tabs T_Tabs_Contenedor Violeta_Contenedor">
                        <li class="nav-item" *ngFor="let d of embarazo; let i=index"><a class="Violeta nav-link" data-toggle="tab" role="tab" href="#ModalEmbarazo{{ d.CodVisita }}" title="{{ d.CodVisita }}">{{ d.Fecha }}</a></li>
                    </ul>
                </div>
                <!--CUERPO DE VISITAS-->
                <div class="col col-12 tab-content G_SinPadding">
                    <div *ngFor="let d of embarazo; let i=index" id="ModalEmbarazo{{ d.CodVisita }}" class="col col-12 tab-pane fade G_SinPadding">
                        <div class="row">
                            <div class="hidden-sm-down col col-md-1 text-center">
                                <img src="../../../Content/Images/fiu-icon-embarazada.svg" class="img-responsive" style="">
                            </div>
                            <div class="col col-sm-12 col-md-11 G_SinPadding">
                                <div class="row">
                                    <div class="col col-sm-12 hidden-md-down hidden-lg-down hidden-xl-down"></div>
                                    <div class="col col-sm-6 col-md-4">
                                        <div class="T_Titulo">Fecha de Medición</div>
                                        <div class="T_Descripcion">{{ d.FechaMedicion }}</div>
                                    </div>
                                    <div class="col col-sm-6 col-md-4">
                                        <div class="T_Titulo">Estado de Medición</div>
                                        <div class="T_Descripcion">{{ d.EstadoMedicion }}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-sm-12 hidden-md-down hidden-lg-down hidden-xl-down"></div>
                                    <div class="col col-sm-4 col-md-4">
                                        <div class="T_Titulo">Edad Gestacional</div>
                                        <div class="T_Descripcion">{{ d.EG }}</div>
                                    </div>
                                    <div class="col col-sm-4 col-md-4">
                                        <div class="T_Titulo">Peso</div>
                                        <div class="T_Descripcion"> {{ d.Peso }} kg</div>
                                    </div>
                                    <div class="col col-sm-4 col-md-4">
                                        <div class="T_Titulo">Talla</div>
                                        <div class="T_Descripcion"> {{ d.Talla }} cm</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-sm-12 hidden-md-down hidden-lg-down hidden-xl-down"></div>
                                    <div class="col col-sm-4 col-md-4">
                                        <div class="T_Titulo">IMC</div>
                                        <div class="T_Descripcion">{{ d.IMC }} cm</div>
                                    </div>
                                    <div class="col col-sm-4 col-md-4">
                                        <div class="T_Titulo">Toma Hierro</div>
                                        <div class="T_Descripcion {{ (d.TomaHierro | uppercase) != 'SI' ? 'T_Negativo' : '' }}">{{ d.TomaHierro_txt_n2 }}</div>
                                    </div>
                                    <div class="col col-sm-4 col-md-4">
                                        <div class="T_Titulo">Toma Ácido Fólico</div>
                                        <div class="T_Descripcion {{ (d.TomaAcidoFolico | uppercase) != 'SI' ? 'T_Negativo' : '' }}">{{ d.TomaAcidoFolico_txt_n2 }}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-sm-12 hidden-md-down hidden-lg-down hidden-xl-down"></div>
                                    <div class="col col-sm-12 col-md-4">
                                        <div class="T_Titulo">Tiene Factores de Riesgo</div>
                                        <div class="T_Descripcion {{ (d.TieneFactoresRiesgos | uppercase) == 'SI' ? 'T_Negativo' : '' }}">{{ d.TieneFactoresRiesgos_txt_n2 }}</div>
                                    </div>
                                    <div class="col col-sm-6 col-md-4">
                                        <div class="T_Titulo">FPC</div>
                                        <div class="T_Descripcion">{{ d.FechaProbableConcepcion }}</div>
                                    </div>
                                    <div class="col col-sm-6 col-md-4">
                                        <div class="T_Titulo">FPP</div>
                                        <div class="T_Descripcion">{{ d.FechaProbableParto }}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-sm-12 hidden-md-down hidden-lg-down hidden-xl-down"></div>
                                    <div class="col col-sm-6 col-md-4">
                                        <div class="T_Titulo">Cantidad de Controles</div>
                                        <div class="T_Descripcion">{{ d.CantControles_txt }}</div>
                                    </div>
                                    <div class="col col-sm-6 col-md-4">
                                        <div class="T_Titulo">Embarazos Previos</div>
                                        <div class="T_Descripcion">{{ d.CantEmbarazosPrevios_txt }}</div>
                                    </div>
                                    <div class="col-xs-12 col-md-4 F_Campo">
                                        <div class="T_Titulo">Embarazos Previos Nacidos Vivos</div>
                                        <div class="T_Descripcion">{{ d.CantEmbarazosNVPrevios_txt }}</div>
                                    </div>
                                </div>
                                <div class="row G_PaddingBottom20">
                                    <div class="col col-sm-12 hidden-md-down hidden-lg-down hidden-xl-down"></div>
                                    <div class="col col-sm-12 col-md-4">
                                        <div class="T_Titulo">Fecha de la Última Menstruación</div>
                                        <div class="T_Descripcion">{{ d.FechaUltimaMestruacion | date: 'dd-MM-yyyy' || '-' }}</div>
                                    </div>
                                    <div class="col col-sm-12 col-md-4">
                                        <div class="T_Titulo">Carnet Perinatal</div>
                                        <div class="T_Descripcion">{{ d.MuestraCarnetPerinatal_txt }}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div *ngIf="(d.TieneFactoresRiesgos | uppercase) == 'SI'" class="col col-12">
                                        <table class="table-nv2">
                                            <thead>
                                                <tr>
                                                    <th class="T_Titulo">Factores de Riesgo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of embarazoFC">
                                                    <td *ngIf="d.CodVisita==item.CodVisita" class="T_Descripcion">{{ (item.Riesgo != 'Otros' ? item.Riesgo : (item.OtroRiesgo != '' ? item.OtroRiesgo : 'Otros')) }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br />
                                    </div>
                                    <div *ngIf="(d.TieneFactoresRiesgos | uppercase) != 'SI'" class="col col-12">
                                        <table class="table-nv2">
                                            <thead>
                                                <tr>
                                                    <th class="T_Titulo">Factores de Riesgo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr><td class="T_Descripcion">No se presentaron factores de riesgo</td></tr>
                                            </tbody>
                                        </table>
                                        <br />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12">&nbsp;</div>
            </div>
        </div>
    </div>
</div>