﻿a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

.close-button {
    font-size: 30px !important;
    padding: 5px 15px !important;
}

/*******MODAL*********/

.md2-dialog-panel { 
    /*width: auto !important;*/
    min-width: 1100px;
}

.md2-dialog-header {
    background: #7875dc !important;
}

.md2-dialog-body {
    background-color: #f1f1f1 !important;
}

.md2-dialog-panel-test { 
    min-width: 330px !important;
    max-width: 330px !important;
}

/*.md2-dialog-panel-test .md2-dialog-content .md2-dialog-body{
    background-color: #FFF !important;
}*/

md2-dialog-title {
    font-size: 20px !important;;
}

@media (max-width: 1440px){
    md2-dialog-title {
        font-size: 18px !important;
    }
}

@media (max-width: 1366px){
    md2-dialog-title {
        font-size: 16px !important;
    }

    .md2-dialog-panel { 
        min-width: 800px;
    }

    /*Para que no se superponga la clase anterior*/
    .md2-dialog-panel-test { 
        min-width: 330px !important;
        max-width: 330px !important;
    }
}

@media (max-width: 1199px){

    .md2-dialog-panel { 
        min-width: 400px;
    }

    /*Para que no se superponga la clase anterior*/
    .md2-dialog-panel-test { 
        min-width: 330px !important;
        max-width: 330px !important;
    }
}

@media (max-width: 749px){
    .md2-dialog-panel { 
        width: auto !important;
        min-width: 300px !important;
    }

    /*Para que no se superponga la clase anterior*/
    .md2-dialog-panel-test { 
        min-width: 330px !important;
        max-width: 330px !important;
    }
}

/*******Tab*********/

md2-tab {
    padding-top: 0px !important;
}
.md2-tabs-header-wrapper {
    text-align: center;
    border-style: none  !important;
    background-color: #f1f1f1 !important;
}

.md2-tab-label.active {
    color: #7875DC !important;
    background-color: #fff;
}

.md2-tabs-canvas:focus .md2-tab-label.focus{
    background-color: #fff !important;
}

.tabCpiFus{
    width: 100%;
    border: none !important;
}
.tabCpiFus .md2-tab-label{
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border: none !important;
}

.tabCpiFus .md2-tabs-body-wrapper{
    border-top: none;
}

.origen{
    position: sticky;
    top: 0;
    z-index: 99999;
    background-color: #FFF;
    text-align: right;
    padding-top: 5px;
    margin-bottom: 5px;
}
.origen div:first-child {
    text-align: left;
}
.origen .T_Titulo{
    color: #7875DC !important;
    font-weight: 500;
}

.origenMapa{
    /*right: 0;
    position: absolute;*/
    top: 0;
    z-index: 99999;
    color: #7875DC !important;
    padding: 2px;
    padding-left: 5px;
    background-color: #FFF;
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
}

.origenMapa div:first-child {
    text-align: left;
}
.origenMapa .T_Titulo{
    color: #7875DC !important;
    font-weight: 500;
}

/*******************/
.backgroundGreyFoto{
    background-color: #999999;
    padding-bottom: 10px;
    padding-top: 10px;
}

.divRoundleft{
    border-top-left-radius: 30% 50%;
    border-bottom-left-radius: 30% 50%;
    background-color: #999999;
}

.imgCircle{
    border: 1px solid #fff;
    border-radius:50%;
    margin: 5px;
    width: 55px; 
    height: 50px;
    background-color: #fff;
    margin-right: 15px;
}

@media (max-width: 1366px){
    .imgCircle{
        /*margin-top: 4px;*/
        width: 50px; 
        height: 45px; 
    }
}

@media (max-width: 1280px){
    .imgCircle{
        margin-top: 7px;
        width: 40px; 
        height: 35px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (max-width: 1024px){
    .imgCircle{
        /*margin-top: 8px;*/
        width: 35px;
        height: 30px; 
        /*margin-left: -5px;*/
    }
}
/*****************************/
.labelOrigenTab{
    /*border-left: 1px solid rgba(120, 117, 220, 0.250);*/
    padding-left: 7px;
}
.arrow {
    width:10px;
    margin-left: 7px;
    margin-top: -1px;
}
.arrowRight {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2.5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    border-color: #464a4c;
}
.activeArrow {
    border-color: #7875DC !important;
}

.arrowLeft {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2.5px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    border-color: #464a4c;
}

.tabScroll{
    overflow-y: hidden;
    overflow-x: auto;
}

.tabScroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(67, 67, 67, 0.56);
  background-color: #F5F5F5;
}

.tabScroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}

.tabScroll::-webkit-scrollbar-thumb {
  background-color: #918fdb;
}