<input type="hidden" name="ParaListaPDF" id="Personas.Antropometria" title="Antropometría (todas)" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" style="z-index: 101;" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Antropometría...</div>
        </div>

        <div class="tab-content card-block G_TabContent" style="padding-top: 0;" id="myTab{{ prefijo }}Content">
            <div class="head">
                <div class="row white">
                    <div class="col col-12">
                        <div class="T_Tarjeta" style="margin-top: 10px;">Antropometría (todas)</div>
                        <a class="G_BotonTarjeta" (click)= "openModal('', 'ModalAntropometria')" codvisita="">
                            <img class="G_BotonNivel2" src="../../../Content/Images/icon-arrows-gray.svg" style="height: 14px;" title="Más Información">
                        </a>
                    </div>
                </div>
                <div class="col col-12 row white" style="padding-left: 0px; max-width: 101%; width: 101%;">
                    <div class="col col-3">
                        <div class="T_Titulo">Fecha</div>
                    </div>
                    <div class="col col-3">
                        <div class="T_Titulo">Edad</div>
                    </div>
                    <div class="col col-3">
                        <div class="T_Titulo">Score Z-2</div>
                    </div>
                    <div class="col col-3">
                        <div class="T_Titulo">Origen</div>
                    </div>
                </div>
            </div>

            <input type="hidden" id="OrigenesAntropometriaParaSplit" value="{{origenes | json}}" />
            <div style="margin-top: 75px;">
                <div *ngFor="let d of antropometria; let i=index" class="item" [ngStyle]="{'border-top': i == 0 ? '1px solid #dfe2e7' :  'none'}" [ngClass]="{ 'backgroundAlter': i%2 == false }" id="{{ prefijo }}{{ i }}">
                    <!--Determinamos si la tarjeta se muestra-->
                    <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />
                    <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                    <div class="col col-12 row">
                        <div class="col col-3">
                            <div class="T_Descripcion T_Descripcion_Resize">{{ d.Fecha }}</div>
                        </div>
                        <div class="col col-3">
                            <div class="T_Descripcion T_Descripcion_Resize">{{ EdadSmall(d.Edad) || '-' }}</div>
                        </div>
                        <div class="col col-3">
                            <div class="T_Descripcion T_Descripcion_Resize" [ngStyle]="{'color': d.EstadoSALUDx5_Color }">{{ d.EstadoSALUDx5 || '-' }}</div>
                        </div>
                        <div class="col col-3">
                            <div class="T_Descripcion T_Descripcion_Resize">{{ d.Origen || '-' }}</div>
                            <input type="hidden" name="OrigenAntro" value="{{ d.Origen }}" />
                        </div>
                    </div>
                    <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="ModalAntropometria">
    <div class="modal-dialog modal-lg row" style="max-width: 100%;">
        <div class="hidden-sm-down hidden-md-down col-lg-2"></div>
        <div class="col col-sm-12 col-md-12 col-lg-8 modal-content">
            <div class="modal-header">
                <div class="col col-12 row">
                    <div class="col col-10">
                        <h4 class="modal-title">
                            <span class="info-title-cards">Histórico de Antropometría</span>
                        </h4>
                    </div>
                    <div class="col col-2"><a class="button3" data-dismiss="modal">Cerrar</a></div>
                </div>
            </div>
            <div class="modal-body">
                <!--CUERPO DE VISITAS-->
                <div class="col col-12 tab-content G_SinPadding" style="overflow: auto; max-height: calc(100vh - 40vh);">
                    <div id="ModalAntropometria" class="col col-12 tab-pane fade active show G_SinPadding">
                        <table class="table table-striped" id="TablaAntropometria">
                            <thead>
                                <tr>
                                    <th class="T_Titulo" style="border-top-left-radius: 4px;">Fecha</th>
                                    <!--<th class="T_Titulo"></th>-->
                                    <!--columna vacia para fixed fecha-->
                                    <th class="T_Titulo">Edad</th>
                                    <th class="T_Titulo">Peso KG</th>
                                    <th class="T_Titulo">Talla cm</th>
                                    <th class="T_Titulo">P.C. cm</th>
                                    <th class="T_Titulo">I.M.C.</th>
                                    <th class="T_Titulo">Peso por Edad</th>
                                    <th class="T_Titulo">Talla por Edad</th>
                                    <th class="T_Titulo">I.M.C. por Edad</th>
                                    <th class="T_Titulo">Score Z-2</th>
                                    <th class="T_Titulo">Score Z-1.5</th>
                                    <th class="T_Titulo">Score Z-1</th>
                                    <th class="T_Titulo">Forma Medición</th>
                                    <th class="T_Titulo">Posible Edema</th>
                                    <th class="T_Titulo">Prematuro</th>
                                    <th class="T_Titulo">Origen</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let d of antropometria; let i=index">
                                    <th class="T_Descripcion T_Descripcion12">{{ d.Fecha }}</th>
                                    <!--<td class="T_Descripcion T_Descripcion12"></td>-->
                                    <!--columna vacia para fixed fecha-->
                                    <td class="T_Descripcion T_Descripcion12">{{ d.Edad || '-'}}</td>
                                    <td class="T_Descripcion T_Descripcion12">{{ d.Peso || '-' }}</td>
                                    <td class="T_Descripcion T_Descripcion12">{{ d.Talla || '-' }}</td>
                                    <td class="T_Descripcion T_Descripcion12">{{ d.PC || '-' }}</td>
                                    <td class="T_Descripcion T_Descripcion12">{{ d.IMC || '-' }}</td>
                                    <td class="T_Descripcion T_Descripcion12">{{ d.ZPxE || '-' }}</td>
                                    <td class="T_Descripcion T_Descripcion12">{{ d.ZTxE || '-' }}</td>
                                    <td class="T_Descripcion T_Descripcion12">{{ d.ZIMCxE || '-' }}</td>
                                    <td class="T_Descripcion T_Descripcion12" [style.color]="Color(d.EstadoSALUDx5_Color)">{{ d.EstadoSALUDx5 || '-' }}</td>
                                    <td class="T_Descripcion T_Descripcion12" [style.color]="Color(d.EstadoUNICEF_Color)">{{ d.EstadoUNICEF || '-' }}</td>
                                    <td class="T_Descripcion T_Descripcion12" [style.color]="Color(d.EstadoCONIN_Color)">{{ d.EstadoCONIN || '-' }}</td>
                                    <td class="T_Descripcion T_Descripcion12">{{ d.FormaMedicion || '-' }}</td>
                                    <td class="T_Descripcion T_Descripcion12">{{ d.PosibleEdema || '-' }}</td>
                                    <td class="T_Descripcion T_Descripcion12">{{ d.Prematuro || '-' }}</td>
                                    <td class="T_Descripcion T_Descripcion12">{{ d.Origen || '-' }}</td>
                                </tr>
                                <tr>
                                    <td class="T_Descripcion T_Descripcion12" style="border-bottom-left-radius: 4px;"></td>
                                    <td class="T_Descripcion T_Descripcion12"></td>
                                    <td class="T_Descripcion T_Descripcion12"></td>
                                    <td class="T_Descripcion T_Descripcion12"></td>
                                    <td class="T_Descripcion T_Descripcion12"></td>
                                    <td class="T_Descripcion T_Descripcion12"></td>
                                    <td class="T_Descripcion T_Descripcion12"></td>
                                    <td class="T_Descripcion T_Descripcion12"></td>
                                    <td class="T_Descripcion T_Descripcion12"></td>
                                    <td class="T_Descripcion T_Descripcion12"></td>
                                    <td class="T_Descripcion T_Descripcion12"></td>
                                    <td class="T_Descripcion T_Descripcion12"></td>
                                    <td class="T_Descripcion T_Descripcion12"></td>
                                    <td class="T_Descripcion T_Descripcion12"></td>
                                    <td class="T_Descripcion T_Descripcion12"></td>
                                    <td class="T_Descripcion T_Descripcion12"></td>
                                    <td class="T_Descripcion T_Descripcion12"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col col-sm-12">&nbsp;</div>
            </div>
        </div>
        <div class="hidden-sm-down hidden-md-down col-lg-2"></div>
    </div>
</div>