
.head {
    position: absolute;
    width: calc(100% - 40px);
    /*padding-right: 40px;*/
    z-index: 100;
}


.item {
    border-bottom: 1px solid #dfe2e7;
    padding-top: 10px !important;
}

.white{
    background: white;
    margin-left: 0px;
}



@media (max-width: 1366px){
    .T_Descripcion_Resize{
        font-size: 14px;
    }
}

table {
  position: relative;
  border-collapse: collapse;
}

td, th {
  padding: 0.25em;
}

thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  background: #FFF;
  /*color: #FFF;*/
}

thead th:first-child {
  left: 0;
  z-index: 1;
  background-color: #aaa;
  color: #fff;
}

tbody th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
  background-color: #aaa;
  color: #fff;
}