<div class="block-ui-template">
    <div style="margin: 0 auto; text-align: center">
        <img class="blink-text" src="/Content/Images/HoldOn.gif" alt="" style="width:100; height:100%">
        <h2 class="blink-text">{{ message }}</h2>
    </div>
</div>