<div *ngFor="let d of datosPersonales" class="Tarjeta">
    <input type="hidden" name="TarjetaConDatos" value="true" />
    <input type="hidden" id="NombreCompletoPersona" value="{{ d.Apellidos + ', ' + d.Nombres }}" />
    <input type="hidden" id="EdadPersona" value="{{ d.Edad }}" />
    <input type="hidden" id="CodPersona" value="{{ d.CodPersona }}" />
    <div class="card">
        <!--<div class="PL_LoadingBox" id="Loading{{ prefijoDatosPersonales }}">
            <div class="PL_Text">Buscando Datos de Persona...</div>
        </div>-->
        <div class="card-block tab-content G_TabContent">
            <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
            <div class="row">
                <div class="col-xs-4 I_PerfilContenedor"><img src="{{ d.Foto == 'about:Blank' ? './Content/Images/default.jpg' : d.Foto }}" class="I_Perfil my-thumbnail" /></div>
                <div class="col-xs-8">
                    <div class="T_Apellido">{{ d.Apellidos }}</div>
                    <div class="T_Nombre">{{ d.Nombres }}</div>
                    <div class="T_Descripcion">{{ d.Edad }} (edad actual)</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4" style="clear:left;">
                    <div class="T_Titulo">País de origen</div>
                    <div class="T_Descripcion">
                        <span *ngIf="d.PAI_CODIGO != null && d.PAI_CODIGO != 'NS/NC'" class="flag-icon flag-icon-{{ d.PAI_CODIGO | lowercase }}"></span>
                        {{ d.PaisOrigen }}
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="T_Titulo">Departamento de Nacimiento</div>
                    <div class="T_Descripcion">{{ d.DepartamentoNacimiento }}</div>
                </div>
                <div class="col-xs-4">
                    <div class="T_Titulo">Municipio de Nacimiento</div>
                    <div class="T_Descripcion">{{ d.MunicipioNacimiento }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="T_Titulo">F. Nacimiento</div>
                    <div class="T_Descripcion">{{ d.FechaNacimiento }}</div>
                </div>
                <div class="col-xs-4">
                    <div class="T_Titulo">Tipo de Documento</div>
                    <div class="T_Descripcion">{{ d.TipoDocumento }}</div>
                </div>
                <div class="col-xs-4">
                    <div class="T_Titulo">Nro. de Documento</div>
                    <div class="T_Descripcion">{{ d.NroDocumento || '-' }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="T_Titulo">Sexo</div>
                    <div class="T_Descripcion">{{ d.Sexo }}</div>
                </div>
                <div class="col-xs-4">
                    <div class="T_Titulo">Cultura, Pueblo o Rasgos Físicos</div>
                    <div class="T_Descripcion">{{ d.Cultura }}</div>
                </div>
                <div class="col-xs-4">
                    <div class="T_Titulo">Clan</div>
                    <div class="T_Descripcion">{{ d.Clan || '-' }}</div>
                </div>
            </div>
            <div class="row" *ngIf="d.FechaFallecimiento != null">
                <div class="col-xs-4">
                    <div class="T_Titulo">F. Defunción</div>
                    <div class="T_Descripcion">{{ d.FechaFallecimiento }}</div>
                </div>
            </div>
            <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
        </div>
    </div>
</div>