<input type="hidden" name="ParaListaPDF" id="Personas.EmbarazadasRiesgos" title="Nivel de Riesgo del Embarazo" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Riesgos de Embarazo...</div>
        </div>
        <!--<div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist" id="myTab{{ prefijo }}">
                <li class="nav-item" *ngFor="let d of fechasAgrupadas; let i=index">
                    <a id="{{ prefijo }}{{ i }}-tab" class="nav-link {{ i == 0 ? 'active' : '' }}" href="#{{ prefijo }}{{ i }}" data-toggle="tab" role="tab">{{ d.Fecha  | date: 'dd-MM-yy'}}</a>
                </li>
            </ul>
        </div>

        <div class="tab-content card-block G_TabContent" id="myTab{{ prefijo }}Content">
            <div *ngFor="let d of fechasAgrupadas; let i=index" role="tabpanel" class="tab-pane fade {{ i == 0 ? 'active show' : '' }}" id="{{ prefijo }}{{ i }}">-->
        <md2-tabs class="tab" *ngIf="fechasAgrupadas && fechasAgrupadas.length > 0">
            <md2-tab *ngFor="let d of fechasAgrupadas; let i=index"
                    [label]="d.Fecha | date: 'dd-MM-yy'"
                    [MostrarOrigen]="i == 0 ? true : false"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />

                <div class="row origen">
                    <div class="col-xs-6 T_Titulo"><span *ngIf="d.NroRelevamiento">Nro. Encuesta:</span> {{ d.NroRelevamiento || ''}}</div>
                    <div class="col-xs-6 T_Titulo">Origen: {{ d.Origen || '-'}}</div>
                </div>
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="row">
                    <div class="col-12">
                        <div class="T_Tarjeta">Nivel de Riesgo del Embarazo</div>
                        <!--<input type="hidden" name="Origen" value='{{ d.Origen }}' />
                        <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>
                        <input type="hidden" name="EdadRelevamiento" value='{{ d.EdadRelevamiento }}' />-->
                        <!--<a class="G_BotonTarjeta" type="EdadRelevamiento" data-toggle="tooltip" data-placement="left" title="" data-original-title="" data-title-template="Edad en el Relevamiento: ">&nbsp;<span class="zmdi zmdi-info" title="Edad en el Relevamiento"></span></a>-->
                    </div>
                </div>
                <div class="col col-12 row">
                    <div class="col col-12 row" [innerHTML]="gauge(d.Fecha) | safe: 'html'"></div>
                </div>
                <div *ngFor="let item of riesgos" class="col col-12">
                    <div *ngIf="d.Fecha == item.Fecha" class="T_Descripcion {{ item.Valor > 0 ? 'T_Negativo' : '' }}">
                        {{ item.Valor > 0 ? '✓ ' : '-  ' }}
                        {{ item.AlertaTitulo }}
                    </div>
                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </md2-tab>
        </md2-tabs>
            <!--</div>
        </div>-->
    </div>
</div>