<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <!--<div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Punto de Interes...</div>
        </div>-->

        <div class="tab-content card-block G_TabContent" id="myTab{{ prefijo }}Content" style="z-index: 0;">
            <div role="tabpanel" class="tab-pane fade active show" id="{{ prefijo }}">
                <!--Determinamos si la tarjeta se muestra-->
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="row">
                    <div class="col-12">
                        <div class="T_Tarjeta" style="margin-bottom: 5px !important;">Puntos de Interes</div>
                        <!--<input type="hidden" name="Origen" value='{{ d.Origen }}' />
                        <a class="G_BotonTarjeta" type="Origen" data-toggle="tooltip" data-placement="left" title="" data-original-title="" data-title-template="Origen: ">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>-->
                        <input type="hidden" name="Indicador" value="" />
                    </div>
                </div>
                <div class="row" *ngFor="let d of puntoInteres; let i=index" >
                    <div class="col col-10">
                        <!--<div class="T_Titulo">Energia Principal para cocinar</div>-->
                        <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />
                        <div  class="T_Descripcion" style="padding-bottom: 5px !important; padding-top: 5px !important;">{{ d.PuntoDeInteres }}</div>
                    </div>
                    <div class="col col-2 G_SinPadding imgPunto">
                         <img id="imgMapa" src="../../../Content/Images/mapaPuntoInteres.png" (click)="openMapa(i)"/>
                         <img id="imgGaleria" src="../../../Content/Images/galeriaPuntoInteres.png" (click)="GetFotos(i)"/>
                    </div>
                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </div>
        </div>
        <div class="fadeModal" *ngIf="openModal" (click)="closeMapa()" id="fade">
            <input type="hidden" name="TarjetaConDatos" value="true" />
        </div>
        <div *ngIf="openModal" id="Mapa">
            <div class="headerMapa">
                <div class="row" style="margin-bottom: -3px !important;">
                    <div class="col-10">
                        <div class="T_Titulo">{{ titlePunto }}</div>
                    </div>
                    <div class="col-2">
                        <button type="button" class="close close-button" (click)="closeMapa()" style="height: 10px; line-height: 2px; margin-top: 5px; font-size: 20px !important; padding: 2px 8px !important">&times;</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="T_Descripcion12">{{ direccion }}</div>
                    </div>
                </div>
            </div>
            <div class="col col-12 tab-content G_SinPadding" class="bodyMapa">
                
                <div id="MapaPunto" type="DivMapa" style="height: 100%;">
                    <agm-map #map style="height: 100%;"
                        [latitude]="mapData.latitud"
                        [longitude]="mapData.longitud"
                        [disableDoubleClickZoom]="true"
                        [disableDefaultUI]="true"
                        [zoomControl]="true"
                        [mapTypeControl]="true"
                        [streetViewControl]="false"
                        [styles]="mapData.styles"
                        [zoom]="mapData.zoom"
                        [fitBounds]="bounds">
                        <!--(mapClick)="addMarker($event)"
                        (zoomChange)="zoomChange(map)"-->
                        <!-- [mapTypeId]="mapData.type" -->

                    <ng-container *ngIf="showMapMarkers">
                        <agm-marker
                                [latitude]="mapData.latitud"
                                [longitude]="mapData.longitud">
                        </agm-marker>
                        <!--iconUrl="/assets/media/images/arrow-down-16.png"
                                (dragEnd)="onMarkerDragEnd($event, i)"
                                [markerDraggable]="true"-->
                    </ng-container>
                </agm-map>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalFotosPuntoInteres">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header modal-headerNoTitle">
                <!--<h4 class="modal-title" name="ModalTitle">Modal Heading</h4>-->
                <button type="button" class="close close-button" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="carouselActividades" class="carousel slide" data-ride="carousel">
                    <!--<ol class="carousel-indicators">

                    </ol>-->
                    <div class="carousel-inner" role="listbox">
                        <div *ngFor="let fot of FotosPuntoInteres; let j=index" class="carousel-item {{ (j==0 ? 'active':'') }}">
                            <img class="d-block img-fluid ActividadesIMG" src="{{ fot.URL }}" alt="{{ fot.Titulo }}">
                            <!--<div class="ActividadItem" [style.backgroundImage]="'url('+fot.URL+')'"></div>-->
                            <div class="carousel-caption d-md-block">
                                <h3>{{ fot.Titulo }}</h3>
                                <p>{{ fot.Fecha }}</p>
                            </div>
                        </div>
                    </div>
                    <!--<a class="carousel-control-prev" href="#carouselActividades" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselActividades" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>-->
                </div>
            </div>

            <!-- Modal footer -->


        </div>
    </div>
</div>