.T_Descripcion:after {
    content: '';
    position: absolute;
    width: 110%;
    left: 15px;
    bottom: 0px;
    border-bottom: 1px solid #E8E8E8;
}

.imgPunto{
    padding-top: 5px !important;
}

#imgMapa{
    padding-right: 7px !important;
    cursor: pointer;
}

#imgGaleria{
    padding-left: 7px !important;
    cursor: pointer;
}

/*Activdad slider*/

.carousel-inner, {
    height: 600px;
}

.carousel-indicators{
    width: auto;
}
.modal-headerNoTitle{
    display: block;
    height: 40px;
}
.modal-headerNoTitle > .modal-title{
    display: none;
}
.modal-headerNoTitle > .close{
    height: 40px;
    margin-top: -15px;
}

/*slider*/
.ActividadesIMG{
    max-height: 600px;
    margin: 0 auto;
}
.carousel-inner{
    background-color: #000;
}

/*************/
.fadeModal{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

#Mapa{
    z-index: 2; 
    position:absolute; 
    top:100%;
    background-color: #fff;
    width: 100%;
    height: 60%;
    border: 1px solid #DFDFDF;

    transition-property: top;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    //transform:scale(0);
}

.headerMapa{
    margin-left: 10px; height: 45px;
}

.bodyMapa{
    height: calc(100% - 45px);
}

@media (max-width: 1440px){
    #imgMapa{
        // width: 20px;
        padding-right: 5px !important;
    }
    #imgGaleria{
        // width: 18px;
        padding-left: 5px !important;
    }

    .imgPunto{
        padding-left: 0px !important;
    }

    .carousel-inner, {
        height: 500px;
    }

    .ActividadesIMG{
        max-height: 500px;
    }
}

@media (max-width: 1366px){
    .headerMapa{
        height: 35px;
    }

    .bodyMapa{
        height: calc(100% - 35px);
    }
}

@media (max-width: 1100px){
    #imgMapa{
        width: 22px;
        padding-right: 2px !important;
    }
    #imgGaleria{
        padding-top: 2px !important;
        width: 19px;
        padding-left: 2px !important;
    }

    .carousel-inner, {
        height: 400px;
    }

    .ActividadesIMG{
        max-height: 400px;
    }
}

@media (max-width: 800px){
    .carousel-inner, {
        height: 300px;
    }

    .ActividadesIMG{
        max-height: 300px;
    }
}