<input type="hidden" name="ParaListaPDF" id="viv.Viviendas.Materiales" title="Materiales de la Vivienda" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Materiales de la Vivienda...</div>
        </div>
        <md2-tabs class="tab" *ngIf="materiales && materiales.length > 0">
            <md2-tab *ngFor="let d of materiales; let i=index"
                    [label]="d.Fecha"
                    [MostrarOrigen]="i == 0 ? true : false"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />

                <div class="row origen">
                    <div class="col-xs-6 T_Titulo"><span *ngIf="d.NroRelevamiento">Nro. Encuesta:</span> {{ d.NroRelevamiento || ''}}</div>
                    <div class="col-xs-6 T_Titulo">Origen: {{ d.Origen || '-'}}</div>
                </div>
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="row">
                    <div class="col-12">
                        <div class="T_Tarjeta">Materiales de la Vivienda</div>
                        <!--<input type="hidden" name="Origen" value='{{ d.Origen }}' />
                        <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>-->
                    </div>                    
                </div>
                <div class="col col-12 row">
                    <div class="col col-4">
                        <div class="T_Titulo">TECHO</div>
                    </div>
                    <div class="col col-5">
                        <div class="T_Titulo">Materiales</div>
                        <div class="T_Descripcion">{{ d.TechoMaterial }}</div>
                    </div>
                    <div class="col col-3 text-right">
                        <div class="T_Titulo">Estado</div>
                        <div class="T_Descripcion">
                            <i class="fa fa-star{{ d.TechoEstadoEscala >= 1 ? ' ' : '-o' }}" [style.color] = "d.TechoMaterialColor" aria-hidden="true"></i>
                            <i class="fa fa-star{{ d.TechoEstadoEscala >= 2 ? ' ' : '-o' }}" [style.color] = "d.TechoMaterialColor" aria-hidden="true"></i>
                            <i class="fa fa-star{{ d.TechoEstadoEscala >= 3 ? ' ' : '-o' }}" [style.color] = "d.TechoMaterialColor"  aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="col col-12 row">
                    <div class="col col-4">
                        <div class="T_Titulo">PISO</div>
                    </div>
                    <div class="col col-5">
                        <div class="T_Titulo">Materiales</div>
                        <div class="T_Descripcion">{{ d.PisoMaterial }}</div>
                    </div>
                    <div class="col col-3 text-right">
                        <div class="T_Titulo">Estado</div>
                        <div class="T_Descripcion">
                            <i class="fa fa-star{{ d.PisoEstadoEscala >= 1 ? ' ' : '-o' }}" [style.color] = "d.PisoMaterialColor" aria-hidden="true"></i>
                            <i class="fa fa-star{{ d.PisoEstadoEscala >= 2 ? ' ' : '-o' }}" [style.color] = "d.PisoMaterialColor" aria-hidden="true"></i>
                            <i class="fa fa-star{{ d.PisoEstadoEscala >= 3 ? ' ' : '-o' }}" [style.color] = "d.PisoMaterialColor" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="col col-12 row">
                    <div class="col col-4">
                        <div class="T_Titulo">PARED</div>
                    </div>
                    <div class="col col-5">
                        <div class="T_Titulo">Materiales</div>
                        <div class="T_Descripcion">{{ d.ParedMaterial }}</div>
                    </div>
                    <div class="col col-3 text-right">
                        <div class="T_Titulo">Estado</div>
                        <div class="T_Descripcion">
                            <i class="fa fa-star{{ d.ParedEstadoEscala >= 1 ? ' ' : '-o' }}" [style.color] = "d.ParedMaterialColor" aria-hidden="true"></i>
                            <i class="fa fa-star{{ d.ParedEstadoEscala >= 2 ? ' ' : '-o' }}" [style.color] = "d.ParedMaterialColor" aria-hidden="true"></i>
                            <i class="fa fa-star{{ d.ParedEstadoEscala >= 3 ? ' ' : '-o' }}" [style.color] = "d.ParedMaterialColor" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </md2-tab>
        </md2-tabs>
    </div>
</div>