<input type="hidden" name="ParaListaPDF" id="Personas.Salud" title="Salud" />
<input type="hidden" name="ParaListaPDF" id="Personas.Salud.Nivel2" title="Salud (nivel 2)" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Salud...</div>
        </div>
        <!--<div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist" id="myTab{{ prefijo }}">
                <li class="nav-item" *ngFor="let d of salud; let i=index">
                    <a id="{{ prefijo }}{{ i }}-tab" class="nav-link {{ i == 0 ? 'active' : '' }}" href="#{{ prefijo }}{{ i }}" data-toggle="tab" role="tab">{{ d.Fecha }}</a>
                </li>
            </ul>
        </div>-->

        <md2-tabs class="tab" *ngIf="salud && salud.length > 0">
            <md2-tab *ngFor="let d of salud; let i=index"
                    [label]="d.Fecha"
                    [MostrarOrigen]="i == 0 ? true : false"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />

                <div class="row origen">
                    <div class="col-xs-6 T_Titulo"><span *ngIf="d.NroRelevamiento">Nro. Encuesta:</span> {{ d.NroRelevamiento || ''}}</div>
                    <div class="col-xs-6 T_Titulo">Origen: {{ d.Origen || '-'}}</div>
                </div>
             <!--<div class="tab-content card-block G_TabContent" id="myTab{{ prefijo }}Content">
            <div *ngFor="let d of salud; let i=index" role="tabpanel" class="tab-pane fade {{ i == 0 ? 'active show' : '' }}" id="{{ prefijo }}{{ i }}">-->
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="row" style="margin-top: 5px;">
                    <div class="col-12">
                        <div class="T_Tarjeta">Salud</div>
                        <input type="hidden" name="EdadRelevamiento" value='{{ d.EdadRelevamiento }}' />
                        <input type="hidden" name="Indicador" value='{{ i }}' />
                        <a class="G_BotonTarjeta" (click)= "openModal(i, 'ModalSalud')" codvisita=""><img class="G_BotonNivel2" src="../../../Content/Images/icon-arrows-gray.svg" style="height: 14px;" title="Más Información"></a>
                    </div>
                </div>

                <div class="row G_PaddingBottom10">
                    <div class="hidden-sm-down col col-md-2 text-center">
                        <img src="../../../Content/Images/fiu-icon-discapacidad.svg" class="img-responsive" style="max-width: 50% !important;">
                    </div>
                    <div class="col col-sm-10 col-md-10 paddingSalud marginSalud">
                        <div class="row">
                            <div class="col col-6">
                                <div class="T_Titulo">Discapacidad</div>
                                <div class="T_Descripcion {{ (d.Discapacitado | uppercase) == 'SÍ' ? 'T_Negativo' : ''}}">
                                    <b>{{ (d.Discapacitado | uppercase) === 'SÍ' ? 'Tiene' : (d.Discapacitado | uppercase) === 'NO' ? 'Sin' : 'NS/NC' }}</b>
                                    {{ (d.Discapacitado | uppercase) === 'SÍ' || (d.Discapacitado | uppercase) === 'NO' ? 'Discapacidad' || '-' : '' }}
                                </div>                               
                            </div>
                            <div class="col col-6" *ngIf="(d.Discapacitado | uppercase) == 'SÍ'">
                                <div class="T_Titulo">Certificado de Discapacidad</div>
                                <div class="T_Descripcion {{ (d.Certificado_txt_n2 | uppercase) != 'SÍ' && (d.Discapacitado | uppercase) == 'SÍ' ? 'T_Negativo' : '' }}">
                                    {{ d.Certificado || '-' }}
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row G_PaddingBottom10">
                    <div class="hidden-sm-down col col-md-2 text-center">
                        <img src="../../../Content/Images/fiu-icon-cobertura-medica.svg" class="img-responsive" style="max-width: 50% !important;">
                    </div>
                    <div class="col col-sm-10 col-md-10 paddingSalud marginSalud">
                        <div class="row">
                            <div class="col col-sm-12 hidden-md-down hidden-lg-down hidden-xl-down"></div>
                            <div class="col col-sm-6 col-md-6">
                                <div class="T_Titulo">Cobertura Médica</div>
                                <div class="T_Descripcion {{ (d.PoseeCoberturaMedica | uppercase) != 'SÍ' ? 'T_Negativo' : '' }}"> 
                                    <b>{{ (d.PoseeCoberturaMedica | uppercase) === 'SÍ' ? 'Posee' : (d.PoseeCoberturaMedica | uppercase) === 'NO' ? 'No tiene' : 'NS/NC' }}</b>
                                    {{ (d.PoseeCoberturaMedica | uppercase) === 'SÍ' || (d.PoseeCoberturaMedica | uppercase) === 'NO' ? 'Cobertura Médica' || '-' : '' }}
                                </div>
                            </div>
                            <div class="col col-sm-6 col-md-6" [ngStyle]="{'display': d.PoseeCoberturaMedica != 'SÍ' ? 'none' : 'unset'}">
                                <div class="T_Titulo">Tipo de Cobertura</div>
                                <div class="T_Descripcion">{{ d.CoberturaMedica || '-' }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row G_PaddingBottom10">
                    <div class="hidden-sm-down col col-md-2 text-center">
                        <img src="../../../Content/Images/fiu-icon-enfermedades.svg" class="img-responsive" style="max-width: 50% !important;">
                    </div>
                    <div class="col col-sm-10 col-md-10 paddingSalud marginSalud">
                        <div class="row">
                            <div class="col col-12">
                                <div class="T_Titulo">Enfermedades Agudas</div>
                                <div class="T_Descripcion {{ (d.TieneEnferAgudas | uppercase) == 'SÍ' ? 'T_Negativo' : '' }}">
                                    <b>{{ (d.TieneEnferAgudas | uppercase) === 'SÍ' ? 'Tiene' : (d.TieneEnferAgudas | uppercase) === 'NO' ? 'No tiene' : 'NS/NC' }}</b>
                                    {{ (d.TieneEnferAgudas | uppercase) === 'SÍ' || (d.TieneEnferAgudas | uppercase) === 'NO' ? 'enfermedades agudas' || '-' : '' }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row G_PaddingBottom10">
                    <div class="hidden-sm-down col col-md-2 text-center">
                        <img src="../../../Content/Images/enfCronica1.png" class="img-responsive" style="max-width: 50% !important;">
                    </div>
                    <div class="col col-sm-10 col-md-10 paddingSalud marginSalud">
                        <div class="row">
                            <div class="col col-12">
                                <div class="T_Titulo">Enfermedades Crónicas</div>
                                <div class="T_Descripcion {{ (d.TieneEnferCronicas | uppercase) == 'SÍ' ? 'T_Negativo' : '' }}">
                                    <b>{{ (d.TieneEnferCronicas | uppercase) === 'SÍ' ? 'Tiene' : (d.TieneEnferCronicas | uppercase) === 'NO' ? 'No tiene' : 'NS/NC' }}</b>
                                    {{ (d.TieneEnferCronicas | uppercase) === 'SÍ' || (d.TieneEnferCronicas | uppercase) === 'NO' ? 'enfermedades crónicas' || '-' : '' }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            <!--</div>
        </div>-->
            </md2-tab>
        </md2-tabs>
    </div>
</div>

<div class="modal fade" role="dialog" id="ModalSalud">
    <div class="modal-dialog modal-lg">
        <div class="col col-12 modal-content">
            <div class="modal-header">
                <div class="col col-12 row" style="padding-right: 0;">
                    <div class="col col-10"><h4 class="modal-title"><span class="info-title-cards">Salud</span></h4></div>
                    <div class="col col-2"><a class="button3" data-dismiss="modal">Cerrar</a></div>
                </div>
            </div>
            <div class="modal-body">
                <!--TAB DE VISITAS XS SM-->
                <div class="col col-sm-12 hidden-md-down hidden-lg-down hidden-xl-down row G_BordeInferior G_SinPadding">
                    <div class="col col-12" style="margin-top: 8px;" data-toggle="collapse" data-target="#VistaCollapseSalud">
                        <div class="col col-8 F_TituloFormulario_14">Fecha de Visitas</div>
                        <div class="col col-4"><span class="caret text-right" style="margin-top: 6px;"></span></div>
                    </div>
                    <div class="col col-12 collapse" id="VistaCollapseSalud">
                        <div *ngFor="let d of salud; let i=index" class="col col-12"><a class="T_Visita col col-12 nav-link" style="text-align: center;" data-toggle="tab" role="tab" href="#ModalSalud{{ i }}" title="{{ i }}">{{ d.Fecha }}</a></div>
                    </div>
                </div>
                <!--TAB DE VISITAS MD LG-->
                <div class="hidden-sm-down col col-12 row G_SinPadding">
                    <ul class="nav nav-tabs T_Tabs_Contenedor Violeta_Contenedor">
                        <li class="nav-item" *ngFor="let d of salud; let i=index"><a class="Violeta nav-link" data-toggle="tab" role="tab" href="#ModalSalud{{ i }}" title="{{ i }}">{{ d.Fecha }}</a></li>
                    </ul>
                </div>
                <!--CUERPO DE VISITAS-->
                <div class="col col-12 tab-content G_SinPadding">
                    <div *ngFor="let d of salud; let i=index" id="ModalSalud{{ i }}" class="col col-12 tab-pane fade G_SinPadding">
                        <div class="row">
                            <div class="hidden-sm-down col col-md-1 text-center">
                                <img src="../../../Content/Images/fiu-icon-discapacidad.svg" class="img-responsive" style="">
                            </div>
                            <div class="col col-sm-12 col-md-11 G_SinPadding">
                                <div class="row">
                                    <div class="col col-12 hidden-md-down hidden-lg-down hidden-xl-down"></div>
                                    <div class="col col-sm-6 col-md-4">
                                        <div class="T_Titulo">Discapacitado</div>
                                        <div class="T_Descripcion {{ (d.Discapacitado | uppercase) == 'SÍ' ? 'T_Negativo' : ''}}">{{ d.Discapacitado_txt || '-' }}</div>
                                    </div>
                                    <div class="col col-sm-6 col-md-4">
                                        <div class="T_Titulo {{ ((d.Certificado_txt_n2 | uppercase) != 'SÍ' && (d.Discapacitado | uppercase) =='SÍ') ? 'T_Negativo' : '' }}">Certificado de Discapacidad</div>
                                        <div class="F_DescripcionFormulario_14">{{ d.Certificado_txt_n2 || '-' }}</div>
                                    </div>
                                    <div class="col col-sm-12 col-md-4">
                                        <div class="T_Titulo">Acompañante Terapéutico</div>
                                        <div class="T_Descripcion">{{ d.Acompaniante || '-' }}</div>
                                    </div>
                                </div>

                                <div *ngIf="(d.Discapacitado | uppercase) == 'SÍ'" class="row">
                                    <div class="col col-12">
                                        <table class="table-nv2">
                                            <thead>
                                                <tr>
                                                    <th class="T_Titulo">Tipo Discapacidad</th>
                                                </tr>
                                            </thead>
                                            <!--FOR DISCAPACIDADES-->
                                            <tbody>
                                                <tr *ngFor="let item of discapacidades">
                                                    <td *ngIf="item.Fecha==d.Fecha && item.Origen == d.Origen && item.NroRelevamiento == d.NroRelevamiento" class="T_Descripcion">{{ item.Discapacidad || '-' }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br />
                                    </div>
                                </div>
                                <div *ngIf="(d.Discapacitado | uppercase) != 'SÍ'" class="row">
                                    <div class="col col-12">
                                        <table class="table-nv2">
                                            <thead>
                                                <tr>
                                                    <th class="T_Titulo">Tipo Discapacidad</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr><td colspan="2" class="T_Descripcion">No posee discapacidades</td></tr>
                                            </tbody>
                                        </table>
                                        <br />
                                    </div>
                                </div>

                                <div *ngIf="!!discapacidadesCognitivas" class="row" style="margin-top: -15px;">
                                    <div class="col col-12">
                                        <table class="table-nv2">
                                            <thead>
                                                <tr>
                                                    <th class="T_Titulo">Tipo Discapacidad Cognitiva</th>
                                                </tr>
                                            </thead>
                                            <!--FOR DISCAPACIDADES-->
                                            <tbody>
                                                <tr *ngFor="let item of discapacidadesCognitivas">
                                                    <td *ngIf="item.Fecha==d.Fecha && item.Origen == d.Origen && item.NroRelevamiento == d.NroRelevamiento" class="T_Descripcion">{{ item.Discapacidad || '-' }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br />
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row G_PaddingBottom20">
                            <div class="hidden-sm-down col col-md-1 text-center">
                                <img src="../../../Content/Images/fiu-icon-cobertura-medica.svg" class="img-responsive" style="">
                            </div>
                            <div class="col col-sm-12 col-md-11 G_SinPadding">
                                <div class="row">
                                    <div class="col col-sm-12 hidden-md-down hidden-lg-down hidden-xl-down"></div>
                                    <div class="col col-sm-6 col-md-4">
                                        <div class="T_Titulo">Cobertura Médica</div>
                                        <div class="T_Descripcion {{ (d.PoseeCoberturaMedica | uppercase) != 'SÍ' ? 'T_Negativo' : '' }}"> {{ d.PoseeCoberturaMedica_txt || '-' }}</div>
                                    </div>
                                    <div class="col col-sm-6 col-md-4" [ngStyle]="{'display': d.PoseeCoberturaMedica != 'SÍ' ? 'none' : 'unset'}">
                                        <div class="T_Titulo">Tipo de Cobertura</div>
                                        <div class="T_Descripcion">{{ d.CoberturaMedica || '-' }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row G_PaddingBottom20">
                            <div class="hidden-sm-down col col-md-1 text-center">
                                <img src="../../../Content/Images/fiu-icon-enfermedades.svg" class="img-responsive" style="">
                            </div>
                            <div class="col col-sm-12 col-md-11 G_SinPadding">
                                <div *ngIf="(d.TieneEnferAgudas | uppercase) == 'SÍ'" class="row G_PaddingBottom20">
                                    <div class="col col-12">
                                        <table class="table-nv2">
                                            <thead>
                                                <tr>
                                                    <th class="T_Titulo">Enfermedades Agudas</th>
                                                    <th class="T_Titulo">Medicamentos</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!--FOR ENFERMEDADES AGUDAS-->
                                                <tr *ngFor="let item of enfermedadesAgudas">
                                                    <td *ngIf="item.Fecha == d.Fecha && item.Origen == d.Origen && item.NroRelevamiento == d.NroRelevamiento" class="T_Descripcion">{{ (item.Enfermedad != 'Otros' ? item.Enfermedad : (item.EnfermedadOtros != '' ? item.EnfermedadOtros : 'Otros')) }}</td>
                                                    <td *ngIf="item.Fecha == d.Fecha && item.Origen == d.Origen && item.NroRelevamiento == d.NroRelevamiento" class="T_Descripcion">{{ item.TratamientoMedicacion || '-' }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div *ngIf="(d.TieneEnferAgudas | uppercase) != 'SÍ'" class="row G_PaddingBottom20">
                                    <div class="col col-12">
                                        <table class="table-nv2">
                                            <thead>
                                                <tr>
                                                    <th class="T_Titulo">Enfermedades Agudas</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr><td class="T_Descripcion">{{ d.TieneEnferAgudas_txt }}</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>      
                            </div>
                        </div>

                        <div class="row G_PaddingBottom20">
                            <div class="hidden-sm-down col col-md-1 text-center">
                                <img src="../../../Content/Images/enfCronica1.png" class="img-responsive" style="">
                            </div>
                            <div class="col col-sm-12 col-md-11 G_SinPadding">
                                <div *ngIf="(d.TieneEnferCronicas | uppercase) == 'SÍ'" class="row G_PaddingBottom10">
                                    <div class="col col-12">
                                        <table class="table-nv2">
                                            <thead>
                                                <tr>
                                                    <th class="T_Titulo">Enfermedades Crónicas</th>
                                                    <th class="T_Titulo">Medicamentos</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!--FOR ENFERMEDADES CRONICAS-->
                                                <tr *ngFor="let item of enfermedadesCronicas">
                                                    <td *ngIf="item.Fecha == d.Fecha && item.Origen == d.Origen && item.NroRelevamiento == d.NroRelevamiento" class="T_Descripcion">{{ item.Enfermedad || '-' }}</td>
                                                    <td *ngIf="item.Fecha == d.Fecha && item.Origen == d.Origen && item.NroRelevamiento == d.NroRelevamiento" class="T_Descripcion">{{ item.TratamientoMedicacion || '-' }}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div *ngIf="(d.TieneEnferCronicas | uppercase) != 'SÍ'" class="row G_PaddingBottom10">
                                    <div class="col col-12">
                                        <table class="table-nv2">
                                            <thead>
                                                <tr>
                                                    <th class="T_Titulo">Enfermedades Crónicas</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr><td class="T_Descripcion">{{ d.TieneEnferCronicas_txt || '-' }}</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row" *ngIf="(d.TieneEnferCronicas | uppercase) == 'SÍ'">
                                    <div class="col col-sm-12 hidden-md-down hidden-lg-down hidden-xl-down"></div>
                                    <div class="col col-sm-6 col-md-4">
                                        <div class="T_Titulo">Tratamiento</div>
                                        <div class="T_Descripcion {{ (d.SeTrataCronica | uppercase) != 'ESTA EN TRATAMIENTO' ? 'F_Negativo' : '' }}">{{ d.SeTrataCronica || '-' }}</div>
                                    </div>
                                    <div class="col col-sm-6 col-md-4">
                                        <div class="T_Titulo">Lugar de Atención</div>
                                        <div class="T_Descripcion">{{ d.TratamientoLugarCronica || '-' }}</div>
                                    </div>
                                    <div class="col col-sm-12 col-md-4">
                                        <div class="T_Titulo">Calificación de la Atención Recibida</div>
                                        <div class="T_Descripcion">{{ d.LugarAtencionCalificacion || '-' }}</div>
                                    </div>
                                </div>     
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12">&nbsp;</div>
            </div>
        </div>
    </div>
</div>