body{
    font-size: 14px;
}
.tooltip{
    font-size: 14px;
}
#BotonDescargaPDF{
    font-size: 14px;
}
/*navbar top*/
.navBarTop{
    z-index: 1;
}

/*fix video 360 size*/
#video-container360 > canvas{
    width: inherit !important;
    height: inherit !important;
}
/*****************************/
a.button3{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 10pt;
    color:#FFFFFF !important;
    background-color:#407DC6;
    text-align:center;
    transition: all 0.2s;
    position: absolute;
    right: 0;
    z-index: 150;
}
a.button3:hover{
    background-color:#FFF;
    border: 1px solid #407DC6;
    color:#407DC6 !important;
    font-weight: 500;
}
@media all and (max-width:30em){
 a.button3{
    display:block;
    margin:0.2em auto;
 }
}

a.button2{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 10pt;
    color: black !important;
    background-color: #FFF !important;
    text-align:center;
    transition: all 0.2s;
    position: absolute;
    right: 0;
    z-index: 150;
    border-color: #adadad !important;
}

a.button2:hover{
    background-color:#ccc !important;
    border-color:#ccc !important;
    font-weight: 500 !important;
}
/************************/
.tab-pane{
    padding: 0px;
    margin: 10px 0px 0px 0px;
}

/*header tabs fechas*/
.card{
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.card-header{
    background-color: #fff;
    padding: 0px 0px 7px 9px;
}

.card-header a.nav-link{
    height: 38px;
    font-size: 14px;
    color: #505458;
    font-weight: 500;
}

.card-block{
    padding-top: 2px;
}

/*tabs dentro de la tarjeta*/
.card-block .nav-tabs{
    background-color: transparent;
    border-bottom: none;
}
/*.card-block .nav-tabs li {
    border-left: 1px solid #cccccc;
}*/
.card-block .nav-tabs li:first-child {
    border-left: none;
}
.card-block .nav-tabs a {
    font-size: 14px;
    color: #464a4c;
    border: none;
}
/*.card-block .nav-tabs a.active, .card-block .nav-tabs .nav-link:hover {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #7875DC !important;
}*/

.card-block .nav-tabs a.active {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFF !important;
    background-color: #7875DC;
    border-radius: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
}

.md2-tabs-body-wrapper .nav-tabs{
    background-color: transparent;
    border-bottom: none;
}
/*.md2-tabs-body-wrapper .nav-tabs li {
    border-left: 1px solid #cccccc;
}*/
.md2-tabs-body-wrapper .nav-tabs li:first-child {
    border-left: none;
}
.md2-tabs-body-wrapper .nav-tabs a {
    font-size: 14px;
    color: #464a4c;
    border: none;
}
.md2-tabs-body-wrapper .nav-tabs a.active {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFF !important;
    background-color: #7875DC;
    border-radius: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
}

a.Violeta.active{
    font-weight: bold;
    border: none;
}

.backgroundAlter{
    background-color: rgba(0, 0, 0, 0.05);
}

.btn-default {
    border-color: #fff;
    font-size: 10pt;
    position: absolute;
    right: 0;
    background-color: #407DC6;
    color: #fff;
    z-index: 150;
}

.btn-default:hover{
    color:#FFF !important;
    background-color:#407DC6 !important;
    border-color:#adadad
}

.btn2-default {
    font-size: 10pt;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    position: absolute;
    z-index: 150;
}

.btn2-default:hover{
    color:#333;
    background-color:#ccc;
    border-color:#adadad
}

/*************CHECK**************/

/* Hide the browser's default checkbox */
.containtCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 10px;
    left: 5px;
    height: 15px;
    width: 15px;
    background-color: #FFF;
    border: solid 1px;
    border-color: #6E6E6E;
    border-radius: .1rem;
}

/* On mouse-over, add a grey background color */
.containtCheck:hover input ~ .checkmark {
    background-color: #ccc;
    cursor: pointer; 
}

/* When the checkbox is checked, add a blue background */
.containtCheck input:checked ~ .checkmark {
    background-color: #6E6E6E;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containtCheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containtCheck .checkmark:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.labelCustom{
    margin-left: 20px;
}

/****************************/

.button-success, .button-cancel {
    background-color: #FFF;
    text-transform: uppercase;
    font-weight: 500 !important;
    font-size: 10pt !important;
    padding: 5px 25px  !important;
    background-color: #f1f1f1 !important;
    right: 0; 
    position: absolute !important; 
    z-index: 1500;
}


.button-success {
    color: #7875DC !important;
}

/* scrollbar */
#CardUbicacion{
overflow-y: auto;
}

::-webkit-scrollbar, #CardUbicacion::-webkit-scrollbar{
	width:12px;
	background-color:#c2c0f5;
    border-radius: 6px;
    z-index: 3;
    position: relative;
}
::-webkit-scrollbar:horizontal, #CardUbicacion::-webkit-scrollbar:horizontal{
	height:12px;
}
::-webkit-scrollbar-track, #CardUbicacion::-webkit-scrollbar-track{
	border:1px #c2c0f5 solid;
	border-radius:10px;
	-webkit-box-shadow:0 0 6px #c2c0f5 inset;
}
::-webkit-scrollbar-thumb, #CardUbicacion::-webkit-scrollbar-thumb{
	background-color: #918fdb;
	border:1px solid #c2c0f5;
	border-radius:16px;
}
::-webkit-scrollbar-thumb:hover, #CardUbicacion::-webkit-scrollbar-thumb:hover{
	background-color: #7875dc;
	border:1px solid #7875dc;
}
::-webkit-scrollbar-thumb:active, #CardUbicacion::-webkit-scrollbar-thumb:active{
	background-color: #918fdb;
	border:1px solid #918fdb;
}

.tab-content::-webkit-scrollbar, #CardUbicacion::-webkit-scrollbar{
	width:12px;
	background-color:#c2c0f5;
    border-radius: 6px;
}
.tab-content::-webkit-scrollbar:horizontal, #CardUbicacion::-webkit-scrollbar:horizontal{
	height:12px;
}
.tab-content::-webkit-scrollbar-track, #CardUbicacion::-webkit-scrollbar-track{
	border:1px #c2c0f5 solid;
	border-radius:10px;
	-webkit-box-shadow:0 0 6px #c2c0f5 inset;
}
.tab-content::-webkit-scrollbar-thumb, #CardUbicacion::-webkit-scrollbar-thumb{
	background-color: #918fdb;
	border:1px solid #c2c0f5;
	border-radius:16px;
}
.tab-content::-webkit-scrollbar-thumb:hover, #CardUbicacion::-webkit-scrollbar-thumb:hover{
	background-color: #7875dc;
	border:1px solid #7875dc;
}
.tab-content::-webkit-scrollbar-thumb:active, #CardUbicacion::-webkit-scrollbar-thumb:active{
	background-color: #918fdb;
	border:1px solid #918fdb;
}

/*Varios*/
.G_SinPadding{
	padding: 0px !Important;
}
.G_SinMargin{
	margin: 0px !Important;
}
.G_SinOverflow{
	overflow: hidden !Important;
}
.G_SinPaddingBottom{
	padding-bottom: 0px !Important;
}

.progress{
    position: relative;
    height: 24px;
    background-color: #256392 !important;
}
.progress-bar {
    background-color: #9BD73E !important;
    color: white !important;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
}
/*Tarjetas*/
.Tarjeta{
	margin: 4px 4px 4px 4px;
}
.TarjetaSintys{
    background-color: #2e7cb7;
}
.TarjetaSintys .T_Descripcion, .TarjetaSintys .T_Titulo{
    color: #fff;
}
.TarjetaInformacionAdicional{
    background-color: #bbb;
}
.TarjetaInformacionAdicional .F_DescripcionFormulario_14, .TarjetaInformacionAdicional .F_TituloFormulario_12, .TarjetaInformacionAdicional .F_TituloFormulario_14{
    color: #fff;
}

.G_BordeInferior{
	border-bottom: 1px solid #AAA;
}
.G_BotonTarjeta{
    color: #797979 !important;
    float: right;
    height: 14px;
    line-height: 14px;
    font-size: 19px;
    cursor: pointer;
}

.G_BotonNivel2{
    height: 14px;
}

.G_PaddingBottom10{
    padding-bottom: 10px;
}

.G_PaddingBottom20{
    padding-bottom: 20px;
}

.G_PaddingTop10{
    padding-top: 10px;
}

/*Footer*/
.G_BotonInferior{
    color: #9f9f9f !important;
    float: left;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
    border-top: 4px solid #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    height: 50px;
}
.G_BorderActivo {
    color: #7875dc;
    border-top: 4px solid #7875dc;
}
.G_BotonInferior:hover {
    color: #7875dc;
    border-top: 4px solid #7875dc;
}
.G_Footer{
    background-color: #fff;
    height: 50px;
    margin-bottom: 0px;
    display: block;
    box-shadow: 1px 1px 10px #AAA;
    padding-top: 0px;
}

.G_Header{
    background-color: #fff;
    height: 50px;
    display: block;
    box-shadow: 3px 3px 10px #AAA;
}

.G_LogoLila{
    width: 25px;
    height: 25px;
    margin-top: 12px;
    display: inline;
    border: 5px solid #FFF;
}

/*Viewer*/
.viewer-container{
    margin-bottom: 50px;
    margin-top: 50px;
}

/*contenedores tarjetas*/
.ContenedorTarjetas{
    position: fixed;
}

.table-nv2 {
    width: 100%;
}

.item {
    border-bottom: 1px solid #dfe2e7;
    padding-top: 10px !important;
}

@media (min-width: 576px){
    .container {
        width: auto;
    }
}

@media (min-width: 992px) {/*desde md para arriba*/
    .LogoSintys {
        background-position: top right; background-repeat: no-repeat; background-size: auto 20px; background-position-y: 4px;
        height: 20px;
        padding: 0px;
        margin-top: 10px;
    }
}
@media (max-width: 991px) {/*por debajo de md*/
    .LogoSintys {
        background-position: top right; background-repeat: no-repeat; background-size: auto 14px; background-position-y: 4px;
        height: 20px;
        padding: 0px;
        margin-top: 10px;
    }
}
@media (max-width: 1366px){
    .md2-tabs-body-wrapper .nav-tabs a {
        font-size: 12px;
    }
    .card-header a.nav-link{
        font-size: 12px;
    }
    .card-block .nav-tabs a{
        font-size: 12px;
    }
    .btn-default{
        font-size: 8pt;
    }
    .btn2-default{
        font-size: 8pt;
    }
}
@media (min-width: 1200px){
	/*Tarjetas*/
	.Tarjeta .card{
		height: 366px;
		max-height: 366px;
	}

    .TarjetaContenedor {
		height: 374px;
		max-height: 374px;
	}
	
	.G_TabContent{
        overflow-y: auto;
        overflow-x: hidden;
	}

    .Mapa{
		height: 328px;
		max-height: 328px;
	}
}

@media (max-width: 1199px){
	/*Tarjetas*/
	.Tarjeta .card{
		height: 330px;
		max-height: 330px;
	}

    .TarjetaContenedor{
		height: 338px;
		max-height: 338px;
	}
	
	.G_TabContent{
        overflow-y: scroll;
        overflow-x: hidden;
	}

    .Mapa{
		height: 290px;
		max-height: 290px;
	}
}

@media (max-width: 749px){
	/*Tarjetas*/
	.Tarjeta .card{
		max-height: 100% !important;
		/*height: 100% !important;*/
		overflow-y: auto;
		overflow-x: hidden;
	}

    .TarjetaContenedor{
		max-height: 100% !important;
		/*height: 100% !important;*/
	}

    .Mapa{
		height: 274px;
		max-height: 274px;
	}
}
@media (max-width: 767px){
	.G_TabContent{
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .ContenedorTarjetas{
        position: inherit;
    }
}

/*RangoIngresos*/
.RangosIngresos > .RangoIngreso ~ .RangoIngreso{
	display: none !Important;
}

.MenuTrabajo > .MenuIngresos ~ .MenuIngresos{
	display: none !Important;
}
.MenuTrabajo > .MenuOficios ~ .MenuOficios{
	display: none !Important;
}

/*Antecedentes*/
.MenuAntecedentes > .MenuAntecedentesPatologicos ~ .MenuAntecedentesPatologicos{
	display: none !Important;
}

/*FAMILIA*/
.IconosFamilia{
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
}
.IconosFamilia .fa-circle{
    width: 24px;
    height: 24px;
    line-height: 20px;
    font-size: 24px;
}

.IconosFamilia .fa-female, .IconosFamilia .fa-male{
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-left: 2px;
}

/*MODALES*/
.ModalLinea{
    max-width: none !important;
}
.close{
    line-height: 36px
}

/*Antro*/
.TarjetaGrafico{
    height: 335px;
    max-height: 335px;

    margin-top: 15px;
}
.FixedColumnFecha{
    position: fixed;
    background-color: #aaa;
    color: #fff;
}
.FixedColumnFechaHeight{
    line-height: 53px !important;
    vertical-align: top !important;
    padding-top: 0px !important;
}
#TablaAntropometria th, #TablaAntropometria td{
    min-width: 170px;
    max-height: 53px;
    padding: 6px 3px 6px 3px;
}