.I_PerfilContenedor{
    max-height: 145px;
    overflow: hidden;
    border-radius: 5px;
    text-align: -webkit-center;
    padding: 0;
    height: 145px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.I_Perfil{
    display: block;
    max-width: 100%;
    height: auto;
    /*max-height: 145px;*/
    border-radius: 5px;
    width: 100%;
}

.marginPerfil{
    margin-top: calc(-20% - 2px);
}

.marginImg{
    min-height: 100%;
    /*margin-top: 10px;*/
}

@media (max-width: 1600px){
    .I_PerfilContenedor{
        max-height: 135px;
        margin-bottom: 5px;
    }
}

@media (max-width: 1440px){
    .I_PerfilContenedor{
        max-height: 125px;
        margin-bottom: 0px;
    }
}

/*@media (max-width: 1366px){
    .I_PerfilContenedor{
        max-height: 115px;
    }
}*/

/*@media (max-width: 1280px){
    .I_PerfilContenedor{
        max-height: 105px;
    }
}*/

/*@media (max-width: 1024px){
    .I_PerfilContenedor{
        max-height: 95px;
    }
}*/