/*loading*/
.PL_LoadingBox{
	background-color: #000000;
	background-image: url('./Images/HoldOn.gif');
	background-position: center center;
	background-repeat: no-repeat;
	
	border-radius: 4px;
	
	width: 100%;
	position: absolute;
	
	z-index: 10;
}

.PL_LoadingBox > .PL_Text{
	width: 100%;
    text-align: right;
    color: #ffffff;
    line-height: inherit;
    position: absolute;
    bottom: 0%;
    padding: 0px 20px 10px 0px;
}

@media (min-width: 1200px){
	.PL_LoadingBox {
		height: 366px;
		max-height: 366px;
	}
}

@media (max-width: 1199px){
	.PL_LoadingBox{
		height: 330px;
		max-height: 330px;
	}
}

@media (max-width: 749px){
	.PL_LoadingBox{
		max-height: 100% !important;
		height: 100% !important;
	}
}