﻿.body-login .divMain{
    width: 100% !important;
    overflow-x: hidden;
}


.divMain{
    padding: 0px !important;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f1f1f1;
}

header {
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #e7eaec;
    padding: 8px;
    font-size: 20px;
}

    header > div {
        flex: 1;
    }

    header .title {
        text-align: center;
    }

ng-component{
    width:100%;
}
.divMain {
    flex: 1;
    padding: 15px 20px 15px 15px;
    margin-bottom: 0px;
    overflow-y: auto;
    display: flex;
}

footer {
    background-color: #000;
    display: flex;
    padding: 8px;
    border-top: 1px solid #e7eaec;
    align-items: center;
    color: #337ab7;
}

.borderedboxlight {
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}

.waitloading {
    font-size: 26px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.todolistcontent {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.todolistcontent form {
    display: flex;
    flex: 1;
}


.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.navBarTop{
    margin-bottom: 0px;
    overflow-y: hidden;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}
.alert-danger {
    width: 100vw;
    position: absolute;
}

/*TIMELINE*/
app-timeline{
    width: 100%;
    padding: 5px 20px 5px 20px;
}
.tl-slide-content{
    display: flex !important;
}
.mat-checkbox-checked .mat-checkbox-background {
    background-color: #407dc6 !important;
}
.cdk-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-transform: none;
    width: 1px;
}
.cdk-overlay-container {
    position: fixed;
    z-index: 9999 !important;
}
:host /deep/ .mat-checkbox-checked .mat-checkbox-background {
    background-color: #407dc6 !important;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
}