<input type="hidden" name="ParaListaPDF" id="viv.Viviendas.EquipamientoBanio" title="Equipamiento del Baño" />
<input type="hidden" name="ParaListaPDF" id="viv.Viviendas.EquipamientoCocina" title="Equipamiento de la Vivienda" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Equipamientos...</div>
        </div>
        <md2-tabs class="tab" *ngIf="fechasAgrupadas && fechasAgrupadas.length > 0" (change)="onChangeTab($event)">
            <md2-tab *ngFor="let d of fechasAgrupadas; let i=index"
                    [label]="d.Fecha"
                    [MostrarOrigen]="i == 0 ? true : false"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />

                <div class="row origen">
                    <div class="col-xs-6 T_Titulo"><span *ngIf="d.NroRelevamiento">Nro. Encuesta:</span> {{ d.NroRelevamiento || ''}}</div>
                    <div class="col-xs-6 T_Titulo">Origen: {{ d.Origen || '-'}}</div>
                </div>
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="tab-content" id="myTab2{{ prefijo }}{{ i }}Content">
                    <div id="TarjetaEquipamientos{{ i }}" class="col col-12 tab-pane fade active show row" role="tabpanel">
                        <div class="col col-12 row G_SinPadding G_SinMargin">
                            <div class="col col-6" *ngIf="eqCocinaFilter && eqCocinaFilter.length > 0">
                                <div class="T_Tarjeta">Equipamiento de la Vivienda</div>
                            </div>
                            <div class="col col-6" *ngIf="eqBanioFilter && eqBanioFilter.length > 0">
                                <div class="T_Tarjeta">Equipamiento del Baño</div>
                            </div>
                        </div>
                        <!--resultado-->
                        <div class="col col-12 row">
                            <div class="col col-6" *ngIf="eqCocinaFilter && eqCocinaFilter.length > 0">
                                <ng-container *ngFor="let item of eqCocinaFilter">
                                    <div *ngIf="item.Fecha == d.Fecha && item.Origen == d.Origen && item.NroRelevamiento == d.NroRelevamiento" class="col col-12 Tag TagVivienda">
                                        <div class="T_Descripcion">{{ item.EquipamentoTitulo || '-' }}</div>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="col col-6" *ngIf="eqBanioFilter && eqBanioFilter.length > 0">
                                <ng-container *ngFor="let item of eqBanioFilter">
                                    <div *ngIf="item.Fecha == d.Fecha && item.Origen == d.Origen && item.NroRelevamiento == d.NroRelevamiento" class="col col-12 Tag TagBaño">
                                        <div class="T_Descripcion">{{ item.EquipamentoTitulo || '-' }}</div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </md2-tab>
        </md2-tabs>
    </div>
</div>