<input type="hidden" name="ParaListaPDF" id="Personas.Trabajo" title="Trabajo" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Trabajo...</div>
        </div>
        <!--<div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist" id="myTab{{ prefijo }}">
                <li class="nav-item" *ngFor="let d of fechasAgrupadas; let i=index">
                    <a id="{{ prefijo }}{{ i }}-tab" class="nav-link {{ i == 0 ? 'active' : '' }}" href="#{{ prefijo }}{{ i }}" data-toggle="tab" role="tab">{{ d.Fecha }}</a>
                </li>
            </ul>
        </div>

        <div class="tab-content card-block G_TabContent" id="myTab{{ prefijo }}Content">
            <div *ngFor="let d of fechasAgrupadas; let i=index" role="tabpanel" class="tab-pane fade {{ i == 0 ? 'active show' : '' }}" id="{{ prefijo }}{{ i }}">-->
        <md2-tabs class="tab" *ngIf="fechasAgrupadas && fechasAgrupadas.length > 0" (change)="onChangeTab($event)">
            <md2-tab *ngFor="let d of fechasAgrupadas; let i=index"
                    [label]="d.Fecha"
                    [MostrarOrigen]="i == 0 ? true : false"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />

                <div class="row origen">
                    <div class="col-xs-6 T_Titulo"><span *ngIf="d.NroRelevamiento">Nro. Encuesta:</span> {{ d.NroRelevamiento || ''}}</div>
                    <div class="col-xs-6 T_Titulo">Origen: {{ d.Origen || '-'}}</div>
                </div>
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="col col-12 row G_SinMargin G_SinPadding" style="display: block; height: 42px;">
                    <ul class="nav nav-tabs" role="tablist" id="myTab2{{ prefijo }}{{ i }}" style="float:left; ">
                        <li *ngIf="tieneVisita('Trabajo', d.Fecha, d.Origen, d.NroRelevamiento)" class="nav-item"><a class="nav-link {{ tabActiva('Trabajo', d.Fecha, d.Origen, d.NroRelevamiento) }}" data-toggle="tab" role="tab" href="#TarjetaTrabajo{{ i }}">Trabajo</a></li>
                        <li *ngIf="tieneVisita('Ingresos', d.Fecha, d.Origen, d.NroRelevamiento)" class="nav-item"><a class="nav-link {{ tabActiva('Ingresos', d.Fecha, d.Origen, d.NroRelevamiento) }}" data-toggle="tab" role="tab" href="#TarjetaIngresos{{ i }}">Ingresos</a></li>
                        <li *ngIf="tieneVisita('Oficios', d.Fecha, d.Origen, d.NroRelevamiento)" class="nav-item"><a class="nav-link {{ tabActiva('Oficios', d.Fecha, d.Origen, d.NroRelevamiento) }}" data-toggle="tab" role="tab" href="#TarjetaOficios{{ i }}">Oficios</a></li>
                    </ul>
                    <!--<input type="hidden" name="Origen" value='{{ d.Origen }}' />
                    <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>
                    <input type="hidden" name="EdadRelevamiento" value='{{ d.EdadRelevamiento }}' />-->
                    <!--<a class="G_BotonTarjeta" type="EdadRelevamiento" data-toggle="tooltip" data-placement="left" title="" data-original-title="" data-title-template="Edad en el Relevamiento: ">&nbsp;<span class="zmdi zmdi-info" title="Edad en el Relevamiento"></span></a>-->
                </div>
                <div class="tab-content" id="myTab2{{ prefijo }}{{ i }}Content">
                    <ng-container *ngFor="let item of trabajo;">
                    <div *ngIf="item.Fecha == d.Fecha && item.Origen == d.Origen && item.NroRelevamiento == d.NroRelevamiento" id="TarjetaTrabajo{{ i }}" class="col col-12 tab-pane fade {{ tabActiva('Trabajo', d.Fecha, d.Origen, d.NroRelevamiento) }} show row" role="tabpanel">
                        <div *ngIf="item.Trabaja  === 'SI'">
                            <div class="col col-12 row G_SinMargin G_SinPadding">
                                <div class="col col-6">
                                    <div class="T_Titulo">¿Trabaja?</div>
                                    <div class="T_Descripcion">{{ item.Trabaja }}</div>
                                </div>
                                <div class="col col-6">
                                    <div class="T_Titulo">Situación Laboral</div>
                                    <div class="T_Descripcion">{{ item.SituacionLaboral || '-' }}</div>
                                </div>
                            </div>
                            <div class="col col-12 row G_SinMargin G_SinPadding">
                                <div class="col col-6">
                                    <div class="T_Titulo">Periodicidad</div>
                                    <div class="T_Descripcion">{{ item.Periodicidad || '-' }}</div>
                                </div>
                                <div class="col col-6">
                                    <div class="T_Titulo">Carga Horaria</div>
                                    <div class="T_Descripcion">{{ item.HorasTrabajadasXDia || '-' }}</div>
                                </div>
                            </div>
                            <div class="col col-12 row G_SinMargin G_SinPadding">
                                <div class="col col-6">
                                    <div class="T_Titulo">Aportes Jubilatorios</div>
                                    <div class="T_Descripcion">{{ item.Aportes_jubilatorios || '-' }}</div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="item.Trabaja !== 'SI'">
                            <div class="col col-12 row G_SinMargin G_SinPadding">
                                <div class="col col-6">
                                    <div class="T_Titulo">¿Trabaja?</div>
                                    <div class="T_Descripcion">{{ item.Trabaja | uppercase }}</div>
                                </div>
                                <div class="col col-6">
                                    <div class="T_Titulo">Motivo</div>
                                    <div class="T_Descripcion">{{ item.MotivoNoTrabaja  || '-'}}</div>
                                </div>
                            </div>
                            <div class="col col-12 row G_SinMargin G_SinPadding">
                                <div class="col col-12">
                                    <div class="T_Titulo">¿Buscó trabajo?</div>
                                    <div class="T_Descripcion">{{ (d.BuscoTrabajoU30D | uppercase) == 'NO' ? (item.BuscoTrabajoU12M | uppercase) : (item.BuscoTrabajoU30D | uppercase) }}</div>
                                </div>
                            </div>

                            <!--<div class="col col-12 row G_SinMargin G_SinPadding" *ngIf="(d.BuscoTrabajoU30D | uppercase) == 'NO' || (d.BuscoTrabajoU12M | uppercase) == 'SÍ'">
                                <div class="col col-12">
                                    <div class="T_Titulo">¿Buscó trabajo en los últimos 12 meses?</div>
                                    <div class="T_Descripcion">{{ item.BuscoTrabajoU12M | uppercase }}</div>
                                </div>
                            </div>-->

                        </div>
                    </div>
                    </ng-container>

                    <ng-container *ngIf="tieneVisita('Ingresos', d.Fecha, d.Origen, d.NroRelevamiento)">
                    <div id="TarjetaIngresos{{ i }}" class="col col-12 tab-pane fade {{ tabActiva('Ingresos', d.Fecha, d.Origen, d.NroRelevamiento) }} row" role="tabpanel">
                        <div class="col col-12 row G_SinMargin G_SinPadding">
                            <div class="col col-6"><div class="T_Titulo">Fuentes de Ingreso</div></div>
                            <div class="col col-6 text-right"><div class="T_Titulo">¿Es la Fuente de Ingreso Principal?</div></div>
                        </div>

                        <ng-container *ngFor="let ing of ingresosFilter; let ix=index">
                            <div *ngIf="ing.Fecha == d.Fecha  && ing.Origen == d.Origen && ing.NroRelevamiento == d.NroRelevamiento" class="item" [ngStyle]="{'border-top': ix == 0 ? '1px solid #dfe2e7' :  'none'}" [ngClass]="{ 'backgroundAlter': ix%2 == false }">
                                <div class="col col-12 row">
                                    <div class="col col-6">
                                        <div class="T_Descripcion">{{ ing.FuenteIngreso == '' ? 'No Percibe Ingresos' : ing.FuenteIngreso }}</div>
                                    </div>
                                    <div class="col col-6 text-right">
                                        <div class="T_Descripcion">{{ ing.EsPrincipal | uppercase }}</div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                        <div class="col col-12 row G_SinMargin G_SinPadding">
                            <div class="col col-6">&nbsp;</div>
                            <div class="col col-6 text-right">&nbsp;</div>
                        </div>
                        <div class="col col-12 row G_SinMargin G_SinPadding">
                            <div class="col col-6"><div class="T_Titulo">Rango de Ingresos</div></div>
                        </div>
                        <div class="col col-12 row G_SinMargin G_SinPadding">
							<div class="col col-6"><div class="T_Descripcion">{{ RangoIngreso(d.Fecha, d.Origen, d.NroRelevamiento) || '-' }}</div></div>
                        </div>
                    </div>
                    </ng-container>

                    <ng-container *ngIf="tieneVisita('Oficios', d.Fecha, d.Origen, d.NroRelevamiento)">
                    <div id="TarjetaOficios{{ i }}" class="col col-12 tab-pane fade {{ tabActiva('Oficios', d.Fecha, d.Origen, d.NroRelevamiento) }} row" role="tabpanel">
                        <div class="col col-12 row G_SinMargin G_SinPadding">
                            <div class="col col-6"><div class="T_Titulo">Oficio</div></div>
                            <div class="col col-6 text-right"><div class="T_Titulo">¿Ejerce el Oficio?</div></div>
                        </div>

                        <ng-container *ngFor="let ofi of oficiosFilter; let ix2=index">
                            <div *ngIf="ofi.Fecha == d.Fecha  && ofi.Origen == d.Origen && ofi.NroRelevamiento == d.NroRelevamiento" class="item" [ngStyle]="{'border-top': ix2 == 0 ? '1px solid #dfe2e7' :  'none'}" [ngClass]="{ 'backgroundAlter': ix2%2 == false }">
                                <div class="col col-12 row">
                                    <div class="col col-6"><div class="T_Descripcion">{{ ofi.Oficio || '-' }}</div></div>
                                    <div class="col col-6 text-right"><div class="T_Descripcion">{{ ofi.Ejerce || '-' }}</div></div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    </ng-container>

                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </md2-tab>
        </md2-tabs>
            <!--</div>
        </div>-->
    </div>
</div>