<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos Antropométricos de Peso/Edad...</div>
        </div>

        <div class="tab-content card-block G_TabContent G_SinPadding G_SinOverflow" id="myTab{{ prefijo }}Content">
            <div class="col col-12" id="{{ prefijo }}">
                
                <input type="hidden" name="TarjetaConDatos" value="{{ TieneGraficoPE }}" />
                
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <!--<input type="hidden" id="TieneGraficoPE" value="{{ TieneGraficoPE }}" />-->
                <div id="GraficoAntroPE" style="display: none;">{{ coordenadas | json }}</div>
                <input type="hidden" id="PECargado" value="0" />
                <div id="GraficoAntroHistoPE" style="display: none;">{{ historial | json }}</div>
                <div id="PE" class="TarjetaGrafico"></div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </div>
        </div>
    </div>
</div>