<input type="hidden" name="ParaListaPDF" id="viv.Viviendas.Integrantes" title="Integrantes de la Vivienda" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <!--<div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Integrantes...</div>
        </div>-->

        <md2-tabs class="tab" *ngIf="fechasAgrupadas && fechasAgrupadas.length > 0">
            <md2-tab *ngFor="let d of fechasAgrupadas; let i=index"
                    [label]="d.Fecha + ' ' + (d.NroRelevamiento || '')"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="col col-12 row G_SinMargin G_SinPadding" style="height: 42px; display: block;">
                    <ul class="nav nav-tabs" role="tablist" id="myTab2{{ prefijo }}{{ i }}" style="float: left;">
                        <li *ngIf="tieneVisita('IntegrantesVivienda', d.Fecha, d.Origen, d.NroRelevamiento)" class="nav-item"><a class="nav-link {{ tabActiva('IntegrantesVivienda', d.Fecha, d.Origen, d.NroRelevamiento) }}" data-toggle="tab" role="tab" href="#TarjetaIntegrantesVivienda{{ i }}">Integrantes de la Vivienda</a></li>
                    </ul>
                    <input type="hidden" name="Origen" value='{{ d.Origen }}' />
                    <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>
                </div>
                <div class="tab-content" id="myTab2{{ prefijo }}{{ i }}Content">
                    <ng-container *ngIf="tieneVisita('IntegrantesVivienda', d.Fecha, d.Origen, d.NroRelevamiento)">
                    <div id="TarjetaIntegrantesVivienda{{ i }}" class="col col-12 tab-pane fade {{ tabActiva('IntegrantesVivienda', d.Fecha, d.Origen, d.NroRelevamiento) }} row" role="tabpanel">
                        <ng-container *ngFor="let hog of hogares">
                            <ng-container *ngIf="hog.Fecha == d.Fecha">
                                <div class="col col-12 row G_SinMargin G_SinPadding">
                                    <div class="col col-1">
                                        <div class="T_Titulo">&nbsp;</div>
                                    </div>
                                    <div class="col col-4">
                                        <div class="T_Titulo">Hogar {{ hog.Hogar }} ({{ hog.CantidadIntegrantes }} Integrantes)</div>
                                    </div>
                                    <div class="col col-4">
                                        <div class="T_Titulo">Edad</div>
                                    </div>
                                    <div class="col col-3">
                                        <div class="T_Titulo">Documento</div>
                                    </div>
                                </div>
                                <ng-container *ngFor="let item of integrantesVivienda">
                                <div *ngIf="item.Fecha==d.Fecha && item.Hogar == hog.Hogar && item.Origen == d.Origen && item.NroRelevamiento == d.NroRelevamiento" class="col col-12 row G_SinMargin G_SinPadding G_BordeInferior" style="cursor: pointer; margin-left: 0px;">
                                    <a class="col col-12 row G_SinMargin G_SinPadding" href="#/FichaPersona/{{ item.IntegranteLink }}" target="_blank">
                                        <div class="col col-1">
                                            <div class="T_Descripcion T_Descripcion12">
                                                <span *ngIf="item.Sexo == 'Femenino'" class="fa-stack IconosFamilia"><i class="fa fa-circle fa-stack-1x" style="color: #EC407A;"></i><i class="fa fa-female fa-stack-1x" style="color: #FFF"></i></span>
                                                <span *ngIf="item.Sexo != 'Femenino'" class="fa-stack IconosFamilia"><i class="fa fa-circle fa-stack-1x" style="color: #29B6F6;"></i><i class="fa fa-male fa-stack-1x" style="color: #FFF"></i></span>
                                            </div>
                                        </div>
                                        <div class="col col-4">
                                            <div class="T_Descripcion T_Descripcion12">{{ item.ApellidosNombres }}</div>
                                        </div>
                                        <div class="col col-4">
                                            <div class="T_Descripcion T_Descripcion12">{{ item.Edad }}</div>
                                        </div>
                                        <div class="col col-3">
                                            <div class="T_Descripcion T_Descripcion12">{{ item.Documento }}</div>
                                        </div>
                                    </a>
                                </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                    </ng-container>
                    
                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </md2-tab>
        </md2-tabs>
    </div>
</div>