﻿<!-- main app container -->
<div class="container divMain col-xs-12">
    <alert></alert>
    <router-outlet></router-outlet>
</div>
<!-- credits -->
<div class="text-center" style="display:none;">
    <p>
        Oso Po
    </p>
</div>