<input type="hidden" name="ParaListaPDF" id="Viviendas.Integrantes" title="Composición del Hogar / Integrantes de la Vivienda" />
<div class="Tarjeta" role="tabpanel">
    <div class="card" style="overflow-y: auto; overflow-x: hidden;">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Hogar e Integrantes...</div>
        </div>
        <!--<div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist" id="myTab{{ prefijo }}">
                <li class="nav-item" *ngFor="let d of fechasAgrupadas; let i=index">
                    <a id="{{ prefijo }}{{ i }}-tab" class="nav-link {{ i == 0 ? 'active' : '' }}" href="#{{ prefijo }}{{ i }}" data-toggle="tab" role="tab">{{ d.Fecha }}</a>
                </li>
            </ul>
        </div>-->
<div class="tab" *ngIf="grupoFamiliar && grupoFamiliar.length > 0">
        <div class="tab-content card-block" id="myTab{{ prefijo }}Content">
            <div role="tabpanel" class="tab-pane fade active show" id="{{ prefijo }}{{ i }}">
                   <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="col col-12 row G_SinMargin G_SinPadding" style="height: 42px; display: block;">
                    <ul class="nav nav-tabs" role="tablist" id="myTab2{{ prefijo }}{{ i }}" style="float: left;">
                        <li *ngIf="tieneVisita('GrupoFamiliar')" class="nav-item"><a class="nav-link {{ tabActiva('GrupoFamiliar') }}" data-toggle="tab" role="tab" href="#TarjetaGrupoFamiliar{{ i }}">Composición del Hogar</a></li>
                        <li *ngIf="tieneVisita('Padre')" class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#TarjetaPadre{{ i }}">Padre</a></li>
                        <li *ngIf="tieneVisita('Madre')" class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#TarjetaMadre{{ i }}">Madre</a></li>
                    </ul>
                    <!--<a class="G_BotonTarjeta" type="EdadRelevamiento" data-toggle="tooltip" data-placement="left" title="" data-original-title="" data-title-template="Edad en el Relevamiento: ">&nbsp;<span class="zmdi zmdi-info" title="Edad en el Relevamiento"></span></a>-->
                </div>
                <div class="tab-content" id="myTab2{{ prefijo }}{{ i }}Content">
                    <ng-container *ngIf="tieneVisita('GrupoFamiliar')">
                    <div id="TarjetaGrupoFamiliar{{ i }}" class="col col-12 tab-pane fade {{ tabActiva('GrupoFamiliar') }} row" role="tabpanel">
                        <div class="col col-12 row G_SinMargin G_SinPadding">
                            <div class="col col-1">
                                <div class="T_Titulo">&nbsp;</div>
                            </div>
                            <div class="col col-4">
                                <div class="T_Titulo">{{ grupoFamiliar.length }} Integrantes</div>
                            </div>
                            <div class="col col-4">
                                <div class="T_Titulo">Edad Actual</div>
                            </div>
                            <div class="col col-3">
                                <div class="T_Titulo">Es mi</div>
                            </div>
                        </div>
                        <ng-container *ngFor="let item of grupoFamiliar">
                        <div class="col col-12 row G_SinMargin G_SinPadding G_BordeInferior" style="cursor: pointer; margin-left: 0px;">
                            <a class="col col-12 row G_SinMargin G_SinPadding" href="{{ item.IntegranteLink }}" target="_blank">
                                <div class="col col-1">
                                    <div class="T_Descripcion T_Descripcion12">
                                        <span *ngIf="item.Sexo == 'Femenino'" class="fa-stack IconosFamilia"><i class="fa fa-circle fa-stack-1x" style="color: #EC407A;"></i><i class="fa fa-female fa-stack-1x" style="color: #FFF"></i></span>
                                        <span *ngIf="item.Sexo != 'Femenino'" class="fa-stack IconosFamilia"><i class="fa fa-circle fa-stack-1x" style="color: #29B6F6;"></i><i class="fa fa-male fa-stack-1x" style="color: #FFF"></i></span>                                    
                                    </div>
                                </div>
                                <div class="col col-4">
                                    <div class="T_Descripcion T_Descripcion12">{{ stringFunctions.Capitalizar(item.ApellidosNombres, true) }} <i *ngIf="item.CodJefeHogar == item.CodPersona" class="fa fa-flag" style="color: #16557C"></i></div>
                                </div>
                                <div class="col col-4">
                                    <div class="T_Descripcion T_Descripcion12">{{ item.Edad }}</div>
                                </div>
                                <div class="col col-3">
                                    <div class="T_Descripcion T_Descripcion12" [innerHTML]="item.ParentescoInverso | safe: 'html'"></div>
                                </div>
                            </a>
                        </div>
                        </ng-container>
                    </div>
                    </ng-container>
                    
                    <div *ngIf="tieneVisita('Padre') || tieneVisita('Madre')" id="TarjetaPadre{{ i }}" class="col col-12 tab-pane fade row G_SinMargin G_SinPadding" role="tabpanel">
                        <!--<ng-container *ngFor="let item of padre">-->
                            <ng-container *ngIf="padre[0] && padre[0].CodPersona != ''">
                                <div class="col col-12 row G_SinMargin G_SinPadding">
                                    <div class="col col-10"><div class="T_Apellido">{{ padre[0].Apellidos }}</div></div>
                                    <div class="col col-2">
                                        <span class="title-icons text-right"><a href="#/FichaPersona/{{ padre[0].LinkPadre }}" target="_blank"><i class="fa fa-user" aria-hidden="true"></i></a></span>
                                    </div>
                                </div>
                                <div class="col col-12 row G_SinMargin G_SinPadding">
                                    <div class="col col-12"><div class="T_Nombre">{{ padre[0].Nombres }}</div></div>
                                </div>
                                <div class="col col-12 row G_SinMargin G_SinPadding">
                                    <div class="col col-12"><div class="T_Descripcion">{{ padre[0].Edad }} (edad actual)</div></div>
                                </div>
                                <div class="col col-12 row G_SinMargin G_SinPadding" style="clear: left;">
                                    <div class="col col-4" *ngIf="padre[0].PaisOrigen">
                                        <div class="T_Titulo">País de origen</div>
                                        <div class="T_Descripcion">
                                            <span *ngIf="padre[0].PAI_CODIGO != '' && padre[0].PAI_CODIGO != 'NS/NC'" class="flag-icon flag-icon-{{ padre[0].PAI_CODIGO | lowercase }} F_Bandera"></span>
                                            {{ padre[0].PaisOrigen }}
                                        </div>
                                    </div>
                                    <div class="col col-4">
                                        <div class="T_Titulo">Nacionalidad</div>
                                        <div class="T_Descripcion">
                                            {{ padre[0].Nacionalidad }}
                                        </div>
                                    </div>
                                    <div class="col col-4">
                                        <div class="T_Titulo">Etnia</div>
                                        <div class="T_Descripcion">
                                            {{ padre[0].EtniaCod }}
                                        </div>
                                    </div>
                                <!--</div>
                                <div class="col col-12 row G_SinMargin G_SinPadding">-->
                                    <div class="col col-4">
                                        <div class="T_Titulo">F. Nacimiento</div>
                                        <div class="T_Descripcion">
                                            {{ padre[0].FechaNacimiento }}
                                        </div>
                                    </div>
                                    <div class="col col-4">
                                        <div class="T_Titulo">Documento</div>
                                        <div class="T_Descripcion">
                                            {{ padre[0].Documento }}
                                        </div>
                                    </div>
                                    <div class="col col-4">
                                        <div class="T_Titulo">Sexo</div>
                                        <div class="T_Descripcion">
                                            {{ padre[0].Sexo }}
                                        </div>
                                    </div>
                                <!--</div>
                                <div class="col col-12 row G_SinMargin G_SinPadding">-->
                                    <div class="col col-4">
                                        <div class="T_Titulo">Situación Laboral</div>
                                        <div class="T_Descripcion">
                                            {{ padre[0].SituacionLaboral == '' ? 'No Trabaja' : padre[0].SituacionLaboral }}
                                        </div>
                                    </div>
                                    <div class="col col-4">
                                        <div class="T_Titulo">Máximo Nivel Educativo</div>
                                        <div class="T_Descripcion">
                                            {{ padre[0].MNE || '-' }}
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        <!--</ng-container>-->
                    </div>

                    <div *ngIf="tieneVisita('Padre') || tieneVisita('Madre')" id="TarjetaMadre{{ i }}" class="col col-12 tab-pane fade row G_SinMargin G_SinPadding" role="tabpanel">
                        <!--<ng-container *ngFor="let item of madre">-->
                            <ng-container *ngIf="madre[0] && madre[0].CodPersona != ''">
                                <div class="col col-12 row G_SinMargin G_SinPadding">
                                    <div class="col col-10"><div class="T_Apellido">{{ madre[0].Apellidos }}</div></div>
                                    <div class="col col-2">
                                        <span class="title-icons text-right"><a href="#/FichaPersona/{{ madre[0].LinkPadre }}" target="_blank"><i class="fa fa-user" aria-hidden="true"></i></a></span>
                                    </div>
                                </div>
                                <div class="col col-12 row G_SinMargin G_SinPadding">
                                    <div class="col col-12"><div class="T_Nombre">{{ madre[0].Nombres }}</div></div>
                                </div>
                                <div class="col col-12 row G_SinMargin G_SinPadding">
                                    <div class="col col-12"><div class="T_Descripcion">{{ madre[0].Edad }} (edad actual)</div></div>
                                </div>
                                <div class="col col-12 row G_SinMargin G_SinPadding" style="clear: left;">
                                    <div class="col col-4" *ngIf="madre[0].PaisOrigen">
                                        <div class="T_Titulo">País de origen</div>
                                        <div class="T_Descripcion">
                                            <span *ngIf=" madre[0].PAI_CODIGO != '' && madre[0].PAI_CODIGO != 'NS/NC'" class="flag-icon flag-icon-{{ madre[0].PAI_CODIGO | lowercase }} F_Bandera"></span>
                                            {{ madre[0].PaisOrigen }}
                                        </div>
                                    </div>
                                    <div class="col col-4">
                                        <div class="T_Titulo">Nacionalidad</div>
                                        <div class="T_Descripcion">
                                            {{ madre[0].Nacionalidad }}
                                        </div>
                                    </div>
                                    <div class="col col-4">
                                        <div class="T_Titulo">Etnia</div>
                                        <div class="T_Descripcion">
                                            {{ madre[0].EtniaCod }}
                                        </div>
                                    </div>
                                <!--</div>
                                <div class="col col-12 row G_SinMargin G_SinPadding">-->
                                    <div class="col col-4">
                                        <div class="T_Titulo">F. Nacimiento</div>
                                        <div class="T_Descripcion">
                                            {{ madre[0].FechaNacimiento }}
                                        </div>
                                    </div>
                                    <div class="col col-4">
                                        <div class="T_Titulo">Documento</div>
                                        <div class="T_Descripcion">
                                            {{ madre[0].Documento }}
                                        </div>
                                    </div>
                                    <div class="col col-4">
                                        <div class="T_Titulo">Sexo</div>
                                        <div class="T_Descripcion">
                                            {{ madre[0].Sexo }}
                                        </div>
                                    </div>
                                <!--</div>
                                <div class="col col-12 row G_SinMargin G_SinPadding">-->
                                    <div class="col col-4">
                                        <div class="T_Titulo">Situación Laboral</div>
                                        <div class="T_Descripcion">
                                            {{ madre[0].SituacionLaboral == '' ? 'No Trabaja' : madre[0].SituacionLaboral }}
                                        </div>
                                    </div>
                                    <div class="col col-4">
                                        <div class="T_Titulo">Máximo Nivel Educativo</div>
                                        <div class="T_Descripcion">
                                            {{ madre[0].MNE || '-' }}
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        <!--</ng-container>-->
                    </div>
                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </div>
        </div>
    </div>
    </div>
</div>