<div class="Tarjeta">
    <!--<input type="hidden" name="TarjetaConDatos" value="true" />
    <input type="hidden" id="NombreCompletoPersona" value="{{ d.Apellidos + ', ' + d.Nombres }}" />
    <input type="hidden" id="EdadPersona" value="{{ d.Edad }}" />
    <input type="hidden" id="CodPersona" value="{{ d.CodPersona }}" />-->
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Procurando dados pessoais...</div>
        </div>
        <div class="card-block" *ngFor="let d of datosPersonales" >
            <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
            <div class="row" style="margin-left: 0;">
                <div class="col-xs-3 I_PerfilContenedor"><img #myImage (load)="loadImg()" src="{{ d.Foto == 'about:Blank' ? './Content/Images/default.jpg' : d.Foto }}" class="I_Perfil my-thumbnail {{ d.columns === 3 ? 'marginPerfil' : 'marginImg' }}" /></div>
                <div class="col-xs-8" style="margin: auto;">
                    <div class="T_Apellido">{{ d.Apellidos }}</div>
                    <div class="T_Nombre">{{ d.Nombres }}</div>
                    <div class="T_Descripcion">{{ d.Edad }} (idade atual)</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4" style="clear:left;">
                    <div class="T_Titulo">País de origem</div>
                    <div class="T_Descripcion">
                        <span *ngIf="d.PAI_CODIGO != null && d.PAI_CODIGO != 'NS/NC'" class="flag-icon flag-icon-{{ d.PAI_CODIGO | lowercase }}"></span>
                        {{ d.PaisOrigen }}
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="T_Titulo">Nacionalidade</div>
                    <div class="T_Descripcion">
                        {{ d.Nacionalidad }}
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="T_Titulo">Etnia</div>
                    <div class="T_Descripcion">{{ d.EtniaCod || '-' }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="T_Titulo">D. Nascimento</div>
                    <div class="T_Descripcion">{{ d.FechaNacimiento }}</div>
                </div>
                <div class="col-xs-4">
                    <div class="T_Titulo">Documento</div>
                    <div class="T_Descripcion">{{ d.Documento }}</div>
                </div>
                <div class="col-xs-4">
                    <div class="T_Titulo">Sexo</div>
                    <div class="T_Descripcion">{{ d.Sexo }}</div>
                </div>
            </div>
            <div class="row" *ngIf="d.FechaFallecimiento != null">
                <div class="col-xs-4">
                    <div class="T_Titulo">D. Morte</div>
                    <div class="T_Descripcion">{{ d.FechaFallecimiento }}</div>
                </div>
            </div>
            <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
        </div>
    </div>
</div>