<input type="hidden" name="ParaListaPDF" id="Personas.HistoriaCli" title="Historia Clínica" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" style="z-index: 101;" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Historia Clínica...</div>
        </div>

        <div class="tab-content card-block G_TabContent" style="padding-top: 0;" id="myTab{{ prefijo }}Content">
            <div class="head">
                <div class="row white">
                    <div class="col col-12">
                        <div class="T_Tarjeta" style="margin-top: 10px;">Historia Clínica</div>
                        <!--<a class="G_BotonTarjeta" (click)= "openModal('', 'ModalHistoriaClinica')" codvisita="">
                            <img class="G_BotonNivel2" src="../../../Content/Images/icon-arrows-gray.svg" style="height: 14px;" title="Más Información">
                        </a>-->
                    </div>
                </div>
                <div class="col col-12 row white encabezado">
                    <div class="col col-2">
                        <div class="T_Titulo">Fecha/Hora</div>
                    </div>
                    <div class="col col-2 divCentro">
                        <div class="T_Titulo">Centro</div>
                    </div>
                    <div class="col col-3">
                        <div class="T_Titulo">Especialidad</div>
                    </div>
                    <div class="col col-5">
                        <div class="T_Titulo">Descripción</div>
                    </div>
                </div>
            </div>

            <input type="hidden" id="OrigenesAntropometriaParaSplit" value="{{origenes | json}}" />
            <div style="margin-top: 75px;">
                <div *ngFor="let d of historiaClinica; let i=index" class="item" [ngStyle]="{'border-top': i == 0 ? '1px solid #dfe2e7' :  'none'}" [ngClass]="{ 'backgroundAlter': i%2 == false }" id="{{ prefijo }}{{ i }}">
                    <!--Determinamos si la tarjeta se muestra-->
                    <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />
                    <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                    <div class="col col-12 row">
                        <div class="col col-2" style="padding-right:0">
                            <div class="T_Descripcion T_Descripcion_Resize">{{ d.FechaAsistencia | date: 'dd-MM-yy hh:mm' }}</div>
                        </div>
                        <div class="col col-2" style="padding-right:0">
                            <div class="T_Descripcion T_Descripcion_Resize">{{ d.CentroSalud || '-' }}</div>
                        </div>
                        <div class="col col-3" style="padding-right:0">
                            <div class="T_Descripcion T_Descripcion_Resize">{{ d.EspecialidadAsistida || '-' }}</div>
                        </div>
                        <div class="col col-5" style="padding-right:0">
                            <div class="T_Descripcion T_Descripcion_Resize">{{ d.HcComunidad || '-' }}</div>
                            <!--<input type="hidden" name="OrigenAntro" value="{{ d.Origen }}" />-->
                        </div>
                    </div>
                    <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
                </div>
            </div>

        </div>
    </div>
</div>

<!--<div class="modal fade" role="dialog" id="ModalHistoriaClinica">
    <div class="modal-dialog modal-lg row" style="max-width: 100%;">
        <div class="hidden-sm-down hidden-md-down col-lg-2"></div>
        <div class="col col-sm-12 col-md-12 col-lg-8 modal-content">
            <div class="modal-header">
                <div class="col col-12 row">
                    <div class="col col-10">
                        <h4 class="modal-title">
                            <span class="info-title-cards">Historía Clínica</span>
                        </h4>
                    </div>
                    <div class="col col-2">
                        <button type="button" class="close" data-dismiss="modal">
                            <i class="zmdi zmdi-close"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="col col-12 tab-content G_SinPadding" style="overflow: auto; max-height: calc(100vh - 40vh);">
                    <div id="ModalHistoriaClinica" class="col col-12 tab-pane fade active show G_SinPadding">
                        <table class="table table-striped" id="TablaHistoriaClinica">
                            <thead>
                                <tr>
                                    <th class="T_Titulo" style="border-top-left-radius: 4px;">Fecha</th>
                                    <th class="T_Titulo">Centro</th>
                                    <th class="T_Titulo">Especialidad Asistida</th>
                                    <th class="T_Titulo">Descripción</th>
                                    <th class="T_Titulo">Origen</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let d of historiaClinica; let i=index">
                                    <th class="T_Descripcion T_Descripcion12">{{ d.Fecha }}</th>
                                    <td class="T_Descripcion T_Descripcion12">{{ d.CentroSalud || '-'}}</td>
                                    <td class="T_Descripcion T_Descripcion12">{{ d.EspecialidadAsistida || '-' }}</td>
                                    <td class="T_Descripcion T_Descripcion12">{{ d.HcComunidad || '-' }}</td>
                                    <td class="T_Descripcion T_Descripcion12">{{ d.Origen || '-' }}</td>
                                </tr>
                                <tr>
                                    <td class="T_Descripcion T_Descripcion12" style="border-bottom-left-radius: 4px;"></td>
                                    <td class="T_Descripcion T_Descripcion12"></td>
                                    <td class="T_Descripcion T_Descripcion12"></td>
                                    <td class="T_Descripcion T_Descripcion12"></td>
                                    <td class="T_Descripcion T_Descripcion12"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col col-sm-12">&nbsp;</div>
            </div>
        </div>
        <div class="hidden-sm-down hidden-md-down col-lg-2"></div>
    </div>
</div>-->