
.head {
    position: absolute;
    width: calc(100% - 40px);
    /*padding-right: 40px;*/
    z-index: 100;
}

.item {
    border-bottom: 1px solid #dfe2e7;
    padding-top: 10px !important;
}

.white{
    background: white;
    margin-left: 0px;
}


#TablaHistoriaClinica th, #TablaHistoriaClinica td{
    min-width: 170px;
    max-height: 53px;
    padding: 6px 3px 6px 3px;
}

.T_Descripcion_Resize{
      font-size: 12px;
  }

table {
  position: relative;
  border-collapse: collapse;
}

td, th {
  padding: 0.25em;
}

thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  background: #FFF;
  /*color: #FFF;*/
}

thead th:first-child {
  left: 0;
  z-index: 1;
  background-color: #aaa;
  color: #fff;
}

tbody th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
  background-color: #aaa;
  color: #fff;
}

.encabezado{
    padding-left: 0px; 
    margin-left: -10px; 
    max-width: 103%; 
    width: 103%;
}

@media (max-width: 1440px){
    .T_Titulo{
        font-size: 12px;
    }
}

@media (max-width: 1366px){
    .encabezado{
        max-width: 104%; 
        width: 104%;
    }

    .T_Descripcion_Resize{
        font-size: 10px;
    }

    .divCentro{
        padding-left: 20px;
    }
}

@media (max-width: 1024px){
    .T_Titulo{
        font-size: 10px !important;
    }
}