<input type="hidden" name="ParaListaPDF" id="viv.Viviendas.Riesgos" title="Riesgos Generales" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <!--<div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Riesgos Generales...</div>
        </div>-->

        <md2-tabs class="tab" *ngIf="fechasAgrupadas && fechasAgrupadas.length > 0">
            <md2-tab *ngFor="let d of fechasAgrupadas; let i=index"
                    [label]="d.Fecha + ' ' + (d.NroRelevamiento || '')"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="row">
                    <div class="col-12">
                        <div class="T_Tarjeta">Riesgos Generales</div>
                        <input type="hidden" name="Origen" value='{{ d.Origen }}' />
                        <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>
                    </div>                    
                </div>
                <div class="row">
                    <div *ngFor="let item of riesgos" class="col col-4 RiesgoItem">
                        <div class="T_Titulo"><img src="../../Content/Images/Riesgos/{{ item.Riesgo_Icono }}" /></div>
                        <div class="T_Descripcion" style="text-align: center;">{{ item.RiesgoTitulo }}</div>
                    </div>
                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </md2-tab>
        </md2-tabs>
    </div>
</div>