<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <!--<div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Lactantes...</div>
        </div>-->
        <md2-tabs class="tab" *ngIf="lactantes && lactantes.length > 0">
            <md2-tab *ngFor="let d of lactantes; let i=index"
                    [label]="d.Fecha + ' ' + (d.NroRelevamiento || '')"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="T_Tarjeta">Lactantes</div>
                        <input type="hidden" name="Origen" value='{{ d.Origen }}' />
                        <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>
                        <!--<a class="G_BotonTarjeta" (click)= "openModal(i, 'ModalLactantes')" codvisita=""><img class="G_BotonNivel2" src="../../../Content/Images/icon-arrows-gray.svg" style="height: 14px;" title="Más Información"></a>-->
                    </div>
                </div>

                <div class="row">
                    <div class="col col-3"><img src="{{ d.Lactancia === 1 ? './Content/Images/leche-materna.png' : './Content/Images/leche-materna-fail.png' }}" class="imgSeccion my-thumbnail" /></div>
                    <div class="col col-5 marginLeft">
                        <div class="T_Titulo">Leche Materna</div>
                        <div class="T_Descripcion">{{ d.RecibeLactancia || d.RecibioLactancia || '-' }}</div>
                        <div class="T_Titulo">Meses exclusivos LM</div>
                        <div class="T_Descripcion">{{ d.HastaCuandoLactMatExclus || '-' }}</div>
                    </div>
                    <div class="col col-4">
                        <div class="T_Titulo text-right">Frecuencia</div>
                        <div class="T_Descripcion text-right">{{ d.CadaCuantoPecho24hs || '-' }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-3"><img src="{{ d.Lactante === 0 ? './Content/Images/deja-pecho.png' : './Content/Images/deja-pecho-fail.png'  }}" class="imgSeccion my-thumbnail" /></div>
                    <div class="col col-5 marginLeft">
                        <div class="T_Titulo">Deja el pecho</div>
                        <div class="T_Descripcion">{{ d.EdadMesesDejoPecho || '-' }}</div>
                        <div class="T_Titulo">Primera ingesta no materna</div>
                        <div class="T_Descripcion">{{ d.EdadMesesTomoLiquidos || d.SabeEdadTomoLiquidos || '-' }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-3"><img src="{{ d.SabeCuandoComioAlimSemiSol === 'COD_SI' || d.SabeCuandoComioAlimSolido === 'COD_SI' ? './Content/Images/aliment-solido.png' : './Content/Images/aliment-solido-fail.png' }}" class="imgSeccion my-thumbnail" /></div>
                    <div class="col col-5 marginLeft">
                        <div class="T_Titulo">Primer alimento semi-sólido</div>
                        <div class="T_Descripcion">{{ d.EdadMesesComioAlimSemiSolido || d.SabeEdadComioAlimSemiSol  || '-' }}</div>
                        <div class="T_Titulo">Primer alimento sólido</div>
                        <div class="T_Descripcion">{{ d.EdadMesesComioAlimSolido || d.SabeEdadComioAlimSolido || '-' }}</div>
                    </div>
                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </md2-tab>
        </md2-tabs>
    </div>
</div>

<div class="modal fade" role="dialog" id="ModalLactantes">
    <div class="modal-dialog modal-lg">
        <div class="col col-12 modal-content">
            <div class="modal-header">
                <div class="col col-12 row">
                    <div class="col col-10"><h4 class="modal-title"><span class="info-title-cards">Lactantes</span></h4></div>
                    <div class="col col-2"><button type="button" class="close" data-dismiss="modal"><i class="zmdi zmdi-close"></i></button></div>
                </div>
            </div>
            <div class="modal-body">
                <!--TAB DE VISITAS XS SM-->
                <div class="col col-sm-12 hidden-md-down hidden-lg-down hidden-xl-down row G_BordeInferior G_SinPadding">
                    <div class="col col-12" style="margin-top: 8px;" data-toggle="collapse" data-target="#VistaCollapseLactantes">
                        <div class="col col-8 F_TituloFormulario_14">Fecha de Visitas</div>
                        <div class="col col-4"><span class="caret text-right" style="margin-top: 6px;"></span></div>
                    </div>
                    <div class="col col-12 collapse" id="VistaCollapseLactantes">
                        <div *ngFor="let d of lactantes; let i=index" class="col col-12"><a class="T_Visita col col-12 nav-link" style="text-align: center;" data-toggle="tab" role="tab" href="#ModalLactantes{{ i }}" title="{{ i }}">{{ d.Fecha }}</a></div>
                    </div>
                </div>
                <!--TAB DE VISITAS MD LG-->
                <div class="hidden-sm-down col col-12 row">
                    <ul class="nav nav-tabs T_Tabs_Contenedor Violeta_Contenedor">
                        <li class="nav-item" *ngFor="let d of lactantes; let i=index"><a class="Violeta nav-link" data-toggle="tab" role="tab" href="#ModalLactantes{{ i }}" title="{{ i }}">{{ d.Fecha }}</a></li>
                    </ul>
                </div>
                <!--CUERPO DE VISITAS-->
                <div class="col col-12 tab-content">
                    <div *ngFor="let d of lactantes; let i=index" id="ModalLactantes{{ i }}" class="col col-12 tab-pane fade G_SinPadding">
                        <div class="col col-12 row">
                            <div class="col col-6">
                                <div class="T_Titulo">¿Recibió lactancia?</div>
                                <div class="T_Descripcion">{{ d.RecibioLactancia || '-' }}</div>
                            </div>
                            <div class="col col-6">
                                <div class="T_Titulo">¿Recibió leche materna de manera exclusiva</div>
                                <div class="T_Descripcion">{{ d.TomoLecheMatExclusiva || '-' }}</div>
                            </div>
                        </div>
                        <div class="col col-12 row" *ngIf="d.CadaCuantoPecho24hs">
                            <div class="col col-6">
                                <div class="T_Titulo">¿Aún le están dando leche materna?</div>
                                <div class="T_Descripcion">{{ d.RecibeLactancia || '-' }}</div>
                            </div>
                            <div class="col col-6">
                                <div class="T_Titulo">Frecuencia Lactancia últimas 24 horas</div>
                                <div class="T_Descripcion">{{ d.CadaCuantoPecho24hs || '-' }}</div>
                            </div>
                        </div>
                        <div class="col col-12 row" *ngIf="d.RecibioLactancia">
                            <div class="col col-6">
                                <div class="T_Titulo">¿Cuánto tiempo le dieron solo (exclusivamente) leche materna?</div>
                                <div class="T_Descripcion">{{ d.HastaCuandoLactMatExclus || '-' }}</div>
                            </div>
                            <div class="col col-6">
                                <div class="T_Titulo">¿Qué edad tenía cuando le dejaron de dar pecho completamente?</div>
                                <div class="T_Descripcion">{{ d.EdadMesesDejoPecho || '-' }}</div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="col col-12">&nbsp;</div>
            </div>
        </div>
    </div>
</div>