<input type="hidden" name="ParaListaPDF" id="Ubicación.Vivienda" title="Vivienda" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <!--<div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Vivienda...</div>
        </div>-->

        <md2-tabs class="tab" *ngIf="vivienda && vivienda.length > 0">
            <md2-tab *ngFor="let d of vivienda; let i=index"
                    [label]="d.Fecha + ' ' + (d.NroRelevamiento || '')"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />

                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="T_Tarjeta">Vivienda</div>
                        <input type="hidden" name="Origen" value='{{ d.Origen }}' />
                        <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>
                        <a class="G_BotonTarjeta" href="{{ d.Enlace }}" target="_blank" title="Ver la Vivienda">&nbsp;<span class="zmdi zmdi-home" title="Ver la Vivienda"></span></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-6">
                        <div class="T_Titulo">Departamento</div>
                        <div class="T_Descripcion">{{ d.Departamento || '-' }}</div>
                    </div>
                    <div class="col 'col-5">
                        <div class="T_Titulo text-right">País</div>
                        <div class="T_Descripcion text-right">{{ d.Pais || '-' }}
                        </div>
                    </div>
                    <div  class="divRoundleft">
                            <img src="{{d.paisSRC}}" *ngIf="d.PAI_CODIGO != null && d.PAI_CODIGO != 'NS/NC'" class="imgCircle"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-6">
                        <div class="T_Titulo">Municipio</div>
                        <div class="T_Descripcion">{{ d.Municipio || '-' }}</div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col col-6">
                        <div class="T_Titulo">Resguardo Indígena</div>
                        <div class="T_Descripcion">{{ d.ResguardoIndigena || '-' }}</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo text-right">Tipo de Vivienda</div>
                        <div class="T_Descripcion text-right">{{ d.TipoVivienda || '-' }}</div>
                    </div>
                </div>

                <div class="row backgroundGreyFoto">
                    <div class="col col-4"><img src="{{ !d.FotoAutoridad ? './Content/Images/default.jpg' : d.FotoAutoridad }}" class="I_Perfil my-thumbnail" /></div>
                    <div class="col col-6">
                        <div class="T_TituloWhite">Nombre de la Comunidad</div>
                        <div class="T_DescripcionBlack">{{ d.NombreDeComunidad || '-' }}</div>
                        <div class="T_TituloWhite">Autoridad</div>
                        <div class="T_DescripcionBlack">{{ d.Autoridad || '-'  }}</div>
                    </div>
                </div>
        </md2-tab>
    </md2-tabs>
</div>