:host /deep/ .md2-tabs-header-wrapper{
    position:relative;
    display:block;
    height:38px;
    background:#fff !important;
    // border-width:0 0 1px;
    // border-style:solid !important;
    // border-color:rgba(0,0,0,.12) !important;
    margin:0;
    padding:0;
    list-style:none;
    user-select:none;
    text-align: left !important; 
}

:host /deep/ .md2-next-button, .md2-prev-button{
    padding: 7px 0 !important;
}

:host /deep/ .prev-icon {
    width: 8px !important;
    height: 8px !important;
    margin-left: 15px !important;
}

:host /deep/ .next-icon {
    width: 8px !important;
    height: 8px !important;
}

:host /deep/ .md2-tabs-body-wrapper{
    height: 327px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: -1px;
    border-top: 1px solid;
    border-top-color:rgba(0,0,0,.12) !important;
    z-index: 0;
    position: relative;
}

:host /deep/ .md2-tabs-header-wrapper::after{
    content:'';
    display:table;
    clear:both
}

:host /deep/ .md2-tab-label:hover{
    background-color: #EEEEEE;
}

:host /deep/ .md2-tab-label{
    color:#5C6064 !important;
    padding: 8px 14px !important;
    z-index: 2;
    margin-left: 3px;
    position: relative;
    height: 40px;
}

:host /deep/ .md2-tab-label.active{
    color:#7875DC !important;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: none;
    border-radius: 0.25rem;
    background-color: #fff;
}

:host /deep/ .md2-tabs-canvas:focus .md2-tab-label.focus{
    background: #fff;//rgba(0,0,0,.05) !important;
}

:host /deep/ .md2-tab-ink-bar{
    display: none !important;
}

@media (max-width: 1366px){
    :host /deep/ .md2-tab-label{
        font-size: 12px !important;
    }
}

@media (max-width: 749px){
    :host /deep/ .md2-tabs-body-wrapper{
		max-height: calc(100% - 38px) !important;
		/*height: 100% !important;*/
	}
}

@media (max-width: 1199px){
    :host /deep/ .md2-tabs-body-wrapper{
		height: 290px !important;
	}
}

/*******************ToolTip**************************/

$md2-tooltip-target-height: 24px;
$md2-tooltip-max-width: 200px;
$md2-tooltip-font-size: 14px;
$md2-tooltip-margin: 5px;
$md2-tooltip-horizontal-padding: 5px;
$md2-tooltip-vertical-padding: ($md2-tooltip-target-height - $md2-tooltip-font-size) / 2;

::ng-deep .md2-tooltip {
  color: white;
  padding: $md2-tooltip-vertical-padding $md2-tooltip-horizontal-padding !important;
  border-radius: 2px;
  font-size: $md2-tooltip-font-size !important;
  margin: $md2-tooltip-margin !important;
  max-width: $md2-tooltip-max-width !important;
  text-align: center !important;
  background: rgba(0, 0, 0, 0.9) !important;
  word-wrap: break-word;
}

::ng-deep .md2-tooltip:before {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    right: -10px;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent transparent rgba(0, 0, 0, 0.9);
}

.scroll{
    overflow-x: hidden;
    overflow-y: auto;
}