<input type="hidden" name="ParaListaPDF" id="viv.Viviendas.Integrantes" title="Integrantes de la Vivienda" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Integrantes...</div>
        </div>
        <div class="tab scroll" *ngIf="integrantesVivienda && integrantesVivienda.length > 0">
        <div class="tab-content card-block G_TabContent" id="myTab{{ prefijo }}Content">
            <div role="tabpanel" class="tab-pane fade active show" id="{{ prefijo }}{{ i }}">
                   <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="col col-12 row G_SinMargin G_SinPadding" style="height: 42px; display: block;">
                    <ul class="nav nav-tabs" role="tablist" id="myTab2{{ prefijo }}{{ i }}" style="float: left;">
                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" role="tab" >Composición del Hogar</a></li>
                        <!--<li *ngIf="tieneVisita('Padre')" class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#TarjetaPadre{{ i }}">Padre</a></li>
                        <li *ngIf="tieneVisita('Madre')" class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#TarjetaMadre{{ i }}">Madre</a></li>-->
                    </ul>
                    <!--<a class="G_BotonTarjeta" type="EdadRelevamiento" data-toggle="tooltip" data-placement="left" title="" data-original-title="" data-title-template="Edad en el Relevamiento: ">&nbsp;<span class="zmdi zmdi-info" title="Edad en el Relevamiento"></span></a>-->
                </div>
                <div class="tab-content" id="myTab2{{ prefijo }}{{ i }}Content">
                    <div class="col col-12 tab-pane fade active show row" role="tabpanel">
                        <div class="col col-12 row G_SinMargin G_SinPadding">
                            <div class="col col-1">
                                <div class="T_Titulo">&nbsp;</div>
                            </div>
                            <div class="col col-4">
                                <div class="T_Titulo">{{ integrantesVivienda && integrantesVivienda.length }} Integrantes</div>
                            </div>
                            <div class="col col-4">
                                <div class="T_Titulo">Edad Actual</div>
                            </div>
                            <div class="col col-3">
                                <div class="T_Titulo">Documento</div>
                            </div>
                        </div>
                        <ng-container *ngFor="let item of integrantesVivienda">
                        <div class="col col-12 row G_SinMargin G_SinPadding G_BordeInferior" style="cursor: pointer; margin-left: 0px;">
                            <a class="col col-12 row G_SinMargin G_SinPadding" href="{{ item.IntegranteLink }}" target="_blank">
                                <div class="col col-1">
                                    <div class="T_Descripcion T_Descripcion12">
                                        <span *ngIf="item.Sexo == 'Femenino'" class="fa-stack IconosFamilia"><i class="fa fa-circle fa-stack-1x" style="color: #EC407A;"></i><i class="fa fa-female fa-stack-1x" style="color: #FFF"></i></span>
                                        <span *ngIf="item.Sexo != 'Femenino'" class="fa-stack IconosFamilia"><i class="fa fa-circle fa-stack-1x" style="color: #29B6F6;"></i><i class="fa fa-male fa-stack-1x" style="color: #FFF"></i></span>                                    
                                    </div>
                                </div>
                                <div class="col col-4">
                                    <div class="T_Descripcion T_Descripcion12">{{ stringFunctions.Capitalizar(item.ApellidosNombres, true) }} <i *ngIf="item.CodJefeHogar == item.CodPersona" class="fa fa-flag" style="color: #16557C"></i></div>
                                </div>
                                <div class="col col-4">
                                    <div class="T_Descripcion T_Descripcion12">{{ item.Edad }}</div>
                                </div>
                                <div class="col col-3">
                                    <div class="T_Descripcion T_Descripcion12">{{ item.Documento }}</div>
                                </div>
                            </a>
                        </div>
                        </ng-container>
                    </div>
                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </div>
        </div>
    </div>
    </div>
</div>