:host /deep/ .md2-tabs-header-wrapper{
    position:relative;
    display:block;
    height:38px;
    background:#fff !important;
    // border-width:0 0 1px;
    // border-style:solid !important;
    // border-color:rgba(0,0,0,.12) !important;
    margin:0;
    padding:0;
    list-style:none;
    user-select:none;
    text-align: left !important; 
}

:host /deep/ .md2-next-button, .md2-prev-button{
    padding: 7px 0 !important;
}

:host /deep/ .prev-icon {
    width: 8px !important;
    height: 8px !important;
    margin-left: 15px !important;
}

:host /deep/ .next-icon {
    width: 8px !important;
    height: 8px !important;
}

:host /deep/ .md2-tabs-body-wrapper{
    height: 327px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: -1px;
    border-top: 1px solid;
    border-top-color:rgba(0,0,0,.12) !important;
    z-index: 0;
    position: relative;
}

:host /deep/ .md2-tabs-header-wrapper::after{
    content:'';
    display:table;
    clear:both
}

:host /deep/ .md2-tab-label:hover{
    background-color: #EEEEEE;
}

:host /deep/ .md2-tab-label{
    color:#5C6064 !important;
    padding: 8px 14px !important;
    z-index: 2;
    margin-left: 3px;
    position: relative;
    height: 40px;
}

:host /deep/ .md2-tab-label.active{
    color:#7875DC !important;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: none;
    border-radius: 0.25rem;
    background-color: #fff;
}

:host /deep/ .md2-tabs-canvas:focus .md2-tab-label.focus{
    background: #fff;//rgba(0,0,0,.05) !important;
}

:host /deep/ .md2-tab-ink-bar{
    display: none !important;
}

.T_Titulo{
    color: #919191;
}

.T_Descripcion{
    color: #333333;
}

.headEnt{
    border-bottom: 1px solid;
    line-height: 10px;
    margin-top: -5px !important;
}

.headEnt .firstDiv{
    border-right: 1px solid;
    padding-top: 5px;
}

.bodyEnt{
    border-bottom: 1px solid;
    border-bottom-style: dashed;
}

.bodyEnt .firstDiv{
    border-right: 1px solid;
    padding-top: 5px;
    border-right-style: dashed;
}

.bodyEnt .col-6 div{
    padding-bottom: 5px !important;
}

.personaReferencia{
    background-color: #C2C0F5;
    border-top: 1px solid #918FDB !important;
    border-bottom: 1px solid #918FDB;
}

.modalPersRef{
    background-color: #918FDB;
}

.modalPersRef .col-6 div{
    color: #FFF;
}
// .divRef::after{
//     content:'';
//     width: 0px !important;
//     border-radius: 0 !important;
//     border: 0.5px solid #333;
//     bottom: -4px;
//     height: 50px;
//     margin-left: 10px;

//     // content: '';
//     // height: 90%;
//     // width: 1px;
//     // position: absolute;
//     // top: -4px;
//     // margin-left: 5px;
//     // border: 0.5px solid #333;
//     // border-style: dashed;
// }

.textFactor{
    font-weight: 500;
    font-size: 14px;
    padding-left: 0px;
}

.textResultado{
    font-size: 14px;
}

.paneltest {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.paneltest-secction {
    border-color: #c8cbd0;
}

.paneltest-heading {
    padding: 10px 15px;
    border-bottom: 0.5px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    background-color: #c8cbd0;
    border: solid 1px;
    border-color: #c8cbd0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.paneltest-secction>.paneltest-heading {
    color: #333;
    background-color: #c8cbd0;
}

.paneltest-body {
    padding: 15px;
}

.textItem{
    width: 85%;
    background: #E1E7EA;
    padding: 5px;
}

.textValor{
    background: #cfd7e7;
    min-width: 15%;
    text-align: center;
    padding: 5px;
}

.modal-body{
    overflow-x: auto;
    height: calc(100vh - 61vh);
    z-index: 0; padding-top: 0px;
}

.headModal{
    position: fixed;
    width: 88%;
    z-index: 100;
    background-color: #F1F1F1;
    margin-top: -16px;
    padding-top: 10px;
    padding-left: 16px;
}

@media (max-width: 1366px){
    :host /deep/ .md2-tab-label{
        font-size: 12px !important;
    }

    .textFactor{
        font-size: 12px !important;
    }

    .textResultado{
        font-size: 12px;
    }
}

@media (max-width: 1199px){
    :host /deep/ .md2-tabs-body-wrapper{
		height: 290px !important;
	}
}

@media (max-width: 800px){
    .modal-body{
        height: calc(100vh - 50vh);
    }
}


@media (max-width: 749px){
    :host /deep/ .md2-tabs-body-wrapper{
		max-height: calc(100% - 38px) !important;
		/*height: 100% !important;*/
	}

    .textFactor{
        font-size: 10px !important;
    }
    .textResultado{
        font-size: 12px;
    }
}

/*******************ToolTip**************************/

$md2-tooltip-target-height: 24px;
$md2-tooltip-max-width: 200px;
$md2-tooltip-font-size: 14px;
$md2-tooltip-margin: 5px;
$md2-tooltip-horizontal-padding: 5px;
$md2-tooltip-vertical-padding: ($md2-tooltip-target-height - $md2-tooltip-font-size) / 2;

::ng-deep .md2-tooltip {
  color: white;
  padding: $md2-tooltip-vertical-padding $md2-tooltip-horizontal-padding !important;
  border-radius: 2px;
  font-size: $md2-tooltip-font-size !important;
  margin: $md2-tooltip-margin !important;
  max-width: $md2-tooltip-max-width !important;
  text-align: center !important;
  background: rgba(0, 0, 0, 0.9) !important;
  word-wrap: break-word;
}

::ng-deep .md2-tooltip:before {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    right: -10px;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent transparent rgba(0, 0, 0, 0.9);
}