<input type="hidden" name="ParaListaPDF" id="Especial.Fusion" title="FUSIÓN" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" style="z-index: 101;" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Test...</div>
        </div>

        <div class="tab-content card-block G_TabContent" style="padding-top: 0;" id="myTab{{ prefijo }}Content">
            <div class="head">
                <div class="row white">
                    <div class="col col-12">
                        <div class="T_Tarjeta" style="margin-top: 10px;">Test de Persona</div>
                    </div>
                </div>
            </div>

            <div *ngFor="let t of testPersona; let i= index">
                <div class="G_BordeInferior" [style.margin-top]="i > 0 ? 10 + 'px' : 0 + 'px'">
                        <div class="row">
                            <div class="col col-6">
                                <div class="T_Titulo">Tipo de Test</div>
                                <div class="T_Descripcion">{{ t.Test || '-' }}</div>
                            </div>
                            <div class="col col-6 text-right">
                                <div class="T_Titulo">Fecha</div>
                                <div class="T_Descripcion">{{ t.Fecha || '-' }}</div>
                            </div>
                        </div>
                        <ng-container *ngIf="t.Entidades && t.Entidades.length > 0">
                            <div class="row">
                                <div class="col col-6"><div class="T_Titulo">Entidad</div></div>
                                <div class="col col-6 text-right"><div class="T_Titulo">Tipo de Entidad</div></div>
                            </div>

                            <div *ngFor="let e of t.Entidades; let ix2=index" class="item row G_SinMargin" [ngStyle]="{'border-top': ix2 == 0 ? '1px solid #dfe2e7' :  'none'}" 
                            [ngClass]="{ 'backgroundAlter': ix2%2 == false, 'personaReferencia' : e.CodEntidad === fichaPService.datosPersonales[0].CodPersona && e.CodTipoEntidad === 'COD_REFERENCIA' }">
                                <div class="col col-6 G_SinMargin G_SinPadding"><div class="T_Descripcion">{{ e.Entidad|| '-' }}</div></div>
                                <div class="col col-6 text-right G_SinMargin G_SinPadding"><div class="T_Descripcion">{{ e.TipoEntidad || '-' }}</div></div>
                            </div>
                        </ng-container>

                        <div class="row" [ngStyle]="{'margin-top' : t.Entidades && t.Entidades.length > 0 ? '10px' :  '0'}" >
                            <div class="col col-12" style="display: flex;">
                                <div class="T_Titulo">Origen de Test</div>
                                <div class="T_Descripcion" style="margin-left: 10px;">{{ t.Origen || '-' }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-12 text-right" style="padding-bottom: 5px">
                                <button type="button" class="btn btn-primary" style="background-color: #7875DC; border-color: #7875DC;" (click)= "openModal(t.CodCabeceraTest, t.CodTest, t.FechaCargaDate, i)">VER TEST</button>
                            </div>
                        </div>
                        <ng-container *ngIf="t.Resultados.length > 0">
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col col-12">
                                    <div class="T_Titulo">Resultados</div>
                                    
                                </div>
                            </div>
                            <!--<div class="row" style="display: -webkit-box; overflow-x: auto;">
                                    <div *ngFor="let d of t.Resultados" class="col col-4" style="border-right: solid 0.5px; display: -webkit-box;">
                                        <div class="textFactor col col-8">{{ d.Factor }}</div>
                                        <div class="textResultado col col-2">{{ d.Resultado }}</div>
                                    </div>
                                </div>-->
                            <div style="overflow-x: auto; padding-bottom: 10px;">
                                <div class="row" style="display: -webkit-box;">
                                    <div *ngFor="let d of t.Resultados" class="col col-3" style="border-right: solid 0.5px;">
                                        <div class="textFactor">{{ d.Factor }}</div>
                                    </div>
                                </div>
                                <div class="row" style="display: -webkit-box;">
                                    <div *ngFor="let d of t.Resultados" class="col col-3" style="border-right: solid 0.5px;">
                                        <div class="textResultado">{{ d.Categoria }}</div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                </div>
            </div>

        </div>
    </div>
</div>

    <md2-dialog #ModalTest>
        <md2-dialog-title>{{filterTest && filterTest[0] ? filterTest[0].Test: 'TEST'}}
            <a class="button2" data-dismiss="modal" (click)="ModalTest.close()">Cerrar</a>
        </md2-dialog-title>
            <div *ngIf="filterTest && filterTest[0] && filterTest[0].Entidades" class="row G_SinMargin headEnt">
                <div class="col col-6 firstDiv">
                    <div class="T_Descripcion"><b>Entidad</b></div>
                </div>
                <div class="col col-6" style="padding-top: 5px;">
                    <div class="T_Descripcion"><b>Tipo de Entidad</b></div>
                </div>
            </div>
            <ng-container *ngIf="filterTest && filterTest[0] && filterTest[0].Entidades">
            <div *ngFor="let e of filterTest[0].Entidades; let ix2=index" class="row G_SinMargin bodyEnt {{ e.CodEntidad === fichaPService.datosPersonales[0].CodPersona && e.CodTipoEntidad === 'COD_REFERENCIA' ? 'modalPersRef' : ''}}">
                <div class="col col-6 firstDiv"><div class="T_Descripcion">{{ e.Entidad|| '-' }}</div></div>
                <div class="col col-6" style="padding-top: 5px;"><div class="T_Descripcion">{{ e.TipoEntidad || '-' }}</div></div>
            </div>
            </ng-container>
            <div class="modal-body modal-fusion-body">
                <div *ngFor="let nodo of filterTest">
                    <div *ngIf="!nodo.EsUltimoNivel && nodo.visible" style="display: flex;" [ngClass]="{'paneltest-heading': !nodo.EsUltimoNivel}" [style.margin-left]="(20 * nodo.Nivel + 10) + 'px'">
                        <span class="btn-icon" (click)="toggleChildren(nodo.CodItem)" style="cursor: pointer;">
                            <!--<i [ngClass]="{'fa': true, 'fa-caret-up': !nodo.hideChildren, 'fa-caret-down': nodo.hideChildren}"></i>-->
                            <i class="material-icons">{{ nodo.hideChildren ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </span>
                        <div style="margin-top: 2px;">{{ nodo.Item }}</div>
                    </div>
                    <div *ngIf="nodo.EsUltimoNivel && nodo.visible" [style.margin-left]="(20 * nodo.Nivel + 10) + 'px'" style="display: flex; margin-top: 5px; margin-bottom: 5px;">
                        <div class="textItem">{{ nodo.Item }}</div>
                        <div class="textValor">{{ nodo.Valor }}</div>
                    </div>
                </div>
            </div>
        </md2-dialog>