<input type="hidden" name="ParaListaPDF" id="viv.Viviendas.Inundaciones" title="Inundaciones en la Vivienda" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Inundaciones en la Vivienda...</div>
        </div>
        <md2-tabs class="tab" *ngIf="fechasInundaciones && fechasInundaciones.length > 0" (change)="onChangeTab($event)">
            <md2-tab *ngFor="let d of fechasInundaciones; let i=index"
                    [label]="d.Fecha"
                    [MostrarOrigen]="i == 0 ? true : false"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />

                <div class="row origen">
                    <div class="col-xs-6 T_Titulo"><span *ngIf="d.NroRelevamiento">Nro. Encuesta:</span> {{ d.NroRelevamiento || ''}}</div>
                    <div class="col-xs-6 T_Titulo">Origen: {{ d.Origen || '-'}}</div>
                </div>
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="row">
                    <div class="col-12">
                        <div class="T_Tarjeta">Inundaciones en la Vivienda</div>
                        <!--<input type="hidden" name="Origen" value='{{ d.Origen }}' />
                        <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>-->
                    </div>                    
                </div>
                <div class="row">
                    <div class="col col-4">
                        <div class="T_Titulo">Lugar que se inunda</div>
                    </div>
                    <div class="col col-4">
                        <div class="T_Titulo">Frecuencia</div>
                    </div>
                    <div class="col col-4">
                        <div class="T_Titulo">Causa</div>
                    </div>
                </div>
                <div *ngFor="let item of inundacionesFilter; let i=index" class="item" [ngStyle]="{'border-top': i == 0 ? '1px solid #dfe2e7' :  'none'}" [ngClass]="{ 'backgroundAlter': i%2 == false }">
                    <div class="row">
                        <div class="col col-4">
                            <div class="T_Descripcion">{{item.TipoCatastrofe || '-'}}</div>
                        </div>
                        <div class="col col-4">
                            <div class="T_Descripcion">{{item.Frecuencia || '-'}}</div>
                        </div>
                        <div class="col col-4">
                            <div class="T_Descripcion">{{item.CausaCatastrofe || '-'}}</div>
                        </div>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col col-4">
                        <div class="T_Descripcion">Interior Casa</div>
                    </div>
                    <div class="col col-4">
                        <div class="T_Descripcion">{{d.CasaPeriodicidad || '-'}}</div>
                    </div>
                    <div class="col col-4">
                        <div class="T_Descripcion">{{d.CasaMotivo || '-'}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-4">
                        <div class="T_Descripcion">Calle</div>
                    </div>
                    <div class="col col-4">
                        <div class="T_Descripcion">{{d.CallePeriodicidad || '-'}}</div>
                    </div>
                    <div class="col col-4">
                        <div class="T_Descripcion">{{d.CalleMotivo || '-'}}</div>
                    </div>
                </div>-->
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </md2-tab>
        </md2-tabs>
    </div>
</div>