<div style="width: 100%; margin: 0 auto;" class="row">
    <div class="col-md-6" style="display: flex; text-align: left;">
        <div class="col-md-3" style="padding: 0;">
            <label class="T_Titulo">Rango de Fecha</label>
        </div>
        <div class="col-md-4" style="padding: 0; margin-top: -20px;">
            <md2-datepicker type='date' format="dd/MM/y" placeholder="Desde" [openOnFocus]="true" [max]="fechaHasta" [ngModel]="fechaDesde" (change)="selectFromDate($event.value);">
            </md2-datepicker>
        </div>

        <div class="col-md-4" style="margin-top: -20px; padding-right: 0;">
            <md2-datepicker type='date' format="dd/MM/y" placeholder="Hasta" [openOnFocus]="true" [min]="fechaDesde" [ngModel]="fechaHasta" (change)="selectToDate($event.value);">
            </md2-datepicker>
        </div>

        <div class="col-md-2" class="iconRestore col-md-2" [ngStyle]="{'opacity': !fechaDesde && !fechaHasta ? '.33' : '1'}">
            <md-icon id="back" class="mat-icon" (click)="clearFilters()">restore</md-icon>
            <!--<img class="icono-time" title="Limpiar filtros" src="assets/icons/clear-filters.png" (click)="clearFilters()">-->
        </div>
    </div>

    <div class="col-md-6" style="text-align: right;">
        <span>Tipo de Filtro:</span>
        <md2-select [(ngModel)]="tipoFiltro" (change)="onChanges()" style="margin-top: -5px; margin-left: 10px; z-index: 10000;">
            <md2-option [value]="'0'">Meses</md2-option>
            <md2-option [value]="'1'">Años</md2-option>
        </md2-select>
    </div>
</div>

<div #scrollMe id="{{tarjeta}}" class="cd-horizontal-timeline" style="margin-top: 0; margin-left: 1%;">
    <div class="timeline col-md-11">

        <div class="events-wrapper">
            <div class="events">
                <ol>
                    <li class="datosFilter" *ngFor="let item of daysItems; let i = index; let last=last" (click)="scroll(scrollMe)">
                        <a href="{{item.name}}" data-date="" (click)="item.tieneDatos ? getFotosEvent(item.pos) : ''" [ngClass]="{ 'selected': i == 0, 'noTime': !item.tieneDatos && !item.esMes, 'eventLink': item.tieneDatos, 'mes': item.esMes }" class="item.date | datePipe:'DD/MM/YYYY'"
                            [style.width.px]="eventsMinDistance" [ngStyle]="{'cursor': item.tieneDatos ? 'pointer' : 'default'}">
                            <span [ngClass]="{ 'inpar': item.esPar == 1, 'spanMes' : item.esMes }" style="display: flex;" [style.width.px]="100" [style.margin-left.px]="tipoFiltro === '0' ? ((-eventsMinDistance /(eventsMinDistance / minZoom))/2) : item.esMes ? listPadding[(eventsMinDistance - minZoom)/12].paddingleft : (eventsMinDistance - minZoom) / 2">{{ item.tieneDatos || item.esMes ? item.name : ''}}</span
                            ></a>
                        </li>
                    </ol>

                    <span class="filling-line" aria-hidden="true"></span>
            </div>
            <!-- .events -->
        </div>
        <!-- .events-wrapper -->

        <ul class="cd-timeline-navigation">
            <li>
                <md-icon id="back" class="mat-icon" style="position: absolute; top: 38%; left: -7px; color: #C9C9C9;">keyboard_arrow_left</md-icon>
                <a href="#0" class="prev inactive" style="left: -7px;">
                </a>
            </li>
            <li>
                <md-icon id="back" class="mat-icon" style="position: absolute; top: 38%; right: -35px; color: #C9C9C9;">keyboard_arrow_right</md-icon>
                <a href="#0" class="next" style="right: -35px;">
                </a>
            </li>
        </ul>
        <!-- .cd-timeline-navigation -->
    </div>
    <!-- .timeline -->
    <div class="col-md-1" style="display: grid; text-align: right; margin-top: 10px;">
        <span style="cursor: pointer;" [ngStyle]="{'opacity': eventsMinDistance >= maxZoom && tipoFiltro == '0' ? '.33' : '1'}" (click)="zoomIn()">
                <img src="assets/icons/zoom-in.png"></span>
        <span style="cursor: pointer;" [ngStyle]="{'opacity': eventsMinDistance <= minZoom && tipoFiltro == '1' ? '.33' : '1'}" (click)="zoomOut()">
                <img src="assets/icons/zoom-out.png"></span>
        <span style="cursor: pointer;" (click)="reset()">
                <img src="assets/icons/actualizar.png"></span>
    </div>
    <div class="eventRow row">
        <div class="events-content col-md-12" style="padding-left: 0;">
            <ol style="padding-left: 0;">
                <li id="{{ dato.fecha }}" *ngFor="let dato of dataItems; let i = index; let last=last" style="padding-left: 0;">
                    <em style="text-align: left;">{{ dato.fecha }}</em>
                    <div>
                        <div style="overflow-x: hidden; overflow-y: auto; height: calc(100vh - 70vh); width: auto;">
                            <div class="image_gallery">
                                <div *ngFor="let item of dato.fotos; let i = index; let last=last">
                                    <img class="image_gallery_img" (click)="openViewer(i)" [src]="item.FotoSmall + '?w=250'" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
        <!-- .events-content -->
    </div>
</div>

<!-- viewer fotos oculto-->
<div style="height: 0px; overflow: hidden;" id="ViewerGrid{{tarjeta}}">
    <ul class="imagesViewer{{tarjeta}}">
        <li *ngFor="let d of dataFotos; let i=index;let last=last">
            <img class="{{ d.FotoLarge }}" [src]="urlSafe(d.FotoSmall)" alt="<h2>{{ d.FotoTitulo }}</h2><h4>{{ d.FotoDescrip }}</h4><h4>{{ d.Fecha }}</h4>" id="ViewerFotoIndex{{tarjeta}}{{ i }}"> {{last ? activarViewer(i) : ''}}
        </li>
    </ul>
</div>