<input type="hidden" name="ParaListaPDF" id="viv.Viviendas.Observaciones" title="Observaciones" />
<input type="hidden" name="ParaListaPDF" id="viv.Viviendas.Urgencias" title="Urgencias" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Observaciones y Urgencias...</div>
        </div>
        <div class="tab-content card-block G_TabContent" id="myTab{{ prefijo }}Content">
        <!--<md2-tabs class="tab" *ngIf="fechasAgrupadas && fechasAgrupadas.length > 0">
            <md2-tab *ngFor="let d of fechasAgrupadas; let i=index"
                    [label]="d.Fecha"
                    [NroRelevamiento]="d.NroRelevamiento"
                    [MostrarOrigen]="i == 0 ? true : false"
                    [active]="i == 0 ? true : false">-->
                <!--Determinamos si la tarjeta se muestra-->
                <!--<input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />

                <div class="T_Titulo origen">
                    Origen: {{ d.Origen || '-'}}
                </div>-->
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="col col-12 row G_SinMargin G_SinPadding" style="height: 42px; display: block; margin-top: 10px !important;">
                    <ul class="nav nav-tabs" role="tablist" style="float: left;">
                        <li *ngIf="observaciones && observaciones.length > 0" class="nav-item"><a class="nav-link {{ obsActivo ? 'active show' : '' }}" data-toggle="tab" role="tab" href="#TarjetaObservaciones" (click) = "obsActivo = true">Observaciones</a></li>
                        <li *ngIf="urgencias && urgencias.length > 0" class="nav-item"><a class="nav-link {{ !obsActivo ? 'active show' : '' }}" data-toggle="tab" role="tab" href="#TarjetaUrgencias" (click) = "obsActivo = false">Urgencias</a></li>
                    </ul>
                    <!--<input type="hidden" name="Origen" value='{{ d.Origen }}' />
                    <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>
                    <input type="hidden" name="EdadRelevamiento" value='{{ d.EdadRelevamiento }}' />-->
                    <!--<a class="G_BotonTarjeta" type="EdadRelevamiento" data-toggle="tooltip" data-placement="left" title="" data-original-title="" data-title-template="Edad en el Relevamiento: ">&nbsp;<span class="zmdi zmdi-info" title="Edad en el Relevamiento"></span></a>-->
                </div>
                <div class="tab-content">
                    
                    <div *ngIf="obsActivo" class="col col-12 tab-pane fade {{ obsActivo ? 'active show' : '' }} row G_SinMargin G_SinPadding" role="tabpanel">
                        <!--<ng-container *ngFor="let item of observaciones">-->
                        <div class="head">
                            <div class="col col-12 row white">
                                <div class="col col-3">
                                    <div class="T_Titulo">Fecha/Hora</div>
                                </div>
                                <div class="col col-6">
                                    <div class="T_Titulo">Observación</div>
                                </div>
                                <div class="col col-3">
                                    <div class="T_Titulo">Usuario Insertó</div>
                                </div>
                            </div>
                        </div>
                        <div *ngFor="let item of observaciones; let i=index" class="item" [ngStyle]="{'border-top': i == 0 ? '1px solid #dfe2e7' :  'none'}" [ngClass]="{ 'backgroundAlter': i%2 == false }" id="{{ prefijo }}{{ i }}">
                            <div class="col col-12 row">
                                <div class="col col-3">
                                    <div class="T_Descripcion">{{ item.FechaRegistro | date:'dd-MM-yy hh:mm' }}</div>
                                </div>
                                <div class="col col-6">
                                    <div class="T_Descripcion">{{ stringFunctions.Capitalizar(item.Texto, false) }}</div>
                                </div>
                                <div class="col col-3">
                                    <div class="T_Descripcion">{{ item.UsuarioEncuesta }}</div>
                                </div>
                            </div>
                        </div>
                        <!--</ng-container>>-->
                    </div>
                    
                    
                    <div *ngIf="!obsActivo" id="TarjetaUrgencias{{ i }}" class="col col-12 tab-pane fade {{ !obsActivo ? 'active show' : '' }} row G_SinMargin G_SinPadding" role="tabpanel">
                        <div class="head">
                            <div class="col col-12 row white">
                                <div class="col col-3">
                                    <div class="T_Titulo">Fecha/Hora</div>
                                </div>
                                <div class="col col-6">
                                    <div class="T_Titulo">Urgencia</div>
                                </div>
                                <div class="col col-3">
                                    <div class="T_Titulo">Usuario Insertó</div>
                                </div>
                            </div>
                        </div>
                        <!--<ng-container *ngFor="let item of urgencias">-->
                        <div *ngFor="let item of urgencias; let i=index" class="item" [ngStyle]="{'border-top': i == 0 ? '1px solid #dfe2e7' :  'none'}" [ngClass]="{ 'backgroundAlter': i%2 == false }" id="{{ prefijo }}{{ i }}">
                            <div class="col col-12 row">
                                <div class="col col-3">
                                    <div class="T_Descripcion">{{ item.FechaRegistro | date:'dd-MM-yy hh:mm' }}</div>
                                </div>
                                <div class="col col-6">
                                    <div class="T_Descripcion">{{ stringFunctions.Capitalizar(item.Texto, false) }}</div>
                                </div>
                                <div class="col col-3">
                                    <div class="T_Descripcion">{{ item.UsuarioEncuesta }}</div>
                                </div>
                            </div>
                            <!--<div class="col col-12">
                                <div class="T_Titulo">{{ item.TipoEmergencia }}</div>
                                <div class="T_Descripcion">{{ stringFunctions.Capitalizar(item.Descripcion, false) }}</div>
                            </div>-->
                        </div>
                        <!--</ng-container>-->
                    </div>
                    

                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            <!--</md2-tab>
        </md2-tabs>-->
        </div>
    </div>
</div>