<div class="tl-timeline tl-layout-landscape">
    <div fxFlex="100" class="tl-media" 
         style="max-width: 843.5px; width: inherit; height: 80%;"
         [@slideInOutAnimation]="orientation">
        <div [ngClass]="{'tl-media-content-container': true, 'left_right_style': disabled}"
             style="width: 100%; height: unset;">
            <div [ngClass]="{'tl-media-content': true, 'tl-media-content-style': true, 'tl-media-content-style-disabled': disabled && itemdate.type === 'video'}">
                <div style="height: 100%">
                    <img *ngIf="itemdate.type === 'imagen'" (click)="openNav()" id="FotoIndex{{ itemdate.id }}"
                         [ngClass]="{'tl-media-image': true, 'tl-media-shadow': true, 'cursor_pointer': !disabled}"
                         [alt]="itemdate.name"
                         [title]="itemdate.description"
                         [src]="itemdate.urlmedium"
                         style="max-height: 378px;margin: 0 auto; height: 100% !important;">
                </div>
            </div>
        </div>
    </div>
    <div  style="background-color: white">
        <div >
            <div >
                <p>Fecha de Registro: {{itemdate.date | date: 'dd/MM/yyyy HH:mm'}}</p>
            </div>
            <div >
                <h4 class="tl-headline tl-headline-title">{{itemdate.description}}</h4>
            </div>
            <!-- <div >
                <p>Registardo por: FLAVIO</p>
            </div> -->
            <div >
                <label
                       [style.background]="getCategory(itemdate.category).color"
                       style="width: fit-content;font-size: 18px;color: white;padding-left: 5px;padding-right: 5px;">
                    {{getCategory(itemdate.category).name}}
                </label>
            </div>
        </div>
    </div>
</div>
