<input type="hidden" name="ParaListaPDF" id="Personas.AntecedentesAntropometricos" title="Antecedentes Antropométricos"/>
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Antecedentes Antropométricos...</div>
        </div>
        <!--<div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist" id="myTab{{ prefijo }}">
                <li class="nav-item" *ngFor="let d of antecedentes; let i=index">
                    <a id="{{ prefijo }}{{ i }}-tab" class="nav-link {{ i == 0 ? 'active' : '' }}" href="#{{ prefijo }}{{ i }}" data-toggle="tab" role="tab">{{ d.Fecha }}</a>
                </li>
            </ul>
        </div>

        <div class="tab-content card-block G_TabContent" id="myTab{{ prefijo }}Content">
            <div *ngFor="let d of antecedentes; let i=index" role="tabpanel" class="tab-pane fade {{ i == 0 ? 'active show' : '' }}" id="{{ prefijo }}{{ i }}">-->
        <md2-tabs class="tab" *ngIf="antecedentes && antecedentes.length > 0">
            <md2-tab *ngFor="let d of antecedentes; let i=index"
                    [label]="d.Fecha"
                    [MostrarOrigen]="i == 0 ? true : false"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />

                <div class="row origen">
                    <div class="col-xs-6 T_Titulo"><span *ngIf="d.NroRelevamiento">Nro. Encuesta:</span> {{ d.NroRelevamiento || ''}}</div>
                    <div class="col-xs-6 T_Titulo">Origen: {{ d.Origen || '-'}}</div>
                </div>
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="row" style="margin-top: 5px;">
                    <div class="col-12">
                        <div class="T_Tarjeta">Antecedentes Antropométricos</div>
                        <!--<input type="hidden" name="Origen" value='{{ d.Origen }}' />
                        <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>
                        <input type="hidden" name="EdadRelevamiento" value='{{ d.EdadRelevamiento }}' />-->
                        <!--<a class="G_BotonTarjeta" type="EdadRelevamiento" data-toggle="tooltip" data-placement="left" title="" data-original-title="" data-title-template="Edad en el Relevamiento: ">&nbsp;<span class="zmdi zmdi-info" title="Edad en el Relevamiento"></span></a>-->
                        <input type="hidden" name="CodVisita" value='{{ d.CodVisita }}' />
                        <a class="G_BotonTarjeta" (click)= "openModal(d.CodVisita, 'ModalAntecedentesAntropometricos')" codvisita=""><img class="G_BotonNivel2" src="../../../Content/Images/icon-arrows-gray.svg" style="height: 14px;" title="Más Información"></a>
                    </div>
                </div>
                <div class="col col-12 row G_BordeInferior G_SinMargin G_SinPadding">
                    <div class="col col-6">
                        <div class="T_Titulo">Nació Prematuro</div>
                        <div class="T_Descripcion">{{ d.Prematuro }}</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo">Edad Gestacional al Nacer</div>
                        <div class="T_Descripcion">{{ d.EdadGestacional }}</div>
                    </div>
                </div>
                <div class="col col-12 row G_BordeInferior G_SinMargin G_SinPadding">
                    <div class="col col-6">
                        <div class="T_Titulo">Peso al Nacer</div>
                        <div class="T_Descripcion">{{ d.PesoAlNacer }}kg</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo">Talla al Nacer</div>
                        <div class="T_Descripcion">{{ d.TallaAlNacer ? d.TallaAlNacer + 'cm' : '-' }}</div>
                    </div>
                </div>
                <div class="col col-12 row G_BordeInferior G_SinMargin G_SinPadding">
                    <div class="col col-6">
                        <div class="T_Titulo">Tipo de Parto</div>
                        <div class="T_Descripcion">{{ d.TipoPartoNacer }}</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo">Complicaciones en su gestación</div>
                        <div class="T_Descripcion">{{ d.TuvoComplicacionesEmbarazo }}</div>
                    </div>
                </div>
                <div class="col col-12 row G_SinMargin G_SinPadding">
                    <div class="col col-6">
                        <div class="T_Titulo">Muestra Libreta Sanitaria</div>
                        <div class="T_Descripcion">{{ d.MuestraLibSanitaria_txt }}</div>
                    </div>
                    <div *ngIf="d.MuestraLibSanitaria == 'NO'" class="col col-6">
                        <div class="T_Descripcion">{{ d.MotivoNoMuestraLibSanitaria }}</div>
                    </div>
                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
                </md2-tab>
        </md2-tabs>
            <!--</div>
        </div>-->
    </div>
</div>

<div class="modal fade" role="dialog" id="ModalAntecedentesAntropometricos">
    <div class="modal-dialog modal-lg">
        <div class="col col-12 modal-content">
            <div class="modal-header">
                <div class="col col-12 row" style="padding-right: 0;">
                    <div class="col col-10"><h4 class="modal-title"><span class="info-title-cards">Antecedentes Antropométricos</span></h4></div>
                    <div class="col col-2"><a class="button3" data-dismiss="modal">Cerrar</a></div>
                </div>
            </div>
            <div class="modal-body">
                <!--TAB DE VISITAS XS SM-->
                <div class="col col-sm-12 hidden-md-down hidden-lg-down hidden-xl-down row G_BordeInferior G_SinPadding">
                    <div class="col col-12" style="margin-top: 8px;" data-toggle="collapse" data-target="#VistaCollapseAntecedentesAntropometricos">
                        <div class="col col-8 F_TituloFormulario_14">Fecha de Visitas</div>
                        <div class="col col-4"><span class="caret text-right" style="margin-top: 6px;"></span></div>
                    </div>
                    <div class="col col-12 collapse" id="VistaCollapseAntecedentesAntropometricos">
                        <div *ngFor="let d of antecedentes; let i=index" class="col col-12"><a class="T_Visita col col-12 nav-link" style="text-align: center;" data-toggle="tab" role="tab" href="#ModalAntecedentesAntropometricos{{ d.CodVisita }}" title="{{ d.CodVisita }}">{{ d.Fecha }}</a></div>
                    </div>
                </div>
                <!--TAB DE VISITAS MD LG-->
                <div class="hidden-sm-down col col-12 row G_SinPadding">
                    <ul class="nav nav-tabs T_Tabs_Contenedor Violeta_Contenedor">
                        <li class="nav-item" *ngFor="let d of antecedentes; let i=index"><a class="Violeta nav-link" data-toggle="tab" role="tab" href="#ModalAntecedentesAntropometricos{{ d.CodVisita }}" title="{{ d.CodVisita }}">{{ d.Fecha }}</a></li>
                    </ul>
                </div>
                <!--CUERPO DE VISITAS-->
                <div class="col col-12 tab-content G_SinPadding">
                    <div *ngFor="let d of antecedentes; let i=index" id="ModalAntecedentesAntropometricos{{ d.CodVisita }}" class="col col-12 tab-pane fade G_SinPadding">
                        <div class="row">
                            <div class="hidden-sm-down col col-md-1 text-center">
                                <img src="../../../Content/Images/fui-icon-nacer.svg" class="img-responsive" style="">
                            </div>
                            <div class="col col-sm-12 col-md-11 G_SinPadding">
                                <div class="row">
                                    <div class="col col-sm-12 hidden-md-down hidden-lg-down hidden-xl-down"></div>
                                    <div class="col col-sm-4 col-md-4">
                                        <div class="T_Titulo">E.G. al Nacer</div>
                                        <div class="T_Descripcion">{{ d.EdadGestacional }}</div>
                                    </div>
                                    <div class="col col-sm-4 col-md-4">
                                        <div class="T_Titulo">Peso al Nacer</div>
                                        <div class="T_Descripcion">{{ d.PesoAlNacer }} kg</div>
                                    </div>
                                    <div class="col col-sm-4 col-md-4">
                                        <div class="T_Titulo">Talla al Nacer</div>
                                        <div class="T_Descripcion">{{ d.TallaAlNacer ? d.TallaAlNacer + 'cm' : '-' }}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-sm-12 hidden-md-down hidden-lg-down hidden-xl-down"></div>
                                    <div class="col col-sm-12 col-md-4">
                                        <div class="T_Titulo">Complicaciones Durante el Embarazo</div>
                                        <div class="T_Descripcion">{{ d.TuvoComplicacionesEmbarazo_txt_n2 }}</div>
                                    </div>
                                    <div class="col col-sm-12 col-md-4">
                                        <div class="T_Titulo">Tipo de Parto</div>
                                        <div class="T_Descripcion">{{ d.TipoPartoNacer }}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-sm-12 hidden-md-down hidden-lg-down hidden-xl-down"></div>
                                    <div class="col col-sm-12 col-md-4">
                                        <div class="T_Titulo">Lactancia Materna</div>
                                        <div class="T_Descripcion">{{ d.LactanciaMaterna_txt_n2 }}</div>
                                    </div>
                                    <div class="col col-sm-6 col-md-4">
                                        <div class="T_Titulo">Muestra Libreta Sanitaria</div>
                                        <div class="T_Descripcion">{{ d.MuestraLibSanitaria_txt_n2 }}</div>
                                    </div>
                                    <div class="col col-sm-6 col-md-4">
                                        <div class="T_Titulo">Motivo No Muestra</div>
                                        <div class="T_Descripcion">{{ d.MotivoNoMuestraLibSanitaria_txt_n2 }}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-sm-12 hidden-md-down hidden-lg-down hidden-xl-down"></div>
                                    <div class="col col-sm-12 col-md-4">
                                        <div class="T_Titulo">Asiste a Escuela o Jardín</div>
                                        <div class="T_Descripcion">{{ d.AsisteEscuelaJardin }}</div>
                                    </div>
                                    <div class="col col-sm-12 col-md-4">
                                        <div class="T_Titulo">Consume el Desayuno en el Establecimiento</div>
                                        <div class="T_Descripcion">{{ d.EnJardin_Desayuno }}</div>
                                    </div>
                                    <div class="col col-sm-12 col-md-4">
                                        <div class="T_Titulo">Consume el Almuerzo en el Establecimiento</div>
                                        <div class="T_Descripcion">{{ d.EnJardin_Almuerzo }}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-sm-12 hidden-md-down hidden-lg-down hidden-xl-down"></div>
                                    <div class="col col-sm-12 col-md-4">
                                        <div class="T_Titulo">Consume la Merienda en el Establecimiento</div>
                                        <div class="T_Descripcion">{{ d.EnJardin_Merienda }}</div>
                                    </div>
                                    <div class="col col-sm-12 col-md-4">
                                        <div class="T_Titulo">Consume Otras Comidas en el Establecimiento</div>
                                        <div class="T_Descripcion">{{ d.EnJardin_OtrasComidas }}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div *ngIf="(d.TieneFactoresRiesgos | uppercase) == 'SI'" class="col col-12">
                                        <table class="table-nv2">
                                            <thead>
                                                <tr>
                                                    <th class="T_Titulo">Riesgo durante la gestación</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of antecedentesFC">
                                                    <td *ngIf="d.CodVisita==item.CodVisita" class="T_Descripcion">{{ (item.Riesgo != 'Otros' ? item.Riesgo : (item.OtroRiesgo != '' ? item.OtroRiesgo : 'Otros')) }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br />
                                    </div>
                                    <div *ngIf="(d.TieneFactoresRiesgos | uppercase) != 'SI'" class="col col-12">
                                        <table class="table-nv2">
                                            <thead>
                                                <tr>
                                                    <th class="T_Titulo">Riesgo durante la gestación</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr><td class="T_Descripcion">No se presentaron factores de riesgo</td></tr>
                                            </tbody>
                                        </table>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12">&nbsp;</div>
            </div>
        </div>
    </div>
</div>