<input type="hidden" name="ParaListaPDF" id="Especial.Conin" title="Conin" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Conin...</div>
        </div>
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist" id="myTab{{ prefijo }}">
                <li class="nav-item" *ngFor="let d of admisiones; let i=index">
                    <a id="{{ prefijo }}{{ i }}-tab" class="nav-link {{ i == 0 ? 'active' : '' }}" href="#{{ prefijo }}{{ i }}" data-toggle="tab"
                        role="tab">{{ d.FechaIngreso | datePipe:'DD-MM-YY'}}</a>
                </li>
            </ul>
        </div>

        <div class="tab-content card-block G_TabContent" id="myTabInfContent">
            <div *ngFor="let d of admisiones; let i=index" role="tabpanel" class="tab-pane fade {{ i == 0 ? 'active show' : '' }}" id="{{ prefijo }}{{ i }}">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="row">
                    <div class="col-12">
                        <div style="display: flex;">
                            <img class="logo" src="assets/icons/logoConin.png" alt="">
                            <div class="T_Tarjeta">Conin</div>
                        </div>

                        <input type="hidden" name="Origen" value='CENTROS DE PRIMERA INFANCIA' />
                        <a class="G_BotonTarjeta" [tooltip]="'Origen: CENTROS DE PRIMERA INFANCIA'" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>
                        <input type="hidden" name="EdadRelevamiento" value='{{ d.EdadRelevamiento }}' />
                        <!--<a class="G_BotonTarjeta" type="EdadRelevamiento" data-toggle="tooltip" data-placement="left" title="" data-original-title="" data-title-template="Edad en el Relevamiento: ">&nbsp;<span class="zmdi zmdi-info" title="Edad en el Relevamiento"></span></a>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col col-6">
                        <div class="T_Titulo">Centro</div>
                        <div class="T_Descripcion">{{ d.Sede }}</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo">Historia Clínica</div>
                        <div class="T_Descripcion">{{ d.NroHistoriaClinica }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-6">
                        <div class="T_Titulo">Tipo de Admisión</div>
                        <div class="T_Descripcion">{{ d.TipoAdmision }}</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo">Fecha de Ingreso</div>
                        <div class="T_Descripcion">{{ d.FechaIngreso }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-6">
                        <div class="T_Titulo">Fecha de Egreso</div>
                        <div class="T_Descripcion">{{ d.FechaEgreso == null ? '-' : d.FechaEgreso }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-12">
                        <div class="T_Titulo text-right"></div>
                        <div class="T_Descripcion text-right">
                            <input type="hidden" name="identificador" value="Historia Clínica: {{ d.NroHistoriaClinica }}">
                            <button type="button" class="btn btn-primary" (click)= "openModal(d.NroHistoriaClinica, 'ModalConin')">VER MÁS</button>
                        </div>
                    </div>
                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </div>
        </div>
    </div>
</div>

<md2-dialog #ModalConin2>
    <!--<div class="modal-header modal-CPI-header">
        <div class="col col-12 row">
            <div class="col col-10">
                <h4 class="modal-title">
                    <span class="info-title-cards modal-CPI-title">CPI</span>
                </h4>
            </div>
        </div>
    </div>-->
    <md2-dialog-title>Conin<a class="button2" data-dismiss="modal" (click)="ModalConin2.close()">Cerrar</a></md2-dialog-title>
    <div class="modal-body modal-CPI-body">
        <md2-tabs class="tab" *ngIf="admisiones && admisiones.length > 0">
            <md2-tab *ngFor="let d of admisiones"
                    [label]="d.titulo"
                    [active]="i == 0 ? true : false">

                    <div class="row">
                            <div class="col col-sm-12 col-md-12 G_SinPadding">
                                <div class="row">
                                    <div class="col col-sm-12 col-md-4">
                                        <!-- <div class="col col-12 hidden-md-down hidden-lg-down hidden-xl-down"></div> -->
                                        <!-- <div class="col col-sm-12 G_SinPadding"> -->
                                            <div class="TarjetaConin" style="    height: calc(100% - 8px);">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div style="display: flex;">
                                                            <img class="logo" src="assets/icons/logoConin.png" alt="">
                                                            <div class="T_Tarjeta" id="NombreTarjetaConin">Conin</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col col-6">
                                                        <div class="T_Titulo">Centro</div>
                                                        <div class="T_Descripcion">{{ d.Sede }}</div>
                                                    </div>
                                                    <div class="col col-6">
                                                        <div class="T_Titulo">Historia Clínica</div>
                                                        <div class="T_Descripcion">{{ d.NroHistoriaClinica }}</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col col-6">
                                                        <div class="T_Titulo">Tipo de Admisión</div>
                                                        <div class="T_Descripcion">{{ d.TipoAdmision }}</div>
                                                    </div>
                                                    <div class="col col-6">
                                                        <div class="T_Titulo">Fecha de Ingreso</div>
                                                        <div class="T_Descripcion">{{ d.FechaIngreso }}</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col col-6">
                                                        <div class="T_Titulo">Fecha de Egreso</div>
                                                        <div class="T_Descripcion">{{ d.FechaEgreso == null ? '-' : d.FechaEgreso }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        <!-- </div> -->
                                    </div>
                                    <div class="col col-sm-12 col-md-8">
                                        <div class="TarjetaConin">
                                            <div class="row">
                                                <div class="col col-4 border-right">
                                                    <div class="row">
                                                        <div class="T_Tarjeta col-12">Indicadores</div>
                                                    </div>
                                                    <div *ngFor="let indi of d.Indicadores" class="row">
                                                        <div class="col col-12">
                                                            <div class="T_Descripcion">{{ stringFunctions.Capitalizar(indi.Indicador, true) }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div></div>
                                                <div class="col col-4 border-right">
                                                    <div class="row">
                                                        <div class="T_Tarjeta col-12">Actividades</div>
                                                    </div>

                                                    <div *ngFor="let tall of d.Talleres" class="row">
                                                        <div class="col col-10">
                                                            <div class="T_Descripcion">
                                                                {{ tall.Taller }}
                                                            </div>
                                                        </div>
                                                        <div class="col col-2 FixIconActividades">
                                                            <div class="T_Descripcion">
                                                                <button *ngIf="TieneFotosActividades(tall)" type="button" class="btn btn-primary btn-Fotos" (click)="GetFotosActividades(tall)"
                                                                    title="Ver Fotos de {{ tall.Taller }}">
                                                                    <i class="zmdi zmdi-collection-image-o"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col col-4">
                                                    <div class="row">
                                                        <div class="T_Tarjeta col-12">Tests</div>
                                                    </div>
                                                    <div *ngFor="let tes of d.Test">
                                                        <!--<img src="../../Content/Images/{{ testEstadoIcono(sec) }}">-->
                                                        <div class="T_Titulo">{{ tes.test }}</div>
                                                        <div class="T_Descripcion">
                                                            {{ tes.Fecha }}
                                                            <button *ngIf="tes.Url!='' && tes.Url!=null" type="button" class="btn btn-primary btn-Fotos" (click)="MostrarTest(tes.test, tes.Fecha, tes.Url)">VER TEST</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col col-sm-12">
                                        <div class="TarjetaConin">
                                            <div class="T_Titulo">Línea de Tiempo</div>
                                            <div class="T_Descripcion"></div>
                                            <div *ngIf="MostrarLinea(d.Admision)" class="row">
                                                <app-timeline [items]="GetItemsLinea(d.Admision)"></app-timeline>
                                            </div>
                                            <div *ngIf="!MostrarLinea(d.Admision)" class="row">
                                                <div class="col col-12 T_Descripcion">Esta Admisión no tiene disponible archivos para mostrar.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
            </md2-tab>
        </md2-tabs>
        <div class="col col-12">&nbsp;</div>
    </div>
</md2-dialog>

<div class="modal fade" role="dialog" id="ModalConin" style="overflow-y: auto;">
    <div class="modal-dialog modal-lg ModalConin">
        <div class="col col-12 modal-content">
            <div class="modal-header modal-Conin-header">
                <div class="col col-12 row">
                    <div class="col col-10">
                        <h4 class="modal-title">
                            <span class="info-title-cards modal-Conin-title">Conin</span>
                        </h4>
                    </div>
                    <div class="col col-2">
                        <button type="button" class="close" data-dismiss="modal">
                            <i class="zmdi zmdi-close modal-Conin-close"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body modal-Conin-body">
                <!--TAB DE VISITAS XS SM-->
                <div class="col col-sm-12 hidden-md-down hidden-lg-down hidden-xl-down row G_BordeInferior G_SinPadding">
                    <div class="col col-12" style="margin-top: 8px;" data-toggle="collapse" data-target="#VistaCollapseConin">
                        <div class="col col-8 T_Titulo">Fecha de Admisiones</div>
                        <div class="col col-4">
                            <span class="caret text-right" style="margin-top: 6px;"></span>
                        </div>
                    </div>
                    <div class="col col-12 collapse" id="VistaCollapseConin">
                        <div *ngFor="let d of admisiones; let i=index" class="col col-12">
                            <a class="T_Visita col col-12 nav-link" style="text-align: center;" data-toggle="tab" role="tab" href="#ModalConin{{ i }}"
                                title="Historia Clínica: {{ d.NroHistoriaClinica }}">ADMISIÓN: {{ d.FechaIngreso }}</a>
                        </div>
                    </div>
                </div>
                <!--TAB DE VISITAS MD LG-->
                <div class="hidden-sm-down col col-12 row G_SinPadding">
                    <ul class="nav nav-tabs T_Tabs_Contenedor Violeta_Contenedor modal-Conin-items">
                        <li class="nav-item" *ngFor="let d of admisiones; let i=index">
                            <a class="Violeta nav-link" data-toggle="tab" role="tab" href="#ModalConin{{ i }}" title="Historia Clínica: {{ d.NroHistoriaClinica }}">ADMISIÓN: {{ d.FechaIngreso }}</a>
                        </li>
                    </ul>
                </div>
                <!--CUERPO DE VISITAS-->
                <div class="col col-12 tab-content G_SinPadding">
                    <div *ngFor="let d of admisiones; let i=index" id="ModalConin{{ i }}" class="col col-12 tab-pane fade G_SinPadding">
                        <div class="row">
                            <div class="col col-sm-12 col-md-12 G_SinPadding">
                                <div class="row">
                                    <div class="col col-sm-12 col-md-4">
                                        <!-- <div class="col col-12 hidden-md-down hidden-lg-down hidden-xl-down"></div> -->
                                        <!-- <div class="col col-sm-12 G_SinPadding"> -->
                                            <div class="TarjetaConin" style="    height: calc(100% - 8px);">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div style="display: flex;">
                                                            <img class="logo" src="assets/icons/logoConin.png" alt="">
                                                            <div class="T_Tarjeta" id="NombreTarjetaConin">Conin</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col col-6">
                                                        <div class="T_Titulo">Historia Clínica</div>
                                                        <div class="T_Descripcion">{{ d.NroHistoriaClinica }}</div>
                                                    </div>
                                                    <div class="col col-6">
                                                        <div class="T_Titulo">Tipo de Admisión</div>
                                                        <div class="T_Descripcion">{{ d.TipoAdmision }}</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col col-6">
                                                        <div class="T_Titulo">Fecha de Ingreso</div>
                                                        <div class="T_Descripcion">{{ d.FechaIngreso }}</div>
                                                    </div>
                                                    <div class="col col-6">
                                                        <div class="T_Titulo">Fecha de Egreso</div>
                                                        <div class="T_Descripcion">{{ d.FechaEgreso == null ? '-' : d.FechaEgreso }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        <!-- </div> -->
                                    </div>
                                    <div class="col col-sm-12 col-md-8">
                                        <div class="TarjetaConin">
                                            <div class="row">
                                                <div class="col col-4 border-right">
                                                    <div class="row">
                                                        <div class="T_Tarjeta col-12">Indicadores</div>
                                                    </div>
                                                    <div *ngFor="let indi of d.Indicadores" class="row">
                                                        <div class="col col-12">
                                                            <div class="T_Descripcion">{{ stringFunctions.Capitalizar(indi.Indicador, true) }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div></div>
                                                <div class="col col-4 border-right">
                                                    <div class="row">
                                                        <div class="T_Tarjeta col-12">Actividades</div>
                                                    </div>

                                                    <div *ngFor="let tall of d.Talleres" class="row">
                                                        <div class="col col-10">
                                                            <div class="T_Descripcion">
                                                                {{ tall.Taller }}
                                                            </div>
                                                        </div>
                                                        <div class="col col-2 FixIconActividades">
                                                            <div class="T_Descripcion">
                                                                <button *ngIf="TieneFotosActividades(tall)" type="button" class="btn btn-primary btn-Fotos" (click)="GetFotosActividades(tall)"
                                                                    title="Ver Fotos de {{ tall.Taller }}">
                                                                    <i class="zmdi zmdi-collection-image-o"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col col-4">
                                                    <div class="row">
                                                        <div class="T_Tarjeta col-12">Tests</div>
                                                    </div>
                                                    <div *ngFor="let tes of d.Test">
                                                        <!--<img src="../../Content/Images/{{ testEstadoIcono(sec) }}">-->
                                                        <div class="T_Titulo">{{ tes.test }}</div>
                                                        <div class="T_Descripcion">
                                                            {{ tes.Fecha }}
                                                            <button *ngIf="tes.Url!='' && tes.Url!=null" type="button" class="btn btn-primary btn-Fotos" (click)="MostrarTest(tes.test, tes.Fecha, tes.Url)">VER TEST</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col col-sm-12">
                                        <div class="TarjetaConin">
                                            <div class="T_Titulo">Línea de Tiempo</div>
                                            <div class="T_Descripcion"></div>
                                            <div *ngIf="MostrarLinea(d.Admision)" class="row">
                                                <app-timeline [items]="GetItemsLinea(d.Admision)"></app-timeline>
                                            </div>
                                            <div *ngIf="!MostrarLinea(d.Admision)" class="row">
                                                <div class="col col-12 T_Descripcion">Esta Admisión no tiene disponible archivos para mostrar.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="col col-12">&nbsp;</div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalActividadesConin">
    <div class="modal-dialog modal-lg modaldialog">
        <div class="modal-content fotocontent">

            <!-- Modal Header -->
            <div class="modal-header modal-headerNoTitle">
                <h4 class="modal-title" name="ModalTitle">Modal Heading</h4>
                <button type="button" class="close close-button" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body fotobody">
                <div id="carouselActividadesConin" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">

                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div *ngFor="let fot of ActividadesFotos; let j=index" class="carousel-item {{ (j==0 ? 'active':'') }}">
                            <img class="d-block img-fluid ActividadesIMG" src="{{ fot.URL }}" alt="{{ fot.Titulo }}">
                            <!--<div class="ActividadItem" [style.backgroundImage]="'url('+fot.URL+')'"></div>-->
                            <div class="carousel-caption d-none d-md-block">
                                <h3>{{ fot.Titulo }}</h3>
                                <p>{{ fot.Fecha | datePipe:'DD-MM-YY'}}</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselActividadesConin" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselActividadesConin" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <!-- Modal footer -->


        </div>
    </div>
</div>

<div class="modal fade ModalConin" id="ModalTestResultadoConin">
    <div class="modal-dialog modal-lg" style="min-width: calc(100% - 10%);">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" name="ModalTitle">Modal Heading</h4>
                <button type="button" class="close close-button" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="margin-bottom: 25px;">
                <!--<img class="ImageTest" name="FotoTest" src="">-->
                <iframe name="TestResult" src="" style="border: 0px; width: 100%; height: -webkit-fill-available;"></iframe>
            </div>

            <!-- Modal footer -->


        </div>
    </div>
</div>