/*MODAL FUSION*/
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: #000;
}
.modal {
    z-index: 10000;
    display: none;
    overflow: hidden;
    outline: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.TarjetaConin{
    margin-bottom: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 1px 1px 6px #888888;
    padding: 10px;
}
.ModalConin{
    min-width: calc(100% - 20px) !important;
    min-height: calc(100% - 50px) !important;
}
.ModalConin > .modal-content{
    background-color: #f1f1f1;
}
.modal-Conin-header{
    background-color: #7875DC;
    color: #fff;
    margin-left: -15px;
    margin-right: -15px;
}
.modal-Conin-title{
    font-size: 22px;
}
.modal-Conin-close{
    color: #fff;
}
.modal-Conin-items{
    margin: 0 auto;
}

.modaldialog{
    height: 100%;
}
.fotocontent{
    height: 85% !important;
}
.fotobody{
    height: 100%;
}

.modal-Conin-body{
    padding: 0px 15px 15px 15px;
}

.btn-primary{
    background-color: #2aabe3;
    border-color: #2aabe3;
}
/*Activdad slider*/
.ActividadItem{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #000;

    height: 300px;
    width: 100%;
}

.carousel{
    height: 95% !important;
}

.carousel-inner {
    height: 100% !important;
}

.carousel-item.active, .carousel-item-next, .carousel-item-prev{
    height: 100%;
}

.carousel-indicators{
    width: auto;
}
.modal-headerNoTitle{
    display: block;
    height: 40px;
}
.modal-headerNoTitle > .modal-title{
    display: none;
}
.modal-headerNoTitle > .close{
    height: 40px;
    margin-top: -15px;
}

.btn-Fotos{
    margin-left: 5px;
}

/*slider*/
.ActividadesIMG{
    max-height: 300px;
    margin: 0 auto;
}
.carousel-inner{
    background-color: #000;
}

.border-right {
    border-right: 1px solid #c6c6c6;
}

.logo {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

/*image test*/
.ImageTest{
    width: 100%;
}

.FixIconActividades{
    padding-left: 0px;
}

:host /deep/ .md2-dialog-body {
    background-color: #f1f1f1 !important;
}

.tab{
    border: none !important;
    text-align: center;
    border-style: none  !important;
}

/*******************ToolTip**************************/

$md2-tooltip-target-height: 24px;
$md2-tooltip-max-width: 200px;
$md2-tooltip-font-size: 14px;
$md2-tooltip-margin: 5px;
$md2-tooltip-horizontal-padding: 5px;
$md2-tooltip-vertical-padding: ($md2-tooltip-target-height - $md2-tooltip-font-size) / 2;

::ng-deep .md2-tooltip {
  color: white;
  padding: $md2-tooltip-vertical-padding $md2-tooltip-horizontal-padding !important;
  border-radius: 2px;
  font-size: $md2-tooltip-font-size !important;
  margin: $md2-tooltip-margin !important;
  max-width: $md2-tooltip-max-width !important;
  text-align: center !important;
  background: rgba(0, 0, 0, 0.9) !important;
  word-wrap: break-word;
}

::ng-deep .md2-tooltip:before {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    right: -10px;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent transparent rgba(0, 0, 0, 0.9);
}