<input type="hidden" name="ParaListaPDF" id="Viviendas.Servicios" title="Servicios y Sanitario" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Servicios y Sanitaro...</div>
        </div>
        <!--<div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist" id="myTab{{ prefijo }}">
                <li class="nav-item" *ngFor="let d of fechasAgrupadas; let i=index">
                    <a id="{{ prefijo }}{{ i }}-tab" class="nav-link {{ i == 0 ? 'active' : '' }}" href="#{{ prefijo }}{{ i }}" data-toggle="tab" role="tab">{{ d.Fecha }}</a>
                </li>
            </ul>
        </div>

        <div class="tab-content card-block G_TabContent" id="myTab{{ prefijo }}Content">
            <div *ngFor="let d of fechasAgrupadas; let i=index" role="tabpanel" class="tab-pane fade {{ i == 0 ? 'active show' : '' }}" id="{{ prefijo }}{{ i }}">-->
        <md2-tabs class="tab" *ngIf="fechasAgrupadas && fechasAgrupadas.length > 0"  (change)="onChangeTab($event)">
            <md2-tab *ngFor="let d of fechasAgrupadas; let i=index"
                    [label]="d.Fecha"
                    [MostrarOrigen]="i == 0 ? true : false"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />

                <div class="row origen">
                    <div class="col-xs-6 T_Titulo"><span *ngIf="d.NroRelevamiento">Nro. Encuesta:</span> {{ d.NroRelevamiento || ''}}</div>
                    <div class="col-xs-6 T_Titulo">Origen: {{ d.Origen || '-'}}</div>
                </div>
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="col col-12 row G_SinMargin G_SinPadding" style="height: 42px; display: block;">
                    <ul class="nav nav-tabs" role="tablist" id="myTab2{{ prefijo }}{{ i }}" style="float: left;">
                        <li class="nav-item" *ngIf="serviciosFilter && serviciosFilter.length > 0"><a class="nav-link" [ngClass]="{'active': d.servActivo}" data-toggle="tab" role="tab" href="#TarjetaServicios{{ i }}" (click)="d.servActivo = true">Servicios</a></li>
                        <li class="nav-item" *ngIf="sanitariosFilter && sanitariosFilter.length > 0"><a class="nav-link" [ngClass]="{'active': !d.servActivo}" data-toggle="tab" role="tab" href="#TarjetaSanitario{{ i }}" (click)="d.servActivo = false">Sanitario</a></li>
                    </ul>
                    <!--<input type="hidden" name="Origen" value='{{ d.Origen }}' />
                    <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>
                    <input type="hidden" name="EdadRelevamiento" value='{{ d.EdadRelevamiento }}' />-->
                    <!--<a class="G_BotonTarjeta" type="EdadRelevamiento" data-toggle="tooltip" data-placement="left" title="" data-original-title="" data-title-template="Edad en el Relevamiento: ">&nbsp;<span class="zmdi zmdi-info" title="Edad en el Relevamiento"></span></a>-->
                </div>
                <div class="tab-content" id="myTab2{{ prefijo }}{{ i }}Content" style="margin-top: 10px;">
                    <ng-container *ngFor="let ser of serviciosFilter">
                    <div *ngIf="ser.Fecha==d.Fecha && d.servActivo" id="TarjetaServicios{{ i }}" class="col col-12 row" role="tabpanel">
                        <div class="col col-12 row G_SinMargin G_SinPadding" *ngIf="ser.FuenteAguaBeber || ser.FuenteAguaCocinar">
                            <div class="col col-6">
                                <div class="T_Titulo">Fuente Agua para Beber</div>
                                <div class="T_Descripcion">{{ ser.FuenteAguaBeber || '-' }}</div>
                            </div>
                            <!--<div class="col col-2">
                                <div class="T_Descripcion"><img src="./Content/Images/icon-agua.svg" style="height: 40px;"></div>
                            </div>-->
                            <div class="col col-6">
                                <div class="T_Titulo text-right">Fuente Agua para Cocinar</div>
                                <div class="T_Descripcion text-right">{{ ser.FuenteAguaCocinar || '-' }}</div>
                            </div>
                        </div>

                        <div class="col col-12 row G_SinMargin G_SinPadding" *ngIf="!ser.FuenteAguaBeber && !ser.FuenteAguaCocinar && ser.FuenteAgua">
                            <div class="col col-6">
                                <div class="T_Titulo">Fuente de Agua</div>
                                <div class="T_Descripcion">{{ ser.FuenteAgua || '-' }}</div>
                            </div>
                            <!--<div class="col col-2">
                                <div class="T_Descripcion"><img src="./Content/Images/icon-agua.svg" style="height: 40px;"></div>
                            </div>-->
                            <div class="col col-6">
                                <div class="T_Titulo text-right">Ubicación del Agua</div>
                                <div class="T_Descripcion text-right">{{ ser.UbicacionAgua || '-' }}</div>
                            </div>
                        </div>

                        <div class="col col-12 row G_SinMargin G_SinPadding">
                            <div class="col col-6">
                                <div class="T_Titulo">Fuente de Electricidad</div>
                                <div class="T_Descripcion">{{ ser.FuenteElectricidad || '-' }}</div>
                            </div>
                            <!--<div class="col col-2">
                                <div class="T_Descripcion"><img src="./Content/Images/icon-electricidad.svg" style="height: 40px;"></div>
                            </div>-->
                            <div class="col col-6">
                                <div class="T_Titulo text-right">Fuente de Iluminación</div>
                                <div class="T_Descripcion text-right">{{ ser.FuenteIluminacion || '-' }}</div>
                            </div>
                        </div>

                        <div class="col col-12 row G_SinMargin G_SinPadding">
                            <div class="col col-6">
                                <div class="T_Titulo">Fuente de Gas</div>
                                <div class="T_Descripcion">{{ ser.FuenteGas || '-' }}</div>
                            </div>
                            <!--<div class="col col-2">
                                <div class="T_Descripcion"><img src="./Content/Images/icon-gas.svg" style="height: 40px;"></div>
                            </div>-->
                            <div class="col col-6">
                                <div class="T_Titulo text-right">Medio que utiliza para cocinar los alimentos</div>
                                <div class="T_Descripcion text-right">{{ ser.CocinaCon || '-' }}</div>
                            </div>
                        </div>
                        
                    </div>
                    </ng-container>
                    
                    <ng-container *ngFor="let san of sanitariosFilter">
                    <div *ngIf="san.Fecha==d.Fecha && !d.servActivo" id="TarjetaSanitario{{ i }}" class="col col-12 row" role="tabpanel">
                        <div class="col col-12 row G_SinMargin G_SinPadding">
                            <div class="col col-6">
                                <div class="T_Titulo">Uso del Baño</div>
                                <div class="T_Descripcion">{{ san.UsoBanio || '-' }}</div>
                            </div>
                            <div class="col col-6">
                                <div class="T_Titulo text-right">Ubicación del Baño</div>
                                <div class="T_Descripcion text-right">{{ san.UbicacionBanio || '-' }}</div>
                            </div>
                        </div>

                        <div class="col col-12 row G_SinMargin G_SinPadding">
                            <div class="col col-6">
                                <div class="T_Titulo">¿Tiene Agua Caliente en el Baño?</div>
                                <div class="T_Descripcion">{{ san.TieneAguaCaliente_txt || '-' }}</div>
                            </div>
                            <div class="col col-6">
                                <div class="T_Titulo text-right">Tipo de Desagüe</div>
                                <div class="T_Descripcion text-right">{{ san.TipoDesague || '-' }}</div>
                            </div>
                        </div>
                    </div>
                    </ng-container>

                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </md2-tab>
        </md2-tabs>
            <!--</div>
        </div>-->
    </div>
</div>