<input type="hidden" name="ParaListaPDF" id="Viviendas.Integrantes" title="Composición del Hogar / Integrantes de la Vivienda" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <!--<div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Hogar e Integrantes...</div>
        </div>-->

        <md2-tabs class="tab" *ngIf="fechasAgrupadas && fechasAgrupadas.length > 0">
            <md2-tab *ngFor="let d of fechasAgrupadas; let i=index"
                    [label]="d.Fecha + ' ' + (d.NroRelevamiento || '')"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="col col-12 row G_SinMargin G_SinPadding" style="height: 42px; display: block;">
                    <ul class="nav nav-tabs" role="tablist" id="myTab2{{ prefijo }}{{ i }}" style="float: left;">
                        <li *ngIf="tieneVisita('GrupoFamiliar', d.Fecha, d.Origen, d.NroRelevamiento)" class="nav-item"><a class="nav-link {{ tabActiva('GrupoFamiliar', d.Fecha, d.Origen, d.NroRelevamiento) }}" data-toggle="tab" role="tab" href="#TarjetaGrupoFamiliar{{ i }}">Composición del Hogar</a></li>
                        <li *ngIf="tieneVisita('Padre', d.Fecha, d.Origen, d.NroRelevamiento)" class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#TarjetaPadre{{ i }}">Padre</a></li>
                        <li *ngIf="tieneVisita('Madre', d.Fecha, d.Origen, d.NroRelevamiento)" class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#TarjetaMadre{{ i }}">Madre</a></li>
                        <li *ngIf="tieneVisita('IntegrantesVivienda', d.Fecha, d.Origen, d.NroRelevamiento)" class="nav-item"><a class="nav-link {{ tabActiva('IntegrantesVivienda', d.Fecha, d.Origen, d.NroRelevamiento) }}" data-toggle="tab" role="tab" href="#TarjetaIntegrantesVivienda{{ i }}">Integrantes de la Vivienda</a></li>
                    </ul>
                    <input type="hidden" name="Origen" value='{{ d.Origen }}' />
                    <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>
                    <input type="hidden" name="EdadRelevamiento" value='{{ d.EdadRelevamiento }}' />
                    <!--<a class="G_BotonTarjeta" type="EdadRelevamiento" data-toggle="tooltip" data-placement="left" title="" data-original-title="" data-title-template="Edad en el Relevamiento: ">&nbsp;<span class="zmdi zmdi-info" title="Edad en el Relevamiento"></span></a>-->
                </div>
                <div class="tab-content" id="myTab2{{ prefijo }}{{ i }}Content">
                    <ng-container *ngIf="tieneVisita('GrupoFamiliar', d.Fecha, d.Origen, d.NroRelevamiento)">
                    <div id="TarjetaGrupoFamiliar{{ i }}" class="col col-12 tab-pane fade {{ tabActiva('GrupoFamiliar', d.Fecha, d.Origen, d.NroRelevamiento) }} row" role="tabpanel">
                        <div class="col col-12 row G_SinMargin G_SinPadding">
                            <div class="col col-1">
                                <div class="T_Titulo">&nbsp;</div>
                            </div>
                            <div class="col col-4">
                                <div class="T_Titulo">{{ d.CantidadGrupoFamiliar }} Integrantes</div>
                            </div>
                            <div class="col col-4">
                                <div class="T_Titulo">Edad</div>
                            </div>
                            <div class="col col-3">
                                <div class="T_Titulo">Es mi</div>
                            </div>
                        </div>
                        <ng-container *ngFor="let item of grupoFamiliar">
                        <div *ngIf="item.Fecha==d.Fecha && item.Origen == d.Origen && item.NroRelevamiento == d.NroRelevamiento" class="col col-12 row G_SinMargin G_SinPadding G_BordeInferior" style="cursor: pointer; margin-left: 0px;">
                            <a class="col col-12 row G_SinMargin G_SinPadding" href="{{ item.IntegranteLink }}" target="_blank">
                                <div class="col col-1">
                                    <div class="T_Descripcion T_Descripcion12">
                                        <span *ngIf="item.Sexo == 'Femenino'" class="fa-stack IconosFamilia"><i class="fa fa-circle fa-stack-1x" style="color: #EC407A;"></i><i class="fa fa-female fa-stack-1x" style="color: #FFF"></i></span>
                                        <span *ngIf="item.Sexo != 'Femenino'" class="fa-stack IconosFamilia"><i class="fa fa-circle fa-stack-1x" style="color: #29B6F6;"></i><i class="fa fa-male fa-stack-1x" style="color: #FFF"></i></span>                                    
                                    </div>
                                </div>
                                <div class="col col-4">
                                    <div class="T_Descripcion T_Descripcion12">{{ stringFunctions.Capitalizar(item.ApellidosNombres, true) }} <i *ngIf="item.CodJefeHogar == item.CodPersona" class="fa fa-flag" style="color: #16557C"></i></div>
                                </div>
                                <div class="col col-4">
                                    <div class="T_Descripcion T_Descripcion12">{{ item.Edad }}</div>
                                </div>
                                <div class="col col-3">
                                    <div class="T_Descripcion T_Descripcion12" [innerHTML]="item.ParentescoInverso | safe: 'html'"></div>
                                </div>
                            </a>
                        </div>
                        </ng-container>
                    </div>
                    </ng-container>

                    <ng-container *ngIf="tieneVisita('IntegrantesVivienda', d.Fecha, d.Origen, d.NroRelevamiento)">
                    <div id="TarjetaIntegrantesVivienda{{ i }}" class="col col-12 tab-pane fade {{ tabActiva('IntegrantesVivienda', d.Fecha, d.Origen, d.NroRelevamiento) }} row" role="tabpanel">
                        <div class="col col-12 row G_SinMargin G_SinPadding">
                            <div class="col col-1">
                                <div class="T_Titulo">&nbsp;</div>
                            </div>
                            <div class="col col-4">
                                <div class="T_Titulo">{{ d.CantidadIntegrantesVivienda }} Integrantes</div>
                            </div>
                            <div class="col col-4">
                                <div class="T_Titulo">Edad</div>
                            </div>
                            <div class="col col-3">
                                <div class="T_Titulo">Es mi</div>
                            </div>
                        </div>
                        <ng-container *ngFor="let item of integrantesVivienda">
                        <div *ngIf="item.Fecha==d.Fecha && item.Origen == d.Origen && item.NroRelevamiento == d.NroRelevamiento" class="col col-12 row G_SinMargin G_SinPadding G_BordeInferior" style="cursor: pointer; margin-left: 0px;">
                            <a class="col col-12 row G_SinMargin G_SinPadding" href="{{ item.IntegranteLink }}" target="_blank">
                                <div class="col col-1">
                                    <div class="T_Descripcion T_Descripcion12">
                                        <span *ngIf="item.Sexo == 'Femenino'" class="fa-stack IconosFamilia"><i class="fa fa-circle fa-stack-1x" style="color: #EC407A;"></i><i class="fa fa-female fa-stack-1x" style="color: #FFF"></i></span>
                                        <span *ngIf="item.Sexo != 'Femenino'" class="fa-stack IconosFamilia"><i class="fa fa-circle fa-stack-1x" style="color: #29B6F6;"></i><i class="fa fa-male fa-stack-1x" style="color: #FFF"></i></span>
                                    </div>
                                </div>
                                <div class="col col-4">
                                    <div class="T_Descripcion T_Descripcion12">{{ item.ApellidosNombres }}</div>
                                </div>
                                <div class="col col-4">
                                    <div class="T_Descripcion T_Descripcion12">{{ item.Edad }}</div>
                                </div>
                                <div class="col col-3">
                                    <div class="T_Descripcion T_Descripcion12">{{ item.ParentescoInverso }}</div>
                                </div>
                            </a>
                        </div>
                        </ng-container>
                    </div>
                    </ng-container>
                    
                    <div *ngIf="tieneVisita('Padre', d.Fecha, d.Origen, d.NroRelevamiento) || tieneVisita('Madre', d.Fecha, d.Origen, d.NroRelevamiento)" id="TarjetaPadre{{ i }}" class="col col-12 tab-pane fade row G_SinMargin G_SinPadding" role="tabpanel">
                        <ng-container *ngFor="let item of padre">
                        <div *ngIf="item.Fecha==d.Fecha && item.Origen == d.Origen && item.NroRelevamiento == d.NroRelevamiento">
                            <ng-container *ngIf="item.CodPersona != ''">
                                <div class="col col-12 row G_SinMargin G_SinPadding">
                                    <div class="col col-10"><div class="T_Apellido">{{ item.Apellidos || '-' }}</div></div>
                                    <div class="col col-2">
                                        <span class="title-icons text-right"><a href="#/FichaPersona/{{ item.LinkPadre }}" target="_blank"><i class="fa fa-user" aria-hidden="true"></i></a></span>
                                    </div>
                                </div>
                                <div class="col col-12 row G_SinMargin G_SinPadding">
                                    <div class="col col-12"><div class="T_Nombre">{{ item.Nombres || '-' }}</div></div>
                                </div>
                                <div class="col col-12 row G_SinMargin G_SinPadding">
                                    <div class="col col-12"><div class="T_Descripcion">{{ item.Edad || '-' }} (edad actual)</div></div>
                                </div>
                                <div class="col col-12 row G_SinMargin G_SinPadding" style="clear: left;">
                                    <div class="col col-4">
                                        <div class="T_Titulo">País de origen</div>
                                        <div class="T_Descripcion">
                                            <span *ngIf="item.PAI_CODIGO != '' && item.PAI_CODIGO != 'NS/NC'" class="flag-icon flag-icon-{{ item.PAI_CODIGO | lowercase }} F_Bandera"></span>
                                            {{ item.PaisOrigen || '-' }}
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="T_Titulo">Departamento de Nacimiento</div>
                                        <div class="T_Descripcion">{{ item.DepartamentoNacimiento || '-' }}</div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="T_Titulo">Municipio de Nacimiento</div>
                                        <div class="T_Descripcion">{{ item.MunicipioNacimiento || '-' }}</div>
                                    </div>
                                </div>
                                <div class="col col-12 row G_SinMargin G_SinPadding">
                                    <div class="col-xs-4">
                                        <div class="T_Titulo">F. Nacimiento</div>
                                        <div class="T_Descripcion">{{ item.FechaNacimiento || '-' }}</div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="T_Titulo">Tipo de Documento</div>
                                        <div class="T_Descripcion">{{ item.TipoDocumento || '-' }}</div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="T_Titulo">Nro. de Documento</div>
                                        <div class="T_Descripcion">{{ item.NroDocumento || '-' }}</div>
                                    </div>
                                </div>
                                <div class="col col-12 row G_SinMargin G_SinPadding">
                                    <div class="col-xs-4">
                                        <div class="T_Titulo">Sexo</div>
                                        <div class="T_Descripcion">{{ item.Sexo || '-' }}</div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="T_Titulo">Cultura, Pueblo o Rasgos Físicos</div>
                                        <div class="T_Descripcion">{{ item.Cultura }}</div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="T_Titulo">Clan</div>
                                        <div class="T_Descripcion">{{ item.Clan || '-' }}</div>
                                    </div>
                                </div>
                                <div class="col col-12 row G_SinMargin G_SinPadding">
                                    <div class="col col-4">
                                        <div class="T_Titulo">Situación Laboral</div>
                                        <div class="T_Descripcion">
                                            {{ item.SituacionLaboral == '' ? 'No Trabaja' : item.SituacionLaboral }}
                                        </div>
                                    </div>
                                    <div class="col col-4">
                                        <div class="T_Titulo">Máximo Nivel Educativo</div>
                                        <div class="T_Descripcion">
                                            {{ item.MNE || '-' }}
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        </ng-container>
                        <div *ngIf="!tieneVisita('Padre', d.Fecha, d.Origen, d.NroRelevamiento)" class="col col-12 row G_SinMargin G_SinPadding">
                            <div>
                                <div class="T_Descripcion">No hay datos disponibles.</div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="tieneVisita('Padre', d.Fecha, d.Origen, d.NroRelevamiento) || tieneVisita('Madre', d.Fecha, d.Origen, d.NroRelevamiento)" id="TarjetaMadre{{ i }}" class="col col-12 tab-pane fade row G_SinMargin G_SinPadding" role="tabpanel">
                        <ng-container *ngFor="let item of madre">
                        <div *ngIf="item.Fecha==d.Fecha && item.Origen == d.Origen && item.NroRelevamiento == d.NroRelevamiento">
                            <ng-container *ngIf="item.CodPersona != ''">
                                <div class="col col-12 row G_SinMargin G_SinPadding">
                                    <div class="col col-10"><div class="T_Apellido">{{ item.Apellidos || '-' }}</div></div>
                                    <div class="col col-2">
                                        <span class="title-icons text-right"><a href="#/FichaPersona/{{ item.LinkPadre }}" target="_blank"><i class="fa fa-user" aria-hidden="true"></i></a></span>
                                    </div>
                                </div>
                                <div class="col col-12 row G_SinMargin G_SinPadding">
                                    <div class="col col-12"><div class="T_Nombre">{{ item.Nombres || '-' }}</div></div>
                                </div>
                                <div class="col col-12 row G_SinMargin G_SinPadding">
                                    <div class="col col-12"><div class="T_Descripcion">{{ item.Edad || '-' }} (edad actual)</div></div>
                                </div>
                                <div class="col col-12 row G_SinMargin G_SinPadding" style="clear: left;">
                                    <div class="col col-4">
                                        <div class="T_Titulo">País de origen</div>
                                        <div class="T_Descripcion">
                                            <span *ngIf="item.PAI_CODIGO != '' && item.PAI_CODIGO != 'NS/NC'" class="flag-icon flag-icon-{{ item.PAI_CODIGO | lowercase }} F_Bandera"></span>
                                            {{ item.PaisOrigen || '-' }}
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="T_Titulo">Departamento de Nacimiento</div>
                                        <div class="T_Descripcion">{{ item.DepartamentoNacimiento || '-' }}</div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="T_Titulo">Municipio de Nacimiento</div>
                                        <div class="T_Descripcion">{{ item.MunicipioNacimiento || '-' }}</div>
                                    </div>
                                </div>
                                <div class="col col-12 row G_SinMargin G_SinPadding">
                                    <div class="col-xs-4">
                                        <div class="T_Titulo">F. Nacimiento</div>
                                        <div class="T_Descripcion">{{ item.FechaNacimiento || '-' }}</div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="T_Titulo">Tipo de Documento</div>
                                        <div class="T_Descripcion">{{ item.TipoDocumento || '-' }}</div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="T_Titulo">Nro. de Documento</div>
                                        <div class="T_Descripcion">{{ item.NroDocumento || '-' }}</div>
                                    </div>
                                </div>
                                <div class="col col-12 row G_SinMargin G_SinPadding">
                                    <div class="col-xs-4">
                                        <div class="T_Titulo">Sexo</div>
                                        <div class="T_Descripcion">{{ item.Sexo || '-' }}</div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="T_Titulo">Cultura, Pueblo o Rasgos Físicos</div>
                                        <div class="T_Descripcion">{{ item.Cultura }}</div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="T_Titulo">Clan</div>
                                        <div class="T_Descripcion">{{ item.Clan || '-' }}</div>
                                    </div>
                                </div>
                                <div class="col col-12 row G_SinMargin G_SinPadding">
                                    <div class="col col-4">
                                        <div class="T_Titulo">Situación Laboral</div>
                                        <div class="T_Descripcion">
                                            {{ item.SituacionLaboral == '' ? 'No Trabaja' : item.SituacionLaboral }}
                                        </div>
                                    </div>
                                    <div class="col col-4">
                                        <div class="T_Titulo">Máximo Nivel Educativo</div>
                                        <div class="T_Descripcion">
                                            {{ item.MNE || '-' }}
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        </ng-container>
                        <div *ngIf="!tieneVisita('Madre', d.Fecha, d.Origen, d.NroRelevamiento)" class="col col-12 row G_SinMargin G_SinPadding">
                            <div>
                                <div class="T_Descripcion">No hay datos disponibles.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </md2-tab>
        </md2-tabs>
    </div>
</div>