<input type="hidden" name="ParaListaPDF" id="Personas.EducacionAlfabetizacion" title="Educación" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <!--<div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Educación...</div>
        </div>-->

        <md2-tabs class="tab" *ngIf="educacion && educacion.length > 0">
            <md2-tab *ngFor="let d of educacion; let i=index"
                    [label]="d.Fecha + ' ' + (d.NroRelevamiento || '')"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="row">
                    <div class="col col-12">
                        <div class="T_Tarjeta">Educación</div>
                        <input type="hidden" name="Origen" value='{{ d.Origen }}' />
                        <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>
                        <input type="hidden" name="EdadRelevamiento" value='{{ d.EdadRelevamiento }}' />
                        <!--<a class="G_BotonTarjeta" type="EdadRelevamiento" data-toggle="tooltip" data-placement="left" title="" data-original-title="" data-title-template="Edad en el Relevamiento: ">&nbsp;<span class="zmdi zmdi-info" title="Edad en el Relevamiento"></span></a>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col col-12">
                        <div class="T_Titulo">¿Analfabetismo?</div>
                        <div class="T_Descripcion {{ d.Analfabeto != 'NO' ? 'T_Negativo' : ''}}">{{ d.Analfabeto_txt }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-6">
                        <div class="T_Titulo">Sabe leer y escribir en español</div>
                        <div class="T_Descripcion">{{ d.SabeLeerEscribirEspanol }}</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo">Sabe leer y escribir en lengua de su comunidad</div>
                        <div class="T_Descripcion">{{ d.SabeLeerEscribirComunidad }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-6">
                        <div class="T_Titulo">Nivel Educativo Alcanzado</div>
                        <div class="T_Descripcion">{{ d.MNE }}</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo">Año de estudio alcanzado</div>
                        <div class="T_Descripcion">{{ d.AnioAlcanzado }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-12">
                        <div class="T_Descripcion" style="float:left;">
                            <img src="./Content/Images/icon-establecimiento-negro.svg" style="height: 36px;">
                        </div>

                        <div style="float:left; margin-left: 8px;">
                            <div class="T_Titulo">¿Concurre a un establecimiento educativo?</div>
                            <div class="T_Descripcion {{ (d.Concurre | uppercase) != 'SÍ' ? 'T_Negativo' : '' }}">{{ d.Concurre_txt }}</div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf= "d.Concurre === 'SÍ'">
                    <div class="col col-6">
                        <div class="T_Titulo">Institución Educativa oficial</div>
                        <div class="T_Descripcion">{{ d.EsInstitucionOficial }}</div>
                    </div>
                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </md2-tab>
        </md2-tabs>
    </div>
</div>