<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <!--<div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Salud...</div>
        </div>-->
        
        <md2-tabs class="tab" *ngIf="salud && salud.length > 0">
            <md2-tab *ngFor="let d of salud; let i=index"
                    [label]="d.Fecha + ' ' + (d.NroRelevamiento || '')"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="row">
                    <div class="col-12">
                        <div class="T_Tarjeta">Salud</div>
                        <input type="hidden" name="Origen" value='{{ d.Origen }}' />
                        <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>
                        <input type="hidden" name="EdadRelevamiento" value='{{ d.EdadRelevamiento }}' />
                        <!--<a class="G_BotonTarjeta" type="EdadRelevamiento" data-toggle="tooltip" data-placement="left" title="" data-original-title="" data-title-template="Edad en el Relevamiento: ">&nbsp;<span class="zmdi zmdi-info" title="Edad en el Relevamiento"></span></a>-->
                        <input type="hidden" name="Indicador" value='{{ i }}' />
                        <!--<a class="G_BotonTarjeta" (click)= "openModal(i, 'ModalSalud')" codvisita=""><img class="G_BotonNivel2" src="../../../Content/Images/icon-arrows-gray.svg" style="height: 14px;" title="Más Información"></a>-->
                    </div>
                </div>
                <!--<div class="row G_BordeInferior">
                    <div class="col-12"><div class="T_Descripcion {{ (d.Discapacitado | uppercase) == 'SÍ' ? 'T_Negativo' : ''}}">{{ d.Discapacitado_txt }}</div></div>
                </div>
                <div class="row G_BordeInferior">
                    <div class="col-12"><div class="T_Descripcion {{ (d.PoseeRiesgos | uppercase) == 'SÍ' ? 'T_Negativo' : ''}}">{{ d.PoseeRiesgos_txt }}</div></div>
                </div>-->
                <div class="row">
                    <div class="hidden-sm-down col col-md-2 text-center">
                        <img src="../../../Content/Images/fiu-icon-discapacidad.svg" class="img-responsive" style="max-width: 50% !important;">
                    </div>
                    <div class="col col-sm-10 col-md-10 paddingSalud marginSalud">
                        <div class="row">
                            <div class="col col-12" *ngIf="(d.Discapacitado | uppercase) == 'SÍ'">
                                <table class="table-nv2">
                                    <thead>
                                        <tr>
                                            <th class="T_Titulo">Discapacidad</th>
                                        </tr>
                                    </thead>
                                    <!--FOR DISCAPACIDADES-->
                                    <tbody>
                                        <tr *ngFor="let item of discapacidades">
                                            <td *ngIf="item.Fecha==d.Fecha && item.Origen == d.Origen && item.NroRelevamiento == d.NroRelevamiento" class="T_Descripcion">{{ item.Discapacidad }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col col-12" *ngIf="(d.Discapacitado | uppercase) !== 'SÍ'">
                                <table class="table-nv2">
                                    <thead>
                                        <tr>
                                            <th class="T_Titulo">Discapacidad</th>
                                        </tr>
                                    </thead>
                                    <!--FOR DISCAPACIDADES-->
                                    <tbody>
                                        <tr><td colspan="2" class="T_Descripcion">No posee discapacidades</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row G_PaddingBottom20">
                    <div class="hidden-sm-down col col-md-2 text-center">
                        <img src="../../../Content/Images/fiu-icon-enfermedades.svg" class="img-responsive" style="max-width: 50% !important;">
                    </div>
                    <div class="col col-sm-10 col-md-10 paddingSalud marginRiesgo">
                        <div class="row">
                        <div *ngIf="(d.PoseeRiesgos | uppercase) == 'SÍ'" class="row G_PaddingBottom20">
                            <div class="col col-12">
                                <table class="table-nv2">
                                    <thead>
                                        <tr>
                                            <th class="T_Titulo">Riesgos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--FOR ENFERMEDADES AGUDAS-->
                                        <tr *ngFor="let item of riesgosSalud">
                                            <td *ngIf="item.Fecha == d.Fecha && item.Origen == d.Origen && item.NroRelevamiento == d.NroRelevamiento" class="T_Descripcion">{{ item.Riesgo }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div *ngIf="(d.PoseeRiesgos | uppercase) != 'SÍ'" class="row G_PaddingBottom20">
                            <div class="col col-12">
                                <table class="table-nv2">
                                    <thead>
                                        <tr>
                                            <th class="T_Titulo">Riesgos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td class="T_Descripcion">No tiene riesgos</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </md2-tab>
        </md2-tabs>
    </div>
</div>

<div class="modal fade" role="dialog" id="ModalSalud">
    <div class="modal-dialog modal-lg">
        <div class="col col-12 modal-content">
            <div class="modal-header">
                <div class="col col-12 row">
                    <div class="col col-10"><h4 class="modal-title"><span class="info-title-cards">Salud</span></h4></div>
                    <div class="col col-2"><button type="button" class="close" data-dismiss="modal"><i class="zmdi zmdi-close"></i></button></div>
                </div>
            </div>
            <div class="modal-body">
                <!--TAB DE VISITAS XS SM-->
                <div class="col col-sm-12 hidden-md-down hidden-lg-down hidden-xl-down row G_BordeInferior G_SinPadding">
                    <div class="col col-12" style="margin-top: 8px;" data-toggle="collapse" data-target="#VistaCollapseSalud">
                        <div class="col col-8 F_TituloFormulario_14">Fecha de Visitas</div>
                        <div class="col col-4"><span class="caret text-right" style="margin-top: 6px;"></span></div>
                    </div>
                    <div class="col col-12 collapse" id="VistaCollapseSalud">
                        <div *ngFor="let d of salud; let i=index" class="col col-12"><a class="T_Visita col col-12 nav-link" style="text-align: center;" data-toggle="tab" role="tab" href="#ModalSalud{{ i }}" title="{{ i }}">{{ d.Fecha }}</a></div>
                    </div>
                </div>
                <!--TAB DE VISITAS MD LG-->
                <div class="hidden-sm-down col col-12 row G_SinPadding">
                    <ul class="nav nav-tabs T_Tabs_Contenedor Violeta_Contenedor">
                        <li class="nav-item" *ngFor="let d of salud; let i=index"><a class="Violeta nav-link" data-toggle="tab" role="tab" href="#ModalSalud{{ i }}" title="{{ i }}">{{ d.Fecha }}</a></li>
                    </ul>
                </div>
                <!--CUERPO DE VISITAS-->
                <div class="col col-12 tab-content G_SinPadding">
                    <div *ngFor="let d of salud; let i=index" id="ModalSalud{{ i }}" class="col col-12 tab-pane fade G_SinPadding">
                        <div class="row">
                            <div class="hidden-sm-down col col-md-1 text-center">
                                <img src="../../../Content/Images/fiu-icon-discapacidad.svg" class="img-responsive" style="">
                            </div>
                            <div class="col col-sm-12 col-md-11 G_SinPadding">
                                <div class="row">
                                    <div class="col col-12 hidden-md-down hidden-lg-down hidden-xl-down"></div>
                                    <div class="col col-12" *ngIf="(d.Discapacitado | uppercase) == 'SÍ'">
                                        <table class="table-nv2">
                                            <thead>
                                                <tr>
                                                    <th class="T_Titulo">Discapacidad</th>
                                                </tr>
                                            </thead>
                                            <!--FOR DISCAPACIDADES-->
                                            <tbody>
                                                <tr *ngFor="let item of discapacidades">
                                                    <td *ngIf="item.Fecha==d.Fecha && item.Origen == d.Origen && item.NroRelevamiento == d.NroRelevamiento" class="T_Descripcion">{{ item.Discapacidad }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col col-12" *ngIf="(d.Discapacitado | uppercase) !== 'SÍ'">
                                        <table class="table-nv2">
                                            <thead>
                                                <tr>
                                                    <th class="T_Titulo">Discapacidad</th>
                                                </tr>
                                            </thead>
                                            <!--FOR DISCAPACIDADES-->
                                            <tbody>
                                                <tr><td colspan="2" class="T_Descripcion">No posee discapacidades</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row G_PaddingBottom20">
                            <div class="hidden-sm-down col col-md-1 text-center">
                                <img src="../../../Content/Images/fiu-icon-enfermedades.svg" class="img-responsive" style="">
                            </div>
                            <div class="col col-sm-12 col-md-11 G_SinPadding">
                                <div *ngIf="(d.PoseeRiesgos | uppercase) == 'SÍ'" class="row G_PaddingBottom20">
                                    <div class="col col-12">
                                        <table class="table-nv2">
                                            <thead>
                                                <tr>
                                                    <th class="T_Titulo">Riesgos</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!--FOR ENFERMEDADES AGUDAS-->
                                                <tr *ngFor="let item of riesgosSalud">
                                                    <td *ngIf="item.Fecha == d.Fecha && item.Origen == d.Origen && item.NroRelevamiento == d.NroRelevamiento" class="T_Descripcion">{{ item.Riesgo }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div *ngIf="(d.PoseeRiesgos | uppercase) != 'SÍ'" class="row G_PaddingBottom20">
                                    <div class="col col-12">
                                        <table class="table-nv2">
                                            <thead>
                                                <tr>
                                                    <th class="T_Titulo">Riesgos</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr><td class="T_Descripcion">No tiene riesgos</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12">&nbsp;</div>
            </div>
        </div>
    </div>
</div>