<div #ModalFusion *ngIf="fichaPService.datosPersonales" class="row col-xs-12 G_SinPadding ContenedorTarjetas" style="margin: 50px 0px 50px 0px; height: calc(100% - 100px); overflow-y: scroll; overflow-x: hidden;; align-content: baseline;">

    <div class="TarjetaFusion" style="background-color: #7A76E0;">
        <div class="col col-4 cardOrgP">
            <div class="row card" *ngIf="this.fichaPService.casosFusion && this.fichaPService.casosFusion.length > 0">
                <div style="display: flex;">
                    <div class="col col-6">
                        <div class="T_Titulo">Creador</div>
                        <div class="T_Descripcion G_SinPaddingBottom">{{ fichaPService.casosFusion[tabIndex].Creador }}</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo">Organización</div>
                        <div class="T_Descripcion G_SinPaddingBottom">{{ fichaPService.casosFusion[tabIndex].Organizacion }}</div>
                    </div>
                </div>
            </div>

            <div class="row card protocolo" *ngIf="this.fichaPService.casosFusion && this.fichaPService.casosFusion.length > 0">
                <div style="display: flex;">
                    <div class="col col-2 imgProtocolo">
                        <img src="./Content/Images/Protocolos icono.png" style="height: 22px; margin-left: auto; margin-right: auto;">
                    </div>
                    <div class="col col-10" style="margin-left: 30px;">
                        <div class="T_Titulo">Protocolo</div>
                        <div class="T_Descripcion G_SinPaddingBottom">{{ fichaPService.casosFusion[tabIndex].Protocolo }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="datosGCaso">
            <div class="col col-4" style="padding: 20px 30px;">
                <div class="row card cardDatosPers">
                    <div class="col-xs-4 I_PerfilContenedor"><img src="{{ fichaPService.datosPersonales[0].Foto == 'about:Blank' ? './Content/Images/default.jpg' : fichaPService.datosPersonales[0].Foto }}"
                            class="I_Perfil my-thumbnail" /></div>
                    <div class="col-xs-8 datosPers">
                        <div class="T_Nombre">{{ fichaPService.datosPersonales[0].Nombres }} {{ fichaPService.datosPersonales[0].Apellidos }}</div>
                        <div class="T_Descripcion">{{ fichaPService.datosPersonales[0].Edad }} (edad actual)
                            <span *ngIf="fichaPService.datosPersonales[0].PAI_CODIGO != null && fichaPService.datosPersonales[0].PAI_CODIGO != 'NS/NC'"
                                class="flag-icon flag-icon-{{ fichaPService.datosPersonales[0].PAI_CODIGO | lowercase }}"></span>
                            {{ fichaPService.datosPersonales[0].EtniaCod ? fichaPService.datosPersonales[0].EtniaCod : '' }}
                        </div>
                        <div class="T_Descripcion"><span style="font-weight: 500;">Sexo : </span>{{fichaPService.datosPersonales[0].Sexo}}</div>
                        <div class="T_Descripcion"><span style="font-weight: 500;">Fecha de Nacimiento : </span>{{ fichaPService.datosPersonales[0].FechaNacimiento }}</div>
                        <div class="T_Descripcion G_SinPaddingBottom"><span style="font-weight: 500;">{{ fichaPService.datosPersonales[0].TipoDocumento }} : </span>{{ fichaPService.datosPersonales[0].NroDocumento }}</div>
                    </div>
                </div>
            </div>
            <div class="col col-4" style="padding: 20px 30px;">
                <div class="row card" style="background-color: #4C4C4C;" *ngIf="this.fichaPService.casosFusion && this.fichaPService.casosFusion.length > 0">
                    <div class="col col-12">
                        <div class="T_Nombre" style="color: #FFF;">Caso Nº {{ fichaPService.casosFusion[tabIndex].IdCaso}}</div>
                    </div>
                    <div style="display: flex;">
                        <div class="col col-3">
                            <div class="T_Titulo" style="color: #FFF; font-weight: 500;">Fecha de Inicio</div>
                            <div class="T_Descripcion" style="color: #FFF; font-weight: 300;">{{ fichaPService.casosFusion[tabIndex].Fecha }}</div>
                        </div>
                        <div class="col col-3">
                            <div class="T_Titulo" style="color: #FFF; font-weight: 500;">Tipo de Alerta</div>
                            <div class="T_Descripcion" style="color: #FFF; font-weight: 300;">{{ fichaPService.casosFusion[tabIndex].TipoAlerta }}</div>
                        </div>
                        <div class="col col-3">
                            <div class="T_Titulo" style="color: #FFF; font-weight: 500;">Estado</div>
                            <div class="T_Descripcion" style="color: #FFF; font-weight: 300;">
                                <img src="./Content/Images/{{ fichaPService.casosFusion[tabIndex].CodEstado }}.png" style="height: 22px; margin-top: -4px;">
                                {{ fichaPService.casosFusion[tabIndex].Estado }}
                            </div>
                        </div>
                        <div class="col col-3">
                            <div class="T_Titulo" style="color: #FFF; font-weight: 500;">Nivel</div>
                            <div class="T_Descripcion G_SinPaddingBottom" style="color: #FFF; font-weight: 300;">
                                <div class="{{ fichaPService.casosFusion[tabIndex].CodNivel }}">{{ fichaPService.casosFusion[tabIndex].Nivel }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-12">
                        <div class="T_Titulo" style="color: #FFF; font-weight: 500;">Ubicación</div>
                        <div class="T_Descripcion EnlaceUbicacion G_SinPaddingBottom" style="color: #FFF; font-weight: 300;" onclick="MapaModalView($(this), 'ModalMapaFusion');">
                            <input type="hidden" name="_Latitud" value="{{ fichaPService.casosFusion[tabIndex].Latitud }}">
                            <input type="hidden" name="_Longitud" value="{{ fichaPService.casosFusion[tabIndex].Longitud }}">
                            <input type="hidden" name="_Titulo" value="{{ fichaPService.casosFusion[tabIndex].Ubicacion }}">

                            <i class="zmdi zmdi-pin"></i> {{ fichaPService.casosFusion[tabIndex].Ubicacion }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="divChat" *ngIf="showChat">
        <chat-window [messages]="this.fichaPService.datosFusion"></chat-window>
    </div>
    <md2-tabs class="tab" *ngIf="this.fichaPService.casosFusion && this.fichaPService.casosFusion.length > 0" style="border: none !important; width: 100%;" (change)="onChangeTab($event)" [class]="'tabCpiFus'"
        (click)="showChat = false">
        <md2-tab *ngFor="let d of this.fichaPService.casosFusion; let i=index" [label]="'Caso Nº ' + d.IdCaso" [active]="i == 0 ? true : false" [marginLeft]="i == 0 ? '25' : null">
            <div class="row">
                <div class="col col-sm-12 col-md-12 G_SinPadding">
                    <div class="row" style="padding: 10px;">
                        <div class="col col-12 hidden-md-down hidden-lg-down hidden-xl-down"></div>
                        <div class="col col-sm-12 col-md-12">
                            <div class="card">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="T_Tarjeta" id="NombreTarjetaFusion"> Tareas</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="tab-content col col-12" id="myTab2{{ prefijo }}{{ i }}Content">
                                        <div id="TarjetaTareas{{ i }}" style="text-align: center;" class="col col-12 tab-pane fade show active row"
                                            role="tabpanel">
                                            <div class="row">
                                                <div class="col col-1">
                                                    <div class="T_Titulo text-center"></div>
                                                </div>
                                                <div class="col col-4">
                                                    <div class="T_Titulo text-left">Tarea</div>
                                                </div>
                                                <div class="col col-2">
                                                    <div class="T_Titulo text-left">Fecha Inicio</div>
                                                </div>
                                                <div class="col col-2" style="padding-left: 5px;">
                                                    <div class="T_Titulo text-left">Fecha Fin</div>
                                                </div>
                                                <div class="col col-3" style="padding-left: 0;">
                                                    <div class="T_Titulo text-left">Responsable</div>
                                                </div>
                                            </div>
                                            <div class="loader" *ngIf="!d.Tareas">
                                            </div>
                                            <div style="height:auto; max-height: 400px; overflow-x: hidden; overflow-y: auto;">
                                                <div *ngFor="let tarea of d.Tareas" class="row itemListaIntervenciones">
                                                    <div class="col col-1">
                                                        <div class="T_Descripcion text-center">
                                                            <img src="./Content/Images/{{ tarea.CodEstado }}.png" style="height: 22px; margin-top: -4px;">
                                                        </div>
                                                    </div>
                                                    <div class="col col-4" style="padding-left: 2px;">
                                                        <div class="T_Descripcion text-left">
                                                            {{ tarea.Tarea }}
                                                        </div>
                                                    </div>
                                                    <div class="col col-2">
                                                        <div class="T_Descripcion text-left">{{ tarea.FechaCreacion | date: 'dd-MM-yyyy' 
                                                            }}</div>
                                                    </div>
                                                    <div class="col col-2">
                                                        <div class="T_Descripcion text-left">{{
                                                            tarea.FechaFinalizacion | date: 'dd-MM-yyyy' }}</div>
                                                    </div>
                                                    <div class="col col-3">
                                                        <div class="T_Descripcion text-left">
                                                            <article>{{ tarea.Responsable }}</article>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-6 col-md-6 interListado" *ngIf="d.Intervenciones && d.Intervenciones.length > 0">
                            <div class="card" style="width: 100%;">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="T_Tarjeta" id="NombreTarjetaFusion" style="margin-right: 10px;">Intervenciones</div>
                                        <div class="T_Titulo labelInter">{{d.Intervenciones.length}} Intervenciones</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 scroll" style="padding-right: 0;">
                                        <div>
                                            <div class="fw-case-interventions-list">
                                                <ul class="fw-case-interventions pr-8" style="width: 100%; height: 400px; list-style: none; padding-left: 0;">
                                                    <li class="fw-case-task" *ngFor="let caseIntervention of d.Intervenciones; let i = index"
                                                        (click)="formatDetail(caseIntervention.Detalles, i)"
                                                        [ngClass]="{'fw-active': intervencionIndice== i}" 
                                                        style="cursor: pointer; padding: 10px; padding-bottom: 0;">
                                                        <div class="row">
                                                            <div class="col-4 T_Titulo" style="font-weight: normal;">
                                                                <div>
                                                                    <b>Tipo de Intervencion:</b>
                                                                    {{caseIntervention.Tipo}}
                                                                </div>
                                                                <div>
                                                                    <b>Creador:</b>
                                                                    {{caseIntervention.Creador}}
                                                                </div>
                                                            </div>
                                                            <div class="col-4 T_Titulo" style="font-weight: normal;">
                                                                <div>
                                                                    <b>Tarea relacionada:</b>
                                                                    {{caseIntervention.TareaRelacionada || '-'}}
                                                                </div>
                                                                <div>
                                                                    <b>Fecha:</b>
                                                                    {{caseIntervention.Fecha || '-'}}
                                                                </div>
                                                            </div>
                                                            <div class="col-4 T_Titulo" style="font-weight: normal;">
                                                                <div>
                                                                    <b>Estado de la Tarea:</b>
                                                                    {{caseIntervention.EstadoTarea || '-'}}
                                                                </div>
                                                                <div>
                                                                    <b>Usuario que realizó:</b>
                                                                    {{caseIntervention.UsuarioRealizoTarea || '-'}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-6 col-md-6 interSecciones" *ngIf="d.Intervenciones && d.Intervenciones.length > 0">
                            <div class="card" style="width: 100%; padding: 0;">
                                <div class="col-xs-12" *ngIf="InterventionsDetails[intervencionIndice] && InterventionsDetails[intervencionIndice].length > 0" style="padding: 0; height: 100%;">
                                    <div style="width: 100%; height: 100%">
                                        <md2-tabs selectedIndex="0" [class]="'tabSeccInter'">
                                            <md2-tab *ngFor="let section of InterventionsDetails[intervencionIndice]; let i = index"
                                                label="{{section.Section}}" [active]="i == 0 ? true : false" [class]="'interven'">
                                                <div class="tab-content scroll" style="height: 340px">
                                                    <ng-container *ngFor="let qa of section.QuestionsAnswers">
                                                        <p *ngIf="qa.DataTypeCode !== 'COD_IMAGEN' && qa.Answer">
                                                            <ng-container *ngIf="qa.Question === 'Edad'"><b>{{qa.Question}}:
                                                                </b>{{qa.Edad}}</ng-container>
                                                            <ng-container *ngIf="qa.DataTypeCode !== 'DATE' && qa.Question !== 'Edad'"><b>{{qa.Question}}:
                                                                </b>{{qa.Answer}}</ng-container>
                                                            <ng-container *ngIf="qa.DataTypeCode === 'DATE'"><b>{{qa.Question}}:
                                                                </b>{{qa.Answer | date: 'dd/MM/yyyy'}}</ng-container>
                                                        </p>
                                                        <!--<div *ngIf="qa.DataTypeCode === 'COD_IMAGEN'">-->
                                                            <!--<p><b>{{qa.Question}} </b></p>
                                                            <section>
                                                                <div class=”media”>
                                                                    <img src="{{qa.Answer}}">
                                                                </div>
                                                            </section>-->
                                                        <!--</div>-->
                                                    </ng-container>

                                                    <div *ngIf="section.SectionCode === 'COD_ALERTA_INICIAL' && fotosIntervenciones && fotosIntervenciones.length > 0" id="carouselInterven" class="carousel slide" data-ride="carousel">
                                                        <ol class="carousel-indicators" *ngIf="fotosIntervenciones.length > 1">
                                                        </ol>
                                                        <div class="carousel-inner" role="listbox">
                                                            <div *ngFor="let fot of fotosIntervenciones; let j=index" class="carousel-item {{ (j==0 ? 'active':'') }}">
                                                                <img class="d-block img-fluid ActividadesIMG" src="{{ fot.url }}" alt="">
                                                                <!--<div class="ActividadItem" [style.backgroundImage]="'url('+fot.URL+')'"></div>-->
                                                                <div class="carousel-caption d-none d-md-block">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="fotosIntervenciones.length > 1">
                                                            <a class="carousel-control-prev" href="#carouselInterven" role="button" data-slide="prev">
                                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                                <span class="sr-only">Previous</span>
                                                            </a>
                                                            <a class="carousel-control-next" href="#carouselInterven" role="button" data-slide="next">
                                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                                <span class="sr-only">Next</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </md2-tab>
                                        </md2-tabs>
                                    </div>
                                </div>

                                <div class="col-xs-12" *ngIf="!InterventionsDetails[intervencionIndice] || InterventionsDetails[intervencionIndice].length === 0">
                                    <div style="width: 100%; height: calc(100% - 48px)" class="tabsInterven">
                                        <div class="md2-tabs-header-wrapper" style="background-color: #E0E3E8 !important;">
                                        </div>
                                        <div class="md2-tabs-body-wrapper" style="padding: 16px;">
                                            <p><b>No se encontraron datos</b></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md2-tab>
    </md2-tabs>
    <div class="col col-sm-12 divTimeLine" *ngIf="fichaPService.fotos && fichaPService.fotos.length > 0">
        <div class="card">
            <div>
                <h4 style="text-align: left;"><span class="info-title-cards">Línea de Tiempo</span></h4>
            </div>
            <!--<div *ngIf="MostrarLinea(d.Caso)" class="row" style="padding-top: 25px;">-->
            <div *ngIf="fichaPService.fotos" class="row" style="padding-top: 25px;">
                <timelineNew style="width: 100%;" *ngIf="fichaPService.fotos && fichaPService.fotos.length > 0" [tarjeta]="'NewFusion'" [fotos]="fichaPService.fotos"></timelineNew>
            </div>
            <!--<div *ngIf="!MostrarLinea(d.Caso)" class="row">
                <div class="col col-12 T_Descripcion">Este Caso no tiene disponible archivos
                    para mostrar.</div>
            </div>-->
        </div>
    </div>
</div>
<div class="modal fade" id="ModalMapaFusion">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div id="ModalMapaFusionDIV" class="MapaModal"></div>
            </div>
            <div class="modal-footer">
            </div>

        </div>
    </div>
</div>