/*ALERTA*/
.COD_LEVE{
    background-color: #66c4aa;
    color: #fff;

    padding: 5px;
    width: fit-content;
}
.COD_MODERADO{
    background-color: #f6b261;
    color: #fff;

    padding: 5px;
    width: fit-content;
}
.COD_GRAVE{
    background-color: #f95f5f;
    color: #fff;

    padding: 5px;
    width: fit-content;
}

/*MODAL FUSION*/
.divChat {
    max-height: 500px; 
    width: 400px; 
    position: fixed;
    margin-top: -15px; 
    right: 6%;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    z-index:2;
}
.TarjetaFusion{
    width: 100%;
    padding: 10px;
}

.datosGCaso{
    display: flex;
}
.headerLinea{
    padding-right: inherit;
    background-color: #918fdb;
    color: #FFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.card{
    border: none;
    border-radius: 5px;
    overflow-y: auto;
    padding: 16px;
    display: block;
    box-shadow: 3px 3px 10px #AAA;
}

.cardOrgP{
    padding: 20px 30px;
    position: absolute;
    right: 0;
}

.cardOrgP .card{
    position: absolute;
    width: calc(100% - 40px);
}

.cardOrgP .protocolo{
    margin-top: 115px;
}

.Tarjeta .card{
    height: auto;
}
.card-block{
    padding: 0 15px;
}

.I_PerfilContenedor {
    height: 160px;
    overflow: hidden;
    border-radius: 5px;
    text-align: -webkit-center;
    //padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.I_Perfil {
    display: block;
    border-radius: 5px;
    max-width: 100%;
    //margin-left: -25%;
    margin-right: auto;
    max-height: 100%;
    width: 100%;
    object-fit: contain;
    //margin-top: -25%;
    //min-height: 150%;
}

.imgProtocolo{
    background-color: #4C4C4C;
    text-align: center;
    display: grid;
    margin: -16px;
    align-items: center;
}

.interListado{
    margin-top: 25px;
    display: flex;
    //padding-left: 0;
}

.interSecciones{
    margin-top: 25px;
    display: flex;
    //padding-left: 0;
}

.ActividadesIMG{
    max-height: 240px;
    margin: 0 auto;
    object-fit: contain;
}

.BordeInferior {
    border-bottom: 1px solid #E0E3E8;
}
.ModalFusion{
    // max-width: calc(100% - 10%);
    width: 100%;
}
.ModalFusion > .modal-content{
    background-color: #f1f1f1;
}
.modal-fusion-header{
    background-color: #7875DC;
    color: #fff;
    margin-left: -15px;
    margin-right: -15px;
}
.modal-fusion-title{
    font-size: 22px;
}
.modal-fusion-close{
    color: #fff;
}
.modal-fusion-items{
    margin: 0 auto;
}

.modal-fusion-body{
    padding: 0px 15px 15px 15px;
    background-color: #E0E3E8;
}
.MapaModal{
    width: 100% !important;
    height: 300px !important;
}

.EnlaceUbicacion{
    cursor: pointer;
}
.EnlaceUbicacion .zmdi{
    color: #2aabe3;
}
.btn-primary{
    background-color: #2aabe3;
    border-color: #2aabe3;
}

.itemListaIntervenciones{
    border-bottom: 1px #DFE2E7 solid;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
}

.ContenedorIntervencionesTareas {
    max-height: 358px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll{
    max-height: 358px;
    overflow-y: auto;
    overflow-x: hidden;
}

.fw-active {
    background-color: #918FDB;
    //color: #ffffff;
}

.tabsInterven {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
}
.zmdi-caret-down-circle{
    margin-left: 30px;
}

.modal-header .close {
    margin-top: -15pt;
    position: absolute;
    right: 8pt;
    font-size: 15pt;
}

.logo {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.labelInter{
    color: #908ED8;
    margin-top: 2px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
//   -webkit-animation: spin 2s linear infinite; /* Safari */
//   animation: spin 2s linear infinite;
}

.divTimeLine{
    margin-top: -20px;
    padding: 0px 30px 15px 30px;
    background-color: #E0E3E8;
}

@media (max-width: 1440px){
    .TarjetaFusion{
        height: 340px;
    }

    .datosGCaso{
        display: -webkit-inline-box;
    }

    .datosGCaso .col-4{
        max-width: 50% !important;
    }

    .cardOrgP{
        top: 230px;
        right: unset;   
        max-width: 100% !important;
    }

    .cardOrgP .card{ 
        width: 47.2%;
    }

    .cardOrgP .protocolo{
        left: 51.5%;
        margin-top: 0;
    }
}

@media (max-width: 1366px){
    :host /deep/ .md2-tab-label{
        font-size: 12px !important;
    }

    .TarjetaFusion{
        height: 330px;
    }

    .cardOrgP{
        top: 215px;
        right: unset;   
        max-width: 100% !important;
    }

    .EnlaceUbicacion{
        padding-bottom: 4px !important;
    }

    .I_PerfilContenedor{
        height: 145px;
    }
}
@media (max-height: 800px){
    .divChat {
        max-height: 400px;
    }
}

@media (max-height: 600px){
    .divChat {
        max-height: 300px;
    }
}

@media (max-width: 1100px){
    .divChat {
        right: 6.5%;
    }
    .cardOrgP{
        top: 235px;
    }
}

@media (max-width: 900px){
    .TarjetaFusion{
        height: 390px;
    }

    .cardOrgP{
        top: 270px;
    }
}

@media (max-width: 1280px){
    .interListado{
        padding-right: 0;
    }

    .interSecciones{
        padding-left: 0;
    }

    .labelInter{
        position: absolute;
        margin-right: 5px;
        right: 0;
    }
}

/************************TAB**************************/

:host /deep/ .md2-tabs-header-wrapper{
    position:relative;
    display:block;
    height:38px;
    background:#fff !important;
    // border-width:0 0 1px;
    // border-style:solid !important;
    // border-color:rgba(0,0,0,.12) !important;
    margin:0;
    padding:0;
    list-style:none;
    user-select:none;
    text-align: left !important; 
}

:host /deep/ .md2-tabs-canvas{
    background-color: #7A76E0;
}

:host /deep/ .md2-next-button, .md2-prev-button{
    padding: 7px 0 !important;
}

:host /deep/ .prev-icon {
    width: 8px !important;
    height: 8px !important;
    margin-left: 15px !important;
}

:host /deep/ .next-icon {
    width: 8px !important;
    height: 8px !important;
}

:host /deep/ .md2-tabs-body-wrapper{
    // height: 327px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: -1px;
    border-top: 1px solid;
    border-top-color:rgba(0,0,0,.12) !important;
    z-index: 0;
    position: relative;
    padding: 0px 15px 15px 15px;
    background-color: #E0E3E8;
}

:host /deep/ .md2-tabs-header-wrapper::after{
    content:'';
    display:table;
    clear:both
}

:host /deep/ .md2-tab-label:hover{
    background-color: #EEEEEE;
}

:host /deep/ .md2-tab-label{
    color:#A3A3C5 !important;
    padding: 8px 14px !important;
    z-index: 2;
    margin-left: 3px;
    position: relative;
    height: 40px;
    background-color: #49498C;
}

:host /deep/ .tabSeccInter .md2-tab-label{
    background-color: #2F2F2F !important;
    color: #9D9D9D !important;
}

:host /deep/ .tabSeccInter .md2-tab-label.active{
    background-color: #4C4C4C !important;
    color: #FFF !important;
}

:host /deep/ .tabSeccInter .md2-tabs-canvas:focus .md2-tab-label.focus{
    background: #4C4C4C !important;//rgba(0,0,0,.05) !important;
}

:host /deep/ .md2-tab-label.active{
    color:#000000 !important;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: none;
    border-radius: 0.25rem;
    background-color: #E0E3E8;
    font-weight: 500;
}

/******************************************************************/
:host /deep/ .tabSeccInter{
    border-radius: 5px;
    height: 100%;
}

:host /deep/ .tabSeccInter .md2-tabs-canvas{
    background-color: #2F2F2F !important;
}

:host /deep/ .tabSeccInter .md2-tabs-body-wrapper{
    background-color: #4C4C4C !important;
    color: #FFF !important;
    height: calc(100% - 37px);
}

:host /deep/ .tabSeccInter .md2-tab-label{
    background-color: #2F2F2F !important;
    color: #9D9D9D !important;
}

:host /deep/ .interven .tab-content::-webkit-scrollbar, #CardUbicacion::-webkit-scrollbar{
	width:12px;
	background-color:#B5B5B5;
    border-radius: 6px;
}

:host /deep/ .interven .tab-content::-webkit-scrollbar-track, #CardUbicacion::-webkit-scrollbar-track{
	border:1px #2F2F2F solid;
	border-radius:10px;
	-webkit-box-shadow:0 0 6px #2F2F2F inset;
}
:host /deep/ .interven .tab-content::-webkit-scrollbar-thumb, #CardUbicacion::-webkit-scrollbar-thumb{
	background-color: #2F2F2F;
	border:1px solid #2F2F2F;
	border-radius:16px;
}
:host /deep/ .interven .tab-content::-webkit-scrollbar-thumb:hover, #CardUbicacion::-webkit-scrollbar-thumb:hover{
	background-color: #2F2F2F;
	border:1px solid #2F2F2F;
}
:host /deep/ .interven .tab-content::-webkit-scrollbar-thumb:active, #CardUbicacion::-webkit-scrollbar-thumb:active{
	background-color: #2F2F2F;
	border:1px solid #2F2F2F;
}
/******************************************************************/

:host /deep/ .md2-tabs-canvas:focus .md2-tab-label.focus{
    background: #E0E3E8 !important;//rgba(0,0,0,.05) !important;
}

:host /deep/ .md2-tab-ink-bar{
    display: none !important;
}

// .modal-header .close {
//     margin-top: -12px;
//     position: absolute;
//     right: -20pt;
// }

@media (max-width: 1366px){
    :host /deep/ .md2-tab-label{
        font-size: 12px !important;
    }
}

@media (max-width: 749px){
    :host /deep/ .md2-tabs-body-wrapper{
		max-height: calc(100% - 38px) !important;
		/*height: 100% !important;*/
	}
}

@media (max-width: 1199px){
    :host /deep/ .md2-tabs-body-wrapper{
		height: 290px !important;
	}
}


/*******************ToolTip**************************/

$md2-tooltip-target-height: 24px;
$md2-tooltip-max-width: 200px;
$md2-tooltip-font-size: 14px;
$md2-tooltip-margin: 5px;
$md2-tooltip-horizontal-padding: 5px;
$md2-tooltip-vertical-padding: ($md2-tooltip-target-height - $md2-tooltip-font-size) / 2;

::ng-deep .md2-tooltip {
  color: white;
  padding: $md2-tooltip-vertical-padding $md2-tooltip-horizontal-padding !important;
  border-radius: 2px;
  font-size: $md2-tooltip-font-size !important;
  margin: $md2-tooltip-margin !important;
  max-width: $md2-tooltip-max-width !important;
  text-align: center !important;
  background: rgba(0, 0, 0, 0.9) !important;
  word-wrap: break-word;
}

::ng-deep .md2-tooltip:before {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    right: -10px;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent transparent rgba(0, 0, 0, 0.9);
}


section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   .media {
       min-width: 0;
    }
   img {
      cursor: pointer;
      width: auto;
      max-width: 100%;
      max-height: 220px;
      // margin-top: -45px;
      padding: 0px 5px 15px 5px;
    }
   }