<input type="hidden" name="ParaListaPDF" id="viv.Viviendas.Materiales" title="Materiales de la Vivienda" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <!--<div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Materiales de la Vivienda...</div>
        </div>-->

        <md2-tabs class="tab" *ngIf="materiales && materiales.length > 0">
            <md2-tab *ngFor="let d of materiales; let i=index"
                    [label]="d.Fecha + ' ' + (d.NroRelevamiento || '')"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="row">
                    <div class="col-12">
                        <div class="T_Tarjeta">Materiales de la Vivienda</div>
                        <input type="hidden" name="Origen" value='{{ d.Origen }}' />
                        <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>
                    </div>                    
                </div>
                <div class="col col-12 row">
                    <div class="col col-6">
                        <div class="T_Titulo">TECHO</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo">Materiales</div>
                        <div class="T_Descripcion">{{ d.TechoMaterial || '-' }}</div>
                    </div>
                </div>
                <div class="col col-12 row">
                    <div class="col col-6">
                        <div class="T_Titulo">PISO</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo">Materiales</div>
                        <div class="T_Descripcion">{{ d.PisoMaterial || '-' }}</div>
                    </div>
                </div>
                <div class="col col-12 row">
                    <div class="col col-6">
                        <div class="T_Titulo">PARED</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo">Materiales</div>
                        <div class="T_Descripcion">{{ d.ParedMaterial || '-' }}</div>
                    </div>
                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </md2-tab>
        </md2-tabs>
    </div>
</div>