<md2-dialog #modal (onClose)="close(true)">
<!--<div class="col col-sm-12 col-md-12 col-lg-8 modal-content">-->
    <div class="modal-header">
        <div class="col col-12 row">
            <div class="col col-10 G_SinPadding"><h4 class="modal-title"><span class="info-title-cards">Tarjetas a Imprimir</span></h4></div>
            <!--<div class="col col-2"><button type="button" class="close" data-dismiss="modal"><i class="zmdi zmdi-close"></i></button></div>-->
        </div>
    </div>
    <div class="modal-body">
        <!--CUERPO DE VISITAS-->
        <div class="col col-12 tab-content G_SinPadding">
            <div id="" class="col col-12 tab-pane fade active show G_SinPadding">
                <!--INICIO-->
                <div class="row col col-12 tab-content G_SinPadding" id="DivTarjetasImprimir">
                      <ng-container *ngFor="let tarjeta of fichaPService.listTarjetasColombia">
                        <div class="col col-12" *ngIf="!!tarjeta.Visible">
                            <!--<md-checkbox 
                                [(ngModel)]="tarjeta.Checked">
                                {{tarjeta.Nombre}}
                            </md-checkbox>-->
                            <input type="checkbox" [(ngModel)]="tarjeta.Checked" /> 
                            <label>{{tarjeta.Nombre}}</label><br/>
                        </div>
                    </ng-container>
                </div>
                <div *ngIf="!!aframe" id="wrapper" class="pure-u-1 pure-u-md-4-5">
                    <iframe id="output" style="width: 100%; height: 600px;" [src]="aframe  | safe: 'resourceUrl'"></iframe>
                </div>
                <div class="row col col-12 tab-content G_SinPadding">
                    <!--<a class="btn btn-primary" href="" role="button" (click)="imprimir()" target="_blank">Generar PDF</a>-->
                    <button class="btn btn-primary" (click)="imprimir()">Generar PDF </button> <strong *ngIf="error" style="color:#a94442; margin-left: 5px;">Faltan cargar datos Personales</strong>
                </div>
            </div>
            <!--FIN-->
        </div>
        <div class="col col-sm-12">&nbsp;</div>
    </div>
<!--</div>-->
<block-ui></block-ui>
  </md2-dialog>