//.chat-window {
//  bottom: 0;
//  right: 0;
//  position: fixed;
//  float: right;
//  margin-left: 10px; }
.chat-window > div > .panel {
  // border-radius: 5px 5px 0 0; 
  border-radius: 3px;
}
.chat-window .col-md-2, .chat-window .top-bar .panel-buttons-container, .chat-window .msg-container .avatar, .chat-window .col-md-10, .chat-window .top-bar .panel-title-container, .chat-window .messages {
  padding: 0; }
.chat-window .panel {
  margin-bottom: 0px; }
.chat-window .icon_minim {
  padding: 2px 10px; }
.chat-window .msg-container-base {
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height: 500px;
  overflow-x: hidden;
  border-radius: 3px;
}
.chat-window .top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden; }
.chat-window .msg-receive {
  padding-left: 0;
  margin-left: 0; }
.chat-window .msg-sent {
  padding-bottom: 20px !important;
  margin-right: 0; }
.chat-window .messages {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width: 100%; }
.chat-window .messages > p {
  font-size: 13px;
  margin: 0 0 0.2rem 0; }
.chat-window .messages > .time {
  font-size: 11px;
  color: #ccc; }
.chat-window .msg-container {
  padding: 10px;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex; }
.chat-window img {
  display: block;
  width: 100%; }
.chat-window .avatar {
  position: relative; }
.chat-window .base-receive > .avatar:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid #FFF;
  border-left-color: transparent;
  border-bottom-color: transparent; }
.chat-window .base-sent {
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }
.chat-window .base-sent > .avatar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }
.chat-window .msg-sent > .time {
  float: right; }
//.chat-window .msg-container-base::-webkit-scrollbar-track {
//  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//  background-color: #F5F5F5; }
//.chat-window .msg-container-base::-webkit-scrollbar {
//  width: 12px;
//  background-color: #F5F5F5; }
//.chat-window .msg-container-base::-webkit-scrollbar-thumb {
//  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//  background-color: #555; }
.chat-window .btn-group.dropup {
  position: fixed;
  left: 0px;
  bottom: 0; }




div.ext-box { display: table; width:100%;}
div.int-box { display: table-cell; vertical-align: middle; }


.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: unset;
}

.thumbnail img.portrait {
  width: 100%;
  height: auto;
  max-width: unset;
}


.chat-window .msg-container-base::-webkit-scrollbar, #CardUbicacion::-webkit-scrollbar{
  width:12px;
  background-color:#c2c0f5;
  border-radius: 6px;
}
.chat-window .msg-container-baset::-webkit-scrollbar:horizontal, #CardUbicacion::-webkit-scrollbar:horizontal{
  height:12px;
}
.chat-window .msg-container-base::-webkit-scrollbar-track, #CardUbicacion::-webkit-scrollbar-track{
  border:1px #c2c0f5 solid;
  border-radius:10px;
  -webkit-box-shadow:0 0 6px #c2c0f5 inset;
}
.chat-window .msg-container-base::-webkit-scrollbar-thumb, #CardUbicacion::-webkit-scrollbar-thumb{
  background-color: #918fdb;
  border:1px solid #c2c0f5;
  border-radius:16px;
}
.tab-content::-webkit-scrollbar-thumb:hover, #CardUbicacion::-webkit-scrollbar-thumb:hover{
  background-color: #7875dc;
  border:1px solid #7875dc;
}
.tab-content::-webkit-scrollbar-thumb:active, #CardUbicacion::-webkit-scrollbar-thumb:active{
  background-color: #918fdb;
  border:1px solid #918fdb;
}

@media (max-height: 800px){
    .chat-window .msg-container-base {
        max-height: 400px;
    }
}

@media (max-height: 600px){
    .chat-window .msg-container-base {
        max-height: 300px;
    }
}