<div class="chat-window-container">
  <div class="chat-window">
    <div class="panel-container">
      <div class="panel panel-default" style="width: 400px">
        <div #container class="panel-body msg-container-base">

            <div *ngFor="let message of messages">
            <div class="msg-container" *ngIf="currentTime !== getDate(message.Fecha)" style="width: 100px; margin-left: 130px">
                <!--[ngClass]="{'base-sent': !incoming, 'base-receive': incoming}">-->

                <div class="ext-box">
                    <div class="int-box">
                        <div class="messages">
                            <p class="time">{{getDateTime(message.Fecha) | date:'dd-MM-yyyy'}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="msg-container">
                <!--[ngClass]="{'base-sent': !incoming, 'base-receive': incoming}">-->

                <div class="avatar">
                    <!--*ngIf="!incoming">-->
                    <img src="{{message.authorAvatarSrc}}">
                </div>

                <div class="ext-box">
                    <div class="int-box">
                        <label [style.color]="getUserColor(message.CodUsuario)" >{{message.Usuario}}</label>
                        <div class="messages">
                            <!--[ngClass]="{'msg-sent': !incoming, 'msg-receive': incoming}">-->
                            <p>{{message.Mensaje}}</p>
                            <p class="time">{{message.Fecha}}</p>

                            <div class="thumbnail" *ngIf="message.TipoMensaje === 'COD_MULTIMEDIA'">
                                <img [src]="message.Url">
                            </div>
                        </div>
                    </div>
                </div>



                <div class="avatar">
                    <!--*ngIf="incoming">-->
                    <img src="{{message.authorAvatarSrc}}">
                </div>
            </div>
            </div>

          <!--<chat-message-->
          <!--*ngFor="let message of messages"-->
          <!--[message]="message">-->
        <!--</chat-message>-->
      </div>
    </div>
  </div>
</div>
