<input type="hidden" name="ParaListaPDF" id="Personas.AntecedentesNutricionales" title="Antecedentes Nutricionales" />
<input type="hidden" name="ParaListaPDF" id="Personas.AntecedentesPatologicos" title="Antecedentes Patológicos" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Antecedentes Nutricionales y Patológicos...</div>
        </div>
        <!--<div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist" id="myTab{{ prefijo }}">
                <li class="nav-item" *ngFor="let d of fechasAgrupadas; let i=index">
                    <a id="{{ prefijo }}{{ i }}-tab" class="nav-link {{ i == 0 ? 'active' : '' }}" href="#{{ prefijo }}{{ i }}" data-toggle="tab" role="tab">{{ d.Fecha }}</a>
                </li>
            </ul>
        </div>

        <div class="tab-content card-block G_TabContent" id="myTab{{ prefijo }}Content">
            <div *ngFor="let d of fechasAgrupadas; let i=index" role="tabpanel" class="tab-pane fade {{ i == 0 ? 'active show' : '' }}" id="{{ prefijo }}{{ i }}">-->
        <md2-tabs class="tab" *ngIf="fechasAgrupadas && fechasAgrupadas.length > 0">
            <md2-tab *ngFor="let d of fechasAgrupadas; let i=index"
                    [label]="d.Fecha"
                    [MostrarOrigen]="i == 0 ? true : false"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />

                <div class="row origen">
                    <div class="col-xs-6 T_Titulo"><span *ngIf="d.NroRelevamiento">Nro. Encuesta:</span> {{ d.NroRelevamiento || ''}}</div>
                    <div class="col-xs-6 T_Titulo">Origen: {{ d.Origen || '-'}}</div>
                </div>
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="col col-12 row G_SinMargin G_SinPadding" style="height: 42px; display:block;">
                    <ul class="nav nav-tabs" role="tablist" id="myTab2{{ prefijo }}{{ i }}" style="float: left;">
                        <li *ngIf="tieneVisita(true, d.Fecha, d.Origen, d.NroRelevamiento)" class="nav-item"><a class="nav-link {{ tabActiva(true, d.Fecha, d.Origen, d.NroRelevamiento) }}" data-toggle="tab" role="tab" href="#TarjetaAntecedentesNutricionales{{ i }}">Antecedentes Nutricionales</a></li>
                        <li *ngIf="tieneVisita(false, d.Fecha, d.Origen, d.NroRelevamiento)" class="nav-item"><a class="nav-link {{ tabActiva(false, d.Fecha, d.Origen, d.NroRelevamiento) }}" data-toggle="tab" role="tab" href="#TarjetaAntecedentesPatologicos{{ i }}">Antecedentes Patológicos</a></li>
                    </ul>
                    <!--<input type="hidden" name="Origen" value='{{ d.Origen }}' />
                    <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" style="position: absolute !important; right: 0 !important;" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>
                    <input type="hidden" name="EdadRelevamiento" value='{{ d.EdadRelevamiento }}' />-->
                    <!--<a class="G_BotonTarjeta" type="EdadRelevamiento" data-toggle="tooltip" data-placement="left" title="" data-original-title="" data-title-template="Edad en el Relevamiento: ">&nbsp;<span class="zmdi zmdi-info" title="Edad en el Relevamiento"></span></a>-->
                </div>
                <div class="tab-content" id="myTab2{{ prefijo }}{{ i }}Content">
                    <ng-container *ngFor="let item of antecedentesNutricionales">
                    <div *ngIf="d.Fecha == item.Fecha && d.NroRelevamiento == item.NroRelevamiento && d.Origen == item.Origen" id="TarjetaAntecedentesNutricionales{{ i }}" [ngClass]="{'show': antecedentesNutricionales.length > 0}" class="col col-12 tab-pane fade {{ tabActiva(true, d.Fecha, d.Origen, d.NroRelevamiento) }} row" role="tabpanel">
                        <div class="col col-12 row G_BordeInferior G_SinMargin G_SinPadding">
                            <div class="col col-6">
                                <div class="T_Titulo">Asiste a Comedor</div>
                                <div class="T_Descripcion">{{ item.AsisteComedor || '-' }}</div>
                            </div>
                            <div class="col col-6">
                                <div class="T_Titulo text-right">Desde Cuando Asiste</div>
                                <div class="T_Descripcion text-right">{{ item.AsisteComedorDesde || '-' }}</div>
                            </div>
                        </div>

                        <div class="col col-12 row G_BordeInferior G_SinMargin G_SinPadding">
                            <div class="col col-6">
                                <div class="T_Titulo">Motivo Principal</div>
                                <div class="T_Descripcion">{{ item.AsisteComedorMotivo || '-' }}</div>
                            </div>
                            <div class="col col-6">
                                <div class="T_Titulo text-right">Asiste</div>
                                <div class="T_Descripcion text-right">{{ item.AsisteDias || '-' }}</div>
                            </div>
                        </div>

                        <div class="col col-12 row G_BordeInferior G_SinMargin G_SinPadding">
                            <div class="col col-6">
                                <div class="T_Titulo"> Consume los Alimentos</div>
                                <div class="T_Descripcion">{{ item.ConsumeComedor || '-' }}</div>
                            </div>
                            <div class="col col-6">
                                <div class="T_Titulo text-right">&nbsp;</div>
                                <div class="T_Descripcion text-right">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    </ng-container>
                    
                    <ng-container *ngFor="let item of antecedentesPatologicos">
                    <div *ngIf="d.Fecha == item.Fecha" id="TarjetaAntecedentesPatologicos{{ i }}" [ngClass]="{'show': antecedentesNutricionales.length === 0 && antecedentesPatologicos.length > 0}" class="col col-12 tab-pane fade {{ tabActiva(false, d.Fecha, d.Origen, d.NroRelevamiento) }} row" role="tabpanel">
                        <ng-container *ngIf="d.Fecha == item.Fecha && d.NroRelevamiento == item.NroRelevamiento && d.Origen == item.Origen && !item.Cirugia_txt" >
                            <div class="col col-12 row G_BordeInferior G_SinMargin G_SinPadding">
                                <div class="col col-6">
                                    <div class="T_Titulo">Cantidad de Internaciones</div>
                                    <div class="T_Descripcion">{{ item.CantInternaciones || '-' }}</div>
                                </div>
                                <div class="col col-6">
                                    <div class="T_Titulo text-right">Motivos</div>
                                    <div class="T_Descripcion text-right">{{ item.MotivoInternaciones || '-' }}</div>
                                </div>
                            </div>

                            <div class="col col-12 row G_BordeInferior G_SinMargin G_SinPadding">
                                <div class="col col-6">
                                    <div class="T_Titulo">Cantidad de Cirugías</div>
                                    <div class="T_Descripcion">{{ item.CantCirugias || '-' }}</div>
                                </div>
                                <div class="col col-6">
                                    <div class="T_Titulo text-right">Motivos</div>
                                    <div class="T_Descripcion text-right">{{ item.MotivoCirugias || '-' }}</div>
                                </div>
                            </div>

                            <div class="col col-12 row G_BordeInferior G_SinMargin G_SinPadding">
                                <div class="col col-6">
                                    <div class="T_Titulo">Cantidad de Fracturas</div>
                                    <div class="T_Descripcion">{{ item.CantFracturas || '-' }}</div>
                                </div>
                                <div class="col col-6">
                                    <div class="T_Titulo text-right">&nbsp;</div>
                                    <div class="T_Descripcion text-right">&nbsp;</div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="d.Fecha == item.Fecha && d.NroRelevamiento == item.NroRelevamiento && d.Origen == item.Origen && item.Cirugia_txt" >
                            <div class="col col-12">
                                <div class="T_Titulo">{{ item.Cirugia_txt || '-' }}</div>
                            </div>
                            <div class="col col-12">
                                <div class="T_Descripcion">{{ item.DescripcionCirugia || '-' }}</div>
                            </div>
                        </ng-container>
                    </div>
                    </ng-container>
                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
                </md2-tab>
        </md2-tabs>
            <!--</div>
        </div>-->
    </div>
</div>