<md2-dialog #modal (onClose)="close(true)">
    <md2-dialog-title>Tarjetas a Imprimir
        <a class="button2" data-dismiss="modal" (click)="modal.close()">Cerrar</a>
    </md2-dialog-title>
    <div class="modal-body">
        <!--CUERPO DE VISITAS-->
        <div class="col col-12 tab-content G_SinPadding">
            <div id="" class="col col-12 tab-pane fade active show G_SinPadding">
                <!--INICIO-->
                <div class="row col col-12 tab-content G_SinPadding" id="DivTarjetasImprimir">
                      <ng-container *ngFor="let tarjeta of fichaVService.listTarjetas">
                        <div class="col col-12" *ngIf="!!tarjeta.Visible">
                            <label class="containtCheck labelCustom">{{tarjeta.Nombre}}
                                <input type="checkbox" id="chkHoy" [(ngModel)]="tarjeta.Checked">
                                <span class="checkmark" style="top: 2px;"></span>
                            </label>
                        </div>
                    </ng-container>
                </div>
                <div *ngIf="!!aframe" id="wrapper" class="pure-u-1 pure-u-md-4-5">
                    <iframe id="output" style="width: 100%; height: 600px;" [src]="aframe  | safe: 'resourceUrl'"></iframe>
                </div>
                <div class="row col col-12 tab-content G_SinPadding" style="float: right;">
                    <button md-button class="button-success" style="margin-top: -10px;" (click)="imprimir()">Confirmar</button>
                    <strong *ngIf="error" style="color:#a94442; margin-left: 5px;">{{error}}</strong>
                </div>
            </div>
            <!--FIN-->
        </div>
        <div class="col col-sm-12">&nbsp;</div>
    </div>
<!--</div>-->
<block-ui></block-ui>
  </md2-dialog>