<!-- Galeria de Imagenes -->
<div class="Tarjeta" role="tabpanel">
        <div class="card">
            <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
                <div class="PL_Text">Buscando Datos de Galería de Fotos...</div>
            </div>
            <div>
                <div>
                    <div class="row">
                        <div class="col-xs-12" style="    padding-top: 20px;
                            padding-right: 0px;
                            padding-left: 25px;">
                            <div class="T_Tarjeta">Galería</div>
                            <div style="text-align: right; padding-right: 30px;" class="G_BotonTarjeta">
                                <button class="btn2" (click)="AbreModal();" type="button">Línea de tiempo</button>
                            </div>
                        </div>
                    </div>
                    <div style="overflow: auto; height: 290px; width: auto; margin: 10px;" class="style-scroll">
                        <div class="image_gallery">
                            <div class="image_gallery_div" *ngFor="let item of timeLineItemsCardGallery; let i = index; let last=last">
                                <img onclick="AbreViewer2(this.id)" class="image_gallery_img border_gallery" onerror="this.onerror=null;this.src='./assets/media/images/default.jpg';"  id="FotoIndex{{ i }}" (load)="activarGaleria(i)" [src]="item.urlmedium"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
  <!-- viewer fotos oculto-->
<div style="height: 0px; overflow: hidden;" id="ViewerGrid">
    <input type="hidden" id="TotalViewerFotos" value="{{ CantidadFotos }}" />
    <ul class="imagesViewer">
        <li *ngFor="let d of fotos; let i=index;let last=last">
            <img class="{{ d.FotoLarge }}" [src]="urlSafe(d.FotoSmall)" alt="<h2>{{ d.FotoTitulo }}</h2><h4>{{ d.FotoDescrip }}</h4><h4>{{ d.Fecha }}</h4>" id="ViewerFotoIndex{{ i }}">
            {{last ? activarViewer(i) : ''}}
        </li>
    </ul>
</div>          
            <!--Modal Linea Tiempo-->
    <div class="modal fade" id="lineamodal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modaldialog">
        <div class="modal-content fotocontent">

            <!-- Modal Header -->
            <div class="modal-header" style="justify-content: initial;">
                <h4 class="modal-title" name="ModalTitle">Línea de Tiempo</h4>
                <a class="button3" style="right: 10px;" data-dismiss="modal">Cerrar</a>
            </div>

            <!-- Modal body -->
            <div class="modal-body fotobody">
                <timelineNew *ngIf="fotos && fotos.length > 0" [tarjeta]="'timelineFotosViv'" [fotos]="fotos"></timelineNew>

            </div>

            <!-- Modal footer -->


        </div>
    </div>
    </div>
            
            
    
            <div class="overlayTL" [style.width.%]="widthmodalGalery" *ngIf="selectedItem && widthmodalGalery > 0">
                <ng-template ngFor let-itemdate [ngForOf]="[ selectedItem ]">
                    <div class="tituloNavTL">
                        <div class="col col-12">
                            <div class="col col-md-2" style="display:flex; flex-direction: row; align-items: center; justify-content: flex-start">
                                <div class="tl-text-content tl-text-popup-date">
                                    <p style="padding-top: 10%">Fecha de Registro: {{itemdate.date | date: 'dd/MM/yyyy
                                        HH:mm'}}</p>
                                </div>
                            </div>
                            <div class="col col-md-8" style=" padding-top: 1%; text-align: center;">
                                {{itemdate.name}}
                            </div>
                            <div class="col col-md-2" style="    padding-left: 14%;">
                                <button (click)="closeNavGallery()" style="
                                padding-top: 10px; background: transparent;
                                font-size: 25px;
                                border: none;">
                                    <i class="fa fa-close"></i>
                                </button>
                            </div>
    
                        </div>
                    </div>
    
                    <div class="overlay-contentTL" [style.height.px]="screenHeight - 200">
                        <div class="tl-slidenav-next" *ngIf="timeLineItemsCardGallery[selectedItemPosition+1]" style="display: block;"
                            (click)="moveSlide('right')">
                            <div class="tl-slidenav-content-container">
                                <img src="assets/icons/next.png" style="width: 20%">
                            </div>
                        </div>
                        <!--left-->
                        <div class="tl-slidenav-previous" *ngIf="timeLineItemsCardGallery[selectedItemPosition-1]" style="display: block;"
                            (click)="moveSlide('left')">
                            <div class="tl-slidenav-content-container">
                                <img src="assets/icons/back.png" style="width: 20%">
                            </div>
                        </div>
                        <div class="tl-slide" style="padding-left: 40px; padding-right: 40px;">
                            <div style="height: 100%; justify-content: center; width: 100%; display: flex; align-items: center;">
                                <img class="tl-media-image tl-media-shadow" [alt]="itemdate.name" [title]="itemdate.name"
                                    [src]="itemdate.urlbig" style="display: block; width: 50%; height: 100%; object-fit: contain; background-color: transparent;">
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>