.ModalFixed {
    margin: -12px 12px 12px 12px;
    overflow-y: hidden;
}
.modal {
    z-index: 1000;
    display: none;
    overflow: hidden;
    outline: 0;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    min-width: 60%;
    height: 80%;
}
::ng-deep .modal-backdrop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: #000;
}
.modal-headerNoTitle{
    display: block;
    height: 40px;
}
.modal-headerNoTitle > .modal-title{
    display: none;
}
.modal-headerNoTitle > .close{
    height: 40px;
    margin-top: -15px;
}

.modal-body{
    padding-right: inherit;
}

/*button.close{
    margin-left:auto;
    margin-right: 20px;
    font-size: 30px;
    margin-top: 5px;
    color: #FFF;
}*/

ngx-gallery.contenedor-galeria-encabezado  ngx-gallery-image .ngx-gallery-arrow {
    top: 92%;

}

ngx-gallery.contenedor-galeria-encabezado  ngx-gallery-image .ngx-gallery-image-text {
    padding: 5px;
    border-radius: 0 0 0 8px;
}

ngx-gallery.contenedor-galeria-encabezado  ngx-gallery-image .ngx-gallery-image {
    border-radius: 8px;
}

ngx-gallery.contenedor-galeria-encabezado  ngx-gallery-image .ngx-gallery-arrow-left .ngx-gallery-icon-content:before {
    content: '\f0d9';
}

ngx-gallery.contenedor-galeria-encabezado  ngx-gallery-image .ngx-gallery-arrow-right .ngx-gallery-icon-content:before {
    content: '\f0da';
}

ngx-gallery.contenedor-galeria-encabezado  ngx-gallery-image .ngx-gallery-arrow-left .ngx-gallery-icon  {
    width: 20px;
    padding: 5px;
}

ngx-gallery.contenedor-galeria-encabezado  ngx-gallery-image .ngx-gallery-arrow-right .ngx-gallery-icon  {
    width: 20px;
    padding: 5px;
}

ngx-gallery.contenedor-galeria-encabezado  ngx-gallery-image .ngx-gallery-arrow-left .ngx-gallery-disabled {
    visibility: hidden;
}

ngx-gallery.contenedor-galeria-encabezado  ngx-gallery-image .ngx-gallery-arrow-right .ngx-gallery-disabled  {
    visibility: hidden;
}


.image_gallery{
    display: flex !important;
    flex-wrap: wrap !important;
}
.image_gallery_div{
    flex-grow: 1 !important;
    margin: 2px !important;
    height: calc(100vh - 80vh);
}
.image_gallery_img{
    height: 100% !important;
    object-fit: cover !important;
    max-width: 100% !important;
    min-width: 100% !important;
    vertical-align: bottom !important;
    cursor: pointer;
}

.btn2 {
    display: inline-block;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #407DC6;
    border: none;
    color: white;
    padding: 8px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
 }

  .overlayTL {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 5%;
    left: 0;
    background-color: rgba(70, 70, 70, 0.68);
    overflow: unset;
    transition: 0.5s;
}

.tl-slidenav-next {
    text-align: right;
    margin-right: 10px;
    right: 100px;
    display: block;
}

.tl-text-content {
    font-size: 12px;
    font-family: 'GothamMedium', serif;
}

.tl-text-popup-date {
    bottom: 0;
    height: 20px;
    margin-left: 20px
}

.tl-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto
}

.tl-slidenav-next, .tl-slidenav-previous {
    position: absolute;
    top: 45%;
    z-index: 10;
    cursor: pointer;
    margin-left: 10px;
}

.tl-slidenav-next .tl-slidenav-content-container, .tl-slidenav-previous .tl-slidenav-content-container {
    height: 200px;
    width: 100px;
    position: absolute
}

.overlay-contentTL {
    position: relative;
    width: 100%;
    height: 93%;
    margin: 0px;
    padding-top: 10px;
}

.overlay-content {
    position: relative;
    width: 100%;
    /* margin-top: 30px; */
}

.tituloNavTL {
    font-weight: 300;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: GothamBook, serif
}

.modal-content{
    /* height: 100% !important; */
    border: 0px;
    border-radius: 0;
    height: 100%;
}

.modal-dialog{
    margin:0;
    max-width: 100% !important;
    height: auto;
}

/*::ng-deep .modal.show .modal-dialog{
    height: 100%;
}*/

/*.button.close[_ngcontent-c2] {
    margin-right: 20px;
    font-size: 30px;
    margin-top: 5px;
}*/

/* .backgroundcolor {
    background: #2196f3;
} */

@media (max-width: 1366px) {
  .btn2 {
        font-size: 12px !important;
    }
  .modal {
      min-width: 80%;
  }
}