<input type="hidden" name="ParaListaPDF" id="Ubicación.Vivienda" title="Vivienda" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Procurando Dados de Habitação...</div>
        </div>
        <md2-tabs class="tab" *ngIf="vivienda && vivienda.length > 0">
            <md2-tab *ngFor="let d of vivienda; let i=index"
                    [label]="d.Fecha"
                    [MostrarOrigen]="i == 0 ? true : false"
                    [active]="i == 0 ? true : false">
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />
                <div class="row origen">
                    <div class="col-xs-6 T_Titulo"><span *ngIf="d.NroRelevamiento">Nro. Pesquisa:</span> {{ d.NroRelevamiento || ''}}</div>
                    <div class="col-xs-6 T_Titulo">Origem: {{ d.Origen || '-'}}</div>
                </div>
                    <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="T_Tarjeta">Localização da Habitação</div>
                        <!--<input type="hidden" name="Origen" value='{{ d.Origen }}' />
                        <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>-->
                        <input type="hidden" name="EdadRelevamiento" value='{{ d.EdadRelevamiento }}' />
                        <!--<a class="G_BotonTarjeta" type="EdadRelevamiento" data-toggle="tooltip" data-placement="left" title="" data-original-title="" data-title-template="Edad en el Relevamiento: ">&nbsp;<span class="zmdi zmdi-info" title="Edad en el Relevamiento"></span></a>-->
                        <a class="G_BotonTarjeta" href="{{ d.Enlace }}" target="_blank" title="Ver la Vivienda">&nbsp;<span class="zmdi zmdi-home" title="Ver la Vivienda"></span></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="T_Titulo">País</div>
                        <div class="T_Descripcion">{{ d.Pais || '-' }}</div>
                    </div>
                    <div class="col-xs-6 borderLeft">
                        <div class="T_Titulo">Barrio</div>
                        <div class="T_Descripcion">{{ d.Barrio || '-' }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="T_Titulo">Provincia</div>
                        <div class="T_Descripcion">{{ d.Provincia || '-' }}</div>
                    </div>
                    <div class="col-xs-6 borderLeft">
                        <div class="T_Titulo">Domicilio:</div>
                        <div class="T_Descripcion">{{ d.Domicilio }} <br /></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="T_Titulo">Departamento</div>
                        <div class="T_Descripcion">{{ d.Departamento || '-' }}</div>
                    </div>
                    <div class="col-xs-6 borderLeft">
                        <div class="T_Titulo">Referencia</div>
                        <div class="T_Descripcion">{{ d.Domicilio2 || '-' | validaString }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="T_Titulo">Localidad</div>
                        <div class="T_Descripcion">{{ d.Localidad || '-' }}</div>
                    </div>
                    <div class="col-xs-6 borderLeft">
                        <div class="T_Titulo">NIM</div>
                        <div class="T_Descripcion">{{ d.NIM || '-' }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="T_Titulo">Municipio</div>
                        <div class="T_Descripcion">{{ d.Municipio || '-' }}</div>
                    </div>
                    <div class="col-xs-6 borderLeft">
                        <div class="T_Titulo">Teléfono de contacto</div>
                        <div class="T_Descripcion">{{ d.TelefonoContacto != "" ? d.TelefonoContacto : '-' }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6" *ngIf="d.Municipio">
                        <div class="T_Titulo">Paraje</div>
                        <div class="T_Descripcion">{{ d.paraje || '-' }}</div>
                    </div>
                    <div class="col-xs-6 borderLeft">
                        <div class="T_Titulo">Referencia de contacto</div>
                        <div class="T_Descripcion">{{ d.ReferenciaContacto || '-'}}</div>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-xs-6">
                        <div class="T_Titulo">Latitud</div>
                        <div class="T_Descripcion">{{ d.Latitud }}</div>
                    </div>
                    <div class="col-xs-6">
                        <div class="T_Titulo">Longitud</div>
                        <div class="T_Descripcion">{{ d.Longitud }}</div>
                    </div>
                </div>-->
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </md2-tab>
        </md2-tabs>
    </div>
</div>