<div #ModalCPI2 *ngIf="fichaPService.datosPersonales" class="row col-xs-12 G_SinPadding ContenedorTarjetas" style="margin: 50px 0px 50px 0px; height: calc(100% - 100px); overflow-y: scroll; overflow-x: hidden;; align-content: baseline; width: 100%;">

    <div class="TarjetaCPI" style="background-color: #7A76E0;">
        <div style="display: flex;">
            <div class="col col-6" style="padding: 30px;">
                <div class="row card cardDatosPers">
                    <div class="col-xs-2 I_PerfilContenedor"><img src="{{ fichaPService.datosPersonales[0].Foto == 'about:Blank' ? './Content/Images/default.jpg' : fichaPService.datosPersonales[0].Foto }}"
                            class="I_Perfil my-thumbnail" /></div>
                    <div class="col-xs-5 datosPers">
                        <div class="T_Nombre">{{ fichaPService.datosPersonales[0].Nombres }} {{ fichaPService.datosPersonales[0].Apellidos }}</div>
                        <div class="T_Descripcion sinPaddingBottom">{{ fichaPService.datosPersonales[0].Edad }} (edad actual)
                            <span *ngIf="fichaPService.datosPersonales[0].PAI_CODIGO != null && fichaPService.datosPersonales[0].PAI_CODIGO != 'NS/NC'"
                                class="flag-icon flag-icon-{{ fichaPService.datosPersonales[0].PAI_CODIGO | lowercase }}"></span>
                            {{ fichaPService.datosPersonales[0].EtniaCod ? fichaPService.datosPersonales[0].EtniaCod : '' }}
                        </div>
                        <div class="T_Descripcion sinPaddingBottom"><span style="font-weight: 500;">Sexo : </span>{{fichaPService.datosPersonales[0].Sexo}}</div>
                        <div class="T_Descripcion sinPaddingBottom"><span style="font-weight: 500;">Fecha de Nacimiento : </span>{{ fichaPService.datosPersonales[0].FechaNacimiento }}</div>
                    </div>
                    <div class="col-xs-5 documentoDiv">
                        <div class="T_Descripcion G_SinPaddingBottom"><span style="font-weight: 500;">Documento</span></div>
                        <div class="T_Descripcion G_SinPaddingBottom">{{ fichaPService.datosPersonales[0].Documento }}</div>
                    </div>
                    <div class="T_Descripcion" *ngIf="admisiones && admisiones.length > 0" class="historiaCliDiv">
                        <div style="padding-right: 10px;">Historia Clínica</div>
                        <div style="padding-right: 10px;">{{ admisiones[0].NroHistoriaClinica }}</div>
                    </div>
                </div>
            </div>
            <div class="col col-6" style="padding: 30px;">
                <div class="row card cardDatosPers" style="overflow:hidden;">
                    <div class="logoCpi">
                        <span>CPI</span>
                    </div>
                    <div class="divCentro" *ngIf="admisiones && admisiones.length > 0">
                        <div class="col col-12" style="padding: 0px;">
                            <div class="T_Apellido G_SinPaddingBottom"><span style="font-weight: 500;">Centro</span></div>
                            <div class="T_Nombre">{{ admisiones[0].Sede }}</div>
                        </div>
                    </div>
                    <div class="FechasCentro" style="display: flex;" *ngIf="admisiones && admisiones.length > 0">
                            <div class="col col-6" style="padding: 0px;">
                                <div class="T_Descripcion G_SinPaddingBottom"><span style="font-weight: 500;">Fecha de Ingreso</span></div>
                                <div class="T_Descripcion">{{ admisiones[0].FechaIngreso }}</div>
                            </div>
                            <div class="col col-6" style="padding: 0px;">
                                <div class="T_Descripcion G_SinPaddingBottom"><span style="font-weight: 500;">Fecha de Egreso</span></div>
                                <div class="T_Descripcion">{{ admisiones[0].FechaEgreso || '-' }}</div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="modal-body modal-CPI-body" style="width: 100%;">-->
        <md2-tabs class="tab" *ngIf="admisiones && admisiones.length > 0" (change)="onChangeTab($event)" [class]="'tabCpiFus'">
            <md2-tab *ngFor="let d of admisiones; let i=index" [label]="d.titulo" [active]="i == 0 ? true : false" [marginLeft]="i == 0 ? '25' : null">
                <div class="row">
                    <div class="col col-sm-12 col-md-12 G_SinPadding">
                            <div class="col col-sm-12 col-md-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <div style="display: flex;">
                                                <div class="T_Titulo" id="NombreTarjetaCPI">Test de Persona</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-4" *ngFor="let t of testPersona; let i= index">
                                            <div class="Tarjeta" style="padding: 10px; padding-top: 0px;">
                                                <div class="row card" style="padding: 10px;">
                                                    <div>
                                                        <div class="tab-content card-block" style="padding-top: 0;" id="myTab{{ prefijo }}Content">
                                                            <div>
                                                                <div>
                                                                        <div class="row" style="padding-top: 10px;">
                                                                            <div class="col col-7">
                                                                                <div class="T_Titulo" style="color: #919191;">Tipo de Test</div>
                                                                                <div class="T_Descripcion"  style="color: #333333;">{{ t.Test || '-' }}</div>
                                                                            </div>
                                                                            <div class="col col-5 text-right">
                                                                                <div class="T_Titulo"  style="color: #919191; text-align: right;">Fecha</div>
                                                                                <div class="T_Descripcion"  style="color: #333333; text-align: right;">{{ t.Fecha || '-' }}</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col col-6"><div class="T_Titulo" style="color: #919191;">Entidad</div></div>
                                                                            <div class="col col-6"><div class="T_Titulo text-right" style="color: #919191;">Tipo de Entidad</div></div>
                                                                        </div>

                                                                        <div *ngFor="let e of t.Entidades; let ix2=index" class="item row G_SinMargin" [ngStyle]="{'border-top': ix2 == 0 ? '1px solid #dfe2e7' :  'none'}" 
                                                                        [ngClass]="{ 'backgroundAlter': ix2%2 == false, 'personaReferencia' : e.CodEntidad === fichaPService.datosPersonales[0].CodPersona && e.CodTipoEntidad === 'COD_REFERENCIA'  }">
                                                                            <div class="col col-6 G_SinMargin G_SinPadding"><div class="T_Descripcion" style="color: #333333;">{{ e.Entidad|| '-' }}</div></div>
                                                                            <div class="col col-6 text-right G_SinMargin G_SinPadding"><div class="T_Descripcion text-right" style="color: #333333;">{{ e.TipoEntidad || '-' }}</div></div>
                                                                        </div>
                                                                        <div class="row" [ngStyle]="{'margin-top' : t.Entidades && t.Entidades.length > 0 ? '10px' :  '0'}">
                                                                            <div class="col col-12" style="display: flex;">
                                                                                <div class="T_Titulo"  style="color: #919191;">Origen de Test</div>
                                                                                <div class="T_Descripcion" style="color: #333333; margin-left: 10px;">{{ t.Origen || '-' }}</div>
                                                                            </div>
                                                                            <div class="col col-12 text-right">
                                                                                <button type="button" class="btn btn-primary" style="background-color: #7875DC; border-color: #7875DC;" (click)= "openModal(t.CodCabeceraTest, t.CodTest, t.FechaCargaDate)">Ver Test</button>
                                                                            </div>
                                                                        </div>
                                                                        <ng-container *ngIf="t.Resultados.length > 0">
                                                                            <div class="row" style="margin-bottom: 10px;">
                                                                                <div class="col col-12">
                                                                                    <div class="T_Titulo"  style="color: #919191;">Resultados</div>
                                                                                    
                                                                                </div>
                                                                            </div>
                                                                            <div style="overflow-x: auto; padding-bottom: 10px; text-align: left;">
                                                                                <div class="row" style="display: -webkit-box;">
                                                                                    <div *ngFor="let d of t.Resultados" class="col col-3" style="border-right: solid 0.5px;">
                                                                                        <div class="textFactor">{{ d.Factor }}</div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row" style="display: -webkit-box;">
                                                                                    <div *ngFor="let d of t.Resultados" class="col col-3" style="border-right: solid 0.5px;">
                                                                                        <div class="textResultado">{{ d.Categoria }}</div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </ng-container>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="!testPersona || testPersona.length == 0">
                                                <div class="col col-12 T_Descripcion">No se encontraron Tests realizados.</div>
                                            </div>

                                    </div>
                                    <hr style="background-color: #9B9B9B;">
                            </div>

                            <div class="col col-sm-12 col-md-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <div style="display: flex;">
                                                <div class="T_Titulo" id="NombreTarjetaCPI">Indicadores</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-4" *ngFor="let indi of d.Indicadores; let i= index">
                                            <div class="Tarjeta" style="padding: 10px; padding-top: 0px;">
                                                <div class="row card" style="padding: 5px;">
                                                    <div>
                                                        <div class="tab-content card-block" style="padding-top: 0;" id="myTab{{ prefijo }}Content">
                                                            <div class="row" style="margin-top: 10px;">
                                                                <div class="col col-6">
                                                                    <div class="T_Titulo" style="color: #919191;">Tipo de indicador</div>
                                                                </div>
                                                                <div class="col col-6">
                                                                    <div class="T_Titulo" style="color: #919191; text-align: right;">Fecha</div>
                                                                </div>
                                                                <div class="col col-6">
                                                                    <div class="T_Descripcion" style="font-size: 14px; text-align: left;">{{
                                                                        stringFunctions.Capitalizar(indi.Indicador, true) }}</div>
                                                                </div>
                                                                <div class="col col-6">
                                                                    <div class="T_Descripcion" style="float: right; font-size: 14px;">{{ indi.Fecha }}</div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="!d.Indicadores || d.Indicadores.length == 0">
                                            <div class="col col-12 T_Descripcion">No se encontraron Indicadores para esta admisión.</div>
                                        </div>
                                    </div>
                                    <hr style="background-color: #9B9B9B;">
                            </div>

                            <div class="col col-sm-12 col-md-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <div style="display: flex;">
                                                <div class="T_Titulo" id="NombreTarjetaCPI">Actividades</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-4" *ngFor="let tall of d.Talleres; let i= index">
                                            <div class="Tarjeta" style="padding: 10px; padding-top: 0px;">
                                                <div class="row card" style="padding: 5px;">
                                                    <div>
                                                        <div class="tab-content card-block" style="padding-top: 0;" id="myTab{{ prefijo }}Content">
                                                            <div class="row" style="margin-top: 10px;">
                                                                <div class="col col-10">
                                                                    <div class="T_Titulo" style="color: #919191;">
                                                                        Nombre de la Actividad
                                                                    </div>
                                                                </div>
                                                                <div class="col col-2 FixIconActividades">
                                                                </div>
                                                                <div class="col col-10">
                                                                    <div class="T_Descripcion">
                                                                        {{ tall.Taller }}
                                                                    </div>
                                                                </div>
                                                                <div class="col col-2 FixIconActividades">
                                                                    <div class="T_Descripcion">
                                                                        <!--<button *ngIf="TieneFotosActividades(tall)" type="button"
                                                                            class="btn btn-primary btn-Fotos" (click)="GetFotosActividades(tall)"
                                                                            title="Ver Fotos de {{ tall.Taller }}">Ver Fotos
                                                                        </button>-->

                                                                        <button type="button" *ngIf="TieneFotosActividades(tall)" title="Ver Fotos de {{ tall.Taller }}" class="btn btn-primary" style="background-color: #7875DC; border-color: #7875DC;" (click)="GetFotosActividades(tall)">Ver Fotos</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="d.Talleres.length == 0">
                                            <div class="col col-12 T_Descripcion">No se encontraron Talleres para esta admisión. {{ d.Talleres.length }}</div>
                                        </div>
                                    </div>
                                    <hr style="background-color: #9B9B9B;">
                            </div>

                    </div>
                </div>
            </md2-tab>
        </md2-tabs>
        <div class="col col-sm-12 divTimeLine" *ngIf="fichaPService.fotos && fichaPService.fotos.length > 0">
            <div class="card">
                <div>
                    <h4 style="text-align: left;"><span class="info-title-cards">Línea de Tiempo</span></h4>
                </div>
                <!--<div *ngIf="MostrarLinea(d.Admision, d.FechaIngreso)" class="row" style="padding-top: 25px;">-->
                <div *ngIf="fichaPService.fotos" class="row" style="padding-top: 25px;">
                    <timelineNew style="width: 100%;" *ngIf="fichaPService.fotos && fichaPService.fotos.length > 0" [fotos]="fichaPService.fotos" [tarjeta]="'timelineCPI'"></timelineNew>
                </div>
                <!--<div *ngIf="!MostrarLinea(d.Admision, d.FechaIngreso)" class="row">
                    <div class="col col-12 T_Descripcion">Esta Admisión no tiene disponible
                        archivos para mostrar.</div>
                </div>-->
            </div>
        </div>
    <!--</div>-->
</div>

<div class="modal fade" id="ModalActividadesCPI">
    <div class="modal-dialog modal-lg modaldialog">
        <div class="modal-content fotocontent">

            <!-- Modal Header -->
            <div class="modal-header modal-headerNoTitle">
                <h4 class="modal-title" name="ModalTitle">Modal Heading</h4>
                <!--<button type="button" class="btn btn-default" data-dismiss="modal" style="right: 15px; top: 5px;">Cerrar</button>-->
                <a class="button3" style="right: 10px; top: 5px;" data-dismiss="modal">Cerrar</a>
            </div>

            <!-- Modal body -->
            <div class="modal-body fotobody">
                <div id="carouselActividades" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">

                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div *ngFor="let fot of ActividadesFotos; let j=index" class="carousel-item {{ (j==0 ? 'active':'') }}">
                            <img class="d-block img-fluid ActividadesIMG" src="{{ fot.URL }}" alt="{{ fot.Titulo }}">
                            <!--<div class="ActividadItem" [style.backgroundImage]="'url('+fot.URL+')'"></div>-->
                            <div class="carousel-caption d-none d-md-block">
                                <h3>{{ fot.Titulo }}</h3>
                                <p>{{ fot.Fecha }}</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselActividades" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselActividades" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <!-- Modal footer -->


        </div>
    </div>
</div>  

<md2-dialog #ModalTest>
        <md2-dialog-title>{{filterTest && filterTest[0] ? filterTest[0].Test: 'TEST'}}
            <a class="button2" data-dismiss="modal" (click)="ModalTest.close()">Cerrar</a>
        </md2-dialog-title>
            <div *ngIf="filterTest && filterTest[0] && filterTest[0].Entidades" class="row G_SinMargin headEnt">
                <div class="col col-6 firstDiv">
                    <div class="T_Descripcion"><b>Entidad</b></div>
                </div>
                <div class="col col-6" style="padding-top: 5px;">
                    <div class="T_Descripcion"><b>Tipo de Entidad</b></div>
                </div>
            </div>
            <ng-container *ngIf="filterTest && filterTest[0] && filterTest[0].Entidades">
            <div *ngFor="let e of filterTest[0].Entidades; let ix2=index" class="row G_SinMargin bodyEnt {{ e.CodEntidad === fichaPService.datosPersonales[0].CodPersona && e.CodTipoEntidad === 'COD_REFERENCIA' ? 'modalPersRef' : ''}}">
                <div class="col col-6 firstDiv"><div class="T_Descripcion">{{ e.Entidad|| '-' }}</div></div>
                <div class="col col-6" style="padding-top: 5px;"><div class="T_Descripcion">{{ e.TipoEntidad || '-' }}</div></div>
            </div>
            </ng-container>
            <div class="modal-body modal-fusion-body">
                <div *ngFor="let nodo of filterTest">
                    <div *ngIf="!nodo.EsUltimoNivel && nodo.visible" style="display: flex;" [ngClass]="{'paneltest-heading': !nodo.EsUltimoNivel}" [style.margin-left]="(20 * nodo.Nivel + 10) + 'px'">
                        <span class="btn-icon" (click)="toggleChildren(nodo.CodItem)" style="cursor: pointer;">
                            <i class="material-icons">{{ nodo.hideChildren ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
                        </span>
                        <div style="margin-top: 2px;">{{ nodo.Item }}</div>
                    </div>
                    <div *ngIf="nodo.EsUltimoNivel && nodo.visible" [style.margin-left]="(20 * nodo.Nivel + 10) + 'px'" style="display: flex; margin-top: 5px; margin-bottom: 5px;">
                        <div class="textItem">{{ nodo.Item }}</div>
                        <div class="textValor">{{ nodo.Valor }}</div>
                    </div>
                </div>
            </div>
        </md2-dialog>