/*MODAL FUSION*/
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: #000;
}
.modal {
    z-index: 10000;
    display: none;
    overflow: hidden;
    outline: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headEnt{
    border-bottom: 1px solid;
    line-height: 10px;
    margin-top: -5px !important;
}

.headEnt .firstDiv{
    border-right: 1px solid;
    padding-top: 5px;
}

.bodyEnt{
    border-bottom: 1px solid;
    border-bottom-style: dashed;
}

.bodyEnt .firstDiv{
    border-right: 1px solid;
    padding-top: 5px;
    border-right-style: dashed;
}

.bodyEnt .col-6 div{
    padding-bottom: 5px !important;
}

.personaReferencia{
    background-color: #C2C0F5;
    border-top: 1px solid #918FDB !important;
    border-bottom: 1px solid #918FDB;
}

.modalPersRef{
    background-color: #918FDB;
}

.modalPersRef .col-6 div{
    color: #FFF;
}
// .divRef::after{
//     content: '';
//     height: 90%;
//     width: 1px;
//     position: absolute;
//     top: -4px;
//     margin-left: 5px;
//     border: 0.5px solid #333;
//     border-style: dashed;
// }

.TarjetaCPI{
    //margin-bottom: 8px;
    // border-bottom: 1px solid #E0E3E8;
    //border-radius: 4px;
    background-color: #fff;
    //box-shadow: 1px 1px 6px #888888;
    width: 100%;
    padding: 0 10px;
}

.card{
    border: none;
    border-radius: 5px;
    overflow-y: auto;
    padding: 16px;
    display: block;
    box-shadow: 3px 3px 10px #AAA;
}

.Tarjeta .card{
    height: auto;
}
.card-block{
    padding: 0 15px;
}

.I_PerfilContenedor {
    height: 145px;
    overflow: hidden;
    border-radius: 5px;
    text-align: -webkit-center;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.I_Perfil {
    display: block;
    border-radius: 5px;
    max-width: 100%;
    //margin-left: -25%;
    margin-right: auto;
    max-height: 100%;
    width: 100%;
    object-fit: contain;
    //margin-top: -25%;
    //min-height: 150%;
}

.historiaCliDiv {
    background-color: #4C4C4C;
    color: #FFF !important;
    display: block;
    text-align: right !important;
    // margin-top: 20px !important;
    position: absolute;
    width: 40%;
    padding: 16px;
    border-top-left-radius: 5px;
    //margin-left: 1px;
    right: 0;
    bottom: 0;
}

.documentoDiv {
    
    right: 16px;
    top: 25px;
    position: absolute;
}

.documentoDiv .T_Descripcion{
    text-align: right;
}

.logoCpi{
    height: 177px;
    background-color: #4C4C4C;
    width: 20%;
    text-align: center;
    display: grid;
    margin: -16px;
}

.logoCpi span{
    color: #FFF;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 3pc;
}

.divCentro{
    width: 80%;
    position: absolute;
    top: 0;
    left: 20%;
    padding: 30px;
}

.FechasCentro{
    display: flex;
    top: 80px;
    position: absolute;
    width: 80%;
    left: 20%;
    padding: 30px;
}
.headerLinea{
    padding-right: inherit;
    background-color: #918fdb;
    color: #FFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.BordeInferior {
    border-bottom: 1px solid #E0E3E8;
}

.ModalCPI{
    min-width: calc(100% - 20px) !important;
    min-height: calc(100% - 50px) !important;
}
.ModalCPI > .modal-content{
    background-color: #f1f1f1;
}
.modal-CPI-header{
    background-color: #7875DC;
    color: #fff;
    margin-left: -15px;
    margin-right: -15px;
}
.modal-CPI-title{
    font-size: 22px;
}
.modal-CPI-close{
    color: #fff;
}
.modal-CPI-items{
    margin: 0 auto;
}

.modaldialog{
    height: 100%;
}
.fotocontent{
    height: 85% !important;
}
.fotobody{
    height: 100%;
}

.modal-CPI-body{
    padding: 0px 15px 15px 15px;
    background-color: #E0E3E8;
}

:host /deep/ .modal.show .modal-dialog {
  margin: none !important;
}


.btn-primary{
    background-color: #2aabe3;
    border-color: #2aabe3;
}
/*Activdad slider*/
.ActividadItem{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #000;

    height: 300px;
    width: 100%;
}

.carousel{
    height: 95% !important;
}
.carousel-inner, {
    height: 100% !important;
}

.textItem{
    width: 85%;
    background: #E1E7EA;
    padding: 5px;
}

.textValor{
    background: #cfd7e7;
    min-width: 15%;
    text-align: center;
    padding: 5px;
}

.paneltest {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.paneltest-secction {
    border-color: #c8cbd0;
}

.paneltest-heading {
    padding: 10px 15px;
    border-bottom: 0.5px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    background-color: #c8cbd0;
    border: solid 1px;
    border-color: #c8cbd0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.paneltest-secction>.paneltest-heading {
    color: #333;
    background-color: #c8cbd0;
}

.paneltest-body {
    padding: 15px;
}

.carousel-indicators{
    width: auto;
}
.modal-headerNoTitle{
    display: block;
    height: 40px;
}
.modal-headerNoTitle > .modal-title{
    display: none;
}
.modal-headerNoTitle > .close{
    height: 40px;
    margin-top: -15px;
}
.fz15{
    font-size: 15px;
}

.carousel-item.active, .carousel-item-next, .carousel-item-prev{
    height: 100%;
}

// .btn-Fotos{
//     margin-left: 100%;
// }

/*slider*/
.ActividadesIMG{
    max-height: 300px;
    margin: 0 auto;
    object-fit: contain;
}
.carousel-inner{
    background-color: #000;
}

.border-right {
    border-right: 1px solid #c6c6c6;
}

.logo {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

/*image test*/
.ImageTest{
    width: 100%;
}

.FixIconActividades{
    padding-left: 0px;
}

:host /deep/ .md2-dialog-body {
    background-color: #f1f1f1 !important;
}

.tab{
    border: none !important;
    text-align: center;
    border-style: none  !important;
}


.T_Titulo {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #505458;
    font-size: 14px;
    text-align: left;
}
.T_Tarjeta{
    color: #919191;
}

.T_Descripcion {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #505458;
    padding-bottom: 10px;
    text-align: left;
    font-size: 16px;
}

/*responsive*/
@media (max-width: 1366px) {
    :host /deep/ .md2-tab-label{
        font-size: 12px !important;
    }
    .T_Descripcion {
        font-size: 14px;
    }
    
    .T_Tarjeta {
        font-size: 14px;
    }

    .T_Titulo {
        font-size: 12px !important;
    }
}
@media (max-width: 767px) {
	/*Textos normales*/
    .T_Nombre {
        font-size: 21px;
    }

    .T_Apellido {
        font-size: 21px;
    }

    .T_Tarjeta {
        font-size: 14px;
    }

    .T_Visita{
        font-size: 12px;
    }
}

/************************TEST**************************/

.textFactor{
    font-weight: 500;
    font-size: 14px;
    padding-left: 0px;
}

.textResultado{
    font-size: 14px;
}

.paneltest {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.paneltest-secction {
    border-color: #c8cbd0;
}

.paneltest-heading {
    padding: 10px 15px;
    border-bottom: 0.5px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    background-color: #c8cbd0;
    border: solid 1px;
    border-color: #c8cbd0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.paneltest-secction>.paneltest-heading {
    color: #333;
    background-color: #c8cbd0;
}

.paneltest-body {
    padding: 15px;
}

.textItem{
    width: 85%;
    background: #E1E7EA;
    padding: 5px;
}

.textValor{
    background: #cfd7e7;
    min-width: 15%;
    text-align: center;
    padding: 5px;
}

.modal-body{
    overflow-x: auto;
    height: calc(100vh - 61vh);
    z-index: 0; padding-top: 0px;
}

.headModal{
    position: fixed;
    width: 88%;
    z-index: 100;
    background-color: #F1F1F1;
    margin-top: -16px;
    padding-top: 10px;
    padding-left: 16px;
}

.divTimeLine{
    margin-top: -20px;
    padding: 0px 30px 15px 30px;
    background-color: #E0E3E8;
}

@media (max-width: 1600px){
    .headModal{
        width: 88%;
    }
    .sinPaddingBottom { 
        padding-bottom: 5px !important;
    }
}

@media (max-width: 1440px){
    .cardDatosPers {
        height: 220px;
        padding: 16px !important;
    }

    .documentoDiv {        
        bottom: 8px;
        left: 0;
        text-align: left;
        // margin-left: 16px;
        top: unset;
    }

    .documentoDiv .T_Descripcion{
        text-align: left;
    }

    .I_PerfilContenedor{
        width: 33.33333333%;
        height: 135px;
    }

    .I_Perfil{
        max-width: 80%;
    }

    .datosPers {
        width: 66.66666667%;
    }

    .historiaCliDiv{
        width: 63%;
        border-bottom-left-radius: 5px;
        padding: 10px 16px;
    }

    .FechasCentro{
        left: 0;
        text-align: left;
        top: unset;
        bottom: -25px;
        width: 100%;
    }

    .logoCpi{
        width: 25%;
        margin: unset;
        border-radius: 5px;
        height: 130px;
    }

    .divCentro{
        top: 6%;
        left: 25%;
    }
}

@media (max-width: 1366px){
    :host /deep/ .md2-tab-label{
        font-size: 12px !important;
    }

    .textFactor{
        font-size: 12px !important;
    }

    .textResultado{
        font-size: 12px;
    }

    .cardDatosPers {
        height: 210px;
    }

    .I_PerfilContenedor{
        height: 125px;
    }

    .I_Perfil{
        max-width: 75%;
    }

    .logoCpi{
        width: 22%;
        height: 120px;
    }

    .divCentro{
        left: 22%;
    }
}

@media (max-width: 800px){
    .modal-body{
        height: calc(100vh - 50vh);
    }
}

@media (max-width: 749px){
    // :host /deep/ .md2-tabs-body-wrapper{
	// 	max-height: calc(100% - 38px) !important;
	// 	/*height: 100% !important;*/
	// }

    .textFactor{
        font-size: 10px !important;
    }
    .textResultado{
        font-size: 12px;
    }
}

/************************TAB**************************/

:host /deep/ .md2-tabs-header-wrapper{
    position:relative;
    display:block;
    height:38px;
    background:#fff !important;
    // border-width:0 0 1px;
    // border-style:solid !important;
    // border-color:rgba(0,0,0,.12) !important;
    margin:0;
    padding:0;
    list-style:none;
    user-select:none;
    text-align: left !important; 
}

:host /deep/ .md2-tabs-canvas{
    background-color: #7A76E0;
}

:host /deep/ .md2-next-button, .md2-prev-button{
    padding: 7px 0 !important;
}

:host /deep/ .prev-icon {
    width: 8px !important;
    height: 8px !important;
    margin-left: 15px !important;
}

:host /deep/ .next-icon {
    width: 8px !important;
    height: 8px !important;
}

:host /deep/ .md2-tabs-body-wrapper{
    // height: 327px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: -1px;
    border-top: 1px solid;
    border-top-color:rgba(0,0,0,.12) !important;
    z-index: 0;
    position: relative;
    padding: 0px 15px 15px 15px;
    background-color: #E0E3E8;
}

:host /deep/ .md2-tabs-header-wrapper::after{
    content:'';
    display:table;
    clear:both
}

:host /deep/ .md2-tab-label:hover{
    background-color: #EEEEEE;
}

:host /deep/ .md2-tab-label{
    color:#A3A3C5 !important;
    padding: 8px 14px !important;
    z-index: 2;
    margin-left: 3px;
    position: relative;
    height: 40px;
    background-color: #49498C;
}

:host /deep/ .md2-tab-label.active{
    color:#000000 !important;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: none;
    border-radius: 0.25rem;
    background-color: #E0E3E8;
    font-weight: 500;
}

:host /deep/ .md2-tabs-canvas:focus .md2-tab-label.focus{
    background: #E0E3E8 !important;//rgba(0,0,0,.05) !important;
}

:host /deep/ .md2-tab-ink-bar{
    display: none !important;
}

// .modal-header .close {
//     margin-top: -12px;
//     position: absolute;
//     right: -20pt;
// }

@media (max-width: 1366px){
    :host /deep/ .md2-tab-label{
        font-size: 12px !important;
    }
}

@media (max-width: 749px){
    :host /deep/ .md2-tabs-body-wrapper{
		max-height: calc(100% - 38px) !important;
		/*height: 100% !important;*/
	}
}

@media (max-width: 1199px){
    :host /deep/ .md2-tabs-body-wrapper{
		height: 290px !important;
	}
}


/*******************ToolTip**************************/

$md2-tooltip-target-height: 24px;
$md2-tooltip-max-width: 200px;
$md2-tooltip-font-size: 14px;
$md2-tooltip-margin: 5px;
$md2-tooltip-horizontal-padding: 5px;
$md2-tooltip-vertical-padding: ($md2-tooltip-target-height - $md2-tooltip-font-size) / 2;

::ng-deep .md2-tooltip {
  color: white;
  padding: $md2-tooltip-vertical-padding $md2-tooltip-horizontal-padding !important;
  border-radius: 2px;
  font-size: $md2-tooltip-font-size !important;
  margin: $md2-tooltip-margin !important;
  max-width: $md2-tooltip-max-width !important;
  text-align: center !important;
  background: rgba(0, 0, 0, 0.9) !important;
  word-wrap: break-word;
}

::ng-deep .md2-tooltip:before {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    right: -10px;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent transparent rgba(0, 0, 0, 0.9);
}