<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos Antropométricos de IMC/Edad...</div>
        </div>

        <div class="tab-content card-block G_TabContent G_SinPadding G_SinOverflow" id="myTab{{ prefijo }}Content">
            <div class="col col-12" id="{{ prefijo }}">
                
                <input type="hidden" name="TarjetaConDatos" value="{{ TieneGraficoIMC }}" />
                
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <input type="hidden" id="TieneGraficoIMC" value="{{ TieneGraficoIMC }}" />
                <input type="hidden" id="IMCCargado" value="0" />
                <div id="GraficoAntroIMC" style="display: none;">{{ coordenadas | json }}</div>
                <div id="GraficoAntroHistoIMC" style="display: none;">{{ historial | json }}</div>
                <div id="IMC" class="TarjetaGrafico"></div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </div>
        </div>
    </div>
</div>