<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Servicios...</div>
        </div>
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist" id="myTab{{ prefijo }}">
                <li class="nav-item" *ngFor="let d of servicios; let i=index">
                    <a id="{{ prefijo }}{{ i }}-tab" class="nav-link {{ i == 0 ? 'active' : '' }}" href="#{{ prefijo }}{{ i }}" data-toggle="tab" role="tab">{{ d.Fecha }}</a>
                </li>
            </ul>
        </div>

        <div class="tab-content card-block G_TabContent" id="myTab{{ prefijo }}Content">
            <div *ngFor="let d of servicios; let i=index" role="tabpanel" class="tab-pane fade {{ i == 0 ? 'active show' : '' }}" id="{{ prefijo }}{{ i }}">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="row">
                    <div class="col-12">
                        <div class="T_Tarjeta">Servicios</div>
                        <input type="hidden" name="Origen" value='{{ d.Origen }}' />
                        <a class="G_BotonTarjeta" type="Origen" data-toggle="tooltip" data-placement="left" title="" data-original-title="" data-title-template="Origen: ">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>
                        <input type="hidden" name="EdadRelevamiento" value='{{ d.EdadRelevamiento }}' />
                        <!--<a class="G_BotonTarjeta" type="EdadRelevamiento" data-toggle="tooltip" data-placement="left" title="" data-original-title="" data-title-template="Edad en el Relevamiento: ">&nbsp;<span class="zmdi zmdi-info" title="Edad en el Relevamiento"></span></a>-->
                        <input type="hidden" name="Indicador" value='{{ i }}' />
                    </div>
                </div>
                <div class="row">
                    <div class="col col-12">
                        <div class="T_Titulo">Servicios con los que cuenta la vivienda</div>
                        <ng-container *ngFor="let s of d.Servicios ; let i=index">
                        <div class="T_Descripcion" [ngClass]="{ 'G_SinPadding': i < d.Servicios.length - 1}">- {{ s.Servicio }}</div>
                        </ng-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-6">
                        <div class="T_Titulo">Energia Principal para cocinar</div>
                        <div class="T_Descripcion">{{ d.EnergiaParaCocinar }}</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo">Tipo de Energia</div>
                        <div class="T_Descripcion">{{ d.TipoEnergiaCocina }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-6">
                        <div class="T_Titulo">Fuente Principal del Agua</div>
                        <div class="T_Descripcion">{{ d.TipoAbastecimientoAgua }}</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo">Sistema de Almacenamiento</div>
                        <div class="T_Descripcion">{{ d.TipoSistemaAlmacenamiento }}</div>
                    </div>
                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </div>
        </div>
    </div>
</div>