<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <!--<div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Servicios...</div>
        </div>-->

        <md2-tabs class="tab" *ngIf="servicios && servicios.length > 0">
            <md2-tab *ngFor="let d of servicios; let i=index"
                    [label]="d.Fecha + ' ' + (d.NroRelevamiento || '')"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="row">
                    <div class="col-12">
                        <div class="T_Tarjeta">Servicios</div>
                        <input type="hidden" name="Origen" value='{{ d.Origen }}' />
                        <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>
                        <input type="hidden" name="EdadRelevamiento" value='{{ d.EdadRelevamiento }}' />
                        <!--<a class="G_BotonTarjeta" type="EdadRelevamiento" data-toggle="tooltip" data-placement="left" title="" data-original-title="" data-title-template="Edad en el Relevamiento: ">&nbsp;<span class="zmdi zmdi-info" title="Edad en el Relevamiento"></span></a>-->
                        <input type="hidden" name="Indicador" value='{{ i }}' />
                    </div>
                </div>
                <div class="row">
                    <div class="col col-12">
                        <div class="T_Titulo">Servicios con los que cuenta la vivienda</div>
                        <ng-container *ngFor="let s of d.Servicios; let i=index">
                        <div class="T_Descripcion" [ngClass]="{ 'G_SinPadding': i < d.Servicios.length - 1}">- {{ s.Servicio }}</div>
                        </ng-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-6">
                        <div class="T_Titulo">Energia Principal para cocinar</div>
                        <div class="T_Descripcion">{{ d.EnergiaParaCocinar }}</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo">Tipo de Energia</div>
                        <div class="T_Descripcion">{{ d.TipoEnergiaCocina }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-6">
                        <div class="T_Titulo">Fuente Principal del Agua</div>
                        <div class="T_Descripcion">{{ d.TipoAbastecimientoAgua }}</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo">Sistema de Almacenamiento</div>
                        <div class="T_Descripcion">{{ d.TipoSistemaAlmacenamiento }}</div>
                    </div>
                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </md2-tab>
        </md2-tabs>
    </div>
</div>