<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <!--<div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Gestantes...</div>
        </div>-->

        <md2-tabs class="tab" *ngIf="embarazo && embarazo.length > 0">
            <md2-tab *ngFor="let d of embarazo; let i=index"
                    [label]="d.Fecha + ' ' + (d.NroRelevamiento || '')"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="row">
                    <div class="col-12">
                        <div class="T_Tarjeta">Gestantes</div>
                        <input type="hidden" name="Origen" value='{{ d.Origen }}' />
                        <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>
                        <input type="hidden" name="EdadRelevamiento" value='{{ d.EdadRelevamiento }}' />
                        <!--<a class="G_BotonTarjeta" type="EdadRelevamiento" data-toggle="tooltip" data-placement="left" title="" data-original-title="" data-title-template="Edad en el Relevamiento: ">&nbsp;<span class="zmdi zmdi-info" title="Edad en el Relevamiento"></span></a>-->
                        <input type="hidden" name="Indicador" value='{{ i }}' />
                    </div>
                </div>
                <div class="row">
                    <div class="col col-6">
                        <div class="T_Titulo">Edad gestacional (Semanas)</div>
                        <div class="T_Descripcion">{{ d.EG || '-'}}</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo">Edad gestacional Actual</div>
                        <div class="T_Descripcion">{{ d.EmbarazoEnMesActual || '-' }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-12">
                        <div class="T_Titulo">Recibió Suplementos</div>
                        <div class="T_Descripcion">{{ d.RecibioSuplemento || '-' }}</div>
                    </div>
                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </md2-tab>
        </md2-tabs>
    </div>
</div>