<input type="hidden" name="ParaListaPDF" id="Viviendas.Infraestructura" title="Infraestructura" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Infraestructura...</div>
        </div>
        <!--<div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist" id="myTab{{ prefijo }}">
                <li class="nav-item" *ngFor="let d of infraestructura; let i=index">
                    <a id="{{ prefijo }}{{ i }}-tab" class="nav-link {{ i == 0 ? 'active' : '' }}" href="#{{ prefijo }}{{ i }}" data-toggle="tab" role="tab">{{ d.Fecha }}</a>
                </li>
            </ul>
        </div>

        <div class="tab-content card-block G_TabContent" id="myTabInfContent">
            <div *ngFor="let d of infraestructura; let i=index" role="tabpanel" class="tab-pane fade {{ i == 0 ? 'active show' : '' }}" id="{{ prefijo }}{{ i }}">-->
        <md2-tabs class="tab" *ngIf="infraestructura && infraestructura.length > 0">
            <md2-tab *ngFor="let d of infraestructura; let i=index"
                    [label]="d.Fecha"
                    [MostrarOrigen]="i == 0 ? true : false"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />

                <div class="row origen">
                    <div class="col-xs-6 T_Titulo"><span *ngIf="d.NroRelevamiento">Nro. Encuesta:</span> {{ d.NroRelevamiento || ''}}</div>
                    <div class="col-xs-6 T_Titulo">Origen: {{ d.Origen || '-'}}</div>
                </div>
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="row">
                    <div class="col-12">
                        <div class="T_Tarjeta">Infraestructura</div>
                        <!--<input type="hidden" name="Origen" value='{{ d.Origen }}' />
                        <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>
                        <input type="hidden" name="EdadRelevamiento" value='{{ d.EdadRelevamiento }}' />-->
                        <!--<a class="G_BotonTarjeta" type="EdadRelevamiento" data-toggle="tooltip" data-placement="left" title="" data-original-title="" data-title-template="Edad en el Relevamiento: ">&nbsp;<span class="zmdi zmdi-info" title="Edad en el Relevamiento"></span></a>-->
                    </div>                    
                </div>
                <div class="row">
                    <div class="col col-6">
                        <div class="T_Titulo">Tipo de Vivienda</div>
                        <div class="T_Descripcion">{{ d.TipoVivienda || '-' }}</div>
                    </div>
                    <!--<div class="col col-6">
                        <div class="T_Titulo text-right">Cantidad de Dormitorios</div>
                        <div class="T_Descripcion text-right">{{ d.CantDormitorios || '-' }}</div>
                    </div>
                </div>
                <div class="row">-->
                    <div class="col col-6 text-right">
                        <div class="T_Titulo">Personas en la Vivienda</div>
                        <div class="T_Descripcion" *ngIf="fichaPService.grupoFamiliar && fichaPService.grupoFamiliar.length > 0">{{ fichaPService.grupoFamiliar && fichaPService.grupoFamiliar.length || '-' }} Personas</div>
                        <div class="T_Descripcion" *ngIf="fichaPService.grupoFamiliar && fichaPService.grupoFamiliar.length <= 0">-</div>
                    </div>
                    <!--<div class="col col-6">
                        <div class="T_Titulo text-right">Índice de Hacinamiento (INDEC)</div>
                        <div class="T_Descripcion text-right">{{ d.IndiceHacinamiento || '-' }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-6">
                        <div class="T_Titulo">Cuántas personas máximo duermen en una habitación</div>
                        <div class="T_Descripcion">{{ d.CantMaxEnUnDormitorio || '-' }}</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo text-right">Hacinamiento</div>
                        <div class="T_Descripcion text-right">{{ d.Hacinamiento || '-' }}</div>
                    </div>
                </div>
                <div class="row">-->
                    <div class="col col-12">
                        <div class="T_Titulo">¿Algún integrante de la vivienda sufrió algún ilícito?</div>
                        <div class="T_Descripcion">{{ d.SufrioAlgunIlicito || '-' }}</div>
                    </div>
                </div>
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </md2-tab>
        </md2-tabs>
            <!--</div>
        </div>-->
    </div>
</div>