<!--loader-->
<!--<div class="PL_LoadingBox" id="LoadingFicha" style="max-height: 100%; height: 100%;">
	<div class="PL_Text">Cargando la Ficha Universal...</div>
</div>-->

<!--header-->
<nav class="navbar fixed-top navbar-light bg-faded justify-content-center G_Header G_SinPadding navBarTop">
	<div class="navbar-header" style="width: 100%;">
		<img class="G_LogoLila" src="../../Content/Images/LOGO_LILA.png">
		<a class="navbar-brand hidden-md-down hidden-lg-down hidden-xl-down" style="color: #000; display: none;" href="#" onclick="$('#wrapper').toggleClass('toggled');return false;">
			&nbsp;&nbsp; <i class="zmdi zmdi-menu"></i>
		</a>
		<span class="hidden-md-down hidden-lg-down hidden-xl-down" style="width: 30px;float: left;"><div style="width: 30px;">&nbsp;</div></span>
		<span class="hidden-sm-down" style="width: 15px;float: left;"><div style="width: 15px;">&nbsp;</div></span>

		<!--<span id="NombreViviendaTop" class="T_Descripcion TopName">Cargando...</span>-->
	</div>
</nav>

<!--Zona de Tarjetas-->
<div *ngIf="apiBackEndService.enviroment !== 'colombia'" class="row col-xs-12 G_SinPadding ContenedorTarjetas" style="margin: 50px 0px 50px 0px; height: calc(100% - 100px); overflow-y: scroll; align-content: baseline;">
	<tarjetaUbicacionV *ngIf="fichaVService.tieneUbicacion" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaUbicacionV>
    <tarjetaMapaV *ngIf="fichaVService.ubicacion && fichaVService.ubicacion.length > 0" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaMapaV>
    <tarjetaFotosV *ngIf="fichaVService.tieneFotosV" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaFotosV>
    <tarjetaVideosV *ngIf="fichaVService.tieneVideosV" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaVideosV>
    <tarjetaSanitariosServiciosV *ngIf="fichaVService.tieneServiciosV" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaSanitariosServiciosV>
    <tarjetaInfraestructuraV *ngIf="fichaVService.tieneInfraestructuraV" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaInfraestructuraV>
    <tarjetaMaterialesV *ngIf="fichaVService.tieneMaterialesV" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaMaterialesV>
    <tarjetaObservacionesUrgenciasV *ngIf="fichaVService.tieneObsUrgV" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaObservacionesUrgenciasV>
    <tarjetaIntegrantesV *ngIf="fichaVService.tieneIntegrantesV" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaIntegrantesV>
    <tarjetaRiesgosV *ngIf="fichaVService.tieneRiesgosV" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaRiesgosV>
    <tarjetaRiesgosVivienda *ngIf="fichaVService.tieneRiesgosViv" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaRiesgosVivienda>
    <tarjetaRiesgosFamilia *ngIf="fichaVService.tieneRiesgosFam" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaRiesgosFamilia>
    <tarjetaInundacionesV *ngIf="fichaVService.tieneInundacionesV" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaInundacionesV>
    <tarjetaObservacionesEncuestadorV *ngIf="fichaVService.tieneObsEncV" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaObservacionesEncuestadorV>
    <tarjetaEquipamientosV *ngIf="fichaVService.tieneEquipamientosV" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaEquipamientosV>
    
    
	<tarjetaMasInformacionV></tarjetaMasInformacionV>
	
</div>

<div *ngIf="apiBackEndService.enviroment === 'colombia'" class="row col-xs-12 G_SinPadding ContenedorTarjetas" style="margin: 50px 0px 50px 0px; height: calc(100% - 100px); overflow-y: scroll; align-content: baseline;">
	<tarjetaUbicacionColombia *ngIf="fichaVService.ubicacion.length > 0"  class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaUbicacionColombia>
    <tarjetaPuntoInteresColombia *ngIf="fichaVService.puntoInteres.length > 0" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaPuntoInteresColombia>
    <tarjetaMapaV *ngIf="fichaVService.ubicacion.length > 0" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaMapaV>
    <tarjetaFotosV *ngIf="fichaVService.fotos.length > 0" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaFotosV>
    <tarjetaAguaColombia *ngIf="fichaVService.agua.length > 0" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaAguaColombia>
    <tarjetaServiciosColombia *ngIf="fichaVService.fechasServSan.length > 0" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaServiciosColombia>
    <tarjetaInfraestructuraColombia *ngIf="fichaVService.infraestructura.length > 0" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaInfraestructuraColombia>
    <tarjetaMaterialesColombia *ngIf="fichaVService.materiales.length > 0" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaMaterialesColombia>
    <!--<tarjetaObservacionesUrgenciasV class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaObservacionesUrgenciasV>-->
    <tarjetaIntegrantesColombia *ngIf="fichaVService.fechasFamilia.length > 0" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaIntegrantesColombia>
    <tarjetaRiesgosColombia *ngIf="fichaVService.riesgos.length > 0" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaRiesgosColombia>
    <!--<tarjetaInundacionesV class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaInundacionesV>-->
    <!--<tarjetaObservacionesEncuestadorV class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaObservacionesEncuestadorV>-->
    <!--<tarjetaEquipamientosV class="col-xs-12 col-sm-12 col-md-6 col-lg-4 G_SinPadding G_SinOverflow TarjetaContenedor"></tarjetaEquipamientosV>-->
    
    
	<tarjetaMasInformacionV></tarjetaMasInformacionV>
	
</div>
<!--Modal x-->
	<div class="modal fade" role="dialog" id="ModalPDF">
        <div class="modal-dialog modal-lg row" style="max-width: 100%;">
            <div class="hidden-sm-down hidden-md-down col-lg-2"></div>
            <div class="col col-sm-12 col-md-12 col-lg-8 modal-content">
                <div class="modal-header">
                    <div class="col col-12 row">
                        <div class="col col-10"><h4 class="modal-title"><span class="info-title-cards">Tarjetas a Imprimir</span></h4></div>
                        <div class="col col-2"><button type="button" class="close" data-dismiss="modal"><i class="zmdi zmdi-close"></i></button></div>
                    </div>
                </div>
                <div class="modal-body">
                    <!--CUERPO DE VISITAS-->
                    <div class="col col-12 tab-content G_SinPadding">
                        <div id="" class="col col-12 tab-pane fade active show G_SinPadding">
                            <!--INICIO-->
                            <div class="row col col-12 tab-content G_SinPadding" id="DivTarjetasImprimir"></div>
                            <div class="row col col-12 tab-content G_SinPadding">
                                <a class="btn btn-primary" href="" role="button" id="BotonDescargaPDF" target="_blank">Generar PDF</a>
                            </div>
                        </div>
                        <!--FIN-->
                    </div>
                    <div class="col col-sm-12">&nbsp;</div>
                </div>
            </div>
            <div class="hidden-sm-down hidden-md-down col-lg-2"></div>
        </div>
    </div>
<!--footer-->
<nav class="navbar fixed-bottom navbar-light bg-faded justify-content-center G_Footer">
	<div style="display: table; margin: 0 auto;">
		<div class="G_BotonInferior" *ngIf="fichaVService.ubicacion && fichaVService.ubicacion.length > 0" (click)="abrirModal()">Impresión</div>
		<div class="G_BotonInferior" (click)= "openModal('0', 'ModalMasInformacion')">Más Información</div>
		<a class="G_BotonInferior" [routerLink]="['/Login']">Salir</a>
	</div>
</nav>

<block-ui></block-ui>

<descargar-ficha-v *ngIf="apiBackEndService.enviroment !== 'colombia'" #modalImprimir></descargar-ficha-v>