<div class="tl-timeline tl-layout-landscape">
        <div >
            <div style="text-align: center; margin-top: 10px">
                <label class="carrousel-label T_Titulo">Carrousel</label>
                <!-- <md-slide-toggle *ngIf="esCPI"
                    class="example-margin"
                    [color]="'accent'"
                    [(ngModel)]="checkedCuadricula"
                    >
                </md-slide-toggle> -->

                <md-slide-toggle ngDefaultControl (click)="onClick()"
                       [checked]="device"></md-slide-toggle>

                <label class="cuadricula-label T_Titulo">Cuadricula</label>
            </div>
        </div>
    
        <!-- contenedor slider -->
        <div class="tl-storyslider" style="height: 435px; overflow: auto; margin-top: 25px; margin-left: auto; margin-right: auto;" >
            <div *ngIf="device == 1" style="height: 100%;
            flex-direction: row;
            box-sizing: border-box;
            display: inline-grid;">
                <div ></div>
                <div class="style-scroll">
                    <div class="image_gallery">
                        <div class="image_gallery_div" *ngFor="let item of galleryImages; let i=index;let last=last">
                            <img *ngIf="item.type === 'imagen'" (click)="getSelectedItem(item)" class="image_gallery_img" [src]="item.urlmedium" alt="">
                            <div class="ngx-gallery-image-text" >
                                <label  style="margin: 0; padding: 0">{{item.name}}</label>
                                <label  style="margin: 0; padding: 0">{{item.date | date: 'dd/MM/yyyy HH:mm'}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div ></div>
            </div>
    
            <div class="tl-slider-container-mask" *ngIf="device == 0"
                 style="margin-left: 40px; margin-right:40px; width: unset">
                <div class="tl-slider-container tlanimate">
                    <div *ngIf="dataItems.length" style="height: 100%; width: 100%">
                        <div  *ngIf="widthmodal === 0" style="height: 100%;
                        margin: 0px;
                        min-height: 100%;
                        min-width: 100%;
                        width: 100%;
                        flex-direction: row;
                        box-sizing: border-box;
                        display: flex;">
                            <!-- left prev -->
                            <div  style="opacity: 0.4; width: 35%; align-items: center; display: flex;">
                                <div *ngIf="getPrevItem()" style="margin-left: auto; margin-right: auto;">
                                    <ng-template ngFor let-itemdate [ngForOf]="[ prevItem ]">
                                        <app-timeline-previewFusion [itemdate]="itemdate" [orientation]="orientation" [disabled]="true">
                                        </app-timeline-previewFusion>
                                    </ng-template>
                                </div>
                            </div>
                            <!-- arrow left -->
                            <div style="flex: 1 1 15px;
                            box-sizing: border-box;
                            place-content: center;
                            align-items: center;
                            flex-direction: row;
                            display: flex;
                            max-width: 15px;
                            min-width: 15px;
                            margin-right: 2%;    
                            align-items: center;">
                                <div *ngIf="getPrevItem()" style="display: block; cursor: pointer"
                                     (click)="moveSlide('left')">
                                    <img src="assets/icons/back.png">
                                </div>
                            </div>
                            <!-- main prev -->
                            <div style="align-items: center; display: flex; width: 30%">
                                <ng-template ngFor let-itemdate [ngForOf]="[ selectedItem ]">
                                    <app-timeline-previewFusion style="margin-left: auto; margin-right: auto;" [itemdate]="itemdate" [orientation]="orientation"
                                                          (onImageClickEvent)="openNav($event)">
                                    </app-timeline-previewFusion>
                                </ng-template>
                            </div>
                            <!-- right arrow-->
                            <div style="flex: 1 1 15px;
                            box-sizing: border-box;
                            place-content: center;
                            align-items: center;
                            flex-direction: row;
                            display: flex;
                            max-width: 15px;
                            min-width: 15px;
                            margin-left: 2%;">
                                <div *ngIf="getNextItem()" style="display: block; cursor: pointer"
                                     (click)="moveSlide('right')">
                                    <img src="assets/icons/next.png">
                                </div>
                            </div>
                            <!-- right prev-->
                            <div  style="opacity: 0.4; align-items: center; display: flex; width: 35%;">
                                <div *ngIf="getNextItem()" style="margin-left: auto; margin-right: auto;">
                                    <ng-template ngFor let-itemdate [ngForOf]="[ nextItem ]">
                                        <app-timeline-previewFusion [itemdate]="itemdate"
                                                              [orientation]="orientation" [disabled]="true"></app-timeline-previewFusion>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Contenedor Linea de Tiempo -->
        <div class="tl-timenav" style="height: 165px;">
            <div style="flex-direction: row;
            box-sizing: border-box;
            display: flex;">
                <!-- Left menu-->
                <div  class="tl-menubar" *ngIf="dataItems.length>0">
                    <span class="tl-menubar-button" [class.tl-menubar-button-inactive]="!enableZoomIn" (click)="zoomIn()">
                    <img src="assets/icons/zoom-in.png"></span>
                    <span class="tl-menubar-button" [class.tl-menubar-button-inactive]="!enableZoomOut" (click)="zoomOut()">
                    <img src="assets/icons/zoom-out.png"></span>
                    <span class="tl-menubar-button" (click)="reset()">
                    <img src="assets/icons/actualizar.png"></span>
                </div>
                <div >
                    <div class="tl-timenav-slider" [class.tl-timenav-slider-animate]="animate" #moveElem
                         [style.left.px]="position"
                         style="position: absolute;" [style.width.px]="dragElemWidht"
                         (mousemove)="coordinates($event)">
                        <div class="tl-timenav-slider-background" #dragElem [style.width.px]="dragElemWidht"
                             style="left: 0px;"></div>
    
                        <!-- Contenedor Items-->
                        <div class="tl-timenav-container-mask">
                            <div class="tl-timenav-container">
                                <div class="tl-timenav-item-container">
    
                                    <div *ngFor="let dataItem of dataItems;  let parentIndex= index">
                                        <!-- Item grupo -->
                                        <div *ngIf="dataItem.groupItems.length>0">
                                            <div class="tl-timemarker tl-timemarker-with-end"
                                                 [class.tl-timemarker-active]="dataItemsIndice === parentIndex"
                                                 [style.left.px]="getLeftItemPosition(dataItem)"
                                                 style="width: 0; top: 5px;">
                                                <div class="tl-timemarker-timespan" style="height: 120px;">
                                                    <div class="tl-timemarker-timespan-content" style="height: 35px;"></div>
                                                    <div class="tl-timemarker-line-left"></div>
                                                    <div class="tl-timemarker-line-right"></div>
                                                </div>
    
                                                <div
                                                    class="tl-timemarker-content-container tl-timemarker-content-container-long tl-timemarker-content-container-small"
                                                    style="height: 106px; margin-left: -1px"
                                                    [style.width.px]="dataItem.contentContainerWidth(dataItemsIndice, parentIndex)">
                                                    <div
                                                        #components
                                                        class="style-scroll"
                                                        [style.width.px]="dataItem.getWidht()"
                                                        [style.overflow-x]="dataItem.collapsed || dataItem.groupItems.length<=4 ?'hidden':'scroll'"
                                                        style="height: 104px;overflow-y: hidden; position: absolute">
    
                                                        <div
                                                            *ngFor="let subi of dataItem.itemsGroupCategory"
                                                            [style.background-color]="getCategory(subi.category).color"
                                                            style="height: 96px; position: absolute; margin: 4px; border-radius: 5px;"
                                                            [style.left.px]="subi.left" [style.width.px]="subi.width">
                                                            <div
                                                                *ngFor="let subitem of subi.items;  let subitemIndex= index"
                                                                class="tl-timemarker-content"
                                                                style="height: 100px; width: 100px; position: absolute; padding:0; margin-top: 5px; margin-bottom: 5px"
                                                                [style.left.px]="(90 * subitemIndex) + (5 * (subitemIndex + 1))">
                                                                <div class="thumbnail">
                                                                    <img *ngIf="subitem.type === 'imagen'"
                                                                         (click)="selectItemGroup(parentIndex, subitem.groupItemArrayPostion)"
                                                                         [class.portrait]="getOrientation(subitem.url) === 'portrait'"
                                                                         class="tl-media-image tl-media-shadow"
                                                                         [alt]="subitem.description"
                                                                         [title]="subitem.description"
                                                                         [src]="subitem.url">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
    
                                                    <div
                                                        [style.left.px]="dataItem.getWidht()"
                                                        (click)="dataItem.collapsed = !dataItem.collapsed; resetScroll(parentIndex) "
                                                        style="position: absolute;width: 14px;padding-left: 3px;left: 100px;height: 100%;">
                                                        <img
                                                            style="width: 14px;top: 40px;position: relative;"
                                                            [src]="dataItem.collapsed?'assets/icons/next.png':'assets/icons/back.png'"
                                                        >
                                                    </div>
    
                                                    <img style="position: absolute;top: 76px;left: 76px;z-index:  100;"
                                                         *ngIf="dataItem.collapsed"
                                                         src="assets/icons/galeria-bl.png">
                                                </div>
                                            </div>
                                        </div>
    
                                        <!-- Item simple -->
                                        <div *ngIf="dataItem.groupItems.length==0">
                                            <div class="tl-timemarker tl-timemarker-with-end"
                                                 [class.tl-timemarker-active]="dataItemsIndice === parentIndex"
                                                 [style.left.px]="getLeftItemPosition(dataItem)"
                                                 style="width: 0; top: 5px;">
                                                <div class="tl-timemarker-timespan" style="height: 120px;">
                                                    <div class="tl-timemarker-timespan-content" style="height: 35px;"></div>
                                                    <div class="tl-timemarker-line-left"></div>
                                                    <div class="tl-timemarker-line-right"></div>
                                                </div>
    
    
                                                <div
                                                    class="tl-timemarker-content-container tl-timemarker-content-container-long tl-timemarker-content-container-small"
                                                    style="height: 106px; margin-left: -1px"
                                                    [style.width.px]="105">
                                                    <div
                                                        #components
                                                        class="style-scroll"
                                                        [style.width.px]="dataItem.getWidht()"
                                                        style="height: 104px; position: absolute">
    
                                                        <div
                                                            [style.background-color]="getCategory(dataItem.category).color"
                                                            style="height: 96px; position: absolute; margin: 4px; border-radius: 5px;"
                                                            [style.left.px]="dataItem.left" [style.width.px]="95">
                                                            <div
                                                                class="tl-timemarker-content"
                                                                style="height: 100px; width: 100px; position: absolute; padding:0; margin-top: 5px; margin-bottom: 5px"
                                                                [style.left.px]="5">
                                                                <div class="thumbnail">
                                                                    <img *ngIf="dataItem.type === 'imagen'"
                                                                         (click)="selectItem(parentIndex)"
                                                                         [class.portrait]="getOrientation(dataItem.url) === 'portrait'"
                                                                         class="tl-media-image tl-media-shadow"
                                                                         [alt]="dataItem.description"
                                                                         [title]="dataItem.description"
                                                                         [src]="dataItem.url">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!--Eje de linea de tiempo-->
                        <div class="tl-timeaxis">
                            <div class="tl-timeaxis-content-container">
                                <!-- meses time line-->
                                <div *ngFor="let mes of monthsItems" class="tl-timeaxis-major tl-timeaxis-animate"
                                     style="opacity: 1;">
                                    <div class="tl-timeaxis-tick" [style.left.px]="mes.left"><span
                                        class="tl-timeaxis-tick-text tl-animate-opacity"
                                        style="opacity: 1;">{{mes.name}}</span>
                                    </div>
                                </div>
                                <!-- dias time line-->
                                <div *ngIf="showDays">
                                    <div *ngFor="let day of daysItems"
                                         class="tl-timeaxis-minor tl-timeaxis-animate"
                                         style="opacity: 1;">
                                        <div *ngIf="day.opacity === 0" class="tl-timeaxis-tick tl-timeaxis-tick-hidden"
                                             [style.left.px]="day.left"><span
                                            class="tl-timeaxis-tick-text tl-animate-opacity" style="opacity: 0;">{{day.name}}</span>
                                        </div>
                                        <div *ngIf="day.opacity === 1" class="tl-timeaxis-tick " [style.left.px]="day.left"><span
                                            class="tl-timeaxis-tick-text " style="opacity: 1;">{{day.name}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---->
                    </div>
                    <div class="tl-timeaxis-background"></div>
                </div>
            </div>
    
    
        </div>
        <!-- Filtros -->
        <div style="margin-left: 22px; text-align: center;">
            <label style="margin-top: 23px; margin-left: -15px;" class="T_Titulo"> Filtros</label>
    
            <div class="row">
                <!-- <div class="col-md-3" *ngIf="categories.length>1">
                    <div class="row">
                        <div class="col-md-12">
                            <label style="margin-right: 5px; margin-top: 26px">Categoría</label>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 29px;">
                        <div class="col-md-12"> -->
                            <!-- <mat-checkbox [(ngModel)]="item.checked" (change)="filter()" style="margin: 10px"
                                          *ngFor="let item of categories;  let index = index">
                                <span [style.color]="getCategory(item.category).color" class="filterfont">{{getCategory(item.category).name}}
                                </span>
                            </mat-checkbox> -->
                        <!-- </div>
                    </div>
                </div> -->
    
                <!-- <div class="col-md-3"> -->
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <label style="margin-right: 5px; margin-top: 26px">Tipo</label>
                        </div>
                    </div> -->
                    <!-- <div class="row" style="margin-top: 29px;">
                        <div class="col-md-12"> -->
                            <!-- <mat-checkbox [(ngModel)]="item.checked" (change)="filter()" style="margin: 10px"
                                          *ngFor="let item of multimediaTypes;  let index = index">
                                <span class="filterfont">{{getType(item.type)}}</span>
                            </mat-checkbox> -->
                            <!-- <input type="checkbox" *ngFor="let item of multimediaTypes;  let index = index" [(ngModel)]="item.Checked"/> 
                            <span>Imagen</span>
                        </div>
                    </div> -->
                <!-- </div> -->
    
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12" style="text-align: center;">
                            <label style="margin-top: 30px" class="T_Titulo">Rango de Fecha</label>
                        </div>
                    </div>
                    <div class="row">
    
                        <div class="col-md-5" style="padding: 0;">
                            <md2-datepicker
                                type='date'
                                format="dd/MM/y"
                                placeholder="Desde"
                                [openOnFocus]="true"
                                [ngModel]="fechaDesde"
                                (change)="selectFromDate($event.value);">
                            </md2-datepicker>
                        </div>
    
                        <div class="col-md-5">
                            <md2-datepicker style="margin-left: 15px"
                                type='date'
                                format="dd/MM/y"
                                placeholder="Hasta"
                                [openOnFocus]="true"
                                [ngModel]="fechaHasta"
                                (change)="selectToDate($event.value);">
                            </md2-datepicker>
                        </div>
    
                    </div>
                </div>
    
                <div class="col-md-1" style="text-align: left;">
                    <img class="icono-time" title="Limpiar filtros" src="assets/icons/clear-filters.png" (click)="clearFilters()">
                </div>
            </div>
    
    
        </div>
    </div>
    
    <!-- viewer fotos oculto-->
    <div style="height: 0px; overflow: hidden;" id="ViewerGridFusion">
        <input type="hidden" id="TotalViewerFotos"/>
        <ul class="imagesViewerFusion">
            <li *ngFor="let d of galleryImages; let i=index;let last=last">
                <img class="{{ d.url }}" [src]="urlSafe(d.urlsmall)" alt="<h2>{{ d.name }}</h2><h4>{{ d.description }}</h4><h4>{{ d.date }}</h4>" id="ViewerFotoIndexFusion{{ i }}">
                {{i == galleryImages.length - 1 ? activarViewer(i) : ''}}
            </li>
        </ul>
    </div>

    <div class="overlayTL" [style.width.%]="widthmodal" *ngIf="selectedItem && widthmodal > 0">
        <ng-template ngFor let-itemdate [ngForOf]="[ selectedItem ]">
            <div class="tituloNavTL" style="flex-direction: row;
            box-sizing: border-box;
            display: flex;">
                <div style="display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                flex: 1 1 100%;
                box-sizing: border-box;
                max-width: 30%;">
                    <div class="tl-text-content tl-text-popup" [style.background]="getCategory(itemdate.category).color">
                        {{getCategory(itemdate.category).name}}
                    </div>
                    <div class="tl-text-content tl-text-popup-date">
                        <p>Fecha de Registro: {{itemdate.date | date: 'dd/MM/yyyy HH:mm'}}</p>
                    </div>
                </div>
                <div style="display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                flex: 1 1 100%;
                box-sizing: border-box;
                max-width: 40%;" >
                    {{itemdate.description}}
                </div>
                <div style="align-items: center;
                justify-content: flex-end;
                margin-right: 10px;
                flex: 1 1 100%;
                box-sizing: border-box;
                flex-direction: row;
                display: flex;
                max-width: 30%;">
                    <button  (click)="closeNav()" style="
                    padding-top: 10px; background: transparent;
                    font-size: 25px;
                    border: none;">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
            </div>
    
            <div class="overlay-contentTL" [style.height.px]="screenHeight - 66">
                <div class="tl-slidenav-next" *ngIf="getNextItem()" style="display: block;"
                     (click)="moveSlide('right')">
                    <div class="tl-slidenav-content-container">
                        <img src="assets/icons/next.png" style="width: 20%">
                    </div>
                </div>
                <!--left-->
                <div class="tl-slidenav-previous" *ngIf="getPrevItem()" style="display: block;"
                     (click)="moveSlide('left')">
                    <div class="tl-slidenav-content-container">
                        <img src="assets/icons/back.png" style="width: 20%">
                    </div>
                </div>
                <div class="tl-slide" [@slideInOutAnimationFullScreen]="orientation"
                     style="padding-left: 40px; padding-right: 40px;">
                    <div *ngIf="itemdate.type === 'imagen'" style="height: 100%; justify-content: center; width: 100%; display: flex; align-items: center;">
                        <img
                            class="tl-media-image tl-media-shadow"
                            [alt]="itemdate.description"
                            [title]="itemdate.description"
                            [src]="itemdate.url"
                            style="display: block; width: 100%; height: 100%; object-fit: contain; background-color: transparent;">
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
    