/* You can add global styles to this file, and also import other style files */
/*
@import 'https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.15/css/perfect-scrollbar.min.css'; 
*/
* {
    font-family: Gotham, Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4 {
    font-weight: 300;
}

h1 {
    font-size: 34pt;
    /* font-weight: 300; */
    margin-top: 20px;
}

h2 {
    font-size: 22pt;
}

h3 {
    font-size: 18pt;
}

h4 {
    font-size: 16pt;
}

.container-lg {
    margin-top: 20px;
    padding-left: 90px;
    width: 100%;
}

.full-width {
    width: 100%;
}

.menu-button {
    font-size: 12pt;
    min-width: 150px !important;
    padding: 5px 25px  !important;
    /* border-radius: 5px !important; */
    background: #407dc6;
    color: white !important;
}

.round-button {
    background: #407dc6 !important;
    color: white !important;
}

.button-success, .button-cancel {
    background-color: #FFF;
    text-transform: uppercase;
    font-weight: 500 !important;
    font-size: 12pt !important;
    padding: 5px 25px  !important;
}


.button-success {
    color: #407dc6 !important;
}


.button-cancel {
    color: #fe5d5e !important;
}


/* tabla personalizada */
.custom-table {
    background: #fff;
    width: 100%;
    font-size: 10pt;
}

.custom-table th {
    /* background-color:#146ea2; */
    /* color: #FFF; */
    /* color: #5289cb; */
    color:#146ea2;
    font-size: 12pt;
    padding: 24px 24px 12px;
}

.custom-table tr {
    border-bottom: 1px solid #e0e0e0;
}

.custom-table tbody td {
    padding: 14px 24px 12px;
}

.custom-table tbody tr:nth-child(odd) td {
    background-color: #ffffff;
}
.custom-table tbody tr:nth-child(even) td {
    background-color: #d9e5f5;
}


.cdk-overlay-pane {
    z-index: 99999 !important;
}

.input-label, .material-label {
    /* color: #a3a3a3;  */
    color: #b7b8b7;
    font-size: 9.5pt !important;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight: 400 !important;
}


/* flecha volver fases */
.go-back {
    color: #407dc6;
    display: flex; 
    justify-content: flex-start;
    vertical-align: middle; 
    /*height: 24px; */
    cursor: pointer;
}

/* contenedor de botones para las fases */
.cont-botones {
    margin-top: 24px;
    padding-right: 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.cont-botones .menu-button,
.cont-botones .button-success,
.cont-botones .button-cancel {
    margin-left: 10px;
}


.separador {
    height: 24px;
}


.blink-text {
    animation:1s blinker linear infinite;
    -webkit-animation:1s blinker linear infinite;
    -moz-animation:1s blinker linear infinite;
    color: #333;
}

.fase-title {
    color: #407dc6;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


.simple-notification-wrapper {
    z-index: 99999 !important;
}
/*
.md-select-menu-container {
    z-index: 99999 !important;
}

.cdk-overlay-container {
    z-index: 99999 !important;
}
*/

md-select {
  z-index: 90;
}
md-dialog, md-panel {
  z-index: 100;
}
md-dialog md-select, md-panel md-select {
  z-index: 190;
}

/** Modificaciónes a material design **/

.mat-card {
    border-top: 1px solid #EDEDED;
}

/* forzar los radio button a azul */
.mat-radio-checked .mat-radio-outer-circle {
    border-color: #407dc6 !important;
}

.mat-radio-checked .mat-radio-inner-circle {
    background-color: #407dc6 !important;
}

md-radio-button.md-default-theme .md-on, md-radio-button .md-on {
  background-color: #407dc6 !important;
}

md-radio-button.md-default-theme .md-checked .md-off, md-radio-button.md-checked .md-off {
  border-color: #407dc6 !important;
}

.mat-checkbox-checked .mat-checkbox-background {
    background-color: #407dc6 !important;
}

.mat-ink-bar {
    background-color: #407dc6 !important;
}

.mat-checked .mat-slide-toggle-thumb {
    background-color: #407dc6 !important;
}

.mat-checked .mat-slide-toggle-bar {
    background-color: #4096C8 !important;
}

.mat-select-underline,
.md2-select-underline,
.mat-input-underline {
    background-color: #999999 !important;
}

.mat-disabled {
    background-color: transparent !important;
}

.md2-datepicker-input {
    border-bottom-color: #999999 !important;
}

.md2-datepicker-disabled .md2-datepicker-input {
    border-bottom-color: #ffffff !important;
}

.md2-dialog-panel { 
    width: auto !important;
    min-width: 600px;
}

.mat-tooltip { 
    background-color: #4096C8 !important;
    color: #FFF;
    font-size: 12pt !important;
    /* font-weight: 500; */
    padding-left: 20px !important;
    padding-right: 20px !important;
}


/* Contador de documentos */
button span.contador {
    background: #093f67;
    font-size: 10pt;
    text-align: center;
    padding: 0px;
    height: 30px;
    width: 30px;
    padding: 7px 10px;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 10px;
}


.body-landing {
    /* background-color: #e6e6e6; */
}


.custom-table-input {
    /* width: 100%; */
    border: none;
    border-bottom: 1px solid #999999;
    padding-bottom: 5px;
    margin-bottom: 3px;
}

.custom-table-input:focus {
  outline: none;
  border-bottom: transparent;
  background-image: linear-gradient(0, rgba(64,125,198, 1), rgba(64,125,198, 1));
  background-position: bottom left;
  background-repeat: no-repeat;
  animation: CustomTableInputAnimationFrames ease 0.5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards;
}

.custom-table-input:disabled { 
    background-color: #fff; 
    border-bottom: 1px dotted #999999;
}

@keyframes CustomTableInputAnimationFrames {
    0% {
        background-size: 0% 2px;
    }
    100% { 
        background-size: 100% 2px;
    }
}


/* solucion temporal para img upload */
.image-uploader-image-upload img {
    max-width: 200px;
    max-height: 200px;
    padding-right: 10px;
    /* clip: rect(0px,200px,200px,0px); */
}


.image-uploader-image-galery img {
    max-width: 200px;
    max-height: 200px;
}


/** Modificaciones para resoluciones menores **/
@media (max-width: 1366px) { 

}


@media (max-width: 1024px) { 
    .menu-button {
        font-size: 10pt;
    }
}

@media print {
    body {
        margin: 0;
        padding: 0;
        line-height: 1.4em;
        word-spacing: 1px;
        letter-spacing: 0.2px;
        color: #000;
    }

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        float: left;
    }
    .col-xs-12 {
        width: 100%;
    }
    .col-xs-11 {
        width: 91.66666667%;
    }
    .col-xs-10 {
        width: 83.33333333%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-8 {
        width: 66.66666667%;
    }
    .col-xs-7 {
        width: 58.33333333%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-5 {
        width: 41.66666667%;
    }
    .col-xs-4 {
        width: 33.33333333%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-2 {
        width: 16.66666667%;
    }
    .col-xs-1 {
        width: 8.33333333%;
    }
    
    .container {
        margin: 0 !important;
    }

    .container-lg {
        margin: 0 !important;
        padding: 0 !important;
    }
}

