<div class="modal fade" role="dialog" id="ModalMasInformacion">
    <div class="modal-dialog modal-lg row">
        <div class="col col-12 modal-content">
            <div class="modal-header">
                <div class="col col-12 row" style="padding-right: 0">
                    <div class="col col-10"><h4 class="modal-title"><span class="info-title-cards">Más Información</span></h4></div>
                    <div class="col col-2"><a class="button3" data-dismiss="modal">Cerrar</a></div>
                </div>
            </div>
            <div class="modal-body">
                <!--CUERPO DE VISITAS-->
                <div class="col col-12 tab-content G_SinPadding">
                    <div id="" class="col col-12 tab-pane fade active show G_SinPadding">
                        <!--INICIO-->
                        <div class="row col col-12 tab-content G_SinPadding TarjetaInformacionAdicional" style="margin: 0px;">
                            <div class="col col-12">
                                <div class="T_Titulo" style="line-height: 22px; margin-top: 5px;">Información Adicional</div>
                            </div>
                            
                            <div class="col col-12">
                                <!--Información Adicional-->
                                <div *ngFor="let di of informacionAdicional; let i=index" class="row">
                                    <div class="col col-12">
                                        <div class="T_Titulo">{{ di.Titulo }}</div>
                                        <div class="T_Descripcion">{{ di.Resultado }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FIN-->
                </div>
                <div class="col col-sm-12">&nbsp;</div>
            </div>
        </div>
    </div>
</div>