<div class="modal fade" role="dialog" id="ModalMasInformacion">
    <div class="modal-dialog modal-lg row">
        <div class="col col-12 modal-content">
            <div class="modal-header">
                <div class="col col-12 row">
                    <div class="col col-10"><h4 class="modal-title"><span class="info-title-cards">Más Información</span></h4></div>
                    <div class="col col-2"><a class="button3" data-dismiss="modal">Cerrar</a></div>
                </div>
            </div>
            <div class="modal-body">
                <!--CUERPO DE VISITAS-->
                <div class="col col-12 tab-content G_SinPadding">
                    <div id="" class="col col-12 tab-pane fade active show G_SinPadding">
                        <!--INICIO-->
                        <div *ngFor="let d of sintys; let i=index" class="row col col-12 tab-content G_SinPadding TarjetaSintys" style="margin: 0px;">
                        
                            <div class="col col-12">
                                <div class="T_Titulo" style="line-height: 22px; margin-top: 5px;">Información de Bases Públicas - {{ d.FechaRecibido }}</div>
                            </div>
                            
                            <!-- Columna izquierda-->
                            <div class="col col-sm-12 col-md-6">
                                <!--Sintys ObraSocial-->
                                <ng-container *ngIf="d.TieneObrasSociales">
                                    <div class="row">
                                        <div class="col col-sm-4 col-md-3">
                                            <div class="T_Titulo">Periodo</div>
                                        </div>
                                        <div class="col col-sm-8 col-md-9">
                                            <div class="T_Titulo">Obra Social</div>
                                        </div>
                                    </div>
                                
                                    <div *ngFor="let obras of d.ObrasSociales; let i=index" class="row">
                                        <div class="col col-sm-4 col-md-3">
                                            <div class="T_Descripcion">{{ obras.Periodo }}</div>
                                        </div>
                                        <div class="col col-sm-8 col-md-9">
                                            <div class="T_Descripcion">{{ obras.DatoA }}</div>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="d.TieneObrasSociales == false">
                                    <div class="row">
                                        <div class="col col-12">
                                            <div class="T_Titulo">Obra Social</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-12">
                                            <div class="T_Descripcion">No hay información</div>
                                        </div>
                                    </div>    
                                </ng-container>

                                <!--Sintys Jubilacion-->
                                <ng-container *ngIf="d.TieneJubilaciones">
                                    <div class="row">
                                        <div class="col col-sm-4 col-md-3">
                                            <div class="T_Titulo">Periodo</div>
                                        </div>
                                        <div class="col col-sm-8 col-md-9">
                                            <div class="T_Titulo">Pensión / Jubilación</div>
                                        </div>
                                    </div>

                                    <div *ngFor="let jubilaciones of d.Jubilaciones; let i=index" class="row">
                                        <div class="col col-sm-4 col-md-3">
                                            <div class="T_Descripcion">{{ jubilaciones.Periodo }}</div>
                                        </div>
                                        <div class="col col-sm-8 col-md-9">
                                            <div class="T_Descripcion">{{ jubilaciones.DatoA }}</div>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="d.TieneJubilaciones == false">
                                    <div class="row">
                                        <div class="col col-12">
                                            <div class="T_Titulo">Pensión / Jubilación</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-12">
                                            <div class="T_Descripcion">No hay información</div>
                                        </div>
                                    </div>
                                </ng-container>
                                
                                <!--Sintys Empleo-->
                                <ng-container *ngIf="d.TieneEmpleos">
                                    <div class="row">
                                        <div class="col col-sm-4 col-md-3">
                                            <div class="T_Titulo">Periodo</div>
                                        </div>
                                        <div class="col col-sm-8 col-md-9">
                                            <div class="T_Titulo">Empleo</div>
                                        </div>
                                    </div>

                                    <div *ngFor="let empleos of d.Empleos; let i=index" class="row">
                                        <div class="col col-sm-4 col-md-3">
                                            <div class="T_Descripcion">{{ empleos.Periodo }}</div>
                                        </div>
                                        <div class="col col-sm-8 col-md-9">
                                            <div class="T_Descripcion">{{ empleos.DatoA }}</div>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="d.TieneEmpleos == false">
                                    <div class="row">
                                        <div class="col col-12">
                                            <div class="T_Titulo">Empleo</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-12">
                                            <div class="T_Descripcion">No hay información</div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                            <!--Columna derecha-->
                            <div class="col col-sm-12 col-md-6">
                                <!--Sintys PlanSocial-->
                                <ng-container *ngIf="d.TienePlanes">
                                    <div class="row">
                                        <div class="col col-sm-4 col-md-3">
                                            <div class="T_Titulo">Periodo</div>
                                        </div>
                                        <div class="col col-sm-8 col-md-9">
                                            <div class="T_Titulo">Plan Social</div>
                                        </div>
                                    </div>

                                    <div *ngFor="let planes of d.Planes; let i=index" class="row">
                                        <div class="col col-sm-4 col-md-3">
                                            <div class="T_Descripcion">{{ planes.Periodo }}</div>
                                        </div>
                                        <div class="col col-sm-8 col-md-9">
                                            <div class="T_Descripcion">{{ planes.DatoA }}</div>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="d.TienePlanes == false">
                                    <div class="row">
                                        <div class="col col-12">
                                            <div class="T_Titulo">Plan Social</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-12">
                                            <div class="T_Descripcion">No hay información</div>
                                        </div>
                                    </div>
                                </ng-container>

                                <!--Sintys Educacion-->
                                <ng-container *ngIf="d.TieneEducaciones">
                                    <div class="row">
                                        <div class="col col-sm-4 col-md-3">
                                            <div class="T_Titulo">Periodo</div>
                                        </div>
                                        <div class="col col-sm-8 col-md-9">
                                            <div class="T_Titulo">Educación</div>
                                        </div>
                                    </div>

                                    <div *ngFor="let educaciones of d.Educaciones; let i=index" class="row">
                                        <div class="col col-sm-4 col-md-3">
                                            <div class="T_Descripcion">{{ educaciones.Periodo }}</div>
                                        </div>
                                        <div class="col col-sm-8 col-md-9">
                                            <div class="T_Descripcion">{{ educaciones.DatoA }}</div>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="d.TieneEducaciones == false">
                                    <div class="row">
                                        <div class="col col-12">
                                            <div class="T_Titulo">Educación</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-12">
                                            <div class="T_Descripcion">No hay información</div>
                                        </div>
                                    </div>
                                </ng-container>
                                
                                <!--Sintys Confiabilidad-->
                                <div class="row">
                                    <div class="col col-12">
                                        <div class="T_Titulo">Nivel de Confiabilidad de los Datos</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-12">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" [style.width]="d.Confiabilidad+'%'">
                                                <span class="progress-type">{{ d.Confiabilidad }}%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row col col-12" style="margin:0px;">
                                <div class="col col-12 LogoSintys" style="background-image: url('../../../Content/Images/sintys_logo-34.svg');"></div>
                                <div class="T_Titulo" style="line-height: 22px;">&nbsp;</div>
                            </div>
                            <div class="row col col-12" style="background-color: #fff; margin: 0px;">
                                <div>&nbsp;</div>
                            </div>
                        </div>

                        <div class="row col col-12 tab-content G_SinPadding TarjetaInformacionAdicional" style="margin: 0px;">
                            <div class="col col-12">
                                <div class="T_Titulo" style="line-height: 22px; margin-top: 5px;">Información Adicional</div>
                            </div>
                            
                            <div class="col col-12">
                                <!--Información Adicional-->
                                <div *ngFor="let di of informacionAdicional; let i=index" class="row">
                                    <div class="col col-12">
                                        <div class="T_Titulo">{{ di.Titulo }}</div>
                                        <div class="T_Descripcion">{{ di.Resultado }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FIN-->
                </div>
                <div class="col col-sm-12">&nbsp;</div>
            </div>
        </div>
    </div>
</div>