<input type="hidden" name="ParaListaPDF" id="viv.Viviendas.Infraestructura" title="Infraestructura" />
<div class="Tarjeta" role="tabpanel">
    <div class="card">
        <!--<div class="PL_LoadingBox" id="Loading{{ prefijo }}">
            <div class="PL_Text">Buscando Datos de Infraestructura...</div>
        </div>-->

        <md2-tabs class="tab" *ngIf="infraestructura && infraestructura.length > 0">
            <md2-tab *ngFor="let d of infraestructura; let i=index"
                    [label]="d.Fecha + ' ' + (d.NroRelevamiento || '')"
                    [active]="i == 0 ? true : false">
                <!--Determinamos si la tarjeta se muestra-->
                <input *ngIf="i==0" type="hidden" name="TarjetaConDatos" value="true" />
                <!----------------------------------------->
                <!-- AQUÍ EMPIEZA LA CARGA DE DATOS -->
                <div class="row">
                    <div class="col-12">
                        <div class="T_Tarjeta">Infraestructura</div>
                        <input type="hidden" name="Origen" value='{{ d.Origen }}' />
                        <a class="G_BotonTarjeta" [tooltip]="'Origen: ' + (d.Origen || '')" [tooltip-position]="'before'">&nbsp;<span class="zmdi zmdi-comment-edit" title="Origen"></span></a>
                        <input type="hidden" name="Identificador" value='{{ i }}' />
                        <!--<a class="G_BotonTarjeta" (click)= "openModal(i, 'ModalInfraestructura')" codvisita=""><img class="G_BotonNivel2" src="../../../Content/Images/icon-arrows-gray.svg" style="height: 14px;" title="Más Información"></a>-->
                    </div>                    
                </div>
                <div class="row">
                    <div class="col col-6">
                        <div class="T_Titulo">Tipo de Vivienda</div>
                        <div class="T_Descripcion">{{ d.TipoVivienda || '-' }}</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo text-right">Cantidad de Hogares</div>
                        <div class="T_Descripcion text-right">{{ d.CantHogares || '-' }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-6">
                        <div class="T_Titulo">Personas en la Vivienda</div>
                        <div class="T_Descripcion">{{ d.CantPersonas || '-' }}</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo text-right">Índice de Hacinamiento</div>
                        <div class="T_Descripcion text-right">{{ d.IndiceHacinamiento || '-' }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-6">
                        <div class="T_Titulo">Cuantas personas máximo duermen en una habitación</div>
                        <div class="T_Descripcion">{{ d.CantMaxEnUnDormitorio || '-' }}</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo text-right">Hacinamiento</div>
                        <div class="T_Descripcion text-right">{{ d.Hacinamiento || '-' }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-6">
                        <div class="T_Titulo">Cantidad de Ambientes</div>
                        <div class="T_Descripcion">{{ d.CantAmbientes || '-' }}</div>
                    </div>
                    <div class="col col-6">
                        <div class="T_Titulo text-right">Cantidad de Dormitorios</div>
                        <div class="T_Descripcion text-right">{{ d.CantDormitorios || '-' }}</div>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col col-12">
                        <div class="T_Titulo">Tiempo de Residencia</div>
                        <div class="T_Descripcion">{{ d.AntiguiedadEnElTerreno || '-' }}</div>
                    </div>
                </div>-->
                <!-- AQUÍ TERMINA LA CARGA DE DATOS -->
            </md2-tab>
        </md2-tabs>
    </div>
</div>

<div class="modal fade" role="dialog" id="ModalInfraestructura">
    <div class="modal-dialog modal-lg">
        <div class="col col-12 modal-content">
            <div class="modal-header">
                <div class="col col-12 row">
                    <div class="col col-10"><h4 class="modal-title"><span class="info-title-cards">Infraestructura</span></h4></div>
                    <div class="col col-2"><button type="button" class="close" data-dismiss="modal"><i class="zmdi zmdi-close"></i></button></div>
                </div>
            </div>
            <div class="modal-body">
                <!--TAB DE VISITAS XS SM-->
                <div class="col col-sm-12 hidden-md-down hidden-lg-down hidden-xl-down row G_BordeInferior G_SinPadding">
                    <div class="col col-12" style="margin-top: 8px;" data-toggle="collapse" data-target="#VistaCollapseInfraestructura">
                        <div class="col col-8 F_TituloFormulario_14">Fecha de Visitas</div>
                        <div class="col col-4"><span class="caret text-right" style="margin-top: 6px;"></span></div>
                    </div>
                    <div class="col col-12 collapse" id="VistaCollapseInfraestructura">
                        <div *ngFor="let d of infraestructura; let i=index" class="col col-12"><a class="T_Visita col col-12 nav-link" style="text-align: center;" data-toggle="tab" role="tab" href="#ModalInfraestructura{{ i }}" title="{{ i }}">{{ d.Fecha }}</a></div>
                    </div>
                </div>
                <!--TAB DE VISITAS MD LG-->
                <div class="hidden-sm-down col col-12 row G_SinPadding">
                    <ul class="nav nav-tabs T_Tabs_Contenedor Violeta_Contenedor">
                        <li class="nav-item" *ngFor="let d of infraestructura; let i=index"><a class="Violeta nav-link" data-toggle="tab" role="tab" href="#ModalInfraestructura{{ i }}" title="{{ i }}">{{ d.Fecha }}</a></li>
                    </ul>
                </div>
                <!--CUERPO DE VISITAS-->
                <div class="col col-12 tab-content G_SinPadding">
                    <div *ngFor="let d of infraestructura; let i=index" id="ModalInfraestructura{{ i }}" class="col col-12 tab-pane fade G_SinPadding">
                        <div class="col col-12 row">
                            <div class="col col-6">
                                <div class="T_Titulo">Tipo de Vivienda</div>
                                <div class="T_Descripcion">{{ d.TipoVivienda || '-' }}</div>
                            </div>
                            <div class="col col-6">
                                <div class="T_Titulo">Tipo de Propiedad</div>
                                <div class="T_Descripcion">{{ d.TipoPropiedad || '-' }}</div>
                            </div>
                        </div>
                        <div class="col col-12 row">
                            <div class="col col-6">
                                <div class="T_Titulo">Personas en la Vivienda</div>
                                <div class="T_Descripcion">{{ d.CantPersonas || '-' }}</div>
                            </div>
                            <div class="col col-6">
                                <div class="T_Titulo">Índice de Hacinamiento</div>
                                <div class="T_Descripcion">{{ d.IndiceHacinamiento || '-' }}</div>
                            </div>
                        </div>
                        <div class="col col-12 row">
                            <div class="col col-6">
                                <div class="T_Titulo">Cuántas personas máximo duermen en una habitación</div>
                                <div class="T_Descripcion">{{ d.CantMaxEnUnDormitorio || '-' }}</div>
                            </div>
                            <div class="col col-6">
                                <div class="T_Titulo">Hacinamiento</div>
                                <div class="T_Descripcion">{{ d.Hacinamiento || '-' }}</div>
                            </div>
                        </div>
                        <div class="col col-12 row">
                            <div class="col col-6">
                                <div class="T_Titulo">Cantidad de Ambientes</div>
                                <div class="T_Descripcion">{{ d.CantAmbientes || '-' }}</div>
                            </div>
                            <div class="col col-6">
                                <div class="T_Titulo">Cantidad de Dormitorios</div>
                                <div class="T_Descripcion">{{ d.CantDormitorios || '-' }}</div>
                            </div>
                        </div>
                        <div class="col col-12 row">
                            <div class="col col-6">
                                <div class="T_Titulo">Tiempo de Residencia</div>
                                <div class="T_Descripcion">{{ d.AntiguiedadEnElTerreno || '-' }}</div>
                            </div>
                            <div class="col col-6">
                                <div class="T_Titulo">¿Sufrió Algún Ilícito?</div>
                                <div class="T_Descripcion">{{ d.SufrioAlgunIlicito || '-' }}</div>
                            </div>
                        </div>
                        <div class="col col-12 row">
                            <div class="col col-6">
                                <div class="T_Titulo">Documento Legal de Ocupación</div>
                                <div class="T_Descripcion">{{ d.TipoDocumentoOcupacion || '-' }}</div>
                            </div>
                            <div class="col col-6">
                                <div class="T_Titulo">Cantidad de Baños</div>
                                <div class="T_Descripcion">{{ d.CantBanio || '-' }}</div>
                            </div>
                        </div>
                        <div class="col col-12 row">
                            <div class="col col-6">
                                <div class="T_Titulo">Cantidad de Hogares</div>
                                <div class="T_Descripcion">{{ d.CantHogares || '-' }}</div>
                            </div>
                            <div class="col col-6">
                                <div class="T_Titulo">¿Tiene Agua de Red?</div>
                                <div class="T_Descripcion">{{ d.AguaDeRed || '-' }}</div>
                            </div>
                        </div>
                        <div class="col col-12 row">
                            <div class="col col-6">
                                <div class="T_Titulo">Ubicación del Agua de Red</div>
                                <div class="T_Descripcion">{{ d.UbicacionAguaDeRed || '-' }}</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col col-12">&nbsp;</div>
            </div>
        </div>
    </div>
</div>